[2020-05-27 16:31] besteban1989 opened #885 "Reconciliation is always triggering ARM deployment"
When you deploy AGIC with reconciliation enabled, let's say each minute.

Even if you don't have a change you always see a "Updating message" in the Application Gateway in Azure.

[2020-05-27 16:38] besteban1989 opened #886 "After reconciliation some rules are gone"
I have deployed AGIC with reconciliation = 1 minute.
I have 10 ingress with 10 different backends.

First reconciliation works fine, it deploys the rules, https settings, listeners, etc.

If for some reason the ingress # 4 and the associated PODs crashes or is not available (CrashLoopBackOff, ImagePullBackOff, Etc.) when the reconciliation process starts it will kill all the rules from # 5 to the

[2020-05-27 18:51] fstugren commented on #828
Is there a document I could read to understand how long after marking an issue as closed the fix becomes available in master? Is there a published schedule I can follow?

[2020-05-27 19:35] akshaysngupta commented on #884
@VincentSurelle
Can you please share your ingress spec ?
Also, is your application able to respond at /api/other-service-a/* or does it need the request come at /. For example: Do you need /api/other-service-a/xyz to be rewritten to /xyz ? If yes, then you might want to use `appgw.ingress.kubernetes.io/backend-path-prefix: ""` annotation in the ingress.

[2020-05-27 19:52] akshaysngupta commented on #886
@besteban1989 Can you increase the verbosity of AGIC to level 5 and share the logs.
You can follow this document: https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/troubleshooting.md#logging-levels

[2020-05-27 19:54] akshaysngupta commented on #885
@besteban1989 Can you help me repro this locally by sharing your ingress/deployment spec ?

[2020-05-27 19:56] akshaysngupta commented on #879
@arthurmauvezin Would you mind sharing your ingress/service/deployment spec so that I can attempt a repro on my local setup ?

[2020-05-27 20:12] jbinko opened #888 "helm chart ingress-azure - explicitly specify nodeSelector: kubernetes.io/os: linux"
helm chart ingress-azure deployment is failing on AKS with windows pool/nodes.
AKS is trying to install it also on windows nodes and it fails.

Maybe workaround is to specify:
--set nodeSelector."kubernetes\.io/os"=linux
(this was not worknig for me)

I modified and deployed local chart with:
nodeSelector:
        kubernetes.io/os: linux

Expected fix:
nodeSelector:
        kubernetes.io/os: linux

[2020-05-27 23:21] besteban1989 commented on #885
Sure this is the ingress object:

[code]

The service:
[code]
The Deployment:

[code]

[2020-05-27 23:37] besteban1989 commented on #885
Also I attach the logs.

Regards.

El mié., 27 may. 2020 a las 13:54, Akshay Gupta (<notifications@github.com>)
escribió:

--

Byron Esteban
*Software Engineer*
m: +502 3005-7689
a: Guatemala, Guatemala

Show log entriesMatch expression
Filter
 Loading...ERROR: logging before flag.Parse: I0527 23:26:17.819059       1 utils.go:111] Using verbosity level 5 from environment variable APPGW_VERBOSITY_L

[2020-05-27 23:40] besteban1989 commented on #886
Here are the logs.

Right now all my pods are running, so the App gateway rules are fine, the
issue came usually when some of my pods are crashing or not available then
somehow only a subset of the rules are deployed to azure.

Regards.

El mié., 27 may. 2020 a las 13:52, Akshay Gupta (<notifications@github.com>)
escribió:

--

Byron Esteban
*Software Engineer*
m: +502 3005-7689
a: Guatemala, Guat

[2020-05-28 03:27] burn2delete opened #889 "We socket support with path"
Websockets are only supported at the root path “/“. Nginx supports nested paths for the ingress.

Support websockets at non-root ingress paths.

[2020-05-28 04:06] akshaysngupta commented on #889
@flyboarder
Is the backend pod expecting the packet to be rewritten to "/" ?
For example:
You can solve this my using `appgw.ingress.kubernetes.io/backend-path-prefix: "/"` annotation to the ingress resource.

[2020-05-28 04:20] akshaysngupta commented on #791
@vishal8k I am trying to repro this on my AKS cluster. I have deployed AGIC in my AKS cluster with service principal. Plan is to observe the cluster for some time along with performing some routine re-deployments to see if I can get 401 from AAD.

Here are logs so far:
[code]

I have deployed a [sample](https://raw.githubusercontent.com/Azure/application-gateway-kubernetes-ingress/master/docs/exam

[2020-05-28 04:33] vishal8k commented on #791
Try to stop and start the underlying scale-sets and application gateways periodically, since that is the only unusual practice that I'm doing. I don't think anyone else stops the underlying scale-sets. (I'm stopping them for cost reasons.) Meanwhile, I will post here If I see the error again.

[2020-05-28 04:33] akshaysngupta commented on #888
@jbinko Can you try using `--set nodeSelector."kubernetes\.io/os"=linux` ?

[2020-05-28 04:36] #888 closed

[2020-05-28 04:54] akshaysngupta commented on #855
@torangel You can find the objectId by using the following command for the server application.
[code]

Try using the above object for the aksServicePrincipalObjectId.

[2020-05-28 07:11] akshaysngupta commented on #791
@vishal8k are you turning off all VMs manually? Or scaling them down through AKS agent pool settings ?

[2020-05-28 07:14] vishal8k commented on #791
@akshaysngupta  Turning them off via an automated script during off-buisness hours. The script will directly de-allocate all the scalesets present in the account. Not via AKS agent pool settings.

[2020-05-28 10:37] adamcarter81 commented on #875
But just checking - when I direct AGIC to go directly to the application pod (bypassing ISTIO), it works and adds the backend rules with HTTPS - but the readiness probe there is also just http

[2020-05-28 13:06] manojpramesh commented on #462
Waiting forever for this feature!!

[2020-05-28 19:54] flyboarder commented on #889
@akshaysngupta yes this is how it's currently configured and works for websites which connect to the server via websockets, however this will not work for node client websockets, which will attempt to use the hostname as the server and the `/websocket/` will be interpreted as the namespace (using socket.io).

Im not sure this can be fixed, but it should be documented that when websockets are used

[2020-05-28 20:04] arthurmauvezin commented on #879
Yes of course.
Here are my files content

deploy.yaml
[code]

service.yaml
[code]

ingress.yaml
[code]

[2020-05-28 20:30] torangel commented on #855
Works with these modifications:
https://github.com/torangel/application-gateway-kubernetes-ingress/commit/0f6c7a332eae030e30584aba931809e4d223d2ee

Thank you for your help @akshaysngupta !

[2020-05-28 20:35] barlass commented on #817
Did anyone use LetsEncrypt ?

[2020-05-29 00:32] 3quanfeng commented on #880
Hi @akshetty9 , if it's for path based rules, the rule will also be associated to the default backend, i.e. if no path matched, the rule will route the request to the default backend.

[2020-05-29 12:55] r3mattia opened #892 "Adding Pod Security Context to ingress-azure deployment"
**Problem**
After inspecting the deployment yaml for the Helm based installation, I did see an empty pod security context specified:

[code]

Note: ` securityContext: {}`.

**Proposed feature**
The NGINX ingress controller comes with a defined PSP, albeit not being that restrictive. It would be good with a more restrictive PSP. Since this is tailor made for Azure, is there any work being done on a

[2020-05-30 13:09] andrewCluey opened #893 "Ingress controller not configuring App Gateway"
**Describe the bug**
Deployed the AKS cluster and APP gateway following 'tutorial' steps here (https://docs.microsoft.com/en-us/azure/developer/terraform/create-k8s-cluster-with-aks-applicationgateway-ingress).

Ingress controller helm seemingly deployed fine, no errors reported at deployment.

running ```kubectl get pods``` shows the following.
[code]
Running ```kubectl apply -f aspnetapp.yaml (a

[2020-06-01 08:12] adamcarter81 commented on #875
@3quanfeng - I just wondered if you would be able to assist me a bit further here? Thanks

[2020-06-01 11:29] aleksmark commented on #683
@anshupitlia Azure support fix this for me

[2020-06-02 06:21] ushabapat commented on #856
Hi, Any update on this ? Why the POD IP is added under backendpool when VMSS is used in AKS for auto scale. Eventually, the communication should happen via VMSS to POD internally via route tables/ip tables . The similar setup works fine when we use without VMSS.

It would be great if you can provide more details about the issue.
The issue is explained in stackoverflow.  https://stackoverflow.com/q

[2020-06-02 07:02] akshaysngupta commented on #893
@andrewCluey Can you please upgrade to `1.2.0-rc2` which addresses a breaking change in AAD Pod identity which helps AGIC Pod get an AAD token.

[2020-06-02 07:52] 3quanfeng commented on #875
Hi @adamcarter81 , [you could only probe the port exposed on your container](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/features/probes.md), if you specify the backend protocol https, then you will need to use port 443

[2020-06-02 11:59] veldman opened #894 "When a new Ingress config is deployed with a wrong configuration, all HTTPListeners are removed from Application Gateway."
**Describe the bug**
When a new Ingress config is deployed with a wrong configuration, all HTTPListeners are removed from Application Gateway.  This should not be the case for all listeners, only the wrongly configured one.

As it stands, it's a dangerous procedure to release something because all listeners could be deleted and no application can be reached on the cluster.

**To Reproduce**
1. Add

[2020-06-03 05:50] akshaysngupta commented on #791
@vishal8k I tried the above exercise again but I haven't been able to reproduce the issue. After doing above, the AGIC pod comes back online successfully and is able to handle ingress related events and update Application Gateway.

[2020-06-03 06:26] vishal8k commented on #791
@akshaysngupta Well then maybe it is caused by something else I guess. but even for me it did not occur every time when I restarted the nodes/application-gateway. It occurred randomly. Anyway lets not waste time by simply doing the same thing. I guess the issue is caused by something else then. I've not had this issue for the past 3 to 4 days now. (My nodes and application gateway were restarted m

[2020-06-03 14:16] sbkg0002 commented on #835
I still run in this error, even in new VNET & AGW setups.

[2020-06-03 16:51] akshaysngupta commented on #791
@vishal8k Then I will close the issue for now. Please let me know if you discover something.

[2020-06-03 16:51] #791 closed

[2020-06-03 23:16] 3quanfeng commented on #894
Hi @veldman

1. Add a valid Ingress controller and HTTP Listener is created.
2. Add an invalid config (for example, non existent TLS secret). HTTP Listeners are empty.

I can't reproduce from my end by following the two steps above, the rule created in step 1 is still available, could you please help share your ingress configs?

[2020-06-04 11:19] mcarlsen commented on #827
We have a similar situation, and would like some documentation on how to achieve this before we make the attempt.

FYI, I had a chat with Azure support about this. They seemed to believe some manual configuration was necessary:

[2020-06-04 13:55] DavidJohnsonSN opened #896 "Prohibited Targets based on Path"
Hello, we are trying to determine whether we can configure the app gateway kubernetes ingress to match our scenario.

Required Scenario:
Domain: abc.ourdomain.com

Route Path: `/function1/*` to an Azure Cloud Service (Classic) or Azure App Service
Route Path: `/function2/*` to an app in AKS

We have found the documentation about prohibited targets and can see that is based on host i.e. we can proh

[2020-06-04 16:02] 3quanfeng commented on #896
Hi @DavidJohnsonSN , thanks for asking, you can specify prohibited target with host and path
here is an example:

apiVersion: appgw.ingress.k8s.io/v1
kind: AzureIngressProhibitedTarget
metadata:
    name: prohibit-backend-ns
spec:
    hostname: brownfield-blacklist-ns.host
    paths:
    - "/blacklist/*"

You can also check the schema [here](https://github.com/Azure/application-gateway-kubernetes-

[2020-06-04 17:55] mbrumpton opened #897 "Multi-namespace support missing rule binding"
**Describe the bug**
I have setup watchNamespace to monitor two namespaces with two SSL applications, both with multiple paths and when it syncs to AGW one of the the applications does not have a rule assigned to it.

Both applications work when one one namespace is monitored.

**To Reproduce**

Environment:
AKS 1.17.5
Helm3
--version 1.2.0-rc2

Both applications in different namespaces have a sim

[2020-06-05 02:43] akshaysngupta commented on #897
@mbrumpton This scenario is not supported right now. You need to either have **unique paths** for each service or use **different hostnames** on the two ingresses if you want to use the same path. This is an important so that the packets can be routed to the correct service.

[2020-06-05 02:43] #897 closed

[2020-06-05 06:10] mscatyao commented on #835
@sbkg0002 - please create a support ticket through Portal and a support engineer will be able to help you there.

[2020-06-05 06:23] sbkg0002 commented on #159
@akshaysngupta any word on this?

[2020-06-05 06:49] sbkg0002 commented on #835
I did, it appears that you should use the first usable IP of the subnet as a static AGW IP.

[2020-06-05 07:50] L480 commented on #835
After changing the IP address of the App GW it was working for a few days, but now the issue appears again. I just changed the IP address again and afterwards it was back working. So it seems the issue is not fully fixed yet. Besides that, I cannot use several IP addresses from the VNet as App GW IP, since they are all allegedly "either allocated or being cleaned up", even though they are not in u

[2020-06-05 08:53] adamcarter81 commented on #875
Thanks @3quanfeng - just to clarify my situation:

The Istio Ingress gateway is listening on ports 80 & 443 - it will ultimately serve both protocols. AGIC with HTTP to the Istio ingress gateway is fine
AGIC with HTTPS to the end pod is fine
AGIC with HTTPS to the Isito ingress gateway fails with the backend protocol mismatch.

How does AGIC decide what the backend protocol should be? I am explici

[2020-06-05 08:57] r3mattia opened #898 "Readiness probe fails on v1.2.0-rc2 and AAD-Pod-ID v1.5.5."
**Describe the bug**
In this case I am deploying version AGIC v1.2.0-rc2 with AAD-Pod-ID Version 1.5.5. The same applies for v1.2.0-rc1.

```kubectl get pods```proves that the AGIC pod is not-ready, but running:

[code]

This is because the readiness probe fails, which will be clearer in the log output below.

**To Reproduce**
- Create private AKS cluster version 1.16.8 with RBAC.
- Deploy App Gat

[2020-06-05 09:20] r3mattia commented on #898
After updating to the latest version of AAD-Pod-ID the ingress pod is now ready. Will close the issue accordingly.

[2020-06-05 09:20] #898 closed

[2020-06-05 09:33] DavidJohnsonSN commented on #896
Thank you for answering. We will try it out and let you know if we are successful.

[2020-06-05 10:34] amjadaljunaidi commented on #879
@akshaysngupta are you able to repro the issue.

Could you please update us

[2020-06-05 18:24] geoarchitect opened #899 "How to support Multiple Gateways"
**Is your feature request related to a problem? Please describe.**
Application Gateways do not support multiple IP's listening on the same port.

We need to then have two ingress controllers or two different Application Gateways per cluster. One for a Public IP and one for a Private IP both listening to port 443.

**Describe the solution you'd like**
Any instructions or anything we may need to con

[2020-06-05 22:24] akshaysngupta commented on #879
@arthurmauvezin Can you please add containerPort to the your deploy.yaml

You can refer following yaml:
[code]

When constructing the health probe, we use the service labels and target port to look up the pods that fit the description.
This means that we first match the pod label to the service selector and then match the pod.container.port to figure out the right container to use to derive the re

[2020-06-05 23:33] michaelsiuda opened #900 "Trusted root certificate not enabled in HTTP settings"
**Describe the bug**
Even though I use the `appgw.ingress.kubernetes.io/appgw-trusted-root-certificate` annotation and define host name override, the corresponding HTTP settings on the app gateway doesn't have these options enabled. As a result, I cannot use HTTPs on the connection between the app gateway and my app running on AKS.

As soon as I manually enable trusted root certificate on the http

[2020-06-06 17:55] andrewCluey commented on #893
Thanks akshaysngupta, that's taken me a couple of steps further, letsEncrypt and CertManager seem to be issuing cert now and validating with http validation. Unfortunately the website/appgateway don't seen to be listening on 443/SSL. So while kubectl get ingress shows both listeners, attemtping to browse to the site over https fails.

[2020-06-06 20:11] akshaysngupta commented on #893
@andrewCluey Can you check these:
1) check if the secret exists
2) look into the AGIC logs and see if you find an error related to secret not found.

[2020-06-08 08:02] Chirs-uS opened #902 "AGIC error mutating App Gateway config breaks fronted IP."
Hi. First ever GitHub issue raised so fingers crossed.

## Bug Description
The AGIC is somehow breaking the App Gateway front end private IP configuration. Errors appear in the logs similar to those reported in issues [#510](https://github.com/Azure/application-gateway-kubernetes-ingress/issues/510), [#598](https://github.com/Azure/application-gateway-kubernetes-ingress/issues/598). The resource g

[2020-06-08 11:58] mbrumpton commented on #897
Hi, just to clarify each appgw ingress has a unique hostname, is there support for a multi-site host header?

[2020-06-08 14:21] drunetovich opened #903 "Secret not found by controller"
Hello, after deployment controller only creates http rules, complains on missing secret, however secret surely exists:

events:
NAMESPACE     LAST SEEN   TYPE      REASON           OBJECT                           MESSAGE
recommender   14s         Warning   SecretNotFound   ingress/recommender-mltemplate   Unable to find the secret associated to secretId: [recommender/rringresstls]

secrets:
NAMES

[2020-06-08 21:01] 3quanfeng commented on #900
Hi @michaelsiuda , regarding
"Note that the ingress believes that the "appgw.ingress.kubernetes.io/appgw-trusted-root-certificate":"InternalRootCA" configuration has been applied to the app gw."
Just want to confirm if you have the root cert "InternalRootCA" imported to appgw or not before you start AGIC?

[2020-06-08 21:20] michaelsiuda commented on #900
Hi @3quanfeng,

I am not sure it's clear what exactly it means to start AGIC, but I have deleted the azure-ingress pod (which I believe is the key component of AGIC) and deleted and re-created the Ingress object after installation of the cert.

Is there any recommended sequence I should run that you'd consider as restart of AGIC, or is deleting the pod sufficient (the pod is then recreated by the

[2020-06-08 21:27] 3quanfeng commented on #900
Hi @michaelsiuda , sorry for the confusing, for start, I meant you will need to have the cert imported to appgw before you use AGIC, AGIC in this case will simply put the reference of the cert in your appgw config and you will then be able to see your httpsettings have the cert configured from the portal, did you see the cert name in your httpsetting this time?

[2020-06-08 21:36] michaelsiuda commented on #900
Hi @3quanfeng ,

Sorry, should have made that clearer in the bug report - I have uploaded the cert to app gw, following the instructions in https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#appgw-trusted-root-certificate. Then I have restarted AGIC.

I have confirmed that the cert is present and installed on the app gw through `az` CLI as well as looki

[2020-06-08 21:41] 3quanfeng commented on #900
Hi @michaelsiuda , thanks, so I guess you issue is resolved? do you have any other issues before I marked it resolved?

[2020-06-09 02:03] drunetovich commented on #903
Just a guess - shouldn't it be looking for a secret without namespace prefix, since ingress and a secret are both in the same namespace?

[2020-06-09 08:03] michaelsiuda commented on #900
Hi @3quanfeng,

Unfortunately, I don't believe the issue is resolved. I only got the SSL connection working after manually modifying the settings in the app gw. But as soon as my service on AKS restated, AGIC reset the settings on app gw to ones without the root certificate.

You said that "AGIC in this case will simply put the reference of the cert in your appgw config and you will then be able t

[2020-06-09 16:54] akshaysngupta commented on #899
@geoarchitect If you want to expose all services over both public IP and private IP at 443, then
You can deploy 2 AGIC -  2 AppGW on the cluster. Both will listen to all the ingresses across the cluster.
Specifically, for AppGW/AGIC which will serve your services over Private IP,
1) Make sure you add a private IP to the App Gateway. You can use portal or CLI to do this.
2) Add `usePrivateIP: "true

[2020-06-09 17:13] akshaysngupta commented on #903
@drunetovich is this problem resolved if you restart the AGIC pod ?

[2020-06-09 17:22] akshaysngupta commented on #902
@Chirs-uS Can you try changing the private IP to a different IP address from the subnet ?

When you create an Application Gateway with a private IP and there are no rules associated to the private IP, then the private IP is not reserved. This means that it possible that the private IP could be allocated to the one of the instances of the gateway itself making it unavailable for use with the routin

[2020-06-09 18:03] 3quanfeng commented on #900
Hi @michaelsiuda , could you help set the log level to 5 and see if you can find any log lines like "Found trusted root certificate(s): xxx from ingress: xxx/xxx", and could you please share with me the snippet of the logs? Thanks!

[2020-06-09 18:05] 3quanfeng commented on #896
close

[2020-06-09 18:05] #896 closed

[2020-06-09 18:47] drunetovich commented on #903
AGIC pod restart repeats the same error message.

[2020-06-09 19:24] akshaysngupta commented on #903
@drunetovich can you perform a get on the secret and validate that it exists?
`kubectl get secrets/rringresstls -n recommender`

[2020-06-09 22:38] darrenk13 opened #905 "Changelog file for versions before 1.2"
**Is your feature request related to a problem? Please describe.**
Currently there is a Change file at https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/CHANGELOG/CHANGELOG-1.2.md that has all the changes so far in v1.2.  I do not see a similar file for changes in the v1.1 or earlier releases.  I am running v1.0, the last non "pre-release" release and want to be able to s

[2020-06-09 22:50] darrenk13 commented on #905
bonus if the changelog file has changes that will be going into the next versioned build like how the Terraform team for the azurerm provider handles it.  https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/CHANGELOG.md

[2020-06-09 23:42] darrenk13 opened #906 "new annotation for custom health probe path"
**Is your feature request related to a problem? Please describe.**
Currently the health probe path is obtained from the readiness probes of the pods in the deployment setup behind the ingress controller.  With Istio, the readiness probe is on port 15020 with a path of "/healthz/ready".  AGIC picks up the path from this and sends the health checks to the traffic port which then goes to the service

[2020-06-09 23:58] darrenk13 opened #907 "Documentation on Istio setup & support"
**Is your feature request related to a problem? Please describe.**
What support is included with AGIC around Istio?  I see several files with Istio in the name but I don't see any documentation around Istio in the docs folder or on the various Microsoft Docs pages that have information on AGIC.  I am have been trying to get Istio working on AKS with an application gateway with TLS end to end (the

[2020-06-10 09:42] drunetovich commented on #903
Secret exists:
kubectl get secrets/rringresstls -n recommender
NAME           TYPE     DATA   AGE
rringresstls   Opaque   2      44h

[2020-06-10 13:06] DiegoBallve opened #908 "Separate Host header from CN for end to end TLS"
**Is your feature request related to a problem? Please describe.**

I'm trying to ingress-azure to hit an IBM HTTP Server running inside kube. That server is just the entrypoint for a bigger solution (HCL Commerce) with more moving parts. I want to use SSL backends, so I need to enable end-to-end TLS. I do get it to connect to backend with version 1.2-rc3 and an ingress definition like this:

[cod

[2020-06-10 19:39] matlion opened #909 "Support of ingress.kubernetes.io/whitelist-source-range"
**Describe requirement**

Our aks has several web applications which should be accessible via the application gateway.

But some web applications (think of an administration interface) should be accessible only to users of a single company. Therefore the access should be restricted by client IP.

Other web applications should be accessible without restriction.

Because we have public and restricte

[2020-06-10 20:21] ksanchez15 opened #910 "Deployment takes insane amount of resources (12 vCPUs ?)"
I have been trying to follow the instructions for the  (Greenfield Deployment)[ https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-new.md], but when trying to deploy the template deployment I get the following error:

This seems completely overkill, why do I need 12 cores for a simple Kubernetes cluster? When I manually create an AKS cluster and I run mu

[2020-06-11 03:58] akshaysngupta commented on #910
@ksanchez15 Application Gateway doesn't run on the AKS cluster. It is separate resource and will not add to your CPU quota.
You can customise the VM count and VM SKU as you like.
In Greenfield, You can modify the parameter file to give values for `aksAgentCount` and `aksAgentVMSize` so that you don't exceed your limits.

https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/d

[2020-06-11 03:58] #910 closed

[2020-06-11 09:35] Chirs-uS commented on #902
Hi @akshaysngupta, thanks for responding

I'm currently waiting for for management approval to proceed with your suggestion of using another IP.

With regards to the [AKS +AGIC managed add-on](https://github.com/Azure/AKS/issues/1441) that entered public preview today, do you know how likely it is for that feature to become fully supported in GA and if so, when? There is a reluctance amongst my su

[2020-06-11 13:05] ksanchez15 commented on #910
Ahhh so If I understand you right @akshaysngupta the agent node max value is used to decide what will be the limit required and it won't actually use the 12 cores?

But how is the agent node count related to the core quota?

[2020-06-11 15:19] mhsh64 opened #911 "Deleting the cluster does not delete the backend pods on appGW"
**Describe the bug**
A clear and concise description of what the bug is.
When I have deleted the cluster which I had AGIC on it, the appGW still shows the backend pools which were running on the deleted cluster. Now AppGW shows those pools in unhealthy status
**To Reproduce**
Steps to reproduce the behavior:
Delete the AKS cluster which has the AGIC, but AppGW is not able to remove the pools were

[2020-06-11 16:34] akshaysngupta commented on #903
@drunetovich Your secret type is not correct. It should be `kubernetes.io/tls`.
You can refer to this sample yaml to see how you should configure TLS secrets. There is test secret at the bottom of the yaml.

https://raw.githubusercontent.com/Azure/application-gateway-kubernetes-ingress/master/scripts/e2e/cmd/runner/testdata/one-namespace-one-ingress/ssl-e2e-redirect/app.yaml
You can also deploy th

[2020-06-11 16:34] #903 closed

[2020-06-11 16:39] akshaysngupta commented on #911
@mhsh64 This is as expected.
When a pod is getting deleted, it gets SIGTERM and SIGKILL signals from the OS. This could happen because there is rolling update on the POD or the node is being taken down or the AKS cluster is getting deleted. Since there is no way to distinguish these events, there is no special routine in AGIC to reset the App Gateway config. If we handle delete for AKS cluster by

[2020-06-11 16:39] #911 closed

[2020-06-11 16:52] 3quanfeng commented on #894
close, please reopen with more details if it's still the case, thanks!

[2020-06-11 16:52] #894 closed

[2020-06-11 17:09] akshaysngupta commented on #908
@DiegoBallve The ability to support different CN and host header at the backend would need to be supported on Application Gateway.
Would you mind adding a small feedback at the following link. This should help get more visibility for the ask.
https://feedback.azure.com/forums/217313-networking?category_id=134448

[2020-06-11 17:09] #908 closed

[2020-06-11 17:12] mhsh64 commented on #911
Thanks.
@akshaysngupta Have a question.
Is this possible to configure one AppGW for multiple AKS clusters? Which the pods running onthose clusters share one identical domain name.
I mean we want to have an AppGW in front of multiple Clusters (which running AGIC on each of them ). Imaging having multiple clusters for dev, multiple clusters for qa . Now we want to have one AppGW for dev and one for

[2020-06-11 17:23] akshaysngupta commented on #902
@Chris-uS As with all preview, We don't recommend running production workloads on features still in preview, so if you're curious to try it out, we'd recommend setting up a new cluster to test it out with. Please do share any bugs or feedback.

[2020-06-11 17:23] #902 closed

[2020-06-11 19:41] akshaysngupta commented on #910
@ksanchez15 Just to be clear, the limits and default values are arbitrary and actually represent the your subscriptions actually capacity. You can edit this file locally to fit your use-case - you can view your limits through Azure Portal `subscriptions` page.

`aksAgentVMSize` determines the type of VM you are using. You can search the internet for Azure VM sizes. This will determine the cpu/mem

[2020-06-11 21:24] aglees opened #912 "hostname-extension"
We've come across a scenario whereby the hostname-extension annotation is used on two ingress resources. The ingress resources share the same hostname in the hostname-extension but different paths. However the AGIC logs throw an error indicating that:

[code]

To reproduce, here are the two ingress resources:

[code]

[code]

It looks like the following method of defining hostnames & paths ingress

[2020-06-11 22:11] 3quanfeng commented on #912
Hi @aglees , AGIC currently uses hostnames and frontend port to uniquely identify a listeners...
need some clarification here:
1. when use use hostname-extention, you said, the hostnames are the same for two ingresses, but from your provided example, they are different.
    appgw.ingress.kubernetes.io/hostname-extension: {{uniqueHostnameOne}},{{sharedHostname}}
    appgw.ingress.kubernetes.io/host

[2020-06-11 22:23] 3quanfeng commented on #880
close

[2020-06-11 22:23] #880 closed

[2020-06-12 01:38] 3quanfeng commented on #875
Hi @adamcarter81 , Thanks for clarification.
`If so, why does exposing the pod to AGIC work, this has the same readiness probe:
kubectl describe pod server-deployment-8485574dc9-7p4zp -n test <snip> Port: 443/TCP <snip> Readiness: http-get http://:15020/healthz/ready delay=1s timeout=1s period=2s #success=1 #failure=30`
Did you specify appgw.ingress.kubernetes.io/backend-protocol: "Https" for the

[2020-06-12 08:45] AlexanderViken commented on #116
I am facing the same issue on a new greenfield AKS cluster (1.16.9) now I have validated aadpodidentity and managed identity configuration and as far as I can tell it is working. Helm 3.2.0.  What is it looking for where when it is unable to recognize ""?

command:
helm install --debug --wait --set verbosityLevel=5 --set appgw.subscriptionId=*** --set appgw.resourceGroup=rg-networking-***-dev --se

[2020-06-12 09:12] AlexanderViken commented on #116
And I am getting a similar issue running helm upgrade on another cluster from azure devops pipelines. The pipeline worked fine first time, second time if fails.

[command]C:\hostedtoolcache\windows\helm\3.1.1\x64\windows-amd64\helm.exe upgrade --install --wait --set verbosityLevel=3 --set appgw.subscriptionId=xxx --set appgw.resourceGroup=rg-networking-xxx-prod --set appgw.name=appgw-xxx-prod --se

[2020-06-12 09:38] adamcarter81 commented on #875
@3quanfeng yes - see my config : https://github.com/Azure/application-gateway-kubernetes-ingress/issues/875#issuecomment-632873926

However by adding or removing it, does not change the config to apply to AGIC.

I am still unclear on what is the expected operation: Does AGIC use this to build the backend settings, or does it use port 80 if it is found over 443, even though the protocol is specifie

[2020-06-12 14:36] ksanchez15 commented on #67
Hey @LirazRom @akshaysngupta, i'm currently experiencing similar issues. I'm not quite sure what needs to be where. Meaning I'm not sure if I should put the controller in the same namespace as my deployments (for my app). And the ingress itself? And what about the the aad-pod-identity? it places itself in the default namespace by default, but doesn't this means that my deployments and pods (for my

[2020-06-12 15:55] akshaysngupta commented on #67
@ksanchez15 You can deploy AGIC and AAD Pod identity in any namespace you like. They look at all resources on a cluster level.
So, you can deploy your apps in `dev`/`test`/`prod` namespace. Even the ingress resource can be in their respective namespace. `dev` namespace will contain the `dev` related ingresses and so forth.

[2020-06-12 15:59] akshaysngupta commented on #116
@AlexanderViken Please add `--version 1.2.0-rc3`.
When using a newer k8s version >= `1.16`, AGIC version <= `1.0.0` breaks as the deployment api version `apps/v1beta2` is deprecated.

https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/CHANGELOG/CHANGELOG-1.2.md#features

[2020-06-12 21:47] michaelsiuda commented on #900
Hi @3quanfeng ,

In order to increase the verbosity level I had to reinstall the entire AGIC helm chart, and after new installation the root certificate was properly installed at the app gw.

Let's close this issue for now as unreproducible. I will be doing more testing in the next couple of months so if I see this again I will re-open the ticket.

Thanks for the support!

[2020-06-12 21:47] #900 closed

[2020-06-12 22:01] 3quanfeng commented on #875
Hi @adamcarter81 , remove or add that annotation won't work for the probe protocol, the scheme you specified in your readiness probe decides the protocol, one benefit is to error out in case of "ApplicationGatewayProbeProtocolMustMatchBackendHttpSettinsProtocol" happens when you try to use https in the httpsettings but probing with http. can you probe istio-gateway at port 443?

[2020-06-12 22:43] 3quanfeng commented on #856
Hi @ushabapat , did you mean to set up AppGw to be shared by your VMSS application and AKS services? if yes, please refer to the brownfield deployment

[2020-06-15 07:02] AlexanderViken commented on #116
Thank you!

[2020-06-15 07:51] rlevchenko opened #914 "SSL Redirection cannot be configured properly"
**Describe the bug**
My helm-managed ingress objects with url path-based routing, ssl offload and multiple hostnames features work fine, however, when I try to update them with ssl-redirect annotation the Ingress controller cannot properly apply a new configuration to application gateway.

In that case, the controller only creates a HTTP listener and  a new rule (sslr-fl-09720eb9082cb7d02efdc60a16

[2020-06-15 19:38] rlevchenko commented on #842
Check this out https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignment.md

[2020-06-15 20:33] sudhakar890 opened #915 "Prometheus pushgateway behind AGIC not working"
**Describe the bug**
I've configured Prometheus pushgateway behind AGIC using below config

[code]

Below is pushgateway deployment file
[code]
The pushgateway is not loading properly.

![image](https://user-images.githubusercontent.com/25337865/84703170-12771b80-af58-11ea-95a1-c40b730594fe.png)
**Ingress Controller details**
Ingress version: 1.2.0-rc3
Kubernetes 1.16.8

I followed the Nginx confi

[2020-06-15 23:10] vakkur opened #916 "The ARM template is outdated for NodePools and Egress traffic through App gateway"
Is there an updated ARM template that uses VMSS for nodePool creations, add them to app gateway backend pool and I would like to know how we can egress the traffic through APP Gateway as it would be the only public IP for the cluster and I still get a random IP address when I try to access a web page from a pod.

https://raw.githubusercontent.com/Azure/application-gateway-kubernetes-ingress/master

[2020-06-16 07:19] #915 closed

[2020-06-16 07:21] sudhakar890 commented on #915
updating the ingress path with path: /pushgateway/* resolved the issue

[2020-06-16 14:05] jz-wilson commented on #437
Almost a year on this issue, any news?

[2020-06-17 16:32] miluxmilux commented on #884
I would also like to know a bit more about how path priority is handled. Is there such a thing as "longest length priority" for example? Or would it be possible to set the priority to a path?
Here's a little example from traefik: https://docs.traefik.io/routing/routers/

[2020-06-18 19:08] VipinAgarwal commented on #669
This still doesn't works. I have helm 3 with AGIC chart to set to pull 1.2.0-rc2

 App Gateway SKU Tier Standard is not supported by AGIC version 1.2.0-rc2/082bf0ff/2020-05-19-16:09T+0000; (v0.10.0 supports App Gwy v1)

[2020-06-18 19:59] akshaysngupta commented on #669
@VipinAgarwal As the message states, App Gateway V1 SKU is not supported by AGIC version > 0.10.0

[2020-06-18 20:13] VipinAgarwal commented on #669
I have tried with all the version of Application gateway (standard, Standard_v2, WAF). All the version had the same error. So I am not sure what is the supported version here?

[2020-06-19 01:12] mhsh64 opened #919 "This Basic HTTP listener cannot use the same frontend port as an existing listener."
**Describe the bug**
A clear and concise description of what the bug is.

We are getting the bellow error on each Listener configured by AGIC:
This Basic HTTP listener cannot use the same frontend port as an existing listener.

Why this is happening. In our Ingress resources we have used bellow annotations:
    kubernetes.io/ingress.class: azure/application-gateway
    appgw.ingress.kubernetes.io/

[2020-06-19 14:00] aglees commented on #912
@3quanfeng

1. Yes they are different, but the shared hostname is the same between the ingresses. The paths differ between the ingresses, and that's why we were surprised by the error.

2. Yes. {{sharedHostname}} is the same.

[2020-06-19 14:43] sudhakar890 commented on #807
I'm using AGIC version 1.2.0-rc3  and application gateway ssl certificates are getting removed by AGIC.

[2020-06-19 14:56] adamcarter81 commented on #907
This is a good call - I am battling and have had some success with AGIC and Istio using an Istio ingress gateway:

Successful testing - http from AGIC to Istio ingress works OK

Unsuccessful - TLS End to end - the listener & backend pools work, cert is uploaded OK, but the health check fails (using HTTP to probe the Istio ingress) (https://github.com/Azure/application-gateway-kubernetes-ingress/is

[2020-06-19 19:42] sudhakar890 opened #920 "AGIC removing ssl certificate in Application gateway"
**Describe the bug**
Application gateway ingress controller is removing the ssl certificate associated with application gateway.

**To Reproduce**
Steps to reproduce the behavior:

1. Provision Application gateway using Terraform with managed identity and ssl certificate from key vault secret id.
The Appgw attached certificate details:
[code]
2. Give AGIC Service principal to have operator access

[2020-06-20 00:51] 3quanfeng commented on #919
Hi @mhsh64 , listener is uniquely identified by hostname and port, for you case, you will need to use different hostname for each of the ingress with the same port

[2020-06-20 03:55] mhsh64 commented on #919
@3quanfeng thanks
Sorry I dis not get , should I use any specific annotations in INGRESS resource?

Each of our Ingress resources have their own unique Host name under Spec field. But AGIC is configuring AppGw with basic listener

Appreciate if you help me to understand how to configure our ingress resources

[2020-06-20 05:03] mhsh64 commented on #919
That is weird, because when I export the appGw arm template, I see my ‘Ingress host names’ are populated in “hostNames” of the template, but it does not show if the listener is Basic or Multi Site.

But in Portal, when I click on the same listener, it shows me this error:
‘This Basic HTTP listener cannot use the same frontend port as an existing listener’
And shows the Listener is Basic

@3quanfen

[2020-06-20 06:02] 3quanfeng commented on #919
Hi @mhsh64 , the portal issue is a known issue since rc2, please check the release not [here](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/CHANGELOG/CHANGELOG-1.2.md#v120-rc2)
In addition, can you please help share one of your ingress specification?

[2020-06-20 06:20] 3quanfeng commented on #920
Hi @sudhakar890 , before you install AGIC, were you able to find the cert in appgw? you could check by trying to create a http listener with protocol https from portal.

[2020-06-20 06:27] fortanu82 opened #921 "502 Bad Gateway Error - Not able to find backend service"
I tried various permutations and combinations to make it work but somehow I keep receiving 502 bad gateway error. Here is the manifest file:-

Service File

Deployment File

Ingress File

Description of Manifest files:-
kubectl describe ingress resources-ilb-backend -n resourcesilb

kubectl describe service resources-ilb-backend -n resourcesilb

**Expected Result**
Below CURL command - should retu

[2020-06-20 07:17] sudhakar890 commented on #920
@3quanfeng Yes, I’m able to see certificate in the http listener in portal.

[2020-06-20 15:14] fortanu82 commented on #653
Did you find any solution for this?

[2020-06-20 16:02] fortanu82 commented on #921
To test Whether or not application deployed working fine, the URL to test is -
http;//Cluster-IP/swagger/index.html , which is - http://10.95.24.35/swagger/index.html

In Ingress file, I have defined a path as **path -/resources/** and to test it using application-gateway private ip , I called the URL as **http://app-gateway-private-ip/resources/swagger/index.html** file that is - http://10.193.48

[2020-06-21 01:35] mhsh64 commented on #919
@3quanfeng thanks for confirmation

Here is my sample Ingress

`apiVersion: extensions/v1beta1

kind: Ingress

metadata:

  name: myapp

  namespace: ns1

  annotations:

    kubernetes.io/ingress.class: azure/application-gateway

    appgw.ingress.kubernetes.io/appgw-ssl-certificate: mycert

    appgw.ingress.kubernetes.io/ssl-redirect: "true"

spec:

  tls:

    - hosts:

      - myapp.mydomain.

[2020-06-21 01:44] mhsh64 commented on #919
@3quanfeng Also Have another question, one of the main reason we want to use AGIC rather than NGINX controller is, we do not want to import certificate and secrets in Aks cluster, however, if I want to have end to end ssl encryption between AppGW and Backend Pods, do we need to import certificate as a Secret on the Cluster and refering in Ingress resource?

[2020-06-21 17:50] StephanNel commented on #914
Experiencing the same problem, however I have no successful routing even on http. I get a SSL assigned when only using backend and no path. But when using the below nothing is created in APGW, this same does work on NGinX though.

`spec:
  tls:
    - hosts:
        - example.com
      secretName: example-secret
  rules:
    - host: example.com
      http:
        paths:
          - path: /*

[2020-06-21 19:40] juanluelguerre commented on #491
Hi,
Finally to complete successfully my connection through Azure Api Gateway, I developed a Ping & Pong Solution using https://www.npmjs.com/package/reconnecting-websocket.

[2020-06-22 00:49] 3quanfeng commented on #919
Hi @mhsh64 , the annotation will be ignored when you specify TLS spec in your ingress, please refer to [appgw-ssl-certificate ](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#appgw-ssl-certificate)
If you specify backend-protocol with https, you will need to probe your traffic port at 443, more please refer to [probe](https://github.com/Azure/applic

[2020-06-22 06:40] 3quanfeng commented on #921
Hi @fortanu82 , it seems like your service target port doesn't refer the container port.

[2020-06-22 07:22] fortanu82 commented on #921
Thanks for your response. I am curious to know in this case, how the service is able to retrieve the result when directly called from the container.
**Called from Service-Name**
![image](https://user-images.githubusercontent.com/48510516/85259749-31f5d300-b487-11ea-8282-8d2a6d5b3a40.png)
**Called from IP**
![image](https://user-images.githubusercontent.com/48510516/85259483-c7449780-b486-11ea-818b

[2020-06-22 10:30] fortanu82 commented on #921
Hi @3quanfeng, related to your response, one more thing I noticed, if we describe the ingress manifest, it shows the service is associated with the container ports.

![image](https://user-images.githubusercontent.com/48510516/85275995-c1f34700-b49e-11ea-8b48-3eaefb0842c4.png)

[2020-06-22 13:27] mhsh64 commented on #919
Hi @3quanfeng
Thanks, I removed tls spec
However my issue is for e2e encryption, see I used the sample app with annotations to make appgw to backend pods encrypted, however, I am getting 502 during curl and also backend unhealthy from portal. Did I miss anything in here?
I see almost the same issue on #875

[code]

[2020-06-22 14:31] MarcelT-NL opened #922 "AGIC cannot add listener for *.domain.com to App Gateway?"
**Describe the bug**
I am trying to use AGIC to provision a wildcard subdomain *.domain.com, but the App Gateway rejects the * in the listener name (created by AGIC).

**To Reproduce**
1. Run an App Gatewaywith WAF_v2, AGIC works fine for sub1.domain1.com
2. Create ingress controller with host: '*.domain2.com'
3. Creation of listener fails: "Invalid listener name. Must start with character word"

[2020-06-22 16:27] 3quanfeng commented on #919
Hi @mhsh64 , were you able to hit your pod 443 directly? one thing is to make sure your pod exposes the https port, for e2e ssl, you could refer to [881](https://github.com/Azure/application-gateway-kubernetes-ingress/issues/881)

[2020-06-22 17:27] akshaysngupta commented on #922
@MarcelT-NL Can you check if you are using AGIC version `1.2.0-rc3`.
If not, you can find the steps here.
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/CHANGELOG/CHANGELOG-1.2.md#how-to-try

[2020-06-22 19:05] atrauzzi commented on #725
What if the timeout was paired with an AGIC proxy sidecar that forwarded calls to the new ones starting up during a rollover?

[2020-06-22 19:44] 3quanfeng commented on #921
Hi @fortanu82 , I think that's because you specify 8001 as target port in your service spec.
To fix your problem, there are two ways:
1. update the targetPort to be an integer 80
2. updater the targetPort to be a string "http" which is the port name you defined in your deployment for you container

[2020-06-23 04:15] Yiyito11 opened #923 "Unable to install application-gateway-kubernetes-ingress/ingress-azure Using HELM"
Hey guys I´m having this error while creating ingress controller with helm:

[code]
This is first time I´m having this issue with Helm 3 Version. Already installed it with no issues some weeks ago.

k8s Version is: 1.16.8

Helm yml was downloaded from [here](https://azure.github.io/application-gateway-kubernetes-ingress/setup/install-existing/). In step 2 of : **Install Ingress Controller as a Hel

[2020-06-23 06:14] rlevchenko commented on #923
You are definitely using wrong/old helm charts. Check the history of the [deployment.yaml ](https://github.com/Azure/application-gateway-kubernetes-ingress/commit/5710a69e0e17947b2ac303664fddfc7188ae2d51#diff-86d90b1e65a78d1a1ba08a0f7051bb91) and you can find out there was a commit that updates v1beta2 to v1 api version. In short, you can use helm charts from the [repo](https://github.com/Azure/ap

[2020-06-23 07:33] fortanu82 commented on #921
Hi @3quanfeng , this is the solution I applied.

Application URL is – http://hostname(dns)/swagger/index.html.

After applying the below changes:-
If I hit the URL as - http://hostname(dns)/resources, backend path prefix converts the URL to - http://10.193.48.135/swagger/index.html and returns the result.  Is there any better way of doing this:-

![image](https://user-images.githubusercontent.com/

[2020-06-23 08:04] sudhakar890 commented on #920
I gave the helm version 1.2.0-rc3 but it picked up image version 1.0.0 `mcr.microsoft.com/azure-application-gateway/kubernetes-ingress:1.0.0`. Issue with my config file. So changing the image version fixed the issue. Thanks!

[2020-06-23 08:04] #920 closed

[2020-06-23 10:27] lonevvolf commented on #458
This has effectively cut the number of allowed rules in half.  Please raise the limit.

[2020-06-23 12:18] mhsh64 commented on #919
@3quanfeng
Hi, not really, the pod on the 443 port is not reachable although the port is open on its vnet and subnet. I will test this more
However my question for e2e ssl encryption is, we only just need to install root public cert on appgw and expose 443 on pod and using those ingress annotations, right?
Is these any example you can refer me to please?

[2020-06-23 15:51] 3quanfeng commented on #919
@mhsh64 ,  #881 has a document link, I guess you might miss it...
Or you could refer to one of our E2E test case at [here](https://github.com/Azure/application-gateway-kubernetes-ingress/tree/master/scripts/e2e/cmd/runner/testdata/one-namespace-one-ingress/ssl-e2e-redirect)

[2020-06-23 16:31] akshaysngupta commented on #914
@rlevchenko / @StephanNel Do you see errors in your AGIC pod logs ? Also, can you make sure that the secret exists ?

[2020-06-23 16:32] akshaysngupta commented on #923
Correct. This issue is resolved in the latest RC - 1.2.0-rc3.

[2020-06-23 16:32] #923 closed

[2020-06-23 16:41] akshaysngupta commented on #916
@vakkur I think updating the ARM template to at least deploy the AKS with VMSS node pool has been in our list for sometime now. But I think this template stills need some fixing to correctly deploy VMSS.
https://github.com/Azure/application-gateway-kubernetes-ingress/pull/751

Please feel free to contribute.

[2020-06-23 16:43] akshaysngupta commented on #916
as a workaround, you can give AZ cli a try to deploy a cluster with your custom configuration.

[2020-06-23 16:48] rlevchenko commented on #914
The secret exists. The AGIC works fine with disabled ssl redirection and enabled ssl offload = AGIC successfully uses the secret. There were only AGIC logs and they provided above. Tomorrow I'll try to enable ssl redirection to see whether AGIC produces any errors different than the one already mentioned.

[2020-06-23 16:51] akshaysngupta commented on #807
@sudhakar It could be that you have two AGIC deployments in your cluster targeting the same Application Gateway. Can you check if that's that case ? You can use `helm list` to see your current deployments.

[2020-06-23 16:53] vakkur commented on #916
@akshaysngupta thank you for your response, I was able to deploy using the VMSS, I made changes to the existing template.
But I would like to know how we can egress the traffic through APP Gateway as it would be the only public IP for the cluster and I still get a random IP address when I try to access the internet from a pod.

[2020-06-23 18:34] 3quanfeng commented on #921
Hi @fortanu82 , the above is by design, or you could do:
path:/resource/index.html but specify /swagger in backend-path-prefix annotation.
Or what did you mean by better way?

[2020-06-23 18:47] 3quanfeng commented on #912
Hi @aglees, for your first case, AppGw currently doesn't support to have listeners which share same host name inside the HostNames attribute, we will discuss internally to see if that's the case to support.
Meanwhile to solve the issues by using the annotation, please make sure hostname-extension to not contain any same hostname across your ingresses. Or you could do as your second case.

[2020-06-24 00:58] mhsh64 commented on #919
@3quanfeng Hello and thanks
Ok, in your E2E test case you sent me, in addition of installing the root cert on appGW, I see you have have a Secret resource with the crt and key in its data. And finally you referred that secret in Ingress definition under tls field:
spec:
  tls:
    - secretName: testsecret-tls

So based on this we need to install(import) the certificate on AKS cluster to make it po

[2020-06-24 01:18] 3quanfeng commented on #919
Hi @mhsh64 , sorry for the confusion, no, you don't have to, you can refer the root cert pre-installed on you application gateway, and use the annotation as what the [document](https://github.com/niteenkole/pgadmin4) does.
The reason I ping you about the E2E is in case your samples:aspnetapp doesn't expose 443, you could use nginx as backend to test your end to end ssl

[2020-06-24 01:21] mhsh64 commented on #919
@3quanfeng I really appreciate your quick response. I will check it. Thanks, i will let you know the result

[2020-06-24 02:06] Yiyito11 commented on #923
thanks guys that was the issue. I though that by default you got the latest version. I tried first with : `helm search -l application-gateway-kubernetes-ingress` to check available versions  but in HELM 3 this is not working anymore .

[2020-06-24 07:21] rlevchenko commented on #914
same error messages:

[code]

[2020-06-24 15:12] tarunnarang0201 opened #924 "Backend path prefix - 502 bad gateway"
I am bit confused the way path resolves the endpoint, does it show in any logs the final endpoint it creates. I am stuck with this. Below is the endpoint which I wanted to call:-

https://hostname/api/orders/employees. And to call this endpoint through Ingress application gateway, this is how I configured but it returns 502 bad gateway error.

[code]

[2020-06-24 17:08] akshaysngupta commented on #923
Helm 3 requires `--devel` flag for listing RC/beta releases.

[2020-06-24 17:11] akshaysngupta commented on #924
@tarunnarang0201 Is your application running "/" ?
You should add `appgw.ingress.kubernetes.io/backend-path-prefix: "/"` to the annotations.

This will also adjust the health probe to probe your application at "/" instead of "/api/orders/employees"

[2020-06-25 05:38] tarunnarang0201 commented on #924
@akshaysngupta @3quanfeng - Forgive me, I should have added more details initially. Backend application works fine and contains some of the restful services mentioned below and their endpoints are such as -

  Now if you see, these different endpoints starts with prefix "/api/" and then the controller name and actions.
Here **Expected Result** is
If any of these endpoints are called (via HTTP Get)

[2020-06-25 18:27] akshaysngupta opened #926 "Support faster updates through AppGW"
Connect AppGW directly to the AKS cluster to fetch backend pool updates. This is to reduce the 502s that happen during the rolling updates.

[2020-06-26 11:45] barlass opened #927 "Http Backend healthcheck fails with CN mismatch error"
**Describe the bug**
Using AGIC version 1.2.0 and helm 3 , HTTPS backend fails with CN mismatch.
Portal show listener type as Basic instead of Multi site

**To Reproduce**

Below is the ingress config. This used to work earlier as hostname used to be passed as host header for healthcheck of backend.

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: test
  annotations:
    kubernetes.

[2020-06-26 11:59] pbloigu opened #928 "Better way to prohibit changes to multiple targets"
**Is your feature request related to a problem? Please describe.**
We have 3 clusters behind an app gw. Each cluster has multiple hosts exposed. For each cluster I now have to create ProhobitedTargets for each of the hostnames in the other two clusters. This is a bit cumbersome.

**Describe the solution you'd like**
I would be fine with either of the two solutions:
1. Allow for automatically prohi

[2020-06-26 15:46] gavinwakeley1 opened #929 "Issues with installing azureingressprohibitedtarget crd on Azure k8s v1.16.9"
**Describe the bug**
After upgrading our Azure k8s cluster to v1.16.9 (current version) we are unable to use the existing helm crd for AzureIngressProhibitedTargets due to various errors.

1) The graph initially failed to apply due to the api version being set to v1beta1. This was changed back to v1 based on online recommendations

Next the problem appeared to be to do with the fact that a crd_hoo

[2020-06-27 17:58] tarunnarang0201 commented on #924
Is there no solution to it?

[2020-06-28 00:12] patrickheinzelmann commented on #672
@akshaysngupta Any update on this topic?

[2020-06-28 18:11] cosmos0703 opened #930 "Readiness probe failed on v1.2.0-rc3 and AAD-Pod-ID v1.6.1"
**Describe the bug**
A clear and concise description of what the bug is.
In this case I am deploying version AGIC v1.2.0-rc3 with AAD-Pod-ID Version 1.6.1. aks version : v1.16.7

kubectl get pods proves that the AGIC pod is not-ready, but running:
[code]

**To Reproduce**
This is because the readiness probe fails, which will be clearer in the log output below.
[code]
**Ingress Controller details**

[2020-06-29 05:18] 3quanfeng commented on #928
Hi @pbloigu , are all of your 3 clusters are AKS clusters?

[2020-06-29 05:28] pbloigu commented on #928
Yes they are. Do you have a better approach in mind to achieve what I described that already works with AGIC as it is? I would love to hear about it as I'm in the midst setting up the environments right now. Changing the environment later on will be harder as they're in active use.

[2020-06-29 05:46] 3quanfeng commented on #928
No, you will have to configure the prohibited policy on each of the cluster, or you could use one appgw per cluster without any prohibited targets?

[2020-06-29 06:02] 3quanfeng commented on #924
Hi @tarunnarang0201 ,did you try with defining multiple paths without backend-path-prefix , e.g.
http:
 paths:
 - path: /api/order/employees
    backend:
       serviceName: orderservice
       servicePort: 80
 - path: /api/position/members
    backend:
       serviceName: positionservice
       servicePort: 80

if your service has heathy check on "/" or "/api", then you could use it as backend-pa

[2020-06-29 06:05] 3quanfeng commented on #929
Hi @gavinwakeley1 , may I ask the AGIC version you used? we have a fix to install CRD via helm3 in 1.2.0-rc2

[2020-06-29 07:41] gavinwakeley1 commented on #929
Hi @3quanfeng , yes indeed it is 1.2.0-rc3 so that would be brilliant - thank you!
Typo on my 'versions' list at the end of my post - corrected now.

[2020-06-29 07:59] tarunnarang0201 commented on #924
Yes multiple paths worked but I have 20 services, do I need to mention 20 services in this way.

h

[2020-06-29 12:43] barlass commented on #927
This was due to CA being not valid for backend certificate. Since the portal was not showing the right config , it was little confusing. Closing the issue.

Do we have an ETA by when the portal will be updated.

[2020-06-29 12:44] barlass commented on #927
Closing

[2020-06-29 12:44] #927 closed

[2020-06-29 16:18] 3quanfeng commented on #924
Hi @tarunnarang0201 , if your web service exposes healthy check on "/" or "/api", then you could config either as backend-path-prefix, appgw will use it as a health probing, in this case, you could define path wildcard in your ingress e.g. /api/*

[2020-06-29 17:16] tiwood opened #931 "Kubenet: Add node routes to Application Gateway subnet route table"
For our AKS Workloads we have two subnets with two route tables:

- AppGatewaySubnet, where we put all Application gateways.
- A AKS specific subnet, where the nodes live.

AKS recently introduced a new feature which automatically adds the Pod CIDR ranges to the preconfigured routing table (in our case the AKS routing table), like so:

[code]

We would love if AGIC would do the same for our AppGat

[2020-06-30 10:09] tarunnarang0201 commented on #924
Awesome, Thanks @3quanfeng , it worked. Below is the manifest file for reference:-

[code]

[2020-06-30 16:03] akshaysngupta commented on #930
@cosmos0703 can you please the logs for AAD Pod identity ? Look for mic and nmi pods in your cluster. Those might have some clues.

https://github.com/Azure/aad-pod-identity/wiki/Debugging#component-logs

[2020-06-30 18:43] 3quanfeng commented on #924
Great @tarunnarang0201 !

[2020-07-01 00:01] akshaysngupta commented on #931
@tiwood that's a great suggestion.

I am wondering about how would an implementation look like.
One potential way could be that AGIC copies over the route table rules (name starting with "aks-nodepool") from AKS subnet to AG subnet's route table.

Suggestions are welcome.

[2020-07-01 01:29] mhsh64 commented on #866
@akshaysngupta Hi
Is this possible to open this issue?
Because this solution you suggested has a downtime, which is not applicable in production
The time appgw does not have any configs till the agic will configure it again

[2020-07-01 04:53] nreddipalle opened #933 "504 - Gateway Timeout Error on every deployment"
**Describe the bug**
Performing a rolling update via AKS deployment causing 504 Gateway Timeout Error(s). Backend Pool seems to be updated with latest Pod IP's instantly but the endpoint throws 504.. The app is coming up only after 3-4 min. Any other Config I am missing.. I configured the preStop lifecycle hook along with terminationGracePeriodSeconds

lifecycle:
            preStop:

[2020-07-01 08:16] tiwood commented on #931
Your suggestion seems like a good way to do it:

[code]

Considerations:
- This will copy also rules for other clusters (if you have the same route table for multiple clusters) - which should be ok (we can log a warning)
**Optional** Only copy routes where the CIDR is "inside" the AKS Cluster POD CIDR
- We should throw if there is a route with a different name but same CIDR. (This may happen if yo

[2020-07-01 11:01] pbloigu opened #934 "Documentation missing: brownfield deployment with multiple AKS clusters"
**Describe the bug**
AGIC brownfield deployment, 2 AKS clusters. Both clusters having the following (the exact same) Ingress and Service definitions:
[code]
[code]
This resulted in a single rule and a single backend pool in the app gw, while there should've been obviously two rules and two backend pools (one of each for each of the two clusters).

Now, it took me some time to figure this out. Ther

[2020-07-01 11:12] pbloigu commented on #934
Or maybe you could prefix the pool and rule names with some cluster specific identifier?

[2020-07-01 14:48] thomas-riccardi commented on #875
Some things I finally understood for TLS E2E with istio:
AppGW:
- AppGW requires HTTPS probes when backend protocol is HTTPS too (`ApplicationGatewayProbeProtocolMustMatchBackendHttpSettinsProtocol` error)
- could not find a way to get AppGW debug info on why it returns 502 errors (found nothing useful with diagnostic logs) (on GCP all requests are loggued by default, with a statusDetail: https://

[2020-07-01 14:49] thomas-riccardi commented on #907
Here is the result of my head banging on the wall, somewhat working, far from perfect: https://github.com/Azure/application-gateway-kubernetes-ingress/issues/875#issuecomment-652464080

[2020-07-01 17:52] shashankram opened #935 "Automate root-cert provisioning to Application Gateway based on a Kubernetes secret"
While using a custom CA for backend services, the CA root certificate needs to be manually provisioned to Azure Application Gateway, and the name of the root certificate provisioned in Application Gateway is used as the value in the `appgw.ingress.kubernetes.io/appgw-trusted-root-certificate` annotation.

A simpler workflow for users would be to simply reference a Kubernetes secret that contains t

[2020-07-02 16:43] bilekt3 opened #936 "Ingress does not work with windows node pool"
**Describe the bug**
Application gateway does not work with services on Windows node pool (tested on 1.2.0 version, same for RC2,RC3).

**To Reproduce**
Span test AKS with following configuration:

- RBAC enabled
- Advanced networking
- Attached second node pool based on windows
- Create service principal for settings
- Separate network for Application Gateway
- Public IP for Application Gateway
-

[2020-07-02 20:27] mhsh64 opened #937 "AppGw configs lost after redeploying with ARM"
**Describe the bug**
As per https://github.com/Azure/application-gateway-kubernetes-ingress/issues/866 the appGW configurations lost after redeploying the appGW through ARM. In that issue, it has been suggested to use the following in agic configs:

reconcilePeriodSeconds=30

However, even using the above field cause an outage for ingress resources, since it takes time to agic to reconfigure liste

[2020-07-03 16:24] shubhammicrosoft1 opened #938 "AGIC Issue : "Authentication failed. The 'Authorization' header is missing.""
**Describe the bug**
We have configured the Application gateway ingress controller as per supported docs. However when we are using ServicePrincipal , the Ingress controller pod is not getting started & is reporting below error
We have the Service Principal already configured & has Contributor rights on the subscription

E0702 17:36:18.353628       1 client.go:170] Code="ErrorApplicationGatewayUne

[2020-07-05 22:41] galvesribeiro opened #939 "Problems when running AGIC behind Azure Firewall"
Hello folks!

I have an environment comprised of:

1. A VNet which has a route table pointing to an Azure Firewall on the AKS subnet
2. AKS Deployed on its own subnet (+ the service subnet) as following the AKS deploy at an existing VNet using Azure CNI
3. Azure Firewall being the gateway for egress on all the AKS infrastructure
4. AAD Pod Identity deployed and working
5. Azure Application Gateway

[2020-07-06 17:05] 3quanfeng commented on #939
Hi @galvesribeiro, AGIC mutates AppGw via Azure Resource Manager, however, it does query from AppGw, could you share your AGIC logs?
In addition, you might want to take a look at [Deploy a cluster with outbound type of UDR and Azure Firewall](https://docs.microsoft.com/en-us/azure/aks/egress-outboundtype#deploy-a-cluster-with-outbound-type-of-udr-and-azure-firewall)

[2020-07-06 18:15] debugaftercoffee commented on #805
@draychev Do you have an example of using HTTPS from the App Gateway to the pod?

[2020-07-06 18:49] 3quanfeng commented on #924
Close

[2020-07-06 18:49] #924 closed

[2020-07-06 18:51] 3quanfeng commented on #919
close

[2020-07-06 18:51] #919 closed

[2020-07-06 18:51] 3quanfeng commented on #805
Hi @debugaftercoffee , you can refer to this [doc](https://github.com/niteenkole/pgadmin4)from another customer

[2020-07-06 19:05] galvesribeiro commented on #939
Hi @3quanfeng

When I've opened the issue, I was trying to use the _supported_ addon mode, which totally fail in this setup. Then I tried with Helm. My cluster is completely locked down behind Azure Firewall and all egress traffic from the AKS subnet goes thru the firewall using this UDR:

![image](https://user-images.githubusercontent.com/4714040/86629465-d99ff480-bfa1-11ea-8ad4-6265dddd2553.png)

[2020-07-06 19:32] 3quanfeng commented on #939
Thanks @galvesribeiro , May I ask what IP address 100.64.3.4 is?

[2020-07-06 19:34] galvesribeiro commented on #939
Azure Firewall private ip on AzureFirewallSubnet subnet

[2020-07-06 23:17] 3quanfeng commented on #939
Hi @galvesribeiro , could you help share a little bit more about your set-up with AGIC as ASK addon as well as the steps to reproduce? we would like to investigate regarding "I was trying to use the supported addon mode, which totally fail in this setup" if it's the case, Thanks a lot!

[2020-07-06 23:58] galvesribeiro commented on #939
Sure, here we go. I'll omit the ENV var declaration here but by its usage you can infer what it meant.

First we create the VNET along with the subnets:

[code]

The public IPs:
[code]

Azure Firewall:

[code]

UDRs used on the VNET
[code]

AKS-related firewall rules. Those set of rules are gathered along several spread docs about each product we're using that are related to AKS or that the Pods a

[2020-07-07 05:03] marc-mueller opened #940 "AzureIngressProhibitedTarget not working as expected - AG resources still removed by AKS"
**Describe the bug**
In our deployment, we have a single service which is run by VMSS and needs to be available through the same application gateway as AKS is using. We added a AzureIngressProhibitedTarget CRD with the domain name of the VMSS service. But after every AKS deployment, the VMSS objects are completely removed by AKS.

**To Reproduce**
Steps to reproduce the behavior:
- Crate a AzureIn

[2020-07-07 08:34] gavinwakeley1 commented on #929
Hello, please can anyone help with this issue? It is causing us issues with using this in our production environment.
Thank you for any assistance you can give.
Kind Regards,
Gavin

[2020-07-07 11:16] barlass commented on #763
Facing same issue. Was anyone able to resolve?

[2020-07-07 16:44] akshaysngupta commented on #938
@shubhammicrosoft1 Thanks for reporting.

When using service principal method, a secret in the k8s cluster which stores the information about the service principal: clientID/cientSecret/tenantId etc. This secret is then mounted as a file on to the AGIC pod and used to communicating with Azure.
As a sanity check, can you check that the secret is having the information I mentioned above. Also, can y

[2020-07-07 17:02] shubhammicrosoft1 commented on #938
Hi @akshaysngupta : Sure , so right now we are using helm configuration file to pass base64 secret to AGIC pod.
Please let us know if you need some logs which can help you in isolating the issue

[2020-07-07 17:26] akshaysngupta commented on #936
@bilekt3 Thanks for reporting.
can you please check the backend health status on the Application Gateway portal ? It might provide some clues into why the AppGateway is not able to the reach the pods.

[2020-07-07 20:38] S0meth1ng85 commented on #817
Hi, I have the same problem. Trying to configure AppGW AGIC with end to end SSL. Our application is running on port 5556 and uses TLS https://pod-ip:5556

Ingress is configured in terraform:

`resource "kubernetes_ingress" "ingress_datapower" {
  count = var.deploy_datapower_ingress ? 1 : 0

  metadata {
    name      = lookup(var.services[count.index], "name")
    namespace = "default"
    annota

[2020-07-08 06:29] vishal8k opened #941 "AGIC unable to create listeners with hostnames"
**Describe the bug**
Below is my ingress yaml file.
[code]
I have custom resource definition to prohibit AGIC from removing manually added targets and that works fine. AGIC does not remove them.  but however the above ingress is not reflected and errors from ingress pod is listed below.
**To Reproduce**
Normal brownfield deployment of AGIC using helm.

**Ingress Controller details**
* Output of `k

[2020-07-08 17:32] 3quanfeng commented on #940
Hi @marc-mueller , May I ask which version of AGIC you deployed? there is a related bug fixed in v1.2.0-rc3

[2020-07-09 04:52] akshaysngupta commented on #941
@vishal8k Your ingress is annotated with `use-private-ip`. This means that the listener will use the private IP with port 80.
Do you have another rule using port 80 but on public IP? If yes, then that might be the problem.
(Currently, AppGW can't have both public ip and private ip on the same port. We are working on supporting this feature but don't have an ETA.)

[2020-07-09 05:40] vishal8k commented on #941
@akshaysngupta I raised a support case with Azure and they too confirmed that this was due to a problem in underlying API (Azure side). They are yet to trace down a root cause but. and also to have two listeners on same port (public and private) is possible if we have multi-site. I have the setup already in my production and it is working smoothly.

[2020-07-09 06:02] marc-mueller commented on #940
Hi @3quanfeng, we are currently using 1.0.0.

[2020-07-09 12:12] askew commented on #706
@3quanfeng, Yes that's right. In a scenario where the Application Gateway is shared and used for multiple services, it would be cleaner to manage the routing separately. In the example I am working on now, we have two AKS clusters, a VM Scale-set and also a set of VMs all which have services that sit behind the AppGw. We are deploying the App Gw using ARM, and this creates the back-end pools and r

[2020-07-09 13:56] tiwood opened #944 "AGIC 1.2.0 not working with Kubernetes version 1.16.10"
**Describe the bug**
The pod is not coming up. It log contains the following errors:

[code]

**To Reproduce**
Deploy AKS 1.16.10 (current default) with AGIC 1.2.0. We use Service Principal as the authentication method.

Our configuration (relevant bits):
[code]

[2020-07-09 21:07] JorTurFer opened #945 "Existing rules are deleted after helm upgrade in shared agic"
**Describe the bug**
When the release is upgraded, it deletes all existing rules in agw. AGIC is not detecting the exiting ingress objects and apply a deletion of all rules. This happens when agic is configured as shared.
In order to isolate the error, I used only 1 agic inside 1 cluster but with the shared option = true
You can see in the logs that the first execution after upgrade, this ingress

[2020-07-10 08:37] adamcarter81 commented on #875
@thomas-riccardi Thanks for the information - did you test or were you able to get TLS pass through using AppGW -> Istio Ingress Gateway?

[2020-07-10 09:41] thomas-riccardi commented on #875
@adamcarter81 I did not test AppGW -> Istio Ingress as it seemed to be quite a hack: if I understood correctly to get a native Ingress on top of the Istio Ingress we need to make the native Ingress point to the istio-internal `istio-ingressgateway` service, then define the Istio Ingress and VirtualService, even the data path seemed too complicated.
Furthermore I was afraid it would hit again the r

[2020-07-10 16:21] akshaysngupta commented on #944
@tiwood When communicating with the API server, AGIC uses the service account associated to the AGIC Pod. So, using service principal or user assigned identity with AGIC will not impact this.

Is it possible that the service account token that AGIC is using is not valid for the AKS FQDN used above ? Reading on the internet, some threads mention that this could be related to the token used.
As for

[2020-07-10 16:27] mozts2005 commented on #805
@draychev any ETA on mTLS support?

[2020-07-10 16:38] akshaysngupta commented on #938
@shubhammicrosoft1
1. can you check that the secret is having the information I mentioned above.
1. can you check that the AGIC pod is having this secret properly mounted ?
1. Did you try deleting the AGIC pod and seeing if the issue persist ?

[2020-07-10 23:03] AndresPineros opened #946 "AGIC 1.2.0 or 1.2.0-rc3 not working with Kubernetes 1.17.7 or 1.16.9"
**Describe the bug**
I'm currently getting this error in the logs. It is a little frustrating because it doesn't actually let me know what is going on.
[code]
**To Reproduce**
[code]

**Ingress Controller details**
[code]

Kubernetes version: tried on v1.17.7 and v1.16.9
Azure Location: canadacentral
Chart version: 1.2.0-rc3, also tried 1.2.0 with same result.

[2020-07-11 01:58] AndresPineros commented on #946
Just found the issue. The environment is wrong, it should be AZUREPUBLICCLOUD instead of AzureCloud. I know this is on me for making a configuration mistake, but it would be nice if the application failed with a better message. I lost hours thinking it was an obscure and strange issue and didn't even double check the basic configuration because the error message was so cryptic.

[2020-07-11 01:58] #946 closed

[2020-07-13 09:03] schlickspringer commented on #159
we require this as well to be able to use public and private ip on different ports as AppGW does not support different IPs on one port.

[2020-07-13 09:16] adamcarter81 commented on #875
Thanks @thomas-riccardi
I have it working fine with AppGW --> Isito with HTTP, but it is failing with the HTTP/HTTPS protocol backend check. A custom health probe would solve this. Ultimately I want both HTTP & HTTPS traffic to all ingress via AppGW -> Istio Ingress for full visibility of all traffic in the mesh.
The reason for using AppGW was that we hoped to use the Web Application Firewall for

[2020-07-13 16:46] 3quanfeng commented on #940
Hi @marc-mueller , did you have prohibit-all-targets deployed as well before your own prohibited policy?
also, could you please kindly share your sanitized prohibited policy?

[2020-07-13 16:57] 3quanfeng commented on #945
Hi @JorTurFer , when you upgrade AGIC with shared enabled in a cluster, prohibit-all-targets by default will be installed, you could check by "kubectl get AzureIngressProhibitedTarget".
You will need to delete prohibited-all-targets after you create your own prohibited policy, please refer to [here](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-exis

[2020-07-13 17:56] mscatyao commented on #805
@mozts2005 - mTLS to the backend support is on our (AppGW + AGIC) backlog, but currently no ETA.

[2020-07-13 18:53] JorTurFer commented on #945
Hi @3quanfeng ,
I continue investigating this and I think that I found the perfect way to reproduce the problem and more or less the origin of it.
When I deploy agic with shared enable, the prohibition to al target is deployed. Before I remove this object I add my own prohibted target as expected but in the moment when I remove prohibit-all-targets agic starts a cycle and in this cycle agic doesn'

[2020-07-14 06:41] bilekt3 commented on #936
@akshaysngupta Thanks for support. We have decided to test whole issue on newly spawned cluster and I am unable to replicate issue.

[2020-07-14 06:41] #936 closed

[2020-07-14 15:59] andresm53 commented on #535
Hi @akshaysngupta
I followed https://azure.github.io/application-gateway-kubernetes-ingress/setup/install-new-windows-cluster/ but instead of using the default VNET/subnets, I used these ranges:

        "aksSubnetAddressPrefix": {
            "defaultValue": "192.168.0.0/24",
            "type": "string",
            "metadata": {
                "description": "Containers DNS server IP address."

[2020-07-14 21:45] akshaysngupta commented on #944
@tiwood are you still facing this issue ?

[2020-07-15 05:43] marc-mueller commented on #940
No, I just deployed my custom prohibited policy. AKS was setup before and then later on we needed the manually managed endpoints in AG. If I understood the documentation correctly, the custom policy is the only thing needed in this case, right?

We used the following policy:
[code]

[2020-07-15 15:50] mhsh64 opened #948 "Can't assign port fp-443 to Private IP Listener already assigned to Public IP Listener"
**Describe the bug**
A clear and concise description of what the bug is.

I have Ingress resources on a AKS cluster which needs using PrivateIp or PublicIp as their front end IP. I have configured one Ingress using public IP, which was fine, however, when using private IP annotation (appgw.ingress.kubernetes.io/use-private-ip: "true") in another Ingress resource, I am getting the bellow error on A

[2020-07-15 16:46] 3quanfeng commented on #948
Hi @mhsh64 , correct, right now AGIC doesn't support[ multiple IPs on the same port](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#use-private-ip).

[2020-07-15 17:08] 3quanfeng commented on #940
Thanks much @marc-mueller .
Could you please help check your prohibited policies by "kubectl get AzureIngressProhibitedTarget". when you upgrade AGIC with shared enabled(assuming you upgrade AGIC with shared enabled via helm), a default prohibit-all-targets policy will be installed, you can then install your own policy as you mentioned above, but to make your policy work, you will need to delete t

[2020-07-15 17:41] mhsh64 commented on #948
@3quanfeng
Thanks
So at the moment if we want to configure this, we will need two AppGw and two AGIC on the cluster with enabling watch separate namespaces?

[2020-07-15 21:59] 3quanfeng commented on #945
Hi @JorTurFer , Thanks for reporting the issue, as a walkaround to unblock you, you could deploy your ingress(which you want to keep for share) before installing "prohibit-all-targets". i.e.
1. deploy your ingress for rule A
2. install prohibit-all-targets policy
3. install your own prohibited policy to keep Rule A
4. delete prohibit-all-targets

[2020-07-15 23:58] mhsh64 commented on #948
@3quanfeng
Sorry again, it will be very hard and maybe not beneficial to deploy two appGw ( and two AGIC) , one for internal and one for public ingress.
However, if this is the only solution for now, is there any document you can please refer me to deploy two AGIC on a same AKS cluster?
I wish we were able to have one appGw for using both public and private frontend IPs.

Thanks

[2020-07-16 00:09] mhsh64 commented on #672
@akshaysngupta
It seems this is high priority requirement, I found so many issues and requests and feedbacks on Azure to make appGw capable using same ports for public and private frontend ip
Do we have any ETA for it please?

[2020-07-16 00:28] 3quanfeng commented on #948
Hi @mhsh64 , AGIC support for the feature is definitely on our roadmap, but we don't have ETA for it given appgw itself doesn't support it now.
To deploy two AGICs within one AKS cluster but watching on different namespaces, you will need two appgws, and to map one AGIC to one AppGw, you will need to configure in the AGIC helm values.yaml to have the right match. make sure you have

kubernetes:

[2020-07-16 09:26] Baklap4 commented on #725
This sure is true. It uses its own healthcheck mechanics and doesn't respect the settings provided by kubernetes.

[2020-07-16 16:18] mhsh64 commented on #948
@3quanfeng
Thanks
I deployed two appGws with two AGIC, however it will be really hard to manage, since for each new namespace we have to add them in watched list in AGIC cm.
Isn’t there anyway to make this more usable?

[2020-07-16 23:35] SetarehStar commented on #941
I have the same issue even not using private IP. Can some one please let me know if it is possible to have multi site listener using AGIC?

[2020-07-17 00:34] scottzilla commented on #50
It is not uncommon for multiple components of an application stack to be packaged and deployed together including an ingress to expose those components behind the same hostname (i.e. helm chart, for an app and api component).

Packaging and deploying an ingress definition for each component is quite convenient, and supports DevOps principles suggesting a pipeline per component, etc.

[2020-07-17 10:33] tiwood commented on #944
We've reverted to an older Kubernetes + AGIC version to get this working again. I'll need to deploy another cluster with the original configuration and get back to you.

As this was a completely new cluster, I don't think there was an issue with the token, but I'll check anyways.

[2020-07-17 10:56] vishal8k commented on #941
@SetarehStar As I mentioned above Azure support confirmed that the error I saw was due to the failures in APPGW background (Managed by Azure). To answer your query, It is possible to have two listeners on the same port with multi-site (Irrespective of public or private). More funnier thing is the support Agent who handled my case initially told it is not possible, Only after showing my working set

[2020-07-17 15:12] Mahesh-MSFT commented on #615
@akshaysngupta I have tried setting up AGIC using [ExternalDNS with Azure DNS zones](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure.md). It doesn't work!. Below is my manifest.

[code]
ExternalDNS do update the A and TXT records in Azure DNS Zone with public IP of Application Gateway. But if I try to navigate to HOST (sba3.aks-egress-fw.io), I get an error `This s

[2020-07-19 22:51] srikanthnd commented on #672
Is there any update on this?  This is a kind of blocking for us that it doesn't support same ports on Public and Private Frontends.

[2020-07-20 16:35] 3quanfeng commented on #944
Hi @tiwood , correct, v1.2.0 is the latest release version

[2020-07-20 22:24] 3quanfeng commented on #948
Hi @mhsh64 ,
In the next release version(including rc), AGIC will support to delegate two ingress resources in the same namespace to two different controllers.

[2020-07-20 23:08] mhsh64 commented on #948
@3quanfeng Thank you for the update
I think it might be also useful rather than using watchNamespace in AGIC configmap, using annotations for Ingress resources to let them know which Ingress Controller they can use. So it will be much easier and manageable to have multiple AGICs, since it is not possible yet to have same ports for public and private frontend IPs.

[2020-07-20 23:12] 3quanfeng commented on #933
Hi @nreddipalle , sorry for late response, are you still running into the same issue when you do rolling update?
could you help try it with cookie-based-affinity disabled to see if you have the same issue?

[2020-07-20 23:16] 3quanfeng commented on #948
Thanks @mhsh64 , that's exactly the feature we will release soon to make the ingress class configurable.

[2020-07-21 01:02] mhsh64 commented on #948
@3quanfeng Thank you
Looking forward to it ☺️

[2020-07-21 04:20] SrinuM commented on #679
@akshaysngupta is this feature available now, if yes, could you please share the documentation on how to do it.
Thanks in advance..!!

[2020-07-21 17:44] Mahesh-MSFT opened #949 "Integration with Azure DNS Zone"
There is [guidance](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/how-tos/dns.md) available to automate DNS updates. However, from that guidance it is not clear if the domain delegation is a pre-requisite for it to work.

[HTTP Application routing for AKS](https://docs.microsoft.com/en-us/azure/aks/http-application-routing) currently supports configuring Azure DN

[2020-07-22 11:55] edervaldonetoMS opened #952 "Annotation for Backend Hostname NOT WORKING"
**Describe the bug**
We have tried to add the annotation **appgw.ingress.kubernetes.io/backend-hostname: "internal.example.com"** and seems to be not working.

![image](https://user-images.githubusercontent.com/56553626/88173116-f2eba680-cc19-11ea-95c0-705ecbda4946.png)

**To Reproduce**

apiVersion: v1
kind: Pod
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |

[2020-07-22 12:02] edervaldonetoMS opened #953 "New Annotation to pick the host name from Backend"
Could you please add the feature new "annotations"  so the customer can choose to use the hostname from backend.

https://docs.microsoft.com/en-us/azure/application-gateway/configuration-overview#pick

The customer want to use the hostname in the rule of ingress but he also want to use the POD IP as backend health probe.

[2020-07-22 15:08] Morriz opened #954 "mTLS support"
Is mTLS support coming soon? How can we have gateway TLS termination whilst still having mTLS from the gateway controller instance to the backing ingress services?

[2020-07-22 16:05] davejhahn opened #955 "URL preview rule support?"
**Describe the bug**
I created a rule to re write https://xxx.com/abc to https://xxx.com/ using an If condition with uri_path and a Then condition of URL (Preview) and set with the URL path (I found this as an example on a Microsoft tutorial).

It seems to work fine, created through UI, but subsequent deployments of other applications that would add backends seem to fail.    Logs on ingress-azure-

[2020-07-22 17:32] #955 closed

[2020-07-22 17:52] davejhahn commented on #955
For what it's worth to anyone else, I found out how to do this.

  annotations:
    appgw.ingress.kubernetes.io/appgw-ssl-certificate: <my-cert-name>
    appgw.ingress.kubernetes.io/backend-path-prefix: /
    kubernetes.io/ingress.class: azure/application-gateway
  name: <my-ingress-name>
  namespace: default
spec:
  rules:
  - host: <my-host>
    http:
      paths:
      - backend:
          serv

[2020-07-23 16:47] akshaysngupta commented on #952
@edervaldonetoMS This annotation was added in version `1.2.0`. Please upgrade your AGIC installation.

[2020-07-23 16:47] #952 closed

[2020-07-23 21:01] akshaysngupta commented on #953
@edervaldonetoMS can you elaborate more on the use-case ?

[2020-07-23 21:02] akshaysngupta commented on #944
Closing this issue for now.

[2020-07-23 21:02] #944 closed

[2020-07-23 21:16] akshaysngupta commented on #938
@shubhammicrosoft1 are you still facing this issue ?

[2020-07-23 21:36] akshaysngupta commented on #930
@cosmos0703 please open this issue if you still need help.

[2020-07-23 21:36] #930 closed

[2020-07-23 21:40] akshaysngupta commented on #922
@MarcelT-NL Please install AGIC version `1.2.0` which should be able to support wildcards in listeners.
Please reopen this issue if you need any help.

[2020-07-23 21:40] #922 closed

[2020-07-24 04:29] shubhammicrosoft1 commented on #938
Hi @akshaysngupta , one question is that when i upgraded the cluster to a newer version, it seems to be working.
Is there a dependency on version as well ?

[2020-07-24 04:32] akshaysngupta commented on #938
There shouldn't be any dependency issue with 1.16 and AGIC version 1.2.0 at least in terms of authentication.

[2020-07-24 04:43] shubhammicrosoft1 commented on #938
Ok , i am closing the same now. Thankss again

[2020-07-24 04:43] #938 closed

[2020-07-24 11:31] PPreamble commented on #899
If you have an NVA deployed into the environment (such as Azure Firewall) you can utilize port mapping to send private traffic to the single AGW after configuring it to listen on a different port than the public IP uses. AGW config can use the same ports for the backend traffic so no additional http configs or pools are needed.

Still, it would be really nice if this was not a limitation in design

[2020-07-24 11:40] PPreamble commented on #835
This is still a problem, I've been encountering it for moths while developing Azure CLI to deploy environments that include an AGW. While creating script its often very typical to deploy an asset (such as AGW), delete the asset (or Resource Group), and then redeploy to test modifications.

The offending command is: az network application-gateway frontend-ip create

[2020-07-24 16:14] akshaysngupta commented on #940
@marc-mueller Can you please check if the prohibited target is being picked by AGIC by checking the logs ?
Also, can you upgrade the installation to 1.2.0 ?

[2020-07-24 21:14] geoarchitect commented on #899
@akshaysngupta - Is it possible to deploy a second ingress but using the same gateway just on an alternate port?

The idea being we could have the private ip for backhaul traffic go over port 8443 or something similar?

[2020-07-25 03:03] mhsh64 commented on #824
Hello Team
Not sure if this relevant or not with this issue, however, is this possible to change the AGIC deployment replica to something other than 1 ?
I mean are we able to deploy AGIC with for example 3 replicas? Does this work like master election
Thanks

[2020-07-27 06:19] nreddipalle commented on #933
This is good now after following the steps stated here..  https://azure.github.io/application-gateway-kubernetes-ingress/how-tos/minimize-downtime-during-deployments/

[2020-07-27 06:19] #933 closed

[2020-07-27 20:22] JorTurFer opened #957 "Use unique identifiers in agw internal resources"
**Is your feature request related to a problem? Please describe.**
I use agic in shared mode to manage and agw for 2 environments deployed using helm. This environments are similar between them because one of the is dev environment and the other is uat environment. The problem comes from the way of the backendpool's names creation. With 2 or more environments those manage similar the workflows (de

[2020-07-27 20:36] akshaysngupta commented on #827
Added documentation about using AKS and Gateway with various networking options.
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/how-tos/networking.md

Suggestions and improvements are welcome!

[2020-07-27 20:36] #827 closed

[2020-07-28 18:05] davejhahn commented on #922
@akshaysngupta what I get using a wildcard, e.g. *.mydomain.com, with 1.2.0, is  Error: cannot load values.yaml: error converting YAML to JSON: yaml: line 56: did not find expected alphabetic or numeric character.

I've tried enclosing the value in double quotes when passed in to my helm chart, e.g.  ingress.hosts[0]="*.mydomain.com" and also in the ingress template, adding double quotes, e.g. - h

[2020-07-28 18:31] davejhahn commented on #922
Never mind!  I had a default value in my values file, hosts, e.g. - *.mydomain.com,  I added double quotes to that and it works.  Weird since I am replacing that for what I pass in, it must evaluate it before or something.

[2020-07-28 20:38] davejhahn opened #959 "Syncing with AppGateway Configured Through Terraform"
I create App Gateway with Terraform.  Initially, it has default rules, because it requires at least one rule for most of the resource types.  The subsequent rules, backends, etc... that are added to App Gateway come from AGIC as applications are deployed.

What I found, which is expected, when I redeploy my Terraform project, it wipes out all of the AGIC controlled rules.   It also never syncs the

[2020-07-29 11:01] kamilzzz opened #960 "How to configure AGIC behind Front Door using host ingress rules"
Scenario:
Azure Front Door -> Application Gateway -> AKS cluster

Front Door in front of Application Gateway because we will have AKS clusters in multiple regions as a failover.

Kubernetes definitions:
[code]

*.something.com configured as a wildcard frontend hostname for Azure Front Door.

Accessing Application Gateway IP directly with Host header set to value "sample1.something.com" works corre

[2020-07-30 02:54] vishal8k commented on #941
This was an one time issue caused due to failure of application gateway. Hence closing this.

[2020-07-30 02:54] #941 closed

[2020-07-30 05:09] akshaysngupta commented on #959
@davejhahn we added the ability to [reconcile](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/features/agic-reconcile.md) (beta) in the last release. Can you give that shot and provide feedback ?

[2020-07-30 10:39] edervaldonetoMS commented on #953
@akshaysngupta
resolved using version **1.2.0** agic. thanks. You can close it.

[2020-07-30 14:33] davejhahn commented on #959
@akshaysngupta Absolutely!  Will give it a try and let you know.

[2020-07-30 14:56] raboley opened #961 "Include example in setup instructions and fix link to more tutorials"
Hi thank you for the great documentation! One small improvement I could see is at the bottom of the install-new.md file it shows you how to add a sample application to your new app gateway powered cluster, but it doesn't say how to reach it. It would probably be obvious to most that you need to do something like in the browswer go to `http://<app gw ip>/` to reach the example template, but if that

[2020-07-30 15:25] #953 closed

[2020-07-30 19:41] davejhahn commented on #959
@akshaysngupta I was able to test--blew away an application gateway, added back, no rules, then it refreshed everything.  So, that is a great capability.

I would add though, it is great for non-production, when it comes to production, it's still a huge problem but I think that is something that the Terraform resource will need to handle though (and don't blame it on the AGIC at all).

I did creat

[2020-07-31 04:17] vishal8k opened #962 "AGIC generating random listener names since last week."
**Describe the bug**
AGIC used to generate meaningful listener names such as `"fl-<hostname>-<portno>-<public/privateip>"`. This is what everyone wants. but for the past two weeks AGIC has been generating random listener names such as `"fl-5222170d53815f835f3b17c2c8904019"`. This behavior is seen exactly from the date Azure released a new feature for App gateway whose details can be found in the b

[2020-07-31 16:03] JorTurFer commented on #959
Hi @davejhahn ,
This is documented in terraform docs but is not explicit... The problem is that the real state of the agw doesn't match with the desired state in the terraform files so terraform will "fix" the differences.
When you deploy agw with terraform, you have to add some ignores in the terraform files in order to skip the lifecycle manage. You should add this in you _azurerm_application_ga

[2020-07-31 20:00] davejhahn commented on #959
@JorTurFer I will try it out, I think I misunderstood how the ignore_changes works...based on what you are presenting, all blocks listed will be ignored for updates entirely, which is exactly what I want.

[2020-07-31 20:03] JorTurFer commented on #959
@davejhahn
When you add a ignore to any item, all changes over that item will be ignored after creation. I use the ignores that I pasted in my deployments with agic. In the same way for example, if your cluster has autoscale for the nodes, you should add the properly ignore to the node count

[2020-08-02 15:26] JorTurFer commented on #957
Hi all,
After some tries, I found that #958 is not enough because the ssl certificates in agw is created under the name "namespace-secretname". Using the prefix all subresources use it but the certificates still be in conflict because them don't use the prefix.
It would be fine if the certificates in agw uses the the prefix also.
What do you think about this? @3quanfeng @akshaysngupta

[2020-08-03 00:55] 3quanfeng commented on #960
Hi @kamilzzz, if you are using the latest release or rc version(1.2.0), could you please try with appgw.ingress.kubernetes.io/hostname-extension: "*.somthing.com"

[2020-08-03 13:01] o-otte opened #964 "AGIC configuration does not support AGW resourcegroup names containing underscores"
**Describe the bug**
When using resourcegroup names containing an underscore (e.g. `REGION_DEV_AKS_RSG`), the AGIC can not configure the Application Gateway. On verbosity level 3 the error message only states `E0803 08:44:35.183532       1 controller.go:141] Code="InternalServerError" Message="An error occurred." Details=[]`, but on verbosity level 5 it also states:

[code]

Due to the function [C

[2020-08-03 18:39] JorTurFer commented on #964
Hi @o-otte ,
The problem is not the underscore, the problem here is the method to get the cluster name for tags update. At the moment, the aks' nodes resource group must have the default name in order to be tageable.
The problem with the internal error is not relate with the error that you are speaking about. I am looking you log and I can see that the subscription is not properly configured:
_/su

[2020-08-03 18:51] JorTurFer commented on #964
Re @o-otte ,
Could you paste the output of `kubectl get configmap agic-cm-ingress-azure -n sys-azure-ingress -o yaml ` ?

It should be similar to this:

[code]

[2020-08-03 19:01] JorTurFer commented on #964
Re @o-otte
I am looking the log and I found this:
[code]
Maybe the problem happens because any required permission is missing in the managed identity?
What role assignements has the managed identity?

[2020-08-03 20:26] JorTurFer opened #965 "Add support for prometheus-operator"
**Is your feature request related to a problem? Please describe.**
Prometheus-operator is now a very viable way to monitor an aks cluster. It works with CRDs and is necesary to add some custom jobs to scrape the metrics from annotations. Maybe good feature if the chart support the creation of the servicemonitor/podmonitor to scrape the metrics directly with prometheus-operator

**Describe the solu

[2020-08-03 20:37] JorTurFer commented on #962
Hi @akshaysngupta ,
This naming changes between 1.0.1-rc1 and 1.0.1-rc2, in this commit https://github.com/Azure/application-gateway-kubernetes-ingress/commit/2105e9e7ca00c6e40aeb7d83636996865e49a8e5.
I suppose that the reason is that is written in the commit message. If wildcard is allowed in hostname, using the hostname in the listener name lost its importance.
Am I right?

[2020-08-03 20:38] JorTurFer commented on #965
If this feature is useful, I can make a PR with the needed changes

[2020-08-03 21:12] davejhahn opened #966 "Multiple listeners created for same port"
**Describe the bug**
I have a configuration where I have multiple domains that should point back to the same backend.  With the ingress config I am using it creates two listeners and the same port, and although it appears to work, it shows an error in the portal and on subsequent updates of App GW through Terraform, "This Basic HTTP listener cannot use the same frontend port as an existing listene

[2020-08-04 03:16] davejhahn commented on #959
@JorTurFer I was able to get it working wonderfully, thanks for your help, appreciate it.

[2020-08-04 03:16] #959 closed

[2020-08-04 05:09] vishal8k commented on #962
@JorTurFer Well okay then atleast make listener name something more meaningful such as `listerner1,listerner2, etc...`. Meaningful names is definitely a lot better than some random number. I'm sure this is easily doable. I would suggest this format `f1-listener<1>-portno-<public/private>`

[2020-08-04 05:38] akshaysngupta commented on #965
@JorTurFer I was just getting up to speed with `prometheus-operator`. Setting up prometheus, grafana and alert manager automatically will be a really nice addition to AGIC's observability.
We definitely want to add more metrics to AGIC's [prometheus metric store](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/pkg/metricstore/metricstore.go#L57) like currently configure

[2020-08-04 06:48] o-otte commented on #964
Hi @JorTurFer
thank you for your response and help. Yes, I did obfuscate the log, so the Subscription is indeed properly configured, I checked it twice.

I overlooked that particular log message.

The managed identity has the following role assignments:
Role  |  Resource Name  |  Type
------|-----------------|-------
Reader  |  REGION_DEV_AGW_PIP_001 |  Public IP Address
Contributor  | aksdeu1agw0

[2020-08-04 07:36] JorTurFer commented on #965
Hi @akshaysngupta ,
Honestly, my knowledge with Golang is very low (I "learned it" to for contribute in this amazing project).
I feel that I am able add the changes in helm to deploy ServiceMonitor and I think that I can create also a specific dashboard to deploy to prometheus-operator's grafana. In the other side, I feel me low in go to create more metrics for prometheus now.
What do you think ab

[2020-08-04 07:40] JorTurFer commented on #962
Hi @vishal8k ,
Sorry but I started my contributions in this repo 2 or 3 weeks ago, I don't have the context of the previous changes before.
Maybe @akshaysngupta or @3quanfeng  can give you more information about this and have more strong opinion about the listener's naming rules.

[2020-08-04 07:47] akshaysngupta commented on #966
@davejhahn this feature has started lighting up in portal and you should soon stop seeing the error message.

[2020-08-04 07:48] akshaysngupta commented on #965
@JorTurFer that sounds good. We can start with a foundation and later on add more metrics.

[2020-08-04 07:55] JorTurFer commented on #965
Hi @akshaysngupta ,
I will start with this then :). This month is bad with the holidays but I hope make the PR soon.

[2020-08-04 08:10] JorTurFer commented on #964
Hi @o-otte
I am reviewing the role assignments that I usually grant, and I found these:

| Identity | Scope | Role |
|----------|--------|------|
| Managed Identity | AGW | Contributor |
| Managed Identity | AGW resource group | Reader |
| AKS Managed Identity | Managed Identity | Managed Identity Operator |
| Kubelet Managed Identity | AKS Nodes Resource Group | Contributor |
| Kubelet Managed Id

[2020-08-04 10:12] o-otte commented on #964
Hi @JorTurFer

thank you for your suggestions. I've added the role assignments you have suggested and resolved all other missing rights issues that occurred. And now, the only issue remaining is this:
[code]
We also use Azure CNI in our cluster, which is confusing in the context of this error. The only other error/warning that is displayed in logs is the problem I stated in my initial post regardi

[2020-08-04 11:24] JorTurFer commented on #964
Hi @o-otte ,
Is agic working now? Do you have "InternalServerError" during the AppGateway deployment?
Reading the 1st error message I understand that is not relevant if you use Azure CNI as network plugin because when you use that, you will not have any routetables.
The second error refers and error during the aks tags update. That update uses the "old" resource group naming rules for the aks node

[2020-08-04 13:46] o-otte commented on #964
Hi @JorTurFer
no, the problem is not fixed and the "InternalServerError" still happens. The layout is as follows:
- There are three Resource groups:
  1. MC_REGION_DEV_RSG_aksdeu1cl01_westeurope  (A)
  2. REGION_DEV_AKS_RSG (B)
  3. REGION_DEV_VNET_RSG (C)
- In A are the agentpools managed identity and agentpool NSG and a PublicIP resource
- The AKS, AGW, other managed identities and the public IP

[2020-08-04 13:54] JorTurFer commented on #964
Okey,
Let me some time please, I will deploy the same layout like you have and  I will try it

[2020-08-04 13:58] davejhahn commented on #966
@akshaysngupta thanks, I will just hold on and wait.

[2020-08-04 15:40] JorTurFer commented on #964
Hi @o-otte ,
I tried in a fresh environment and all works fine
![image](https://user-images.githubusercontent.com/36899226/89310747-6dceab80-d675-11ea-949f-bfc34c499970.png)

I simulate the same layout that you described without nsg because the problem not comes from there (please, review my layout), for example my AKS-rg is this:

![image](https://user-images.githubusercontent.com/36899226/893111

[2020-08-04 17:48] niteenkole opened #968 "getting 413 Request Entity Too Large"
**Describe the bug**
We hosted artifactory on AKS and using AGIC.

**To Reproduce**
Steps to reproduce the behavior:
when we try to push image we getting.
docker push artifactory.xxxxxxx.ca/docker-local/alpine:latest
The push refers to repository [artifactory.xxxxxxx.ca/docker-local/alpine]
50644c29ef5a: Pushing
50644c29ef5a: Pushing [==================================================>]  5.845MB
e

[2020-08-04 17:52] #966 closed

[2020-08-05 07:52] o-otte commented on #964
Hi, @JorTurFer
As far as a colleague and I can see, we have the same settings with the only difference that our aks-nodes RSG contains more underscores due to our naming convention. I will do a few more tests and give you updates on the subject.

[2020-08-05 08:26] JorTurFer commented on #964
Hi @o-otte
I can show you another layout with different nodes resource group in order to trust in me ;)
May you describe me how you are deploying  agic? Are you using helm? Could you paste here the deployment configuration? (helm values or configmaps)
Please, paste also another log with the last changes applied. I want review the ARM generated template in detail because internal server error witho

[2020-08-05 09:21] o-otte commented on #964
Hi @JorTurFer
Sure! The AGIC v1.2.0 is deployed by yaml manifests generated by helm template. The ConfigMap and other environment specifics are included by a kustomize overlay. All Azure resources are provisioned with terraform. The deployment yaml and the current is appended below. Thank you very much for your time and effort!

The AGIC is deployed with this manifest:
[code]

An here is the recen

[2020-08-05 10:12] JorTurFer commented on #957
I think that this is closed after the merge of the 2 related pull requests.
I close this issue now

[2020-08-05 10:12] #957 closed

[2020-08-05 15:09] JorTurFer commented on #964
Sorry @o-otte ...
I not found anything bad :)
Maybe @akshaysngupta or @3quanfeng can help more in this case?

[2020-08-05 17:31] akshaysngupta commented on #968
@niteenkole Please create support ticket on Application Gateway.

[2020-08-05 17:40] akshaysngupta commented on #960
@kamilzzz what is the value for `Host` header when the request comes to App Gateway ?

[2020-08-05 18:27] JorTurFer commented on #965
Hi @akshaysngupta ,
I started with this and I have some doubts that I want to share.
* I was watching the current metrics that agic exposes and I am not sure if a grafana dashboard is valuable before add more metrics.
![image](https://user-images.githubusercontent.com/36899226/89449687-b8c1ef00-d759-11ea-8fab-a4069cacd74c.png)

* I want to add some alerts, but I feel that the current metrics don't

[2020-08-06 08:06] Annegies commented on #935
This feature is also essential for our setup. Any idea or timeline for this feature?

[2020-08-06 09:07] rlevchenko opened #970 "Upgrade from 1.2.0-rc3"
1.2.0 is a new stable version which, according to the release notes, includes all new features/fixes introduced by the release candidates. In our environment we're using the 1.2.0-rc3 version. Is it worth doing an upgrade to 1.2.0 given the fact there haven't any major updates released since the 1.2.0-rc3 (correct me If I'm wrong)?

Plus, I've noticed that the upgrade page hasn't been updated sinc

[2020-08-06 16:26] patpicos commented on #892
tbh, no further effort should be spent on PSP since Microsoft will be deprecating the PSP preview in October 2020.

[2020-08-06 16:33] patpicos opened #971 "/etc/kubernetes/azure.json usage & security implications"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

I was reviewing the helm chart and noticed that the hostPath `/etc/kubernetes/azure.json` was mounted into the AGIC. This file contains sensitive data such as the cluster identity and secret. See https

[2020-08-06 16:34] patpicos commented on #971
Mounting the above hostPath has implications when using PodSecurityPolicies. A policy specific to AGIC needs to be developed to allow the access to the host file

[2020-08-06 16:50] r3mattia commented on #892
@patpicos Thanks for the note!

[2020-08-07 07:58] mcarlsen commented on #914
FYI, this happened to us when we had the `aspnetapp` example app deployed. Its Ingress specifies no host name and we think this will cause conflict with any ssl redirection of host-based Ingresses.

We were surprised to see that the ingress controller opened up non-encrypted traffic for the host-based Ingresses.
Also, if this is caused by a configuration conflict as we think it was, it would be he

[2020-08-07 09:19] bhartm3 opened #973 "Multiple ingress routes create multiple listeners on AGW port 80?"
**Describe the bug**
When we deploy two separate sample apps with a host based ingress rule, the ingress controller creates two listeners on the application gateway both on port 80. Is this the expected behavior?

**To Reproduce**
[code]

[code]

**Ingress Controller details**
[code]
The created listeners:
![image](https://user-images.githubusercontent.com/14157527/89630478-bbc6f780-d89f-11ea-9639

[2020-08-07 17:34] akshaysngupta commented on #973
@bhartm3 yes, this is expected. The error you are seeing on portal is due to the new feature introduced in HTTP Listener. This feature is being lighted up in portal and you should stop seeing this error soon.

[2020-08-07 17:34] #973 closed

[2020-08-07 17:34] akshaysngupta commented on #968
Closing this issue on AGIC.

[2020-08-07 17:34] #968 closed

[2020-08-07 18:06] akshaysngupta commented on #962
@vishal8k Thanks for the feedback. I think it will definitely make more sense to show readable names.

Please feel free to contribute to the repo if you want this earlier. We will try to take this up in some future sprint.

[2020-08-07 18:08] akshaysngupta commented on #892
@patpicos thanks!
Adding the document from AKS about deprecation.
https://docs.microsoft.com/en-us/azure/aks/use-pod-security-policies

[2020-08-11 11:55] o-otte commented on #964
Hi @JorTurFer,
after al lot of debugging the problem was solved. A broken inital Application Gateway deployment was the problem. Due to this, the config that was sent by the AGIC could not be processed which lead to the Internal Server Error.
Thank you again for your time and help.

[2020-08-11 11:55] #964 closed

[2020-08-11 20:18] davejhahn commented on #973
@akshaysngupta question about this.  I've seen the comment that it is being lighted up, but what does that mean exactly?  It's being rolled out?  I know that re-creating the app gateway doesn't enable it, so not sure if it is just slowly being released?  Any idea when this is expected to be fully rolled out?  I have ignores in place in my Terraform updates to handle it at this point.  Thanks!

[2020-08-11 20:49] derkoe commented on #928
We want to use one application gateway for multiple teams/AKS clusters. One team does not know which URLs the other teams use. For this use case and generally for an easier configuration it would be great to have `AzureIngressAllowedTarget`s with wildcards that can be defined per cluster.

[2020-08-12 00:02] ryandanieldonovan commented on #420
Did you find a solution for this?

[2020-08-12 02:25] 3quanfeng commented on #420
Hi @ryandanieldonovan , you can use annotation [backend-path-prefix](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#backend-path-prefix) to override the path

[2020-08-12 12:48] Brandon-FS opened #976 "Breaking Changes when used with Azure Active Directory (Azure AD) pod identity >=v1.6.0"
When using version 1.6 or higher of the Azure AD POD Identity breaking changes were introduced whereby the following case sensitive fields were changed

![image](https://user-images.githubusercontent.com/69585924/90015553-ac311f80-dca0-11ea-8c49-2ca65a34da2f.png)

https://github.com/Azure/aad-pod-identity/blob/master/README.md#v160-breaking-change

This causes the resourceID and other values to no

[2020-08-12 14:51] karlettoh commented on #909
This is a blocker for us in adopting AppGW in our clusters. If anyone has a comparable workaround they use for this that would be great.

[2020-08-13 23:20] mohanrao opened #978 "Not able to setup agic with service principal"
I am trying to install the agic with service principal . I am getting the following errors in the agic log

`2020-08-13T23:10:49.762686468Z ERROR: logging before flag.Parse: I0813 23:10:49.762518       1 utils.go:115] Using verbosity level 3 from environment variable APPGW_VERBOSITY_LEVEL
2020-08-13T23:10:49.791614629Z E0813 23:10:49.789874       1 context.go:198] Error fetching AGIC Pod (This may

[2020-08-13 23:49] mohanrao commented on #978
@akshaysngupta can you point a right direction on how to create the json for existing service principal .

I couldn't find a mechanism how to create the rbac json file for existing service principal

[2020-08-14 00:16] 3quanfeng commented on #976
Hi @Brandon-FS , we have addressed the issue in [1.2.0-rc2](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/CHANGELOG/CHANGELOG-1.2.md#v120-rc2)
You will need to upgrade your AGIC to release 1.2.0 to use AAD Pod Identity >= 1.6.0

[2020-08-14 00:16] #976 closed

[2020-08-14 05:54] mohanrao commented on #978
Found out the json content need should be below like below

`{
    "clientId": "{{ clientid/spid }}",
    "clientSecret": "{{ sp_secret _password }}",
    "subscriptionId": "{{ subscription_id }}",
    "tenantId": "{{ tenant_id }}",
    "activeDirectoryEndpointUrl": "https://login.microsoftonline.com",
    "resourceManagerEndpointUrl": "https://management.azure.com/",
    "activeDirectoryGraphReso

[2020-08-14 16:58] sudheeranguluri opened #979 "Issues with setting up ingress across DEV and SYST clusters. AGIC 1.2, AKS 1.16.10 and Gateway Standard v2"
**A clear and concise description of what the bug is.**
We have two clusters (DEV and SYST)  and one AG. Installed AGIC Pod in each cluster and setup prohibited targets to not to disturb the setup in other cluster. Example of Ingress prohibited targets

**DEV**
apiVersion: appgw.ingress.k8s.io/v1
kind: AzureIngressProhibitedTarget
metadata:
  namespace: default
  name: prohibit-syst-target
spec:

[2020-08-15 03:16] IvanJosipovic commented on #860
This feature is needed and is preventing my company from moving to the AG Ingress Controller.
It would also be useful to have this feature working without having to run oauth2-proxy in the cluster.

[2020-08-17 08:54] kamilzzz commented on #960
The `Host` header value was the IP address of Application Gateway.

It worked like that because when configuring Azure Front Door backend by default it sets `Backend host header` field to the IP address associated with App Gateway.
When I left `Backend host header` field empty in the Front Door backend configuration then it works as expected (Front Door passess original `Host` header value to the

[2020-08-17 14:17] #960 closed

[2020-08-17 21:02] 3quanfeng commented on #979
Hi @sudheeranguluri , when you run
"kubectl get AzureIngressProhibitedTargets -n your_nm"
How many prohibited policies are u able to get? If you find one named "prohibit-all-targets", make sure delete it and try one more time.

[2020-08-17 21:18] sudheeranguluri commented on #979
Hello @3quanfeng,

Thanks for response. I was able to find the issue and fixed it this morning. It has to do with how I specified prohibited routes and hostnames in deployment templates. It is fixed now.

Not sure if I can ask different question here or should I create a new issue.

I know AGIC is using hostnames property in order to specify hostnames for gateway, When can we see that property in

[2020-08-18 03:40] akshaysngupta commented on #914
@mcarlsen can you please share your redacted ingress.yamls?

[2020-08-18 06:25] rlevchenko commented on #914
@mcarlsen thanks for sharing your exp, however, I don't use any HTTP applications at all. My apps are HTTPS and host-based with url path routing (some of them just use root path without additional paths though).  I will have a chance to test SSL redirection on a brand-new environment soon (will keep this thread updated)

[2020-08-18 13:38] ikewabo commented on #875
THANK YOU @adamcarter81 and @thomas-riccardi .  I'm facing the same dilemma. Many late nights with the same deafening result!  Can both ISTIO and MS Azure announce that this is impossible and lets move on? That will save us all the wasted energy.

[2020-08-18 17:42] rlevchenko commented on #970
Anyone?

[2020-08-18 21:38] 3quanfeng commented on #970
Hi @rlevchenko , I would recommend to upgrade to 1.2.0 even if it's equivalent to rc3.
[code]
AKS recommends to use AAD Pod Identity with version >= 1.6.0, to support the recommended version, you will need to upgrade your AGIC to at least 1.2.0-rc2 or the release 1.2.0.

We have doc updated in a PR, should available soon.

[2020-08-19 07:10] rlevchenko commented on #970
@3quanfeng thanks. In short, 1.2.0 rc3 and 1.2.0 are indistinguishable.  In that case, I don't see any reasons to upgrade)

`We have doc updated in a PR, should be available soon.`

Thanks!

[2020-08-19 07:10] #970 closed

[2020-08-19 07:41] janegilring opened #982 "Application Gateway objects for one AKS cluster unexpectedly deleted in shared gateway"
**Describe the bug**
An Azure Application Gateway is used as ingress controller for the following two Azure Kubernetes clusters:
•	/subscriptions/32927346-9e0b-4d03-ab1a-7b6636e377dd/resourcegroups/elements-01-rg/providers/Microsoft.ContainerService/managedClusters/elements-01-k8s
•	/subscriptions/32927346-9e0b-4d03-ab1a-7b6636e377dd/resourcegroups/elements-01-test-rg/providers/Microsoft.Container

[2020-08-19 07:55] deeksha-microsoft commented on #916
Hi @vakkur , egress from appgw is not possible as AppGw is a load balancer for the backend (a reverse proxy).
You could try and attach a public IP to your VMSS VMs individually, so that any traffic going out of a VM will have a fix PublicIP address. Below doc can guide you-
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-networking#public-ipv4-per-virtu

[2020-08-19 13:12] vakkur commented on #916
@deeksha-microsoft  Thank you, I am using NAT Gateway service to have a fixed publicip.

[2020-08-19 19:17] 3quanfeng commented on #982
Thanks @janegilring for such details.
Please let us know if you can reproduce the issue once you use 1.2.0 for both AGICs.
Regarding "the listener type in AG for prod01 is Multi site, while for test01 it is Basic", could you please also let us know the update once you upgrade AGIC on prod01 to 1.2.0?

[2020-08-19 19:19] janegilring commented on #982
@3quanfeng Yes - I will get back with an update as soon as AGIC on prod01 is on 1.2.0

[2020-08-19 23:01] 3quanfeng commented on #982
Thanks @janegilring, one more thing I noticed from the log:
I0817 08:22:06.374684       1 mutate_app_gateway.go:83] [brownfield] Prohibited targets: {"Hostname":"prod01.contoso.com"}, {"Hostname":"prod01.contoso.com"}

It indicates you might have two prohibited polices configured with same hostname

[2020-08-19 23:19] 3quanfeng commented on #979
Hi @sudheeranguluri , we are working on the portal support, please refer to the updates from the page https://docs.microsoft.com/en-us/azure/application-gateway/multiple-site-overview

[2020-08-19 23:19] #979 closed

[2020-08-20 05:59] janegilring commented on #982
Good catch. We have configured one policy in the defaultnamespace as well as one in the namespace the published services exists in:

[code]

Both policies specifies the same target hostname (test01.contoso.com), but I suppose it might have been sufficient to define just one policy?
I believe we did it this way to be sure since AGIC exists in the default namespace and the published service in anoth

[2020-08-20 19:42] 3quanfeng commented on #982
Hi @janegilring , if you define AGIC to monitor all the namespaces, then one prohibited policy should be good enough.

[2020-08-20 19:49] janegilring commented on #982
I see, thanks! We'll configure only one policy then. AGIC for both test01 and prod01 is now re-deployed, since we at the same time wanted to update the TLS certificates from being Kubernetes secrets into being references to a certificate stored in a Key Vault. So far so good, ingress from both AKS clusters is published and working.

However, I have one concern: When looking into the properties for

[2020-08-20 20:14] 3quanfeng commented on #982
Hi @janegilring , are you able to find some error log like "Failed creating listener..." from AGIC pod log? if not, then it might be some portal issue.

[2020-08-20 20:39] janegilring commented on #982
No, not as far as I can see.

Latest run for test01:
[code]

Latest run for prod01:
[code]

Btw, is it possible to manually trigger an AGIC evaluation cycle rather than having to wait for a change?

[2020-08-20 21:16] 3quanfeng commented on #982
AGIC is event driven, maybe you could try scale up or down your service deployment if the scale doesn't impact your service.
[code]

[2020-08-25 02:26] nreddipalle opened #984 "AGIC keeps saying backend pool is unhealthy even if pods are up and running"
**Describe the bug**
 AKS went down and after performing some node replace operations, the nodes\\\\pods came up fine by AGS is still reporting backend pool errors and not forwarding any requests to backend. Appgateway and AKS are within same vNET.

**To Reproduce**
AGIC backend health reporting errors
![image](https://user-images.githubusercontent.com/28302399/91115478-49ecfd00-e658-11ea-8738-8a0

[2020-08-25 04:32] 3quanfeng commented on #984
Hi @nreddipalle , would you be able to share with us a sanitized version of your Ingress(yaml content)?

[2020-08-25 04:33] nreddipalle commented on #984
@3quanfeng how can I retrieve it?

[2020-08-25 04:36] 3quanfeng commented on #984
kubectl get ingress -n your_namespace -o yaml
Is the issue consistent?

[2020-08-25 04:38] nreddipalle commented on #984
Yes. Currently it still exists and no communication is going on between AG and AKS.. backend health keeps showing as unhealthy even when I am able to browse fine from one of the pod internally.
`bash-5.0$ curl newsite.senseilabs.com/manifest.json
<html>
<head><title>522 Origin Connection Time-out</title></head>
<body bgcolor="white">
<center><h1>522 Origin Connection Time-out</h1></center>
<hr><ce

[2020-08-25 04:43] nreddipalle commented on #984
here is the ingress yaml:
[code]

[2020-08-25 04:44] nreddipalle commented on #984
FYI.. this was working perfectly fine for the past couple of months... today due to a node issue AKS went down and once it came back up fine, AG still showing backend as unhealthy and not serving traffic..

[2020-08-25 04:45] 3quanfeng commented on #984
Thanks, could you please help share the sanitized version if your ingress?
you can find all the ingress you defined within your namespace by running:
kubectl get ingress -n your_namespace

one more thing is since you replaced your AKS nodes, do you have any node affinity or node selector defined in your pod yaml or deployment yaml? are all of your service pods running fine(check by kubectl get pod

[2020-08-25 04:49] nreddipalle commented on #984
Our node selector is mainly for OS which is windows and spot instances. Yes all the service pods are running fine.. we have a failover to switch to ngnix and some sites that switched to ngnix are loading fine.. but some sites we left on AGIC for further troubleshooting and still not up yet..

[2020-08-25 05:11] 3quanfeng commented on #984
Hi @nreddipalle , since new nodes added, could you try to update the annotation into "false"?
 appgw.ingress.kubernetes.io/cookie-based-affinity: "true"
You can enable the affinity cookie later once the probe works

[2020-08-25 05:35] nreddipalle commented on #984
No difference. still same errors.

[2020-08-25 13:58] rlevchenko opened #986 "Azure portal shows wrong backend targets in a rule"
**Describe the bug**

HTTP 80 sample application - backend target is being set to the right backend pool (sample app)
HTTPS, custom port and application with url path-routing - backend target/https settings in a rule are being set to defaultaddresspool **BUT!** **everything works fine!** (backends are healthy, I can open a website without any issues; logs are fine as well) BUG? (portal or..?) It's

[2020-08-25 23:10] nreddipalle commented on #984
any update on this??

[2020-08-26 02:30] akshaysngupta commented on #984
@nreddipalle looks like something broken in network connectivity b/w AppGW and Pod.
As a test, can you see if you are able to reach your Pods from the outside cluster, maybe using a VM ?

[2020-08-26 03:09] nreddipalle commented on #984
Thanks @akshaysngupta. YES. It looks like some network connectivity issue between App GW and Pod. We are able to fallback to use ngnix controller meanwhile... We tried tel-netting from a VM which is in same subnet and unable to telnet to pod port... so something weird going on between node-pod connectivity.. by doing a network trace, AG is sending requests to node but node is not responding back..

[2020-08-27 19:28] kamilzzz opened #987 "Kubernetes livenessProbe not applied to AppGw configuration"
**Describe the bug**
I had a kubernetes deployment without a livenessProbe defined so Application Gateway configured a health probe with default values (path /, interval/timeout 30s, unhealthy threshold 3).

I've read document about minimizing downtime so now I have a livenessProbe specified and I've deployed a new version of my resources. Application Gateway config was updated but the health prob

[2020-08-28 15:08] jimusbobus opened #988 "App Gateway sslcert not deleted during terraform destroy (also max 100 sslcerts)"
**Describe the bug**
We use Helm and Terraform to deploy services into AKS, it seems when we 'terraform destroy' a deployed service the sslcert data that was applied to the App Gateway is not deleted.

**To Reproduce**
Deployed service with an ingress controller, here is the ingress.yaml that is used as part of the deployment

`kubectl get ingress -n auto-terratestjdr1 -o yaml`

`apiVersion: v1
it

[2020-08-31 14:10] MarcelT-NL commented on #962
+1
I have 30 or so listeners x2 (http redirect and https) and very hard to find the correct one

[2020-08-31 14:22] nreddipalle commented on #984
This is confirmed to be network subnet-subnet communication issue. Before closing of this issue, I am noticing few errors which I would like to understand whether to ignore or not.
Seeing the below warning in ingress pod logs
**1 redirects.go:44] Created redirection configuration sslr-fl-deca3d57d408a18bc8a79cd269957987 for ([newsite.senseilabs.com    ],443); not yet linked to a routing rule**

Ap

[2020-08-31 17:19] akshaysngupta commented on #984
@nreddipalle
1. The log line is just for information purpose. I think we can improve the logging in that area.
1. The second one is known issue with portal. We have a new feature rolling out for `HTTP Listeners` property in AppGW which we have started using in AGIC. Portal changes are going to arrive soon.

[2020-08-31 17:21] nreddipalle commented on #984
Thanks @akshaysngupta .

[2020-08-31 17:21] #984 closed

[2020-08-31 17:31] kamilzzz commented on #987
@3quanfeng
I'm able to get it working by adding
[code]
to the deployment yaml file.

I think this is not required for the kubernetes to wire up service correctly, but seems like an Application Gateway needs it for its own configuration purposes.

[2020-08-31 17:50] akshaysngupta commented on #987
@kamilzzz You are right. AGIC uses `containerPort` while filtering the correct container from the Pod.
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/pkg/appgw/health_probes.go#L208

I think we can make this better by making container port lookup optional. If a container is not found with matching port, then AGIC should fall back to the readinessProbe/livenessProbe spe

[2020-09-01 16:13] 3quanfeng commented on #987
Hi @kamilzzz , you might also want to take a look at some of the notes about probing  https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/features/probes.md.

[2020-09-02 08:24] sbkg0002 commented on #948
This would be great!

[2020-09-03 12:47] GenesisCoast commented on #978
It's also worth noting that the secretJSON needs to be encoded using UTF-8. Which can be done in Windows Powershell like this:
[code]

[2020-09-03 22:54] kamilzzz commented on #159
@akshaysngupta Any ideas when this might be merged?
Would be useful to have this so we can expose HTTP/HTTPS workloads using both Public and private IPs (right now when I have HTTPS configured for Public IP then I cannot expose any HTTPS service over Private IP).

[2020-09-04 09:31] tbuffryslb opened #992 "https://azure.github.io/application-gateway-kubernetes-ingress/how-tos/continuous-deployment/"
**Describe the bug**
Documentation is not working

**To Reproduce**
running the template https://azure.github.io/application-gateway-kubernetes-ingress/how-tos/continuous-deployment-pipeline.json is failing to execute all commands

**Ingress Controller details**
can't even create the cluster

[2020-09-04 14:49] kylelee24 opened #993 "Application Gateway configuration rewritten once AGIC is deployed on the AKS cluster"
**Describe the bug**
Application Gateway configuration rewritten once AGIC is deployed on the AKS cluster. This includes backend pools, HTTP settings, listeners, rules, etc. With the re-written configuration, the HTTP routing works as expected but the HTTPS settings (using my KeyVault certificate) do not. Prior to AGIC deployment, I can reach both HTTP/HTTPS endpoints and see my certificate with t

[2020-09-04 17:44] akshaysngupta commented on #992
@tbuffryslb can you please share the some logs or errors you are seeing ?

[2020-09-04 17:47] akshaysngupta commented on #993
@kylelee24 it is expected that AGIC will overwrite the rules/listeners that are setup manually based on configuration of the AKS cluster. But AGIC doesn't overwrite SSL certificates added to the App Gateway and you can use the pre-uploaded certificates using `appgw-ssl-certificate` annotation. Here is the [document ](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/

[2020-09-04 20:29] kylelee24 commented on #993
@akshaysngupta, I feel a bit silly now. I was led to believe that you need to preconfigure most of the components in the AG and then AGIC would configure just the routing rules.

[2020-09-04 20:29] #993 closed

[2020-09-08 08:37] mortenlerudjordet opened #994 "Multiple services deployed only 1 rule created"
**Describe the bug**
Don't know if this expected behaviour in preview.

Though deploying two services to AKS only one rule is created on AGIC and associated to the backend.
Using host to separate between them.
Deleting the ingress config for the one with the working config (gateway) will transfer the rule to the other service (frontend)

AKS version: 1.17.9
AGIC version: 1.2.0-rc3
az aks-preview e

[2020-09-08 09:21] tbuffryslb commented on #992
getting this, the kubernet tasks is excuted as azure cli | v1

only the command to create the group is executed

2020-09-03T14:36:20.7181682Z ##[section]Starting: Create Kubernetes Cluster
2020-09-03T14:36:20.7362705Z ==============================================================================
2020-09-03T14:36:20.7363224Z Task         : Azure CLI
2020-09-03T14:36:20.7363800Z Description  : Run A

[2020-09-08 09:37] mortenlerudjordet commented on #994
There is only one entry in the ingress controler pod logs (not counting the arm template).
[code]

[2020-09-08 15:58] Bougyz commented on #462
any progress on that feature, i see it was in the committed planning 2 month ago. I wish it this at least in preview. Appreciate your kind update as my customer is looking for that feature

[2020-09-08 20:37] abhioncbr commented on #875
Hi, I am facing the same issue with the istio-ingress gateway. App gw ingress controller trying for HTTPS readiness probe and failing with `Code="ApplicationGatewayProbeProtocolMustMatchBackendHttpSettinsProtocol"`. SInce istio ingress gateway readiness probe is based on HTTP, and hence getting the error mentioned above. Any plan or update for the issue fixture?

Also, I tried to run a side-car co

[2020-09-09 00:12] tkinz27 opened #995 "Support readinessGates"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Readiness Gates allow the ingress controller to provide feedback to the kubernetes scheduler about when the load balancer is ready to remove the pod or add the pod. By providing this feedback, you can get nearly zero downtime rolling deplo

[2020-09-09 12:52] AKSNewbie opened #996 "Ingress.yaml Helm chart no longer creates MultiSite HTTPS listener"
Hi All,
I have noticed that since deploying either AGIC 1.2.0 rc2 or rc3 my previously functioning ingress chart no longer creates a multisite listener, yet if i use rc1 it does.

Here is my ingress.yaml (which has always worked)

![image](https://user-images.githubusercontent.com/70979792/92603569-5c497680-f2a7-11ea-9053-8cacbd98d745.png)

The working environment i have is the following:

K8s - 1

[2020-09-09 15:34] rohit-eaisystems commented on #672
Hi any developments on it yet? we are also facing same issue like support same ports on Public and Private Frontends.

[2020-09-09 21:56] ozgurozturknet opened #997 "Code="ErrorApplicationGatewayForbidden" Message="Unexpected status code '403' while performing a GET on Application Gateway"
**Describe the bug**
When a new aks cluster and appgw have been deployed and agic add-on has been enabled, it  is not working as expected. I have created a couple of clusters (all in westeurope region) by following the article https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ingress-controller-add-on-existing, but I got this error in the logs (ingress controller pods').

 `E0909

[2020-09-09 23:48] galvesribeiro commented on #437
Hello folks! Is there any update on this? We're struggling with issues that we aren't able to solve because App Gateway as a product supports it, but not AGIC.

Could you please update the customers regarding it?

Thank you!
Gutemberg

[2020-09-10 09:50] sbkg0002 commented on #159
Any updates on this?

[2020-09-11 06:54] ma185360 commented on #772
Team,

Please share a time line for this feature.

[2020-09-11 15:37] mortenlerudjordet commented on #997
If you let az aks create the app gw it will work as it then gets deployed to the node resource group where aks has a service principal on the RG. If the GW is in another RG you will need to manually add the SP of AKS to the RG so it can manage the GW.
Also you can not set a custom name for the node RG using az aks create as this will also break the integration.

Hope this gets sorted also.

[2020-09-13 13:12] amjadaljunaidi opened #998 "Change the application Gateway frontend port to custom value"
**Is your feature request related to a problem? Please describe.**
we need to change frontend port (listners) to custom one like 8080 or 8443

**Describe the solution you'd like**
when using AGIC, the frontend ports created on 80 or 443, is there away to use custom port like 8080 or 8443

[2020-09-14 15:09] o-otte opened #999 "Error: LinkedAuthorizationFailed on configurating AppGW with SSL Certificates"
**Describe the bug**
We received the following error on changing our AppGW to use SSL Certificates directly as KeyVault Secrets
[code]

**To Reproduce**
All resources are created with terraform. We are using an AppGW v2 with a AKS cluster running K8s 1.16.10, AGIC Version 1.2.0. We are using managed identities and AAD-PodIdentity for Authentication.

I've added the userassigned identity with an id

[2020-09-14 17:42] akshaysngupta commented on #999
@o-otte This is happening because AGIC's identity is missing "Managed Identity Operator" permission over the user assigned identity of Application Gateway. You can assign this access using the following command:

[code]

This is also documented [here](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/features/appgw-ssl-certificate.md#configure-certificate-from-key-va

[2020-09-14 17:42] #999 closed

[2020-09-14 17:43] akshaysngupta commented on #998
@amjadaljunaidi Here is the PR adding this feature: https://github.com/Azure/application-gateway-kubernetes-ingress/pull/974
We will merge this soon and create a beta release for you to try.

[2020-09-14 17:43] #998 closed

[2020-09-14 17:46] akshaysngupta commented on #997
@ozgurozturknet @mortenlerudjordet thanks for reporting. We will investigate this shortly.

Just a note, AGIC addon is in public preview.

[2020-09-14 18:22] akshaysngupta commented on #994
@mortenlerudjordet thanks for reporting.
Can you please provide:
1. AGIC logs with verbosity level 5 for the above event.
1. Output for `kubectl describe` the above ingresses ?

[2020-09-14 18:28] mortenlerudjordet commented on #994
@akshaysngupta : Is there a way to change verbosity level without using helm? We are doing all aks with az-cli and kubectl deployment yamls.

[2020-09-15 08:14] mortenlerudjordet commented on #994
As we install the plugin using az as show below, it seems to me using helm to install the ingress controller on top of this will  conflict with the one az installed in kube-system namespace. So I can't see how to set the verbosity level without doing everything through helm and not use the aks-preview extension.
Please correct me if I have this wrong.

Note: this is not a permanent aks cluster, as

[2020-09-15 09:35] kwaazaar opened #1000 "Replicacount > 1"
Replicas is set to 1 for the AGIC deployment. This is dangerous in case of node outage or other catastrophies.

Please set it to at least 2 and make it configurable in the helm chart values file.

[2020-09-15 10:11] mortenlerudjordet commented on #994
Logs from the ingress as below:
![image](https://user-images.githubusercontent.com/10818066/93197870-8211c800-f74c-11ea-917d-a732f950eae0.png)

This is the ingress log with the default verbosity of aks-preview extension deploying the 2 services one after another:
[code]

[2020-09-15 10:26] rpushpkar commented on #998
We also looking for the solution in which we can assign different IP to the port , one listener to the private and other to public but because of Application Gatewyt limitation we are not able to achieve this. As a workaround i have tried by assigning IP's to different port it worked but when i again update y ingress it clean off the previous configuration then it again remain the manual work.

[2020-09-16 08:03] sweetib commented on #997
I have encountered the same problem while testing this addon.

[2020-09-16 08:04] thisispaulsmith opened #1001 "sss-redirect with wildcard certificate fails"
Using ssl-redirect with a wildcard certificate doesn't appear to be possible.

Example ingress:

[code]

Results in the error:

[code]

Should this possible with current versions?

I notice that Listeners have no hostname/hostnames configured even when a host is defined in the ingress. Is this as expected?

[2020-09-16 08:46] thisispaulsmith commented on #996
Did you make any progress on this?
I'm having a potential issue with wildcard certs and noticed the lack of hostname/hostnames.

I think you're going to have to update k8 as you're out/almost out of support.

[2020-09-16 17:05] akshaysngupta commented on #1001
@thisispaulsmith Wildcard hostnames was introduced recently in Application Gateway. Currently, it has a limitation that a wildcard listener can't be used as a target listener to a redirect configuration. This will be addressed sometime in the future. Until that is supported, using SSL redirect with `*.domainname.com` might not work.

You should still be able to use the wildcard certificate. But fo

[2020-09-16 17:06] #1001 closed

[2020-09-16 17:09] akshaysngupta commented on #1000
@kwaazaar this will be addressed after we add leader election to AGIC.

[2020-09-16 18:53] pradeepbohra opened #1002 "More than 100 Listener rules"
Hi,
App gw has limits as described here

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#application-gateway-limits

When I deploy a ingress e.g. -

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ingress-wildcard-host
  annotations:
       kubernetes.io/ingress.class: azure/application-gateway
       appgw.ingress.kubernete

[2020-09-17 14:16] porrascarlos802018 opened #1003 "Enable the annotations to modify App gateway "rewrite" section from AGIC."
We have a need to use the section called "rewrite' inside an application gateway , but every single update done by AGIC in yaml , will overwrite the values listed in the application gateway.

Which annotations or methods can be used to update from AGIC the section rewrite of the application gateway?

We have an alternative which is NGINX https://docs.microsoft.com/en-us/azure/application-gateway/t

[2020-09-17 17:56] Boychenko opened #1004 "Ingress pod aren't starting"
**Describe the bug**
Ingress pod failed to start

AKS Kubernetes Version: 1.17.7
Helm Chart version: 1.2.0
Docker image: mcr.microsoft.com/azure-application-gateway/kubernetes-ingress:1.2.0

**To Reproduce**
Followed https://azure.github.io/application-gateway-kubernetes-ingress/setup/install-existing/

`az aks show -g kubernetes-staging -n staging -o tsv --query "servicePrincipalProfile.clientId"

[2020-09-18 12:07] niteenkole opened #1005 "Question 1.18.8 Supported ?"
Question

we planning to upgrade AKS from 1.17.9 to 1.18.8

we have ingress-azure-1.2.0  running on our 1.17 cluster.Is this supported/tested on 1.18? anything we need to do before we upgrade?

**To Reproduce**
Steps to reproduce the behavior:

**Ingress Controller details**
* Output of `kubectl describe pod <ingress controller`> . The <ingress controller> pod name can be obtained by running `helm

[2020-09-18 17:02] ryandanieldonovan commented on #1003
I believe I'm interested in something similar.  I have a constructed rewrite set, which I apply to each of the routing rules into the ingress.  I'm noticing that if a pod comes alive on a different node (IP address changes?), the applied Rewrite rules will be undone.  (won't apply to the routing rules associated to the listerener/backend target).   I assume we need an annotation which dictates any

[2020-09-18 18:08] christianskovholm opened #1007 "Application Gateway Ingress Controller only works with root path /"
**Describe the bug**

I have deployed the standard aspnet app from Microsoft, from the following YAML:

[code]
Everything works fine when I call the public IP associated with my AGW resourced. However, I want to configure the path of the ingress, so that it is /test. Like so:
[code]

When I attempt to call the endpoint from outside the cluster, this results in 502 Bad Gateway.

**To Reproduce**
St

[2020-09-20 19:27] pwelp commented on #535
Was the root cause ever determined?

I have a setup where the AKS cluster is using the 11.1.0.0/22 subnet, application gateway is using the 11.1.4.0/22.

However for all my windows pods, I see that "Time taken by the backend to respond to application gateway's health probe is more than the time-out threshold in the probe configuration. Either increase the time-out threshold in the probe configurat

[2020-09-21 14:55] andresm53 commented on #535
Hi @pwelp

Back on July I ended up opening a support case on what I reported above. Back then, the support engineer concluded that "The Engineering team was engaged and confirmed that this was a known issue. Appears that they identified this as a regression issue which was fixed per https://github.com/Azure/aks-engine/pull/2725  - but the fix  didn’t make  it in time for some recent AKS release br

[2020-09-21 16:50] 3quanfeng commented on #1007
Hey @christianskovholm , could you please share the healthy probe you configured for your backend deployments?

[2020-09-22 07:54] eugen-ananin commented on #962
+1
Just as Marcel wrote, my situation is similar. It is really difficult to debug issues with cryptic names.

[2020-09-22 08:15] vishal8k commented on #1007
@christianskovholm @3quanfeng  This seems to be a error in configuration. I'm just highlighting what "Chris" has mentioned here. In the ingress yaml you have added the annotation `appgw.ingress.kubernetes.io/backend-path-prefix: "/"` and then you have mentioned the path as `/test`.  If you want the ingress URL to be `http://IP-Address/test` then you have to remove the annotation mentioned here . t

[2020-09-22 21:35] DevOpsGeek1 commented on #1007
Even I am facing same issue works with path / and not working with /any-other-path. it seems to be backend node is not changing even after giving /any-other-path its still residing in /

[2020-09-22 22:01] AndresFPineros opened #1011 "Use Kubernetes Fake Certificate if TLS secret doesn't exist"
**Problem**
Whenever Let's Encrypt doesn't generate a certificate for any reason, AGIC will try to configure the AGW anyways. Unfortunately the result is that the endpoint returns a Connection Timeout instead of a certificate issue. This makes it really hard to actually figure out that the issue is that the certificate wasn't generated.

**Solution**
Whenever the AGIC doesn't find the desired secr

[2020-09-23 00:42] DevOpsGeek1 commented on #1007
@vishal8k  if you remove annotation having / , we will get 502 error for /test

[2020-09-23 07:06] kumarg25 commented on #1007
Yes, I am also facing the same issue. It only works with path / and not working with /any-other-path. Removing the annotation having "/" results in 502 Bad Gateway error.

[2020-09-23 07:36] mortenlerudjordet commented on #994
@akshaysngupta, I did everything with Helm and set the verbosity level to 5. Though cant see any difference between what I have from before. Also here only one rule is created for the two deployed services.

Ingress:
![image](https://user-images.githubusercontent.com/10818066/93980680-3af48a00-fd7f-11ea-8717-9f99993b8909.png)

Describe ingress:
[code]

This is the log for deploying two services wi

[2020-09-23 16:23] Uriil commented on #1004
I have the same issue, except I used kubernetes 1.18.8 and agic 1.2.0-rc3. And I followed Greenfield deployment guide

[2020-09-23 16:30] akshaysngupta commented on #1004
@Boychenko
As shown in the error, your cluster's service principal is missing required permissions over the user assigned identity. This permission allowed the cluster to assign the identity to a Pod.

[code]

[2020-09-23 16:32] akshaysngupta commented on #1004
@Uriil In greenfield docs, we apply the permissions in the ARM template while deploying the Azure resources.
Please share the error you are seeing.

[2020-09-23 16:42] akshaysngupta commented on #1011
@AndresFPineros thanks for the ask. This should be easy to implement along with an option to configure your own default certificate.

[2020-09-23 16:50] 3quanfeng commented on #1007
Hi @vishal8k, you are correct, Thanks!
@kumarg25 , basically if appgw.ingress.kubernetes.io/backend-path-prefix: "/" is used, it basically means your AKS workload exposes only  "/", for example, http://hostnameorip/
If your workload exposes like http://hostnameorip/any-other-path, then you don't need the annotation

[2020-09-23 16:52] Uriil commented on #1004
### Ingress controller: the only resource in NON READY state, stuck on starting:
D:\AKS> kubectl logs ingress-azure-779bfbd4b6-jtlgx
ERROR: logging before flag.Parse: I0923 16:10:30.210251       1 utils.go:115] Using verbosity level 3 from environment variable APPGW_VERBOSITY_LEVEL
I0923 16:10:30.239959       1 environment.go:240] KUBERNETES_WATCHNAMESPACE is not set. Watching all available namesp

[2020-09-23 16:54] #1007 closed

[2020-09-23 17:10] hueseyinkilic commented on #1003
Hey, thanks for submitting this issue @porrascarlos802018

I happen to be in a similar situation as @ryandanieldonovan

I have 1 rewrite set with actions (mainly Headers, such as: Server Header, XSS Protection, HSTS and CORS) applying on all (6) URLs I'm serving on my Application Gateway.

On every Kubernetes Deployment / Upgrade (new Pods starting up, with new IPs), I need to manually remap the (

[2020-09-23 19:17] 3quanfeng commented on #1002
Hi @pradeepbohra , yes, you can only have 100 active listeners per appgw, however, you could use wildcard hostname which allows you to config up to 5 hostname per listener
https://docs.microsoft.com/en-us/azure/application-gateway/multiple-site-overview

[2020-09-23 19:20] #987 closed

[2020-09-23 19:28] akshaysngupta commented on #1004
Try:
[code]

[2020-09-23 19:35] akshaysngupta commented on #994
@mortenlerudjordet there is a small mistake in your ingress config. You have `host` and `http` properties specified in two different rules.
[code]

Correct version:
[code]
[code]

[2020-09-23 19:35] #994 closed

[2020-09-23 21:48] kylelee24 opened #1013 "AGIC Sets AG Rules Incorrectly When Ingres Path is not /"
**Describe the bug**
When deploying an ingress rule with a path other than `/` (E.g., `/api`), the AGIC (Application Gateway Ingress Controller) configures rules on the AG (Application Gateway) which sets the backend target / HTTP setting as `defaultaddresspool` / `defaulthttpsetting`. This results in a 502.

**To Reproduce**
Steps to reproduce the behavior:

- Deploy AGIC
- Deploy nginx container

[2020-09-24 02:29] Karishma-Tiwari-MSFT commented on #860
@caya @erikschlegel Do either if you know if there has been an update on this ask? We have another customer with similar query as below:

"Does Application gateway ingress controller supports JWT validation?
We need to perform JWT Oauth Token validation for all ingress activities in aks.
Nginx support this feature through
location / { proxy_pass: } Or annotations: nginx.ingress.kubernetes.io/auth-

[2020-09-24 04:25] Boychenko commented on #1004
@akshaysngupta thanks for the reply.
I've figured this out.
From my understanding
https://azure.github.io/application-gateway-kubernetes-ingress/setup/install-existing/ is incomplete and outdated in many places. It takes quite some time to find the correct set of steps to make things working if I can't use the greenfield deployment option.
I hope at some point it'll be fixed.

[2020-09-24 06:48] mortenlerudjordet commented on #994
@akshaysngupta, thanks that was the problem. Dunno how I overlooked that. Sorry for wasting you time.

[2020-09-24 07:37] vishal8k commented on #1013
@kylelee24  Try setting the ingress path as `/api/*` Also see whether you have any backend path redirection annotation added to your ingress yaml, If possible post your ingress yaml here for easy debugging.

[2020-09-24 07:46] vishal8k commented on #940
@marc-mueller Which namespace is your AGIC deployed? Is AGIC and prohibited targets in the same namespace? Was AGIC configured to look at all namespaces during installation? Need to clear these out first before going deeper.

[2020-09-24 13:22] kylelee24 commented on #1013
@vishal8k, sorry I did have the backend path direction set at the time where I provided the logs however with or without it set resulted in the same behaviour.

What did fix the issue is setting the ingress path as `/api/*`.

Note: In the rules, the Backend target is set to `defaultadddresspool` and the HTTP setting is set to `defaulthttpsetting` however under Path-based routing, the Target name,

[2020-09-24 13:22] #1013 closed

[2020-09-24 13:29] vishal8k commented on #1013
@kylelee24 Good to know that I was helpful in solving your Issue and with respect to the note you have put in, that is the expected behavior. Cheers!

[2020-09-24 13:32] vishal8k commented on #1003
@akshaysngupta  I believe this can already be achieved through ProhibitedTarget, isn't it?

[2020-09-24 13:38] vishal8k commented on #996
@AKSNewbie  Can you provide the ingress yaml you used here for better insight because there is an existing known issue where you won't able to see the host names of the multi-site listeners via portal but however there won't be any problems in request serving. Need to know more details on how you concluded that multi-site listeners are not being created. The bug I stated above is only for portal a

[2020-09-24 13:48] vishal8k commented on #978
Here is how I formed the Json manually for an existing service principal in Linux
[code]

[2020-09-24 13:57] vishal8k commented on #986
@rlevchenko  @akshaysngupta  The hostnames not displaying in portal is a know issue discussed in #962 The hostnames issue is only with portal. You can still view them using AZ cli or powershell commands. With respect to what you have mentioned about the default address pool being displayed in the portal, that is the expected behavior for path based routes. The target associated with `/` will be di

[2020-09-24 19:45] AKSNewbie commented on #996
I have decided to do a full upgrade of all aforementioned versions and from what i can see all is good. The issue was odd though and i am aware of the bug but my ingress was creating basic listeners instead of multi site. Anyway...closing. Thanks anyway

[2020-09-24 19:45] AKSNewbie commented on #996
Closing issue

[2020-09-24 20:29] pradeepbohra commented on #1002
Thank you. Closing the request as the query is answered.

[2020-09-24 20:29] #1002 closed

[2020-09-24 22:40] DevOpsGeek1 commented on #1007
But removing annotation also doesnt help I dont know what is the resolution for this issue closure?

[2020-09-24 22:41] DevOpsGeek1 commented on #1007
after removing / annotation why are we getting 502 bad gateway? Can some one help ?

[2020-09-25 04:38] angeloudy commented on #534
Has someone got this working?
We have some similar thing to implement.
What we need to do is change the domain of our current site and we want to the old domain to redirect to the new domain.

[2020-09-25 05:58] mscatyao commented on #860
OAuth is not currently supported on AppGW, but is on our roadmap. Until we support it on AppGW, we won't have support for it on AGIC. I can update this thread once it's available on AppGW.

[2020-09-25 08:21] percenuage commented on #534
Hi @angeloudy ,

I found a good Kubernetes way to do your request. You have to use an "ExternalName" service type. No need to use annotations with Ingress.

https://kubernetes.io/fr/docs/concepts/services-networking/service/#externalname

[2020-09-25 09:19] christianskovholm commented on #1007
I second @DevOpsGeek1 - I also still receive 502 bad gateway after removing the annotation.

[2020-09-25 09:27] vishal8k commented on #1007
@DevOpsGeek1 This is clearly not an AGIC issue but just an URL path issue. Firstly you have to check whether your application has any page to serve on the path you are trying (Eg: `/test`). If you are sure about it then try giving `/test/*`.

[2020-09-25 18:47] bbutcher opened #1015 "gRPC/HTTP2 support"
When will AGIC support http2?  This is becoming more important as we deploy gRPC services to AKS.

I know I can workaround this with grpc.web but it is adding extra steps to our development.

[2020-09-26 03:27] DevOpsGeek1 commented on #1007
I configured / and /test in ingress yaml file and also there are back end services are running. but strangle it works only for / and /test is always giving 502 error.  so this is clearly issue with AGIC.

[code]

[2020-09-27 04:13] nboeckmann commented on #988
Hi,

I'm experiencing the same issue. I don't think that it classifies as an improvement but must be treated as a bug as the ingress controller simply stops working in my environment after I've added/deleted 100 ingress definitions. I think it's important that the ingress controller cleans up after itself and when it deletes a listener it also has to delete the associated SSL certificate.

Nils

[2020-09-28 11:29] DevOpsGeek1 commented on #1007
@vishal8k Kindly address this and help us.

[2020-09-28 11:41] vishal8k commented on #1007
@DevOpsGeek1 Let's first understand the issue here. The AGIC is able to send requests successfully when configured with path `/`.
When configured with `/test` we receive a 502 error. What does a 502 mean? 502 means the application gateway was not able to find any backend configured with the path in the URL request that it received. This means the request we sent did not contain an exact `/test` or

[2020-09-28 11:49] DevOpsGeek1 commented on #1007
@vishal8k  I understand that it is unable to reach backend pool but when I check AppGateway from azure portal everything configured properly in backend pool and there is no issue with backend configuration also, There is already an issue opened in stack overflow as well, but not having much progress.

[Stackoverflow](https://stackoverflow.com/questions/63959961/application-gateway-ingress-controll

[2020-09-28 11:53] DevOpsGeek1 commented on #1007
Repro:
Followed below doc and installed application gateway ingress controller and then sample app yaml I will mention below. it doent work when we give path /test

[AGIC install document](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-new.md)

sample_app.yaml:
[code]

[2020-09-30 14:22] djh82uk commented on #1004
Hi, did you keep any notes on what you had to change to get it sorted?

I have a similar issue from the mic pod logs showing the user assigned identity as not having the permissions over the VM scale set.  Despite that identity being added as an owner (as a test) to the resource group of the nodes.

I also did the brownfield deployment, but used Azure CLI to deploy the cluster as a VMSS

[2020-09-30 14:30] Boychenko commented on #1004
@djh82uk
I've combined the guide docs and aad-pod-identity guides
The most hidden part is here
https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignment.md
1. Some permissions need to be given BEFORE add pod identity deployment. Check the hack script
2.  I haven't seen the following mentioned in the guide. Spent a lot of time figuring this out

Cluster configuration

[2020-09-30 14:53] djh82uk commented on #1004
That got me a lot closer, Thank You

I no longer have those identity errors 👍 Now I just need to figure out why the AppGW is not being re-configured by AKS

[2020-09-30 15:56] djh82uk opened #1017 "ingress-azure not starting"
**Describe the bug**
I am following the brownfield guide.  I have an AKS cluster in a different RG to the AppGW.

AppGW pod is not starting properly, and the existing AppGW still has it's pre-aks settings

**To Reproduce**
Steps to reproduce the behavior:
Follow the guide, in addition I also ran:

`az role assignment create --role Reader --scope /subscriptions/cbd252d1-a1d9-40c7-9e82-2deabc637a91/

[2020-10-01 07:18] AKSNewbie commented on #996
@vishal8k @thisispaulsmith - Unfortunately i need to reopen this, the issue still seems to be there after my upgrade to Helm3

So, versions now are:
Helm 3.3
AGIC 1.2.0-rc3
K8s 1.16.13
The ingress.yaml is still as above, and i repeat that this works perfectly on the aforementioned version of each component.
I have a wildcard cert installed on my gateway *.mydomain.com so my ingress creates a liste

[2020-10-01 10:52] runes83 commented on #978
Any updates on how to fix this?

[2020-10-01 13:26] danimurga opened #1018 "AGIC 1.2.1 Unable to load cloud provider config '/etc/appgw/azure.json'"
We're facing this issue:

ERROR: logging before flag.Parse: I1001 12:55:30.721311       1 main.go:78] Unable to load cloud provider config '/etc/appgw/azure.json'. Error: Reading Az Context file "/etc/appgw/azure.json" failed: open /etc/appgw/azure.json: permission denied

agic-add describe:
[code]

When inspecting agic pod:

`appgw-ingress-user@agic-aad-ingress-azure-f6d7d5957-2bdnj:/etc/appgw$ l

[2020-10-01 18:11] saostad commented on #697
doc is still outdated!

[2020-10-01 18:32] 3quanfeng commented on #1017
Hi @djh82uk , if your AGIC UMI is not within AKS cluster RG, you will need to run:

aksName="<aks-cluster-name>"
clusterClientId=$(az aks show -g $resourceGroup -n $aksName -o tsv --query "servicePrincipalProfile.clientId")

az role assignment create \
  --role "Managed Identity Operator" \
  --assignee $clusterClientId \
  --scope $identityId

It's noted in the brownfield tutorial as well.

[2020-10-01 18:54] akshaysngupta commented on #1018
@danimurga thanks for reporting this. We will fix this in the next minor release.

[2020-10-01 19:22] akshaysngupta commented on #1017
@djh82uk @3quanfeng I think the issue is related to AGIC not having proper RBAC to kubernetes resource. Cluster is RBAC enabled. This means that when install AGIC on the cluster, you need to provide `rbac.enabled=true`.

You can upgrade your existing installation using the following command:
[code]

[2020-10-01 19:27] akshaysngupta commented on #1004
@Boychenko  I will close this issue.

Please feel free to make any contributions that may help other users.

[2020-10-01 19:27] #1004 closed

[2020-10-01 19:45] akshaysngupta commented on #996
@AKSNewbie You are seeing basic listener as Portal evaluates whether a listener is basic or multi-site by using the "hostname" property which is not used by AGIC in the latest version.

Another way to check your appgw config by running AGIC with `verbosityLevel: 5`. That will print the AppGW config in the AGIC pod logs.

[code]

[2020-10-01 20:02] akshaysngupta commented on #978
@runes83 Adding to @vishal8k, let me know if the following help:

[code]
@vishal8k Thanks for jumping in!

[2020-10-02 10:19] AKSNewbie commented on #996
@akshaysngupta Hey, thanks for your reply. I mean, i don't even need to do that, just through CLI i can query the listener and yes i can see the hostname is configured:
![image](https://user-images.githubusercontent.com/70979792/94912824-2495af00-04a0-11eb-8e8d-542c3eebee1c.png)

But that doesn't take away from the fact that if i go to the portal and look at my listeners i see them all as basic an

[2020-10-02 10:44] vishal8k commented on #996
@AKSNewbie Yes. That is also a part of the bug that I have mentioned above. As a temporary fix, you can run the below powershell script to see the listeners in the portal user friendly.
[code]
**NOTE:** This is just a temporary fix. After running this script, if you add/edit ingress rules then they will again be back to buggy-names.

[2020-10-02 20:23] AKSNewbie commented on #996
@vishal8k @akshaysngupta
Thanks very much to you both, i guess the positive here is that it works and also its not me doing something wrong. Maybe a chat with Microsoft might help.

[2020-10-02 20:26] #996 closed

[2020-10-06 07:06] Xat59 commented on #978
I can confirm it could be nice to document the way to get it from an existing service principal.

[2020-10-06 12:27] runes83 commented on #978
@akshaysngupta Is this a work around or the way to do it? Msi works find on my other clusters but not in dev. The solution above looks a little "hacky"

[2020-10-06 20:17] davejhahn commented on #1005
@niteenkole I updated my cluster in Azure to 1.18.8 and didn't run into any issues.

[2020-10-07 21:03] niteenkole commented on #1005
Awesome thanks.

[2020-10-08 00:35] flyboarder commented on #949
use external-dns for dns updates

[2020-10-08 00:36] burn2delete opened #1019 "Support URL Re-Write"
Url rewriting is now possible with App Gateway, please implement!

https://docs.microsoft.com/en-us/azure/application-gateway/rewrite-url-portal

[2020-10-10 15:24] vishwa-vijay-by opened #1020 "502 Bad Gateway"
**Describe the bug**
I have insatalled version 1.2.0. and using  service principle configuration. Configuration  seems fine. But  whille hitting  service i am getting 502 error. I  checked all setting for backned pool and that is correct. Also i allowed port 65200-65535 in NSG. But still getting 502 error. Nothing coming in log

**To Reproduce**
Steps to reproduce the behavior:

**Ingress Controll

[2020-10-12 09:32] mrbennett opened #1021 "Allow custom annotations on the AGIC pod from Helm values"
**Is your feature request related to a problem? Please describe.**
Many services e.g. datadog use custom annotations on pods to provide extra functionality.  At the moment it is not possible to add our own annotations to the AGIC pod using the helm chart.

**Describe the solution you'd like**
A value in the helm chart that can be used to specify extra annotations on the AGIC pod e.g.

[code]

_I h

[2020-10-12 11:43] enjlee commented on #1018
Error: Reading Az Context file "/etc/appgw/azure.json" failed: open /etc/appgw/azure.json: permission denied

I am getting an error related to this, Please help to identify the issue

[code]

[2020-10-12 12:02] ghostika commented on #879
I just had the same problem. It would be helpful to document this behavior on the https://azure.github.io/application-gateway-kubernetes-ingress/features/probes/ page, even though you have the `containerPort` listed there, but as the general health check worked for me, I didn't thought about to specify the container port, until I read this issue here.

[2020-10-14 17:31] akshaysngupta commented on #1021
@mrbennett thanks for creating the PR.
Can you please share some examples that use this annotation?

[2020-10-14 17:36] akshaysngupta commented on #1020
@vishwa-vijay-by Please check AppGW's backend health status. You can use portal or CLI to view the backend health.

You would usually see a 502 when all of your pods for a ingress rule are reported as unhealthy.
1. They could either be unreachable due to a network configuration issue.
2. Health probes are not configured correctly. For example: Incorrect Port or path in the readiness probe or liven

[2020-10-14 17:47] akshaysngupta commented on #1005
thanks @davejhahn

[2020-10-14 17:47] #1005 closed

[2020-10-15 15:36] thatguycalledrob commented on #758
I am facing the same issue.

I am trying to install LetsEncrypt via helm into a terraform deployed cluster using gateway.
Here are the relevant bits of the terraform code:

[code]

Firstly, I try to deploy the ingress with a static passwordless pks cert in a keyvault (pod identity helm used here).
THIS WORKS!

[code]

Next, I make some minor changes in line with the documentation found here:
https

[2020-10-15 21:41] rslavey commented on #300
I see you took this to a private channel. What was the resolution?

[2020-10-16 08:37] baptistepattyn commented on #828
it took me two days but finally made it work... thank you for the support... maybe a notice in the tutorial would be nice :)

[2020-10-16 14:46] catay commented on #948
Are there some timelines available when we can expect this feature ?  Thanks.

[2020-10-16 15:23] mrbennett commented on #1021
Hello!

No worries, and sorry for the delayed reply.

I would like to use the datadog [autodiscovery feature](https://docs.datadoghq.com/agent/kubernetes/integrations/?tab=kubernetes#configuration). In short you can use annotations to customise the behaviour of datadog against your pods. e.g. run custom checks / change logging collection.

There are some multiline logs in AGIC that I want to wrap

[2020-10-17 20:55] wronda commented on #888
This is still an issue on AKS clusters with Windows and Linux pools. You can easily reproduce this by trying to helm install a nginx ingress. Even with specifying the node selector the pod get's scheduled onto a windows node.

[2020-10-19 07:46] dipakyadav opened #1024 "setting custom health probe via portal gets reset automatically after some time"
**Describe the bug**
I have deployed Elasticsearch in AKS using the link https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-quickstart.html,
and exposed (public ip / domain) using ingress app gateway.
Using ingress health probe is automatically created for elasticsearch, but since elasticsearch is by default protected with basic auth it returns 401 status code, which causes backend health to

[2020-10-19 08:51] cloudpea commented on #971
When enabling Azure Policy for AKS this also causes non-compliance with the 'Kubernetes cluster pod hostPath volumes should only use allowed host paths' policy definition.

[2020-10-19 14:28] michaelsiuda opened #1025 "How to support multiple AppGws with a single AKS cluster and single AGIC?"
I'm in the process of transitioning our application from ASE to AKS on Azure. In the current setup, we have two application gateways with mirrored configuration, running in active-active mode and we load balance between them at DNS. We've found that this redundant setup has helped to keep our application available numerous times over the last few months and therefore it is required that we keep th

[2020-10-19 15:30] vishal8k commented on #1024
@dipakyadav  By default AGIC assumes full control of the appgw. Hence any manual changes done by you in the application gateway shall be revoked by AGIC whenever any of these actions happen (New Pod launch, New ingress rule addition, Removal of ingress rules etc..). You have two options here, One is defining a ProhibitedTarget (you have to launch AGIC in shared mode for this). Another is editing t

[2020-10-19 19:14] wronda opened #1026 "ProbeTimeOut on pods scheduled on Windows nodes. AppGW backend pool unhealthy."
**Describe the bug**
For a client 'm testing a hybrid Linux/Windows AKS cluster with the AGIC. It works fine for Linux containers but I can't seem to get Windows containers online with the AGW.

I'm using AGIC 1.2.0 with AKS 1.18.8. I've modified the example ARM deploy to include a Windows nodepool. I've used the example from here: https://github.com/Azure/application-gateway-kubernetes-ingress/bl

[2020-10-19 20:07] #1026 closed

[2020-10-20 06:21] dipakyadav commented on #1024
Thanks @vishal8k , will check

[2020-10-20 06:21] #1024 closed

[2020-10-21 07:53] arodriguezdlc commented on #893
I have the same issue @andrewCluey. In my case, the problem is that AGIC deploys rules before we have the secret with the certificate configured. AGIC should detect the change on the secret and reapply the configuration with the certificate, but it isn't doing anything.

I have some logs to show it. Here we have the AGIC logs:
[code]

As you can see, there is a log that says the secret is malforme

[2020-10-22 06:34] vishwa-vijay-by opened #1028 "is application-gateway-kubernetes-ingress support regex annoation like nginx"
**Is your feature request related to a problem? Please describe.**
In path based routing i want to send traffic based on regex. Like if any thing not matches, this send request to specific service.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
nginx.ingress.kubernetes.io/use-regex: "true"
same for AGIC
appgw.ingress.kubernetes.io/use-regex: "true"

[2020-10-22 07:01] schlickspringer commented on #948
@catay the merge request has been already included to support his. however I'm also waiting the release that includes this merge...

[2020-10-22 12:38] vishwa-vijay-by commented on #1028
Let I explain my requirent in details. Below are my ingress configuration.
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    appgw.ingress.kubernetes.io/appgw-ssl-certificate: myldstest
    appgw.ingress.kubernetes.io/use-regex: "true" NOT SURE THIS WILL USE FOR appgw.ingress.kubernetes.io CLASS
    kubernetes.io/ingress.class: azure/application-gateway
    meta.helm.sh/rel

[2020-10-22 15:19] qinshuang1998 commented on #948
@3quanfeng I'd like to ask you about the Azure support for creating two AGIC in the same namespace now?

I want to deploy two AGICs within one AKS cluster but watching on same namespaces, not the different namespaces, to resolve this problem of "Can't assign port fp-443 to Private IP Listener already assigned to Public IP Listener".

Looking forward to your answer, thanks!

[2020-10-22 18:48] JorTurFer commented on #1021
What do you think about this feature @akshaysngupta ?
I can add support to them and make PR if is usefull

[2020-10-22 19:20] JorTurFer opened #1029 "Support AzureIngressAllowdTargets to handle several agics managing a shared agw"
**Is your feature request related to a problem? Please describe.**
I deployed several cluster during the last months and usualy I use agic with shared agw. We found problems because the clusters handles prohibited target but the humans from one team may buy new domain and add to the agw and they must notify to the another teams that a new domain have to be added to the prohibited target list.

**D

[2020-10-22 19:25] JorTurFer commented on #965
Hi @akshaysngupta ,
Do you have any opinion about my doubts? The PR that I made related with this (#969) adds support for prometheus-operator CRDs and works fine.
Maybe I should "end" the PR and remove  the WIP tag in order to merge?

[2020-10-22 20:27] JorTurFer opened #1030 "Question: When will the next version be released ?"
I am looking the git history and I found that the latest release (1.2.1) only contains 1 commit more than the previous version (c6389bc7198e85eb105d293d4a4b82f435451fc9).
![image](https://user-images.githubusercontent.com/36899226/96926233-98324700-14b5-11eb-88ca-e349049349ec.png)

Since the version 1.2.0 there are more changes that would be great be able to use.
I don't know if this is intentiona

[2020-10-22 23:15] 3quanfeng commented on #1025
Hi @michaelsiuda , currently, one AGIC can be mapped to only one AppGw.
However, there is a feature(which is Beta, feel free to report any defect) to support to run different AGICs for resources within same namespace, check the [feature ](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/proposals/multiple-gateways-single-cluster.md)out.
The feature allows you to configur

[2020-10-25 13:42] motim6026 opened #1032 "Configure health probe status code from YAML file"
Please add the ability when using `kubernetes.io/ingress.class: azure/application-gateway` to configure the health probe status code match directly from the YAML.

[2020-10-26 13:37] michaelsiuda commented on #1025
Hi @3quanfeng,

Thank you for your reply. Apologies, I think I didn't clearly describe the use case I have in mind and the feature you've linked doesn't meet my requirements.

What I'm thinking about is more like mirroring of configuration by one AGIC instance across multiple application gateways, rather running multiple AGIC instances, each of them with their own set of backend pods.

The main re

[2020-10-26 19:27] rem-aj commented on #997
Hi @akshaysngupta any update on this issue?

[2020-10-27 09:22] arodriguezdlc commented on #893
@akshaysngupta any new about this?

[2020-10-27 16:40] akshaysngupta commented on #758
@thatguycalledrob thanks a lot for such a detailed post. Let me reproduce this and post back.

[2020-10-28 05:32] trivedirince3 opened #1034 "Update Health probes matching conditions from Yaml file for AGIC"
I have deployed one microservice POD in AKS and using AGIC (Application Gateway Ingress Controller), default health probe matching conditions are setups to 200 - 399 and on basic auth code is 401 and show unhealthy and the page does not work.

is it possible to set up matching conditions with some annotations or some other way that we do not need every time to adjust that by hand.

[2020-10-28 08:06] qinshuang1998 opened #1035 "Whether AGIC supports service of ExternalName type?"
When I use service of type ExternalName to bind to ingress, I find that no valid backend pool is detected on APP Gateway Portal.

Is this expected?

Because this is AGIC does not support headless service?

[2020-10-28 09:43] howardjones opened #1036 "No dates in logs!"
**Describe the bug**
A clear and concise description of what the bug is.

When faultfinding the ingress controller, it's impossible to tell what day an error started ocurring.

**To Reproduce**
Steps to reproduce the behavior:

    kubectl logs ingress-azure-77cf644d76

**Ingress Controller details**
* Output of `kubectl describe pod <ingress controller`> . The <ingress controller> pod name can be

[2020-10-28 18:56] aelmanaa opened #1038 "AKS : AGIC addon vs helm. which mode will be supported in GA on the long term"
Hello,

I've been testing both mode of deployments (addon & helm chart). When reading AKS documentation, it seems like addon mode is still on preview.
what is the roadmap of AGIC : Is it to support both mode of deployment (once addon is GA) ? OR are you going to support only addon deployment ?

I'm asking this as we are currently using Nginx+ (which includes a WAF and is supported by F5) to expose

[2020-10-28 19:02] getvivekv commented on #909
Glad that I did a search first before doing a POC with azure application gateway for ingress controller. Saved my time to decide to not go with AGIC at the moment.

[2020-10-28 20:51] joelharkes opened #1039 "AGIC with Lets encrypt sometimes serves old SSL certificate (sometimes, sporadically)"
Please don't spend much time debugging this but i want to know if this is a known issue?

**Describe the bug**
Sometimes an enduser is served an old ssl certificate (way older)
![image](https://user-images.githubusercontent.com/2960938/97494814-23ed1d00-1967-11eb-9c3f-195c558e31e6.png)

**To Reproduce**
Steps to reproduce the behavior:

Cert manager v0.15.1
[code]
**Ingress Controller details**
[c

[2020-10-29 06:39] qinshuang1998 opened #1042 "Multi site listener through AGIC cause the APP Gateway Portal error."
### AGIC is creating multiple basic listeners on port 80/443 and serving traffic to multiple hosts even though the portal interface is showing errors.

### Although it seems to work properly, I think this is a BUG.

[![BGw4mQ.md.png](https://s1.ax1x.com/2020/10/29/BGw4mQ.md.png)](https://imgchr.com/i/BGw4mQ)

[![BGwJF1.md.png](https://s1.ax1x.com/2020/10/29/BGwJF1.md.png)](https://imgchr.com/i/BGw

[2020-10-29 09:08] aelmanaa commented on #1036
@howardjones  what about if you run your command with "--timestamps". for instance:

`kubectl logs ingress-azure-77cf644d76 --timestamps`

[2020-10-29 14:27] lissff opened #1043 ">1 replicas and PDB required"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Right now the default replica for agic pod is 1, and no pod disruption defined;

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Better if we could config replicas using configmap, or it coul

[2020-10-29 20:01] aelmanaa commented on #996
@akshaysngupta  is it planned to solve the "small bug" in the portal?

[2020-10-30 04:41] philthynz opened #1046 "Deploy AGIC to existing cluster with MSI"
So I've terraformed up an AKS cluster, and it's gone ahead and created all the components it needs for AKS Load Balancer in a seperate resource group which is great.

[code]

![image](https://user-images.githubusercontent.com/17504095/97660480-93354f00-1ad6-11eb-8eca-71fae4316bfa.png)

----

Now how do I deploy AGIC to this existing cluster? Terraform doesn't support the `ingress-appgw` addon yet.

[2020-10-30 10:52] aelmanaa commented on #948
@3quanfeng do you know when the merge will be released (cfr. @schlickspringer's message)

[2020-10-30 12:29] marcinkoperski commented on #885
Hi. We've noticed that every such ARM deployment terminates already established websocket TCP sessions (don't know if regular HTTP sessions are also affected). We had to disable reconciliation because of that.

[2020-10-31 07:09] mortenlerudjordet commented on #1042
If you look at the docs it states that the portal does not support viewing the new multi site, so it will display as basic.
Use either PS or Az-cli to get the correct multi site info.

They will hopefully fix the portal at some point.

[2020-11-01 12:50] howardjones commented on #1036
Haha. Thanks! I learned something new today.

[2020-11-02 16:05] shubhrajoy2109 commented on #437
Hello Guys,
Our production is down due to this issue. We are getting multiple values in Access-Control-Alow-Origin header. Please find the attached error image which we are getting: -
![image](https://user-images.githubusercontent.com/61665961/97890010-09de8080-1d53-11eb-9ac4-613a5e0e3ecd.png)

We have deployed the below mentioned configuration: -

`
annotations:
   kubernetes.io/ingress.class: "n

[2020-11-02 21:35] ronak319 opened #1047 "How to enable multiple namespaces on linux AKS with AGIC without using helm chart ?"
Problem
I have a single kubernetes cluster with 2 node pools and 2 namespaces (A,B) and 2 applications(C,D). I want to use a single Azure app gateway for both of the application's traffic. How can I configure on existing AGIC for  routing traffic to services running on multiple namespaces ?

[2020-11-03 06:16] Vishal2696 commented on #1046
Ingress deployment needs to happen outside of terraform. If you stress on using terraform then one of the solutions would be to launch a VM (After AKS is deployed) using terraform and in the initscript , pass a shell script that contains all the commands to install AGIC. This is one way to do it. there are a lot more other ways.

[2020-11-03 06:19] Vishal2696 commented on #1042
This is a duplicate of the issue #962 . This shall be closed.

[2020-11-03 06:23] Vishal2696 commented on #1034
You can setup your custom readiness probes for the pod and the same will be reflected in appgw healthchecks. IF you have your readiness probes set as 401 then same will be replicated in appgw.

[2020-11-03 09:18] #1046 closed

[2020-11-03 10:46] arodriguezdlc commented on #893
I have opened a support ticket with Microsoft Azure, and the support engineer told me that this is a recognized bug that will be fixed in future releases. Could you share the issue that is tracking this fix? Thank you.

[2020-11-03 14:04] #1047 closed

[2020-11-03 22:53] polasekr opened #1048 "Health probe created doesn’t match backend settings for end-to-end TLS ingress"
**Describe the bug**
Application gateway ingress controller fails to apply changes to application gateway because requested health probe doesn't match backend settings. When ingress definition copied below is deployed to Kubernetes application gateway controller reports following error messages:
[code]
and fails to provision corresponding api gateway configuration. From detailed log it seems that

[2020-11-04 14:36] Guru-Sky commented on #996
Can someone help me ?
I'm trying to create the listener like this:

az network application-gateway http-listener update -g RG_NAME --gateway APPGW_NAME -n ListenerDefault --host-names test2.example.com test1.example.com

And I get the error below.

ListenerDefault must specify a non-empty value for either HostName and HostNames, but not both

[2020-11-04 14:55] Vishal2696 commented on #996
@Guru-Sky your issue seems related to AZ CLI and nothing related to AGIC. Guess you would get better help by raising this issue on the az cli github page.

[2020-11-04 14:57] Guru-Sky commented on #996
Hello Vishal, yes the problem is the same via CLI tbm the multiple sites doesn't works.
I can't create multiple sites by dashboard or by CLI :/

Tks

[2020-11-04 18:46] aelmanaa commented on #462
any ETA for this important feature?

[2020-11-04 23:13] akshaysngupta commented on #1030
@JorTurFer Please try the latest release `1.3.0-rc1`. Here is the [changelog](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/CHANGELOG/CHANGELOG-1.3.md).

[2020-11-04 23:13] #1030 closed

[2020-11-04 23:13] #1036 closed

[2020-11-04 23:17] #961 closed

[2020-11-05 03:01] philthynz opened #1052 "Readiness probe failed: Get "http://10.1.0.16:8123/health/ready": context deadline exceeded (Client.Timeout exceeded while awaiting headers)"
**Describe the bug**
ingress-azure has an error in the event logs:

[code]

**To Reproduce**
Use Terraform to deploy container:

[code]

The "aad-pod-identity" container has also been deployed with rbac:

[code]

**Ingress Controller details**

[code]

**Ingress Controller Error**

[code]

* Any Azure support tickets associated with this issue.
No

[2020-11-05 09:57] aelmanaa commented on #996
Hello @Vishal2696,

you say that there is "an existing known issue".  Do you know if a bug has been reported and if a fix is ongoing?

[2020-11-05 13:33] akshaysngupta commented on #1052
@philthynz can you share the complete logs ? `Unable to load cloud provider config` can be treated as a warning.

[2020-11-05 14:39] Yiyito11 opened #1053 "Readiness probe failed With 1.2.1 chart"
**Describe the bug**
After installing chart using HELM for creating AGIC we are getting pod in 0/1.
As we do a kubectl describe pods ${name-of-pod} we are getting:

[code]
If we search in logs, we are getting:

[code]
 I know there was an issue some time ago regarding this [here](https://github.com/Azure/application-gateway-kubernetes-ingress/issues/668) in following bug, but was fixed.

Also we u

[2020-11-05 17:40] akshaysngupta commented on #1053
@Yiyito11 can you also share the MIC pod logs ? MIC is managed identity controller. Here is a [TSG](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/troubleshootings/troubleshooting-agic-pod-stuck-in-not-ready-state.md#issue-in-mic-pod) that might help.

[2020-11-05 17:47] Yiyito11 commented on #1053
yes here you have. Just to mention remember that we have one ingress controller already running in a application gateway on same subnet that the application gateway where this name space is. So 2 namespaces = 2 Application gateways (in same subnet) 2 ingress controller. here are the logs.

[code]

[2020-11-05 20:34] Yiyito11 commented on #1053
We solved the issue. We had an old ingress controller which was not being used, and for some reason AKS didn´t like it which prevented that new one wasn´t able to be up.
`
morbid-possum-ingress-azure-6cf7bfd7b5-mgpkg     0/1     Running   421        2d23h`

As soon as we removed it , new ingress controller started to work

[code]
Didn´t know this, that if you have an ingress controller not working

[2020-11-05 22:05] aryston2020 commented on #1053
can yoy please enable editing again? I would like to remove some possible sensitive info.

[2020-11-05 22:18] #1053 closed

[2020-11-06 16:41] davejhahn commented on #966
@akshaysngupta I still don't see this.

[2020-11-07 03:04] philthynz commented on #1052
I believe I know what went wrong... I ran Terraform over the existing resources again, and it changed a few of the app gateway settings. I imagine that after I install the aad-pod-identity and app gateway containers, it makes some changes to the app gateway resource. Me running Terraform again overwritten these changes and hence the error.

I destroyed th app gateway, containers and rbac assignmen

[2020-11-07 03:04] #1052 closed

[2020-11-10 14:21] Joon opened #1054 "Break in the event of unresolved backend causes incomplete backend deployment"
When the backends are resolved to http settings, there is code to log an unresolved back-end. Currently, this code also then stops processing the list.

The problem is that when the backends have working and unresolved ones mixed together, working backends after the unresolved one are not provisioned.

Example, K8s has the following ingresses
- Ingress 1 (backend resolved)
- Ingress 2 (backend res

[2020-11-10 18:42] akshaysngupta commented on #1054
@Joon thanks for reporting. We have seen this issue before.
cc: @3quanfeng

[2020-11-10 18:47] akshaysngupta commented on #1048
@polasekr I think that the protocol you specified might have been overwritten by the readiness probe since AGIC evaluates readiness probe after evaluating the annotation.
Annotation: https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/pkg/appgw/health_probes.go#L115
Readiness Probe: https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/pkg/appgw/health

[2020-11-10 23:46] polasekr commented on #1048
@akshaysngupta You are 100% right. I debugged the code and container’s probe overwrites configuration of AGW health check probe resulting in deployment failure.
I personally see it as bug, since there are services which require communicate independently on both HTTP and HTTPS protocols at the same time. In such scenario using a containers probe configuration for AGW health check is insufficient (s

[2020-11-11 10:27] arodriguezdlc opened #1055 "Affinities, taints and liveness/readiness configuration with Helm"
We would like to configure some deployment attributes via values on Helm:
- Affinities
- Node taints
- Liveness/Readiness timeouts

Currently, this is not possible because values are hardcoded. In the case of Liveness/Readiness timeouts, it could be enough if you increase these values because the defaults are so demanding for AKS. For example, we think values used in this other Azure project (http

[2020-11-11 13:46] tplive commented on #87
We are in the same situation as @jasonchester where we are migrating a system partly from a legacy system, but need to route certain paths to the legacy system for now. We are solving this by letting AKS and AGIC handle configuring of AG for the moved resources, and then setting up another AG "in front" of that to handle the external legacy routing. It would be of great benefit if AGIC would confi

[2020-11-11 15:26] pbalexlear commented on #1019
pretty sure this is possible by using the backend path prefix

https://azure.github.io/application-gateway-kubernetes-ingress/annotations/#backend-path-prefix

[2020-11-11 15:32] pbalexlear commented on #732
Hello this is also an issue if you have more than 100 apps on kubernetes as application gateway only supports 100 backend pools for 40 on a WAF sku meaning that if we have more than 40 apps we will need to spin up an entirely new cluster to host the apps

[2020-11-11 17:12] jz-wilson commented on #1003
Using ProhibitedTarget doesn't work if new pods are created since the backend pool IP will not get updated. Its not very feasible to use AGIC unless we can specify the ip range of the pods IPs and set them all manually one by one in the App Gateway or we can add the rewrite feature.

[2020-11-11 18:18] praveenpattisapu commented on #1019
Hi,I am trying to implement this solution ,my requirement is to configure http response headers like below, I tried via Azure portal and it works if I create a rewrite rule set but can you suggest what annotations to use to rewrite the headers responses?

header_name = "HTTP-Strict-Transport-Security"
        header_value = "max-age=31536000 includeSubdomains always"

header_name = "X-Xss-Protecti

[2020-11-12 07:12] galvesribeiro opened #1056 "Unable to load cloud provider config"
Hello folks!

When starting up AGIC 1.2.1 installed from Helm I'm getting this:

[code]

The most important thing here is:

Anything I should be concerned off?

[2020-11-12 07:43] ammarqq opened #1057 "download limitation over AppGW, when backend is AKS"
not able to download any file which is more than 1GB. This seems with scenario when AppGW Ingress controller is used

Not be able to download more than 1 GB by the application that's behind AGIC

![image](https://user-images.githubusercontent.com/18486257/98910160-7c75fb80-24cb-11eb-8a57-509b5ecfadf0.png)

there is a way to download a file with 2GB from the backend? or there is a limitation using

[2020-11-12 09:31] praveenpattisapu opened #1058 "Rewrite rule set and association to request routing rule"
**Describe the bug**
We have a requirement to rewrite HTTP response headers like Strict transport security, CSP etc to some defined values.
We are using terraform to build infrastructure but not for the below sections in Application gateway as there are managed by AGIC.
      backend_address_pool,
      backend_http_settings,
      frontend_port,
      http_listener,
      probe,
      redirect_co

[2020-11-12 17:32] 3quanfeng commented on #1056
Hi @galvesribeiro , there is a known defect in 1.2.1, please use 1.2.0 or the latest RC version 1.3.0-rc1 which has the fix

[2020-11-12 17:33] #1056 closed

[2020-11-12 18:11] akshaysngupta commented on #1048
@polasekr Sounds good.
This would useful for other scenarios as well where a different container in the same POD is used for health probe.
Instead of healthcheck, maybe use `health-probe` to be closer App Gateway terminology.

[2020-11-12 18:13] polasekr opened #1060 "resources in kube-system and kube-public are being ignored"
**Describe the bug**
In a case that ingress resource and its corresponding secret with SSL certificate are deployed into namespace kube-system or kube-public, they are ignore.

This is caused by code in `pkg/k8scontext/context.go`

[code]

I am wondering what is the reason for setting ignore flag on those namespaces.

[2020-11-17 04:22] flyboarder commented on #1019
backend path prefix is not the same as url rewrites

[2020-11-17 15:38] XBeg9 commented on #875
Any resolution to this so far? Is it possible to get AGIC -> Istio E2E TLS?

[2020-11-17 16:20] sikovatc commented on #1021
AWS ALB supports custom annotations for forwarding access logs to S3 buckets: https://kubernetes-sigs.github.io/aws-load-balancer-controller/guide/ingress/annotations/#custom-attributes

It would be useful for multi-tenanted clusters to allow users to specify their own storage accounts via custom annotation for AppGW Ingress Controller, too.

[2020-11-19 13:47] andrejbrummelhuis commented on #1029
How is this not implemented yet? Impossible to work with multiple clusters and teams without this..

[2020-11-19 18:05] smartXZX commented on #108
Could you share the solution? I've hit the same problem.

[2020-11-19 23:26] sabareeshkkanan commented on #1038
Any update on this ? Is there a timeline when AGIC Add on will generally available ?

[2020-11-20 03:51] rnarayana commented on #108
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#ssl-redirect

It works.

[2020-11-21 13:43] JorTurFer commented on #1055
Hi @arodriguezdlc ,
I am in point with you about the support for Affinities and Node taints, but I disagree with you about the probes. The interval that you are proposing is more exigent for the cluster (5 seconds instead 10/20).
In my personal opinion, the development team of a software is whose has to determine things like the interval of the probes.
In the afternoon I am going to create a PR th

[2020-11-21 16:09] JorTurFer opened #1063 "Helm values documentation doesn't match with templates"
**Describe the bug**
[The documentation](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/helm-values-documenation.md) refers to `kubernetes.rbac` as the value to deploy the rbac templates but `templates/clusterrole.yaml` and `templates/clusterrolebinding.yaml` use `rbac.enabled`

[2020-11-21 16:56] JorTurFer commented on #1029
I will start this feature ASAP

[2020-11-23 09:51] MarcelT-NL commented on #962
Proposed solution: could we specify a name for the listener in the deployment file?

[2020-11-23 11:09] MarcelT-NL commented on #1003
I have the same problem as @hueseyinkilic. We use App Gw to add security headers, but every AGIC update destroys the link between the rewrite rules and the listeners.

I even tried listing the listeners using PowerShell and re-assign the rewrite rules, but because AGIC assigns listeners to the same port on App Gw, you cannot edit/assign rewrite rules.

[2020-11-23 12:16] MarcelT-NL commented on #1058
_I am able to create rewrite sets/rewrite rules using Terraform/Powershell but I am not able to associate these rules to any request routing rules as that is being managed by AGIC. Even I create the rules manually and associate, AGIC will remove those changes as that is in full charge of App Gateway_

+1
Have exactly the same issue.

[2020-11-23 12:19] MarcelT-NL commented on #1042
Listing the setup with PS works, but there is no way to associate rewrite rules etc., because of the multi site setup. Just gives an error and dies. Any ideas? I need this to work around the issue of AGIC dropping the rewrite rules on every update.

[2020-11-23 13:21] mortenlerudjordet commented on #1042
You need to do everything through the aks deployment or else it will just overwrite the stuff you add outside.
This is just how they made it.

These are the only AppGw functions they support at the moment:
https://azure.github.io/application-gateway-kubernetes-ingress/annotations/

Dont think rewrite is one of them, so they will need to implement support for it

[2020-11-23 13:24] MarcelT-NL commented on #1042
I was afraid of this. This makes it impossible to use the rewrite rules with AGIC.
The value of the App Gw is getting smaller with each of these issues...