[2019-11-04 13:49] onybo commented on #653
The "instructions" assumes Helm and Tiller. Installing Tiller in the cluster is not an option for me. Are there any documentation on what needs to be changed between 0.7.1 and 0.10.0?

The backend health tab reports status "Healthy" for all my backend pools/Pods.
The details column behaves a bit strange though.
Sometimes it reads: "Success. Received 200 status code"
and sometimes it reads:
"The ba

[2019-11-04 20:12] abenck commented on #560
@draychev
Setting "KUBERNETES_WATCHNAMESPACE": "" in the AGIC config map successfully watches and process all ingress resources in all namespaces, but setting it to test,example only watches the test namespace.

Is there a known bug for this and is there anything I can use in addition to "APPGW_VERBOSITY_LEVEL" to get to the bottom of this?

[2019-11-05 13:24] hugoderene opened #655 "Add annotation to whitelist/restrict source ip(-range)"
**Is your feature request related to a problem? Please describe.**
The access to some of the services in our AKS cluster should be restricted based on IP address. Therefore it would be very helpful to be able to specify an allowed client IP source range per service via the Kubernetes ingress resource.

**Describe the solution you'd like**
The specification of the allowed client IP range could poss

[2019-11-05 17:23] Benjiiim commented on #97
GA today ! :-)
http://aka.ms/appgwaks

[2019-11-06 00:28] draychev commented on #560
@abenck Thanks for helping troubleshoot this.
I'm working on this - will have a version for you to test with soon.

[2019-11-06 14:07] abenck commented on #560
@draychev Great, thank you! If you need any additional info please let me know.

[2019-11-06 17:57] vavane-ms commented on #103
Is it maybe scheduled for some specific release?

[2019-11-07 01:46] draychev commented on #560
Hi @abenck,
Thanks for your patience with this issue.
We released version `0.10.1-rc1` of AGIC, which we believe addresses the issue you ran into:  https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.10.1-rc1

Would you be so kind to upgrade to this release candidate: `0.10.1-rc1`

[code]

Would you be so kind to test the new version and let us know whether it was able t

[2019-11-07 14:02] abenck commented on #560
Hey @draychev, thank you for handling this! I'll deploy a testing environment to try this out later today and get back to you.

[2019-11-07 19:28] abenck commented on #560
Looks like the Application Gateway is configured for both namespaces, thanks for fixing this!

[2019-11-07 19:28] #560 closed

[2019-11-07 19:36] asridharan commented on #655
@hugoderene Application Gateway recently has released [Per-Site/per-URI WAF policy support](https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/create-waf-policy-ag). This allows WAF policies on application gateway to be attached to a specific listener or a specific path.

More importantly @draychev already is working on an RC build to introduce WAF policy annotations in ingress tha

[2019-11-11 08:03] hugoderene commented on #655
Thank you for your response @asridharan. This sounds like a possible solution we could implement in the near future. I am looking forward to the upcoming release.

[2019-11-13 21:28] akshaysngupta commented on #655
Please try out the latest release 1.0.0 which supports the annotation. I am closing this issue. Feel free to open if you have any issues.

Add a custom rule to the policy as shown below
![image](https://user-images.githubusercontent.com/5294363/68805755-4af8f480-0619-11ea-9cd8-36716d2b03eb.png)

[2019-11-13 21:28] #655 closed

[2019-11-13 21:33] akshaysngupta commented on #603
I think this might be an issue with AAD Pod Identity. Let me follow through.

[2019-11-13 21:35] #580 closed

[2019-11-14 12:20] marc-mueller opened #664 "Helm 3 Compatibility"
**Describe the bug**
Installing the chart with Helm 3 results in an error. Installing it with Helm 2.x works fine.

**To Reproduce**
`helm.exe install ingress-azure --dry-run --debug --generate-name`

**Ingress Controller details**
[code]

[2019-11-14 19:05] akshaysngupta commented on #664
Thanks for reporting!
Would you be willing to take a stab at this ?

[2019-11-15 06:59] marc-mueller commented on #664
It looks like the validation changed with Helm 3. The error is caused because we do not have any default value for appgw.usePrivateIP in the values. So setting this value during deployment works. What is the default of this one? false?

This one shows the correct output:
`helm.exe install ingress-azure --dry-run --debug --generate-name --set appgw.usePrivateIP=false``

Should we just update the va

[2019-11-15 12:51] DenisBiondic commented on #615
You should be able to use https://github.com/kubernetes-sigs/external-dns for this

[2019-11-15 15:15] Baklap4 commented on #75
I think this is currently still an issue. I 'fixed' it somehow to use the preStop hook, in combination with the `terminationGracePeriodSeconds`

The sleep i have around 45 seconds, and the termination grace period around 90 seconds which seems to work for our case.

Would be nice if this gets implemented...

[2019-11-15 15:46] akshaysngupta commented on #664
Correct, default value is `false` and adding it to the `values.yaml` will fix this.

[2019-11-15 17:36] draychev commented on #504
Hi @Yiyito11,  we [released v1.0](https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/1.0.0) of the ingress controller.
Have you had a chance to install that latest stable version?
Would love to know whether all the improvements we shipped since you last upgraded address the issues you ran into.

[2019-11-15 19:51] #664 closed

[2019-11-16 03:47] Yiyito11 commented on #504
Hey Delyan! Yes! We update k8s every time we see there is a new Ingres controller release. All looks good now since you guys help us on the bug fix.

[2019-11-16 03:47] #504 closed

[2019-11-19 00:09] Yiyito11 opened #667 "AGIC Ingress controller: Liveness probe failed"
**Describe the bug**
After creating new chart of  `application-gateway-kubernetes-ingress/ingress-azure --version 1.0.0`
pods created get stuck with Readiness probe failed:

[code]

**To Reproduce**
Steps to reproduce the behavior:

We already created 5 o 6 cluster using this procedure and it´s first time we have this issue:
steps:
1- `kubectl create -f https://raw.githubusercontent.com/Azure/aad-

[2019-11-19 03:38] #667 closed

[2019-11-19 04:21] Yiyito11 opened #668 "AGIC Ingress controller: Liveness probe failed"
**Describe the bug**
After creating new chart of  `application-gateway-kubernetes-ingress/ingress-azure --version 1.0.0`
pods created get stuck with Readiness probe failed and "new-pod-ingress-azure" gets in in 0/1 pods running.
After running a "describe pod" of that pod we are getting:

[code]

**To Reproduce**
We already created 5 o 6 cluster using this procedure and it´s first time we have this

[2019-11-19 05:18] akshaysngupta commented on #668
I think we might find something in the AAD Pod's logs. Would you be able to share those as well?

[2019-11-19 14:20] Yiyito11 commented on #668
Here is for: mic-6fdb84dfbb-59nrl (created automatically after STEP 1 )

[code]

And other 3 where created after step 1. Starting with nmi-xxxxxx

[code]
[code]
So those pods they are able to start health probe successfully, but ingres is not. What can this issue be related to?. Was recently a change made of AGIC code? We built more than 10 clusters on the past weeks and it´s the first time we are

[2019-11-20 09:06] gitflo1 commented on #668
We are facing the same issue.

# To Reproduce
We are installing the Azure App Gateway Ingress Controller as following:
[code]

The applied helm-chart values:
[code]

# Describe the bug
- azure-app-gateway-ingress-controller pod stuck in crashLoopBackOff
- `kubectl describe` of the pod shows the Liveness and Readiness probe failing in the same manner as described by the author in the first post

#

[2019-11-20 09:35] lwiedenhoeft commented on #668
Same issue here, because the Liveness probe failed

[2019-11-20 13:19] Yiyito11 commented on #668
this is new issue, as we already deployed in last weeks at least 4 o 5 AKS clusters with AGIC  lattest version 1.0.0, and pods started running successfully.-

[2019-11-21 00:14] olafkfreund commented on #159
Any update on this ?

[2019-11-21 04:43] ahojman commented on #668
@delqn any chances to help us out here? 😃

[2019-11-21 08:45] draychev commented on #668
@ahojman (I'm also @delqn) Thanks for your patience with this.  It is KubeCon weeks and a few of us are here in San Diego at the conference, so responses could be delayed.

@Yiyito11 I was able to reproduce the issue w/ Kubernetes v 1.15.x.  Thanks for offering the workaround.

It seems that the ingress pod is waiting on obtaining authorization from AAD Pod Identity and that never succeeds.  I nee

[2019-11-21 16:21] evmimagina opened #669 "After update to 1.0... how to install previous versions?"
Dear AGIC developers team,

I wouldn't say it's a bug, but it's a major change that makes that what it was already working, stopped working. The thing is, after updating the AGIC to the 1.0 version I receive the following error;

".... App Gateway SKU Tier WAF is not supported by AGIC version 1.0.0"

**To Reproduce**
Deploy a WAF v1.
Install AGIC.

It used to work pretty well with the previous ver

[2019-11-21 16:32] ahojman commented on #668
The workaround to remove Liveness Probe and Readiness Probe from the Deployment, as suggested by @gitflo1, seems to be doing the trick.

Blocks removed from AGIC's Deployment:

![imagen](https://user-images.githubusercontent.com/5782193/69346554-fcfb7680-0c40-11ea-8f4b-eef09f10e725.png)

Causes the running AGIC pod to be replaced by another new one, as expected.

Checking the new pod logs:
[code]

[2019-11-21 16:44] MiyKh commented on #399
Hello,
Any update for AppGateway + kubenet?
I wonder how the application gateway can ping pod which are in an isolated subnet

[2019-11-22 05:25] akshaysngupta commented on #669
Thanks a lot for reaching out. Please refer the following document:
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/how-tos/helm-upgrade.md#rollback

[2019-11-22 08:19] LucaPrete commented on #427
Let me echo this.
This is preventing us from using the application gateway controller where we do out at the edge.

What I'm personally looking at is the equivalent of these three annotations:

[code]

Any plan to implement this?

[2019-11-22 12:34] evmimagina commented on #669
Hi Akshay,

thanks for your reply. I've found that guide but it references as upgrade and not a clean install... anyway, I've figured it out, just specifying the --version <value> when installing for first time.
BTW, with the latest version of helm (3.0.0), nothing works.

Regards,

[2019-11-22 19:54] akshaysngupta commented on #669
We have merged the fix but haven't created release for the helm 3 issue.
Try using helm install with `--set appgw.usePrivateIP=false`
https://github.com/Azure/application-gateway-kubernetes-ingress/issues/664#issuecomment-554239281

[2019-11-22 19:54] #669 closed

[2019-11-25 10:56] hugoderene commented on #75
We are dealing with the same issues.

Has any progress been made so far?

[2019-11-26 11:58] jkljajic opened #671 "how to use azure ingress in different cloud type"
Hi,
Can be Ingress for Kubernetes to be used on AzureGermanCloud or AzureChinaCloud and how to make that possible.

if I look in code I see on many places hardcoded azure.PublicCloud in Auth.go :
[autorest auth.go](https://github.com/Azure/go-autorest/blob/dev/autorest/azure/auth/auth.go)

and is there some workaround solution to implement azure ingress controller with AzureChinaCloud

best regard

[2019-11-26 13:50] InsOpDe opened #672 "Issue using both public and private listener with different ports"
**Describe the bug**
I have Ingresses on Port 80 and 443 which are public. Now I am trying to create an Ingress for private-Ips. I know that I cannot reuse 80 and 443 for that, so I am trying to use different ports but with no success.

I am getting following Error:

**To Reproduce**
Just apply both ingress-resources with their appurtenant services and deployments

**Ingress Controller details**
[

[2019-11-26 20:33] ChristopheChirat commented on #399
@akshaysngupta Is it possible for you to gives us a status on the integration of App Gateway as ingress controller with Kubenet?

[2019-11-27 00:05] akshaysngupta commented on #672
1. Ingress `admin-portal` has `appgw.ingress.kubernetes.io/ssl-redirect: "true"`. So, AGIC will try to create a listener tied to public IP at port 80.
1. For Ingress `kiali`, AGIC will try to create a listener tied to private IP at port 80.

Unfortunately, Application Gateway doesn't support public/private IPs on same port. But the great news is that we are already working on removing this limitat

[2019-11-27 06:19] InsOpDe commented on #672
Why does AGIC create a listener on port `80` and not port `20001`, since I explicitly stated that `kiali` should use service port `20001`?

[2019-11-27 15:53] hajdukd commented on #641
@aleks

Ive observed one more weird behaviour.

My setup was similar but Im running multiple httpbins pods.

Timeouts are set to 30sec (grace-period, ag request timeout and ag draining).

When the pod is replaced (i kill it and its recreated) Application Gateway ma return 502s.

To verify that im running multiple parallel calls that each take 20sec to finish.

This may cause distruptions during de

[2019-11-28 01:10] akshaysngupta commented on #672
In `Ingress` resource, convention is to expose a service on either port `80` or `443`. `443` is used when TLS is specified, otherwise, port `80` is used on the frontend.
We are planning to add an annotation by which you can specify frontend port to use on the gateway. I don't have an ETA yet.

[2019-11-28 06:27] nreddipalle opened #676 "Issue with BrownField Deployment (backendPool, HttpSetting and HealthProbe)"
**Describe the bug**
Existing AppGateway configuration is not correct after AGIC setup is completed.

This is the Ingress setup..
`apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: tasks-dev-ingress
  namespace: tasks-dev
  annotations:
    kubernetes.io/ingress.class: azure/application-gateway
    appgw.ingress.kubernetes.io/cookie-based-affinity: "true"

spec:
  tls:
  - hosts:

[2019-11-28 12:05] InsOpDe commented on #672
Thank you, both approaches would suffice!

[2019-11-28 23:34] hajdukd commented on #641
Update, it seems that AG is completely unpredictable when it comes to managing connections to terminating pods.

Request timeout is not maintained and instead clients get 499s, instead of 502s like documentation mentions. Additionally Im costantly reproducing a situation where terminating pods keep on getting new traffic despite not passing health probes.

[2019-11-29 03:24] ahojman commented on #668
@draychev - just deployed a couple more AGICs; they seem be working fine w/o having to apply this workaround....

[2019-12-02 19:06] #671 closed

[2019-12-03 05:15] janegilring opened #677 "Restricted to AKS?"
Is the ingress controller restricted to AKS, or is it also supported with Kubernetes clusters running on IaaS in Azure?
What about OpenShift support?

[2019-12-03 08:48] gitflo1 commented on #668
Hi all, I've got two questions:
1. Are there any known side-effects of the recently merged PR #675 affecting (or even fixing) this bug?
2. As soon as #674 is merged, will there be a patch-version of the helm-chart available?

Thank you for your help!

[2019-12-03 13:01] alex-skinner opened #678 "Ability to add a custom root Certificate Authority cert to the Application Gateway"
I am working on deploying our application into a newly created AKS cluster using the Application Gateway for ingress which all seems to be working correctly. However, I am trying to use a set of custom certificates (a CA and a signed SSL cert) that I have generated and initially, I was getting issues as the health probes were all failing with the message

`The root certificate of the server certif

[2019-12-03 15:40] alex-skinner commented on #678
Having done a little more research, I came across the following Azure PowerShell cmdlet

`Set-AzApplicationGatewayBackendHttpSetting`

which has a parameter that looks like it would do the job
`[-TrustedRootCertificate <PSApplicationGatewayTrustedRootCertificate[]>]`

I've had a play with it and it seems to be a little hit and miss... and the cmdlet is also being deprecated in an upcoming release

[2019-12-03 16:39] RobLSDev commented on #103
@akshaysngupta

This would be very helpful to have.  I would like to try avoiding having to update certs in many places, so pulling from the KeyVaut would be ideal.  Is this something that will be looked at in the near future, or is it months (or more) from being worked on?

[2019-12-03 18:18] akshaysngupta commented on #668
@gitflo1 Thanks for asking.
1. No, not yet. I am yet to test it myself before I can be fully confident.
1. Yes, we will publish a release candidate after this PR is merged.

[2019-12-03 21:13] rhollins opened #679 "[question] Support for for multiple AKS clusters behind single App GW"
Does AGIC solution support having multiple AKS clusters running same workloads behind single App GW for HA scenarios, or is it 1:1 mapping between AKS and App GW ?

[2019-12-04 11:31] CCostaT opened #680 "LoadBalancer doesn't aquire external IP address"
**Describe the bug**
I have some microservices deployed to a kubernetes cluster using helm charts and Azure Pipelines.

During development, sometimes I need to delete a helm chart manually for a microservice.
After doing this and deploying again (using the pipelines), the Load Balancer service is recreated in the cluster but an external IP address is never assigned to it.

![image](https://user-im

[2019-12-05 17:48] akshaysngupta commented on #680
@CCostaT You can take a reference from this doc: https://docs.microsoft.com/en-us/azure/aks/internal-lb

I am closing the issue as it is unrelated to AGIC.

[2019-12-05 17:48] #680 closed

[2019-12-06 11:10] marrobi commented on #284
@akshaysngupta - any update on this and how to configure? As per https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#does-application-gateway-support-reencryption-of-traffic-to-the-backend .

I work in environments where all traffic between cloud components must be encrypted so this is an essential feature. Thanks.

[2019-12-06 12:57] pameruoso commented on #71
Hi, can't get this working https://azure.github.io/application-gateway-kubernetes-ingress/troubleshooting/

**Deployment:**
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "5"
  creationTimestamp: "2019-11-25T14:07:12Z"
  generation: 10
  labels:
    run: nginx
  name: nginx
  namespace: default
  resourceVersion: "1249139"
  selfLink

[2019-12-06 13:11] pameruoso commented on #71
got it working:
Didn't know that the following is **required**. After specifying this inside the deployment it's working.
 ports:
        - containerPort: 80

[2019-12-06 17:22] LucaPrete opened #681 "Probe is not overwritten if multiple containers are defined"
Hello guys,

Not sure if this is really a feature request, a bug or if it's something due to come other causes, but I have a deployment that defines multiple containers, one of which sets a liveness probe a readiness probe. Both probes are applied correctly in Kubernetes, but the one on the application gateway remains the default one (I can tell it because I've re-defined some of the timers and th

[2019-12-06 22:15] draychev commented on #681
@LucaPrete would you be able to share with us a sanitized version of the Deployment/Pod, and SErvice YAMLs?

I'd like to understand which container is backing the given Service, what the side-car is, and which container has the probes.

To obtain the defined health probes and apply them to App Gateway, we walk the Services referenced in the Ingress, then match the Containers by port and get probes

[2019-12-07 09:01] LucaPrete commented on #681
@draychev thanks for the quick reply!

The code is all open source. You can find the code and the related readme [here](https://github.com/teamdigitale/io-infrastructure-post-config/tree/master/pagopa-proxy).

Hope it helps

[2019-12-07 09:16] LucaPrete commented on #681
@draychev also, let me give some background on the integration with the Application Gateway.

As you'll understand from the readme, the sidecar container is there to provide TLS authentication/encryption services, in order to safely communicate with another partner.

The sidecar container is an nginx container, which gets the traffic from the "main" container, encrypts it and forwards it over to t

[2019-12-08 09:41] ChristianGottinger opened #682 "Make use of existing Service Principal Secret"
**Is your feature request related to a problem? Please describe.**
I would  like to scripting my infrastructure including a service principal following the principal of least privilege (POLP). It looks like there is currently no way configuring the existing helm chart to use existing secret instead of applying secret json.

**Describe the solution you'd like**
I would like to add name of existing

[2019-12-09 11:40] stefankip commented on #664
Thanks @marc-mueller, found this issue via Google and the extra `--set` parameter fixed it.

[2019-12-10 16:43] aleksmark opened #683 "Failed to refresh the Token"
**Describe the bug**
The ingress controller is running for almost 40 days without restarts and issues. Then, a few days ago, without apparent reason fails to refresh the token. Other resources around it, such as mic and nmi did not change, managed identity did not change in the meantime... Note that managed identity has a Reader role on a resource group, where the gateway is located.

I haven't tr

[2019-12-10 19:03] akshaysngupta commented on #679
@rhollins Currently, AGIC doesn't support same workloads running behind multiple clusters.

We have plan to support this feature contingent to an upcoming load distribution policies feature on Application Gateway. It will allow AGIC to create 2 Backend pools coming from 2 different clusters and distribute load evenly in a very clean way. But I don't have an ETA yet.

[2019-12-10 19:03] #679 closed

[2019-12-10 19:07] akshaysngupta commented on #682
Thanks for asking!

Have you considered using `user assigned identity` with AGIC to get around this ?

[2019-12-10 19:52] akshaysngupta commented on #678
@alex-skinner These are great suggestions! I will add this to our backlog but can't comment on the ETA yet.

[2019-12-10 20:58] alex-skinner commented on #678
No problem! Thank you again.

[2019-12-11 12:44] gitflo1 commented on #668
@akshaysngupta thank you for resolving this issue with the RC 1.0.1-rc1. I just tested the RC helm-chart version on our prior failing AKS clusters and the issue was resolved.

[2019-12-11 14:32] Morriz commented on #633
I am running into the same issue, and see that `readinessProbe.failureThreshold` is not mapped to `unhealthyThreshold` which remains at it's default `30`. Why is that?

[2019-12-11 23:47] akshaysngupta commented on #683
@aleksmark can you check the `aad pod identity` pod logs for errors ?

[2019-12-11 23:54] akshaysngupta commented on #681
@LucaPrete given the current logic for probe selection, are you seeing `/ping` in the probe path on AppGW ?

[2019-12-11 23:57] akshaysngupta commented on #677
You should be able to run AGIC on any k8s cluster in Azure so long as it is using `Azure CNI` network plugin. This requirement will be relaxed early next year.

[2019-12-12 00:02] akshaysngupta commented on #676
@nreddipalle You have to specify ingress rule for path `/`. That is used to set the default backend pool and default backend http settting in Path-based rule.

[2019-12-12 00:07] #677 closed

[2019-12-12 00:08] #672 closed

[2019-12-12 00:31] #668 closed

[2019-12-12 00:50] akshaysngupta commented on #615
@hkamel Did you try the documentation on ExternalDNS with Azure DNS zones ? https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure.md

[2019-12-12 00:59] akshaysngupta commented on #284
If you are using certificate signed well-known CAs. You can reference this document: https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#backend-protocol

If you have your own PKI/self-signed certificate, we still some work left on AGIC.

[2019-12-12 01:17] akshaysngupta commented on #641
@hajdukd Can you make the following changes and tell if anything improves for you ?

1. Change the Pod (Deployment) spec by adding preStop container life cycle hooks, with a delay (sleep) of 90 seconds.
    Example:
[code]

    The `sleep` command assumes the container is based on Linux. For Windows containers the equivalent command is `timeout`
    The addition of the preStop container life cycle

[2019-12-12 01:21] akshaysngupta commented on #427
@LucaPrete We are close on supporting mutual auth on Application Gateway. Once that is ready, we will work on exposing it through AGIC.

[2019-12-12 10:02] CCostaT commented on #680
Hi @akshaysngupta I can create the load balancer. The problem is that, sometimes, when I try to recreate it (after a `kubectl delete service` for example) it won't aquire an external IP no matter how long I wait. I can't find any errors anywhere that could explain this.

The only solution I've found so far is to deploy the load balancer with a different name.

[2019-12-12 15:38] aleksmark commented on #683
@akshaysngupta

mic logs

[code]

nmi deamon pod that is running on the same node as ingress controller besides standard logs entries

[code]

also has

[code]

[2019-12-12 15:42] ahojman commented on #437
Hello everyone! - adding my upvote into this request as we're going under the same kind of struggling with CORS.

[2019-12-12 15:46] Yiyito11 commented on #437
Same over here.....Is there any planning for this solution?

[2019-12-12 17:03] hajdukd commented on #664
Im still getting:
manifest_sorter.go:175: info: skipping unknown hook: "crd-install"
Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "AzureIngressProhibitedTarget" in version "appgw.ingress.k8s.io/v1"

When tryin to install 1.0.0 chart..

[2019-12-12 19:43] akshaysngupta commented on #683
@aleksmark this looks like an issue in either AAD Pod identity or IMDS (instance metadata service) that is responsible for responding to token requests. I am investigating this further with the identity team. Will soon provide an update.

[2019-12-13 08:57] LucaPrete commented on #681
Hello @akshaysngupta.

No, I don't. I only see the default probe (path /) that tries to reach my sidecar.

[2019-12-13 18:48] akshaysngupta commented on #683
@aleksmark We might need more information about your AKS cluster. Would you might creating a support case on AKS Cluster and share the support case number ?

[2019-12-14 05:48] mayong43111 opened #685 "Failed authenticating with Azure Resource Manager: not found"
**Describe the bug**
In AzureChinaCloud, I manually set AZURE_ENVIRONMENT=AzureChinaCloud, but is error, If I don't set it ,it will get https://management.azure.com/, but china is https://management.chinacloudapi.cn/.

when set AZURE_ENVIRONMENT=AzureChinaCloud

I1214 05:30:33.122380       1 auth.go:90] Creating authorizer from Azure Managed Service Identity
E1214 05:30:33.926436       1 auth.go:3

[2019-12-14 06:21] mayong43111 commented on #685
I found /etc/appgw/azure.json, It's
{
    "cloud":"AzureChinaCloud",
    "tenantId": "...",
    "subscriptionId": "...",
    "aadClientId": "...",
    "aadClientSecret": "...",
    "resourceGroup": "aks-waf_aks161e_chinanorth2",
    "location": "chinanorth2",
    "vmType": "standard",
    "subnetName": "kubesubnet",
    "securityGroupName": "aks-agentpool-35064155-nsg",
    "vnetName": "virtualnet

[2019-12-16 13:21] aleksmark commented on #683
@akshaysngupta I opened an issue with MS support with support request id: **# 119121623002019**

Also, I tried to create a new ingress controller with the same configuration in another namespace.
It seems that it had issues with permissions, but after a few retries, it started and now it is working as expected.
[code]

Is it possible that something changed on Azure regarding permissions and now AG

[2019-12-16 19:13] torangel commented on #103
I am trying to solve a scenario which involves ingresses in multiple namespaces.
This setup seems to work if I create the secret ```my-host-com-tls``` in  every namespace where the ingress is applied..
(https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/tutorial.md#with-specified-hostname)

The downside with this approach is of course that the certificate will need to

[2019-12-17 01:25] sanglt opened #687 "504 error for service have Transfer-Encoding chunked header"
**Describe the bug**
We have some services using [StreamedResponse](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpFoundation/StreamedResponse.php). It working fine on `nginx-ingress` but after change to use `azure/application-gateway` those services alway return 504 error:

[code]

**To Reproduce**
Setup any service with return a chunked data, example https://blog.maarte

[2019-12-17 19:34] nacho-marin opened #688 "Ingress creating following the tutorial has no IP Address associated"
Following the steps in the Tutorials (https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/tutorial.md), I reach section "Expose Services over HTTP" (https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/tutorial.md#expose-services-over-http) and, after executing **kubectl apply -f ing-guestbook.yaml**, the ingress created has no value set for

[2019-12-17 23:16] #688 closed

[2019-12-17 23:16] nacho-marin commented on #688
I had missed a step. Sorry. Please delete this issue.

[2019-12-18 21:18] hajdukd commented on #641
@akshaysngupta Gonna have a look ASAP.

Im just curious where does this 90 seconds come from ?

In that approach terminationGracePeriod has to be higher than prehook_timeout + longest_average_response_time (which is system specific). Im aware of what should be the second value, but first one seems highly dependant on something we (users) have no control of ("remove from backend pools" command exec

[2019-12-20 10:41] thomas-riccardi opened #693 "Support HTTP settings per ingress backend (e.g. define request timeout at the k8s Service level)"
**Is your feature request related to a problem? Please describe.**
I have different k8s Services behind one k8s Ingress with different paths rules, each having different application-level behavior, notably sane request timeouts.

Currently the request timeout can onlyt be configured at the Ingress level (with the `appgw.ingress.kubernetes.io/request-timeout` annotation), it then applies to all the

[2019-12-20 10:43] thomas-riccardi commented on #693
cc @Benjiiim

[2019-12-20 13:43] hajdukd commented on #641
@akshaysngupta I've rerun the test, the number of 502s decreased significantly but did not disappear completely.

[2019-12-20 13:45] adamcarter81 opened #694 "Can I use this ingress controller with only Windows nodes?"
I have a requirement to deploy a Windows node only AKS cluster - I realise this is still in preview, but we expect GA early next year and I was hoping to deploy this AGIC, but does it require linux nodes, thus requiring me to deploy say 2 x linux nodes just to run the ingress controller?

Thanks

[2019-12-20 14:44] mindstormz commented on #688
Hi @nacho-marin , would you kindly share what the missed step was?

[2019-12-20 15:25] mindstormz commented on #688
ok, so, for me, the problem was as follows:

after sample app deployment, there was no ingress-pod deployed. It appeared, that my Helm installation was faulty and therefore the chart was not correctly installed.
Following did the job for me:

Then, redeploy according to the Tutorial. Make sure you deploy all the settings according to if you are using RBAC-enabled Cluster or not.

[2019-12-23 11:03] aleksmark commented on #683
Update:

After a call with MS support, we realized that AKS service principal was not expired.
Anyways, we tried to reset the credentials but that did not solve the issue.

MS guys will continue the investigation.

[2019-12-23 23:08] StianOvrevage commented on #633
@Morriz The problem is `failureThreshold` comes from the istio `Deployment` and is a Kubernetes definition that accepts a wider range of numbers than `unhealthyThreshold` which is an Azure concept.

I haven't dug into if `30` is just a default from Kubernetes or something `istio` has chosen. But you can patch it in place with this command:

`kubectl patch deployment -n istio-system istio-ingressga

[2019-12-24 09:57] StianOvrevage commented on #693
@thomas-riccardi Have you tried splitting it up into multiple Ingress objects as a workaround?

[2019-12-24 10:16] StianOvrevage commented on #284
@akshaysngupta Do you have more information on how the communication between AGW and backend service when configured by AGIC is happening?

We have certs signed by LetsEncrypt but of course they are only valid for `mysvc.ourcluster.company.com`. Does AGIC and AGW use `mysvc.ourcluster.company.com` for connection (the example from the annotation docs does not include any hostnames in Ingress defini

[2019-12-24 20:18] Morriz commented on #633
I got it to work with the istio 'k8s' overlay, which is basically a direct mutation of the deployment. So in IstioControlPlane I have this section:
[code]

[2019-12-25 13:03] StianOvrevage commented on #633
Thanks @Morriz ! How have you solved the problem that AGIC gets the path for the health probe from the Istio Deployment, but pretty much ignores the port and uses the same health probe path for all ports and hence fails for the actual traffic ports?

[2019-12-27 08:04] Morriz commented on #633
I just disabled them in the chart ;)

[2019-12-30 07:49] Jonathan1Wade opened #696 "AgentPoolK8sVersionNotSupported"
![aks issues](https://user-images.githubusercontent.com/22188658/71572778-bccec400-2b1b-11ea-8a3f-d0523b9057df.jpg)

**Describe the bug**
Azure Error: InvalidTemplateDeployment
Message: The template deployment 'ingress-appgw' is not valid according to the validation procedure.

**To Reproduce**
Follow procedure

Message: The template deployment 'ingress-appgw' is not valid according to the validat

[2019-12-30 15:39] draychev commented on #696
@Jonathan1Wade Thank you for creating this issue and bringing this up to our attention.
Indeed it seems that the version we have hard-coded in the Azure deployment template is now obsoleted in the region you are deploying.

This is referenced in the following file within the repository:  https://github.com/Azure/application-gateway-kubernetes-ingress/blob/b9c661ab165d6d58d1b271135a141295bb515170/d

[2019-12-31 00:28] Jonathan1Wade opened #697 "Helm 3 helm init --tiller-namespace"
**Describe the bug**
Error: unknown flag: --tiller-namespace

**To Reproduce**
helm init --tiller-namespace kube-system --service-account tiller-sa

Is this needed / supported in Helm 3?

![tiller name space](https://user-images.githubusercontent.com/22188658/71605882-72932480-2ba7-11ea-9250-043e81c3410f.jpg)

[2019-12-31 00:32] Jonathan1Wade opened #698 "Helm install --generate-name"
**Describe the bug**
Error: must either provide a name or specify --generate-name

When --generate-name is used the following error is recorded.

Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: unknown object type "nil" in ConfigMap.data.USE_PRIVATE_IP

**To Reproduce**
![generate name](https://user-images.githubusercontent.com/22188658/

[2019-12-31 15:50] Morriz opened #699 "allow configuration of ingress annotation"
The current annotation
[code]
does not play well with external-dns as it does not accept the label value (because of the slash in it). It should be possible to configure the label this controller listens to so we can make it valid:
[code]
Could you please make it so?

[2019-12-31 15:56] Morriz commented on #615
It works with external-dns but not when using `annotation-filter`, so you will get issues in external-dns when you run multiple ingress controllers side by side. This might be a compound issue related to the following bugs:

https://github.com/Azure/application-gateway-kubernetes-ingress/issues/699
https://github.com/kubernetes-sigs/external-dns/issues/1336
https://github.com/kubernetes-sigs/exter

[2020-01-02 10:57] evmimagina opened #700 "Allow to configure two different certs for public access and internal service"
Hi,

This is a feature request.

After opening a support case and being followed by one colleague of yours, seems that is not posible to use two different certificates; one for the public URL accessed on WAF and the other one used by the pods,
What I want to achieve is to have SSL channel between WAF and the pods, there's an article that points that is only necessary that the certificate is valid,

[2020-01-03 22:15] akshaysngupta commented on #700
@evmimagina I have created a PR which adds an annotation `appgw.ingress.kubernetes.io/backend-hostname`. Using this annotation, you can specify the `hostname(SNI)` that Application Gateway should use while talking to the Pods.

[2020-01-03 22:30] akshaysngupta commented on #697
helm 3 did away with tiller. Now you don't need to execute this step. I will update the documentation soon.

[2020-01-03 22:30] #697 closed

[2020-01-03 22:32] #696 closed

[2020-01-03 23:20] akshaysngupta commented on #693
@thomas-riccardi Did you try @StianOvrevage's suggestion ?

[2020-01-03 23:50] akshaysngupta commented on #685
@mayong43111 I think the error message needs an improvement here.
Can you check if the application gateway information is correct ?

[2020-01-04 14:50] Phydeauxman opened #702 "Update Helm install steps for new version of Helm"
This repo is a great How-To to learn more about k8s, App Gateway, and Helm but the Helm install steps are no longer accurate. Helm v3 removed Tiller. Being someone that has zero experience with Helm, (let alone limited experience with k8s) I do not know how to use this How-To guide with Helm version 3. I wound up going back and leveraging the last v2 release.

[2020-01-06 11:34] thomas-riccardi commented on #693
@StianOvrevage @akshaysngupta splitting into multiple Ingress is indeed the workaround, but it has some limitations:
- impose different domains names: I'd like to have different timeouts for the same domain and different paths.
- higher cost

[2020-01-07 08:46] hugoderene commented on #655
Do you have any idea when this functionality will be available in region westeurope?

When I currently try to implement the annotation "**appgw.ingress.kubernetes.io/waf-policy-for-path**" the azure-application-gateway-kubernetes-ingress-pod returns the following err_msg:

`Error mutating App Gateway config from k8s event. network.ApplicationGatewaysClient#CreateOrUpdate: Failure sending request:

[2020-01-08 11:23] evmimagina commented on #700
Hi Akshay,

Thanks for looking into this, how can I test that setting? should I install any specific versión to test it?

Regards,

[2020-01-09 19:14] Morriz opened #705 "appgw.usePrivateIP has no default value leading to errors"
exactly as title says ;)

error:
[code]

[2020-01-09 20:17] nezoic commented on #91
Was this ever answered or set as a supported approach? I also do not understand why a service principal would only be used for development. It's pretty common practice to prefer service principals over MSI in Azure.

[2020-01-10 16:49] askew opened #706 "Only configure pod IP addresses in the AG back-end pool."
Many organisations want to manage ingress routes, SSL etc. separately from the application deployments. It would be ideal if the Application Gateway Ingress Controller had a simple mode whereby the only configuration changes it makes are managing the pod IP addresses in the back-end pool of the Application Gateway. The config would simply need to reference the name of the back-end pool. All other

[2020-01-13 19:48] mschumacher2625 opened #707 "Custom health probes"
Would like to use annotations to set different path, interval, timeout , and unhealthy thresholds.

**Describe the solution you'd like**
add the following annotations.
appgw.ingress.kubernetes.io/healthprobe-path
appgw.ingress.kubernetes.io/healthprobe-interval
appgw.ingress.kubernetes.io/healthprobe-timeout
appgw.ingress.kubernetes.io/healthprobe-unhealthythreshold
and apply the settings to the a

[2020-01-13 20:58] mschumacher2625 commented on #707
duplicate of
https://github.com/Azure/application-gateway-kubernetes-ingress/issues/472

appears that AGIC will use the readiness probe settings
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/

[2020-01-13 20:58] #707 closed

[2020-01-14 02:59] mayong43111 commented on #685
I communicated with the Chinese Azure team and finally used the version 1.0.1-rc1.

[2020-01-14 02:59] #685 closed

[2020-01-15 03:44] mayong43111 commented on #103
This is a very useful feature. Do you have any plans to develop it?

[2020-01-16 00:30] mscatyao commented on #103
Hey all - this is definitely a useful feature and is on our roadmap.

[2020-01-16 21:31] nezoic opened #709 "[error]client.go:401: Replaced "agic-cm-ingress-azure""
**Describe the bug**
Attempted to change to version 1.0.1-rc2 in order to avoid issue [(#674)](https://github.com/Azure/application-gateway-kubernetes-ingress/pull/674)

**To Reproduce**
Steps to reproduce the behavior:
Switch from 1.0.0 to1.0.1-rc2

**Ingress Controller details**
Name:           agic-ingress-azure-79cc6d9f47-pq6cx
Namespace:      default
Priority:       0
Node:           aks-agen

[2020-01-17 10:53] mcambal opened #710 "Add support for using custom nodeResourceGroup instead of MC_ResourceGroup_ResourceName_Location"
**Is your feature request related to a problem? Please describe.**
ARM template currently supports using nodeResourceGroup for customizing the nodes resource group name. AGIC currently supports only MC_ResourceGroup_ResourceName_Location. It is a bit misleading if AKS supports it

**Describe the solution you'd like**
I expect that AGIC will work with any resource group name

[2020-01-17 11:29] mcambal opened #711 "Documentation > invalid? request to keep identity in the same RG as the AKS nodes"
**Describe the bug**
There is a requirement in the Brownfield deployment to keep AAD Pod Identity in the same resource group as the AKS nodes. This requirement is not mentioned in the Greenfield Deployment.

What is the difference between Brownfield and Greenfield deployments that only Brownfield deployment requires it? Is it still valid?

This is the text from documentation (https://azure.github.

[2020-01-17 16:06] nezoic commented on #603
I'm seeing the same issue here. Any updates on this?

[2020-01-17 16:13] mohamedmzid opened #712 "getting error on worker.go:62 when setting parameter shared=true in helm-config.yaml"
**Describe the bug**

error when trying to set two differents targets (/app1 and /app2) from two different AKS clusters to the same appgw (waf v2)

**To Reproduce**

- install AGIC on AKS1 and AKS2 with parametre (shared=true)
- create two AzureIngressProhibitedTarget with /app1/* and /app2/* in two clusters
- ingress deploymenet for app1 work correctly but when creating ingress for app2 i got the

[2020-01-17 16:25] jocortems commented on #603
@nezoic It still doesn't work with AAD Pod Identity, but you can use service principal

[2020-01-17 16:41] nezoic commented on #603
@jocortems Does this work for anyone with any configuration? I was using service principal but myself an other had issues with that, someone said it was only designed for testing / development but it doesn't even work for that from what I can tell. Sorry to sound rude but I've been trying to get this whole process working for over a month now and I'm going to be forced to throw up my own VM's and

[2020-01-17 18:03] jocortems commented on #603
@nezoic I tested this and works for me. I'm curious to understand what are the issues you are having

[2020-01-17 20:27] #700 closed

[2020-01-17 20:33] akshaysngupta commented on #711
@mcambal In greenfield, `template` deployment part takes care of deploying the identity. Then, it is just about referencing it in the helm-config.
In brownfield, user assigned identity is created by manually running `az cli` commands.

As such, there is no restriction on where the identity is present as long as the user has `managed identity operator` rights over the identity.

I am working on ali

[2020-01-17 20:33] #711 closed

[2020-01-17 20:45] akshaysngupta commented on #710
@mcambal AGIC functionally doesn't require `nodeResourceGroup` to be of `MC_ResourceGroup_ResourceName_Location` format. If you are referring to the error, it is harmless.

Tagging the app gateway with the AKS cluster is definitely useful. I am still looking for a better way of arriving at the cluster name/id.

[2020-01-17 20:45] #710 closed

[2020-01-19 20:04] aleksmark commented on #683
@akshaysngupta here is the feedback from MS support. I hope it helps.

[code]

[2020-01-20 12:20] mcambal commented on #710
@akshaysngupta I got a warning from AGIC if I use different node resource group than MC_.  And this is the code from azure.go file

`func ConvertToClusterResourceGroup(subscriptionID SubscriptionID, resourceGroup ResourceGroup, err error) (string, error) {
	if err != nil {
		return "", err
	}

	split := strings.Split(string(resourceGroup), "_")
	if len(split) != 4 || strings.ToUpper(split[0]) != "

[2020-01-21 05:53] saikarthik528 opened #714 "Will not attach default redirect to rule; SSL Redirect does not exist"
**Describe the bug**
We are trying to make use of AGIC ssl-redirect feature to redirect out http traffic to https end-point.  We mentioned "appgw.ingress.kubernetes.io/ssl-redirect": "true" ad part of the ingress definition.

But, the redirect rule is not getting created in app gateway.

Checking logs of the ingress controller, we see the following:

E0120 14:50:00.293202       1 requestroutingrul

[2020-01-21 06:57] mschumacher2625 commented on #316
Eta on this?

[2020-01-21 07:20] mschumacher2625 opened #715 "error: Future#WaitForCompletion: context has been cancelled: StatusCode=200"
**Describe the bug**
error: Future#WaitForCompletion: context has been cancelled: StatusCode=200 -- Original Error: context deadline exceeded
I0121 07:05:24.811176       1 mutate_app_gateway.go:174] END AppGateway deployment

**To Reproduce**
We have a deployment with ~35 sites.. and setup http redirect.. so ends up with ~70 listeners.. This is initial deployment, plan on having more towards ~200

[2020-01-21 07:22] mschumacher2625 commented on #715
I believe this https://github.com/Azure/application-gateway-kubernetes-ingress/issues/316 would help.. to not have to have different certs for each deployment

[2020-01-21 22:02] nacho-marin commented on #688
Sorry. I forgot the notification from mindstormz asking me to talk about the missing step back in the day when he post it.

And it was quite a huge error. I followed the tutorial without executing the preliminary Greenfield Deployment steps (https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-new.md). Huge error on my side.

[2020-01-21 22:12] nacho-marin commented on #688
@mindstormz , it has worked for me perfectly, with only one change and a decision... if you follow the steps as they are in the tutorial, you go to Helm's website and get the latest version, which is v3... and all the steps are for v2... if you go for Helm v3, you do not need to execute the following commands when doing the Install Helm steps in the Greenfield Deployment process:

- If you use RBA

[2020-01-22 05:41] #714 closed

[2020-01-22 05:42] saikarthik528 commented on #714
Seems to be an issue with certificates.  Was able to resolve after recreating the secret in kubernetes.

[2020-01-22 22:05] qmalexander commented on #535
Any updates on this?

[2020-01-22 22:12] vavane-ms commented on #535
I believe this is fixed; you should be able to verify with the latest stable release.

[2020-01-23 03:44] sidd-pandey opened #716 "Ingress controller not picking changes to new/existing Ingress resources"
**Describe the bug**
The deployed ingress control does not pick existing or newly created Ingress resources. The Ingress resources are properly annotated. On killing controller pod, the newly spawned pod is able to detect existing Ingress and update the Application Gateway accordingly. But after the initial sync up with Application Gateway, the pod will stop updating/listening for the Ingress exis

[2020-01-23 07:59] qmalexander commented on #535
Hi @vavane-ms we use aksEngineVersion: v0.45.0-1 aks for our windows nodes. So is there a later version?

[2020-01-23 12:25] ferhaty opened #717 "Ingress Controller enforces a public frontend IP"
Hi,

I'm getting the following error when deploying the AGIC with an existing Application Gateway.

[code]

My Application Gateway does not have a public ip. It's internal only. Why is the public frontend IP enforced in the validator?

See also:
https://docs.microsoft.com/en-us/azure/application-gateway/configuration-overview#front-end-ip

[2020-01-23 18:20] vavane-ms commented on #535
It should be fixed there. It seems you are hitting a different problem in the AKS engine with the same symptoms.

[2020-01-23 18:39] qmalexander commented on #535
@vavane-ms aha ok. Do you think I should supply a new issue or do a support ticket? I did a comment in  #1367 as well. There I confirm that the ag get the correct IP to the pod.

[2020-01-24 00:17] aleksmark commented on #683
more info from the ms support, on the issue:

[code]

[2020-01-24 20:00] warroyo commented on #677
@akshaysngupta any updates on this being available without the Azure CNI?

[2020-01-27 09:57] evenh commented on #462
Any update on this functionality?

[2020-01-27 14:31] samrobillard opened #720 "Configuring Shared AGIC after deployment fails"
Deploying the Helm chart with the option "shared: true" in helm-config.yaml throws the following error:

**manifest_sorter.go:175: info: skipping unknown hook: "crd-install"
Error: UPGRADE FAILED: unable to recognize "": no matches for kind "AzureIngressProhibitedTarget" in version "appgw.ingress.k8s.io/v1"**

Following the documentation and applying the following manifest:

**apiVersion: "appgw.i

[2020-01-27 16:50] samrobillard opened #721 "App GW with Let's Encrypt not working"
Following the documentation provided in this repo to configure Cert-Manager with App GW and the ingress controller does not create any https listener, backend pool or anything but I see the following in the logs:

I0127 16:30:58.327137       1 mutate_app_gateway.go:154] BEGIN AppGateway deployment
I0127 16:31:18.869181       1 mutate_app_gateway.go:182] Applied App Gateway config in 20.542019492s

[2020-01-27 20:00] akshaysngupta commented on #716
@sidd-pandey You should try the following
1) Look at the logs by setting [log verbosity](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/troubleshooting.md#logging-levels) to 5.
2) Look at the k8s events by see if you see any event associated to the ingress created by AGIC.

[2020-01-27 20:06] akshaysngupta commented on #715
@mschumacher2625 Thanks for reporting. I will take a look shortly.

For #316, yes, currently, you need to provide certificate for each namespace, we are planning to make this easier by having a Key Vault integration. I don't have an ETA yet.

[2020-01-27 20:15] akshaysngupta commented on #705
Thanks for reporting.
Here is PR fixing it: https://github.com/Azure/application-gateway-kubernetes-ingress/pull/722

We will soon do a release carrying this fix.

[2020-01-27 20:18] akshaysngupta commented on #698
Thanks for reporting.
Here is PR fixing it: https://github.com/Azure/application-gateway-kubernetes-ingress/pull/722

We will soon do a release carrying this fix.

[2020-01-27 20:18] #705 closed

[2020-01-27 20:19] akshaysngupta commented on #699
@Morriz Interesting.
Would you be willing to take a stab at this ?

[2020-01-27 20:26] akshaysngupta commented on #702
@Phydeauxman With helm 3, there is no tiller component that you need to deploy to the k8s cluster. This means that we can avoid the part of instructions that are needed to setup tiller.
Following are the commands we will skip.
[code]

But still need to add the repo for AGIC to helm and perform the installation.
[code]

And then proceed with installing the ingress controller in AGIC setup instructi

[2020-01-27 20:26] #702 closed

[2020-01-28 03:48] sidd-pandey commented on #716
@akshaysngupta I tried checking the events and logs at verbosity 5. Nothing really comes up.
All I can see in logs is the JSON template which is getting applied initially. But after I create the ingress resource, no new events or changes to logs are seen.

I am sharing the events here:
`kubectl get events --sort-by=.metadata.creationTimestamp --all-namespaces`
[code]

Just to add there is no Azure

[2020-01-28 05:00] mscatyao commented on #462
Hey @evenh - this is still on our backlog, unfortunately we don't have an ETA for this yet as we're working a couple other features right now.

[2020-01-28 05:11] mscatyao commented on #717
Hey @ferhaty, it looks like you're using an AppGW v1 SKU. AGIC past the [0.9.0 release](https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.9.0) doesn't support AppGW v1 SKU. Given your error, we'll need to move the SKU validation before the public IP validation (since AppGW v2 currently must have at least a public IP).

[2020-01-28 05:30] akshaysngupta commented on #716
@sidd-pandey I see `ingress_rules.go:112] Found backend:kube-system/kubernetes-dashboard`. Are you trying to expose kubernetes dashboard using AppGW ?

[2020-01-28 05:36] akshaysngupta commented on #716
This is probably because we are skipping events for `kube-system`.
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/d4ee68eede0f0a706de3116c790b0b3183c2d7a1/pkg/k8scontext/context.go#L42

Is there a use-case for exposing k8s dashboard through AGIC ? Would be great if you can explain your scenario.

[2020-01-28 05:57] akshaysngupta commented on #721
@samrobillard You should try the following
1) Look at the logs by setting [log verbosity](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/troubleshooting.md#logging-levels) to 5.
2) Look at the k8s events by see if you see any event associated to the ingress created by AGIC.

[2020-01-28 06:06] sidd-pandey commented on #716
Basically I want to compare the ease of use and reliability when using the managed Azure Application Gateway + Ingress Controller versus Azure Load Balancer + Ambassador.
The primary use cases would be to expose web applications for internal use. We have Azure Virtual Network gateway set up to access these private endpoints.
There is nothing specific about exposing the dashboard. I picked it as a

[2020-01-28 07:04] akshaysngupta commented on #716
Yes, Ingress Controller will pick up changes on the fly.
If you want to experiment, you can also pick this example.
https://raw.githubusercontent.com/Azure/application-gateway-kubernetes-ingress/master/docs/examples/aspnetapp.yaml

[2020-01-28 17:49] samrobillard commented on #721
@akshaysngupta

Thanks for getting back to me. Setting the logging level 5 showed that with a TLS config in the Ingress manifest, nothing besides the default pool, listener, etc get created. If my manifest contains only the HTTP portion, everything gets created as it should. Let me know if I can provide more information.

[2020-01-28 18:23] samrobillard commented on #721
I figured out the issue. There were some changes in the API version and annotations since version 0.8 that is explained in the documentation. For the ClusterIssuer is now "cert-manager.io/v1alpha2" with the http01 section now being:

solvers:
  - http01:
    ingress:
      class: azure/application-gateway

The annotation for the Ingress manifest is now: "cert-manager.io/cluster-issuer:"

[2020-01-28 18:23] #721 closed

[2020-01-28 21:16] runes83 commented on #103
Any updates? @mscatyao

[2020-01-30 03:15] sidd-pandey commented on #716
Thanks for sharing a simpler example. I will test this, probably next week, and report back how it goes.

[2020-01-30 15:01] landro opened #725 "Major drawbacks of using Application Gateway Ingress Controller"
From the announcement at https://azure.microsoft.com/nb-no/blog/application-gateway-ingress-controller-for-azure-kubernetes-service/ and documentation at https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#configuration---ingress-controller-for-aks one can get the impression that using the azure application gateway ingress controller in order to configure an azure ap

[2020-01-30 15:18] horocrux commented on #676
Hi @akshaysngupta, I had the same issue and I solved it by doing your recomendation, but why is needed the "/" route?, What if I need to use always a path to point to my services, should I put a dummy service with "/" route?, Whats is your recommendation in that escenario?

[2020-01-31 03:49] RobLSDev commented on #725
This exactly mirrors the findings my company had with AGIC, as well as other technical limitations and stability issues with the App Gateways themselves.  The AGIC seems to function reasonably well enough, but the AG itself seems terribly implemented.

For instance, during deployments we allow up to 1 pod to be unavailable, and the count can burst by 1.  This means we'll see an initial request to

[2020-01-31 21:26] Jdesk opened #727 "Ingress Controller Fails to Find the Application Gateway"
**Describe the bug**
What I gather from the output is that the application gateway cannot be found.  However it does exist, I have tried both using a service principal and using aapodidentity methods.   Any help here would be much appreciated

**To Reproduce**
Steps to reproduce the behavior:
Create service principal, assign roles, then install chart via helm.

**Ingress Controller details**
* Out

[2020-01-31 22:42] mscatyao commented on #725
Hey @landro,

We’re sorry to hear that you had a bad experience with AGIC. The expected configuration update time for Application Gateway v2 is on the order of ~40 seconds.

We looked into the logs for the Application Gateway you provided in the support ticket and the other Application Gateway that experienced slow update times, and acknowledge that two of the updates to the Application Gateways t

[2020-02-01 00:25] akshaysngupta commented on #727
@Jdesk Thank you for reporting. I couldn't find your application gateway either. Can you check again ?

[2020-02-01 01:10] sdesmond46 commented on #725
We ran into this problem as well except the updates just completely failed and timed out after 15 minutes. The gateway was then stuck in an updating state so we couldn't make any changes to it at all.

I spent the afternoon switching to use nginx-ingress instead 😞

Our ticket number is 120013121001561 if you wanna look at the logs

[2020-02-03 08:47] DenisBiondic opened #728 "Possible race condition between processing Ingress and Secret resource"
**Describe the bug**
When using the application gateway with cert-manager, a random issue occurs where the 443 port / route will not be mapped in the application gateway. The application gateway ingress controller simply reports "secret is malformed, tls.key or tls.crt is not defined" (check logs below). Restarting the controller resolves the issue, which seems to me that the watching for these tl

[2020-02-03 14:33] Jdesk commented on #727
what do you mean you couldn't find my application gateway?   How were you able to access my account @akshaysngupta  -  we are using azure gov cloud.   I created the application gateway and am looking right at it.

Right now my workaround is going to be using nginx ingress and setting up the app gateway in front of it.

I would prefer to use azure ingress, but if it's going to be too much trouble,

[2020-02-03 14:50] landro commented on #725
Hey @mscatyao,

Thanks for getting back to me.

I have a few more questions that I would like you to comment on:

1. Expected performance
---------------------------

I have found no official sources documenting this.
It would be great if you could provide us with detailed response time metrics - I'm sure you're actively tracking this number across all app gw instances that you manage. 90, 95, 99,

[2020-02-03 17:03] henningploegerzeb opened #729 "Probe path ignored if backend-path set"
I set a liveliness probe on my pod. The ingress resource is configured with backend-path set. The integrity tests list in Azure Portal shows a path with value "/". The pod is marked as unhealthy.

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: w
  namespace: a
  annotations:
    kubernetes.io/ingress.class: azure/application-gateway
    appgw.ingress.kubernetes.io/backend-path-pref

[2020-02-03 19:32] akshaysngupta commented on #727
@Jdesk Can you add this your helm config ?
[code]
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/10b8c1be6b5d71e25445efcbb4b70fff3863d783/helm/ingress-azure/values.yaml#L31

Don't worry. I don't have access to your account. I tried looking up your gateway using internal tools on public cloud. :)

[2020-02-03 23:29] AlexanderViken opened #730 "Unable to get AGIC to work with AKS backed by VMSS"
**Describe the bug**
.I've tried to get AGIC to work with both brownfield and greenfield eployment with an AKS service backed by VMSS. For some reason it will not work.

**To Reproduce**
Modify greenfield sample template to use VMSS instead of AvailabilitySet.

If it is a know issue I think it would be wise to put a notice about it.

[2020-02-04 02:59] #716 closed

[2020-02-04 03:00] akshaysngupta commented on #730
@AlexanderViken You should try the following
1) Look at the logs by setting [log verbosity](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/troubleshooting.md#logging-levels) to 5.
2) Look at the k8s events by see if you see any event associated to the ingress created by AGIC.

[2020-02-04 09:19] ferhaty commented on #717
@mscatyao Thanks! We tried AppGW v2 and it enforced a public IP. We need private IP only mode for our AGs or public IP mode with the ability to lock it down. So we went for the Nginx Ingress Controller for the time being until our enterprise org. supports AppGW v2.

[2020-02-04 09:19] #717 closed

[2020-02-04 09:50] #729 closed

[2020-02-04 11:24] pratham98k opened #731 "Does application-gateway support Helm 3"
Does application-gateway support Helm 3, I am using continuous deployment.
https://azure.github.io/application-gateway-kubernetes-ingress/how-tos/continuous-deployment/

soon planning to use aks(k8s)1.17 for CD will this work ?

[2020-02-04 11:53] ahojman commented on #462
Hello everyone! 🙋🏻‍♂️- Upvoting this feature, as it's being also requested around! @mscatyao we'll much appreciate if this can be placed little bit up on the priority list.

[2020-02-04 13:48] hajdukd commented on #725
@landro You may consider using an explicit lifeCycleHook on your deployments to wait X amount of time (depending on your draining configuration) and only after that time is finished start removing the pod - it will be switched to terminating status and AGIC should reconfigure AG to remove it but let requests finish.

I hoped for being able to run RollingUpdates for my deployments swapping pods 1b1

[2020-02-04 15:41] landro commented on #725
We're already doing what you're suggesting @hajdukd - that won't help much however if app gw spends 10 minutes performing config changes.

[2020-02-06 01:20] mscatyao commented on #725
Hey @sdesmond46 - thanks for reaching out. We're sorry for the delays; we'll reach out to you shortly.

Hey @landro - these are all great questions. We understand your frustrations; we've reached out via the support case you opened and will be following up there. In terms of the FAQ, I'll change the wording to be more clear and specify that the answer refers to provisioning/create time and not upd

[2020-02-06 10:04] AlexanderViken commented on #730
for some reason it has suddenly started to work but I have noe idea of why because I've run this deployment script a 100 times. I'll just close this.

[2020-02-06 10:04] #730 closed

[2020-02-06 19:17] jsco2t opened #732 "Question: How to support multiple AGIC with multiple AGW in a single AKS cluster using IngressClass"
Hi,

I have been digging through the documentation and I apologize if I have missed this. Here is the scenario I am trying to solve for:

- A single AKS Cluster
- Two App Gateways (configured with different routing/firewall rules)
- Two App Gateway Ingress Controllers

Basically (and this is over simplified). Say I have two kinds of workloads. Web Services and API Services. I want both workloads t

[2020-02-06 19:52] jsco2t commented on #732
I did see this issue:

https://github.com/Azure/application-gateway-kubernetes-ingress/issues/636

To further clarify the above -in my scenario both of the above described workloads live in the same `k8s namespace`.  I don't want to have to artificially segment my workloads into separate `k8s namespaces` unless that's the only way to make this work.

Even if the solution is segmenting `AGIC` by na

[2020-02-07 20:27] nsaud-skysync commented on #702
I'm getting tripped up at adding the AGIC repo. I get the following:

[code]

[2020-02-07 20:57] akshaysngupta commented on #702
@nsaud-skysync Looking at the error message:
[code]
Can you see if fixing the permission issue solves the problem ?

[2020-02-10 12:55] nerijusk commented on #678
Seeing the backend hostname annotation implemented (https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#backend-hostname), this issue is the last missing part for a decent AGIC operation in environments where end to end TLS is a strict requirement. It would really help those running such environments to provide their own CA certificate for AppGw to use w

[2020-02-12 03:34] kevinmarx opened #733 "AGIC Removes Custom Error Pages on Listeners"
I have custom error pages applied to listeners in App Gateway. AGIC seems to be removing these any time it performs an update to the AGW. Is there a way I can define the custom error pages as part of the ingress resource?

**To Reproduce**
Set custom error pages on listeners for 403 and 502 errors.
Perform a kubernetes deploy
Observe the listeners no longer have custom error pages applied.

**Ingr

[2020-02-12 13:29] nerijusk commented on #678
In addition to my previous comment, it is possible to upload and specify a custom CA certificate on application gateway http settings when the back-ends are not AKS pods. This should be treated as a feature parity request.

[2020-02-12 21:54] niteenkole commented on #603
Works when I switch from AAD to SP ,I am using ingress-azure-1.0.0

[2020-02-13 09:28] BzSpi commented on #720
It seems that the Helm chart does not deploy the required CRD https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/crds/AzureIngressProhibitedTarget.yaml.

It should.

[2020-02-13 17:32] akshaysngupta commented on #727
@Jdesk were you able to solve this?

[2020-02-13 17:41] akshaysngupta commented on #678
@nerijusk as trusted root certificate is not a secret but the just he public part, it doesn't belong in k8s secret. Do you think putting the base64 encoded cert into the ingress resource would make any sense?
Also, this feature would need to support atleast 2 root certificates to allow for root certificate rotation on pod.

[2020-02-13 18:14] nerijusk commented on #678
I have a solution for automated certificate provisioning for pods by cert-manager. The certificate resource is created by initContainer on pod start. It waits for the corresponding secret to be created by cert-manager in Kubernetes before passing control to the main container. So the part of pod individual certificates is covered. The missing part is the issuing CA certificate pushed into http set

[2020-02-14 15:09] snapfisher commented on #363
I am having the exact same problem.  The template installs from the CLI with no errors, but if you try to deploy it through Azure DevOps, I get this exact error.  And I have already made the Azure DevOps client and owner on the resource group. so....I'm scratching my head on this.

[2020-02-14 16:45] dcasavant opened #734 "Cookie based affinity timeout"
**Is your feature request related to a problem? Please describe.**
When using cookie based session affinity (`appgw.ingress.kubernetes.io/cookie-based-affinity: "true"`), I want to specify a cookie timeout.

In this use case, session affinity is used to take advantage of locally cached data in a container for performance benefits. We also use an HPA for Pod autoscaling.  After a scale up event we

[2020-02-14 19:34] flyer299 opened #735 "AGIC Not Running in Azure VA Gov Cloud"
**Describe the bug**
The AGIC does not seem to want to run and function.   The big difference for us is that we are running in the Azure Gov Cloud and not the Commercial Cloud.    I've already noticed a few features not supported in order to get through the tutorial.

Also another Warning, I am a complete newbie to AKS and K8S.  I have had some experience in the past in the Google Compute Cloud, b

[2020-02-17 16:31] adhodgson1 opened #736 "Using a default SSL certificate"
Is there any way to provision a default certificate so that we don't need to push SSL certs to the ingress rules on the app? We are doing this via Traefik at the moment using the default SSL configuration in Traefik itself. We would look to only allow SSL ports on the Application Gateway itself and any ingress used would be HTTPS only. I don't mind if we have to configure the default SSL via an AR

[2020-02-18 11:51] peter0086 commented on #531
Also met the issue 'undefined: autorest.GetSendDecorators'.
Please offer your help.

OS: rhel 7
Go version: go1.12.7

import **github.com/Azure/azure-sdk-for-go v39.1.0+incompatible**
then, which version of autorest should I use?
Thank you.

[2020-02-18 16:08] abenck commented on #733
@draychev
This is a good feature to have, we just discussed doing this while performing maintenance on a production application.

[2020-02-18 22:11] awakecoding commented on #491
I think I am facing the same issue with the "regular" Azure Application Gateway (not as an ingress controller for AKS). I get WebSocket disconnections after ~30sec of inactivity, and my WebSocket server default configuration is set to send WebSocket pings every 2 minutes. Is the default idle timeout for the WebSocket connections in the Azure Application Gateway configurable in any way? I'll see if

[2020-02-18 23:41] akshaysngupta commented on #735
@flyer299 Thanks for reporting. Here is how you work around the two issues:
1. For template validation error, after downloading the arm template, you should remove the `httpApplicationRouting` and then try again.
2. Second issue is related to AGIC not using the right endpoints for ARM/AAD in VA Gov cloud. These endpoints vary based on the cloud environment.'
This can be configured easily by settin

[2020-02-19 00:23] akshaysngupta commented on #734
@dcasavant This is a feature ask on Application Gateway as it doesn't support cookie timeout.

[2020-02-19 00:35] akshaysngupta commented on #728
@DenisBiondic This seems to a race condition between processing the ingress and secret object.

[2020-02-19 20:51] akshaysngupta commented on #727
Closing this issue. Feel free to open it again if the issue persists.

[2020-02-19 20:51] #727 closed

[2020-02-19 23:11] snapfisher commented on #116
I am having the same issue trying to deploy the greenfield deployment from Azure DevOps.  I could not fix this issue the remote helm charts and the helm repo, so I downloaded all of the helm charts into my project directly, and I still have the issue.  I am using two different pipelines, one to deploy the arm templates and one to do the helm deployment to the cluster.  I can get it to deploy using

[2020-02-20 15:21] AdamSharif-MSFT opened #739 "Greenfield docs do not specify Azure CNI as a prerequisite"
**Describe the bug**

Documentation here missing the prerequisite for Azure CNI rather than Kubenet

**To Reproduce**
N/A - documentation needs clarification

--

On the official setup docs, we see a note for Azure CNI being a prerequisite for brownfield deployment:

_Prerequisites
This documents assumes you already have the following tools and infrastructure installed: - AKS with **Advanced Netwo

[2020-02-20 16:51] bg2s0r opened #740 "cloud environment variable problem"
**Describe the bug**
I set the cloud environment variable to AzureChinaCloud, but it still request the wrong api endpoint.
**To Reproduce**
snippet of helm-config.yml
`
appgw:
    environment: AZURECHINACLOUD
    subscriptionId: dc6f24f5-ff36-4029-b603-ddb144490348
    resourceGroup: testResourceGroup1
    name: ApplicationGateway1
    usePrivateIP: false
`

**Ingress Controller details**
* Output

[2020-02-20 17:26] bg2s0r commented on #735
Sir, I think the `environment` variable is not implemented, I set the environment variable, but it still request the wrong endpoint. #740

[2020-02-20 21:00] flyer299 commented on #735
I had an open case with Azure Support and got the word back from the product team that the AGIC won't work in the Gov Cloud for a reason that wasn't specified.  They said that there is no timeline to resolve what ever issue they found.

I will try these suggestions to see if perhaps they are wrong and it might work, but I am not very hopeful at this time.

[2020-02-20 22:10] flyer299 commented on #735
The files I have to work with don't exactly line up with the instructions that you gave me to follow, but I tried to follow them the best I could and research to make sure I did it right.   You pointed me to a helm config file called values.yaml.  Yet following the tutorial that I referenced in my original post, we end up with a file called helm-config.yaml, and that file does not have any of the

[2020-02-21 02:16] bg2s0r commented on #735
Hi, friend. Cloud you check the pod log? I think it's the wrong api endpoint too.

[2020-02-21 15:19] jelster commented on #615
The AKS docs for the http-routing-addon state that you shouldn't use it for production scenarios, yet when it comes to using something like AGW in production you're forced to reverse-engineer the thing about http-routing-addon that makes it so clutch: the automatic DNS management.

I know that in concept, adapting how the http-routing-addon integrates with ExternalDNS should be easy to copy by set

[2020-02-21 16:56] ericgoode commented on #731
I was able to follow the directions, skip the tiller install and use Helm 3 to install the gateway.

[2020-02-21 18:27] flyer299 commented on #735
@bg2s0r  -  I agree it is still using the wrong end points...

here is the output of the logs for the AGIC pod:

[code]

[2020-02-21 18:53] raxlarsbutler opened #741 "Possible logic error while validating frontend IP configuration"
**Describe the bug**
When installing the helm chart for an App Gateway with *only* a private IP, the following error appears in the container logs shortly after helm chart installation:

[code]

My helm config specifies `usePrivateIP: true`.

My question is, is it actually valid to *only* have a private IP? (I don't see why not.) If so, I believe the logic error is here:

https://github.com/Azure/

[2020-02-22 00:20] akshaysngupta commented on #741
Hi @raxlarsbutler
AGIC supports only v2 sku after version `0.9.0` and v2 sku has limitation that requires it to have a public IP. We are planning to remove this limitation in a few months after making some infra changes.
Since your deployment is missing a public ip, I will assume that you are using v1 sku gateway. You are seeing this error because the validation for sku is actually placed right af

[2020-02-22 00:32] akshaysngupta commented on #735
@bg2s0r @flyer299 `1.0.1-rc2` version has the environment variable implemented. Can you please try this version ?
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/how-tos/helm-upgrade.md

[2020-02-22 00:32] akshaysngupta commented on #740
Closing this in favor of https://github.com/Azure/application-gateway-kubernetes-ingress/issues/735

[2020-02-22 00:32] #740 closed

[2020-02-22 00:35] akshaysngupta commented on #739
@AdamSharif-MSFT You can now use AKS with kubenet with AGIC. Just make sure that you associate the route table of AKS with Application Gateway's subnet. I will update the docs soon.

[2020-02-22 00:35] #739 closed

[2020-02-22 00:40] akshaysngupta commented on #457
Added a [CI/CD document ](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/how-tos/continuous-deployment.md)for AzureDevOps
Closing.

[2020-02-22 00:40] #457 closed

[2020-02-22 00:41] akshaysngupta commented on #653
@onybo Were you able to get past this issue ?

[2020-02-22 04:29] bg2s0r commented on #735
Thanks, upgrade to 1.0.1-rc2, works like a charm.

[2020-02-22 07:03] AdamSharif-MSFT commented on #739
That's great news! Does this support AppGw V2 also, or just V1 for now?

Sent from Nine<http://www.9folders.com/>
________________________________
From: Akshay Gupta <notifications@github.com>
Sent: Saturday, 22 February 2020 00:35
To: Azure/application-gateway-kubernetes-ingress
Cc: Adam Sharif; Mention
Subject: Re: [Azure/application-gateway-kubernetes-ingress] Greenfield docs do not specify Azu

[2020-02-23 04:24] #735 closed

[2020-02-23 05:55] akshaysngupta commented on #732
@jsco2t Unfortunately, At the moment, AGIC only supports partitioning on the basis of namespaces.

You are welcome to contribute code towards making ingress class configurable through helm config.

[Here](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/ff348df82ab067285478ea82bf80bcef493f7e26/pkg/annotations/ingress_annotations.go#L90) is where the logic resides for selecting

[2020-02-23 05:57] akshaysngupta commented on #731
Yes, it supports helm 3. As mentioned by @ericgoode, just skip the `helm init`

[2020-02-23 06:02] akshaysngupta commented on #709
@nezoic Were you able to get past this issue ?

[2020-02-23 20:15] #34 closed

[2020-02-23 20:16] akshaysngupta commented on #34
Closing as this has been resolved.

[2020-02-23 20:17] akshaysngupta commented on #75
Closing this issue.
Please follow this [document](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/how-tos/minimize-downtime-during-deployments.md) to reduce the 502s during rolling updates.

[2020-02-23 20:17] #75 closed

[2020-02-23 20:25] #93 closed

[2020-02-23 20:27] akshaysngupta commented on #116
Are you using [CD document](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/how-tos/continuous-deployment.md) to setup the pipeline ?

[2020-02-23 20:32] akshaysngupta commented on #399
Yes, this is now supported. We will update the docs soon on this.

If you want to try this quickly, just associated the AKS route table in node resource group to the subnet used by Application Gateway.

[2020-02-23 20:32] #399 closed

[2020-02-23 20:33] #426 closed

[2020-02-23 20:35] akshaysngupta commented on #426
This was fixed in `0.9.0`.
Note: AGIC doesn't support AppGW v1 SKU after version `0.9.0`.

[2020-02-23 20:36] akshaysngupta commented on #508
@SteveCurran Please reopen this issue if you need more assistance.

[2020-02-23 20:36] #508 closed

[2020-02-23 20:39] akshaysngupta commented on #512
Duplicate: https://github.com/Azure/application-gateway-kubernetes-ingress/issues/513

[2020-02-23 20:39] #512 closed

[2020-02-23 20:42] snapfisher commented on #116
No.  I was not aware that that existed.  I had the manual procedures and thought I should not need any major modifications from that.

I'll go through the procedure this week.  See if I can get it to run, and note where there are any discrepancies.  Maybe they will be appropriate for the documentation page.

Thx.

On Feb 23, 2020 3:27 PM, Akshay Gupta <notifications@github.com> wrote:

Are you usi

[2020-02-24 00:26] akshaysngupta commented on #694
Afaik, deploying a linux node pool is mandatory in AKS. Given that you can have AGIC run in the linux pool while pods can reside in the windows node pool.

[2020-02-24 00:26] #694 closed

[2020-02-24 00:27] akshaysngupta commented on #225
Duplicate: https://github.com/Azure/application-gateway-kubernetes-ingress/issues/535

[2020-02-24 00:29] #698 closed

[2020-02-24 07:32] Baklap4 commented on #75
@akshaysngupta Where are the tracking issues for the longterm-support solution? Making the backendpool pick up changes faster?

[2020-02-24 09:21] onybo commented on #653
No, we gave up and decided to use nginx instead of application gateway.

[2020-02-24 10:10] raxlarsbutler commented on #741
Hi @akshaysngupta,

Thanks for the quick reply. So, am I understanding correctly?

- v2 SKU gateways do not support private IPs at this time, but will in the future
- v1 SKU gateways support private IPs, but this only works with AGIC<=0.9.0

Thanks for your help.

[2020-02-24 15:09] cstruct opened #744 "Adding new CRD for whitelisting targets to manage"
**Is your feature request related to a problem? Please describe.**
I have multiple AKS clusters and other resources sharing a application gateway, currently when using `AzureIngressProhibitedTarget` each AKS cluster has to know all hosts used by the others.

**Describe the solution you'd like**
I would like to see the addition of a reversed CRD, lets call it `AzureIngressPermittedTarget`. This CRD

[2020-02-24 21:32] akshaysngupta commented on #741
@raxlarsbutler Yes, this is correct.
As all the updates to App Gateway and AGIC will come in context of V2 SKU, We would recommend that you go with V2 SKU. You can deny traffic to 80/443 from Internet  by applying an NSG until App Gateway starts supporting private IP exclusively.

I will closing this issue. Please feel free to open a Github issue if you see any issues.

[2020-02-24 21:32] #741 closed

[2020-02-24 23:16] mscatyao commented on #725
Resolved via support ticket internally.

[2020-02-24 23:16] #725 closed

[2020-02-25 14:22] joelharkes commented on #731
@akshaysngupta does it work on AKS version 1.17 as well? (this question wasnt answered)

[2020-02-25 15:03] joelharkes opened #745 "Does it support Gateway Tier standard (not v2)?"
The docs mention you must have a V2 gateway: https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-existing.md#prerequisites

Doest it also work with v1? because v2 isnt supported on all locations:
![image](https://user-images.githubusercontent.com/2960938/75259366-33203780-57e8-11ea-95e4-97d2d11c452e.png)

Sadly its also not possible to host k8s service in

[2020-02-25 17:23] no3am commented on #116
I'm not sure if I should keep following this thread or open a new one as I'm seeing something similar - please advise.

My setup:
create an AKS
Create an appgw
trying to follow the brownfield deployment document, I reached the install part:
`helm install agic ./azure_agic/ingress-azure/ --namespace demo
`
Error:
`Error: unable to build kubernetes objects from release manifest: unable to recognize

[2020-02-25 21:04] no3am commented on #116
I'm not sure if I should keep following this thread or open a new one as I'm seeing something similar - please advise.

My setup:
create an AKS
Create an appgw
trying to follow the brownfield deployment document, I reached the install part:
`helm install agic ./azure_agic/ingress-azure/ --namespace demo
`
Error:
`Error: unable to build kubernetes objects from release manifest: unable to recognize

[2020-02-25 22:23] akshaysngupta commented on #699
Closing as it is covered by https://github.com/Azure/application-gateway-kubernetes-ingress/issues/732

[2020-02-25 22:23] #699 closed

[2020-02-25 22:25] akshaysngupta commented on #116
@no3am [This PR ](https://github.com/Azure/application-gateway-kubernetes-ingress/pull/713)is addressing the issue mentioned.

[2020-02-26 09:13] joelharkes commented on #603
@jocortems  i seem to get the same issues. it seems the helm template is missing role bindings for the ServiceAccount to actually access anything within k8s?

Should it work? without role bindings?

[2020-02-27 04:42] joelharkes commented on #603
For those trying to make it work:

I setup a complete poewrshell script for all the steps of the brownfield installation with AA Pod identity.

i havent tested if all my powershell syntax works but might be usefull for you to trace your steps:

https://gist.github.com/joelharkes/e63482541abc5c3a396c5434549b8a58

[2020-02-27 16:44] akshaysngupta commented on #720
This seems to be related to helm 3 not supporting `crd-install`hook.

[2020-02-27 22:42] snapfisher commented on #116
That pipeline does not install AGIC.  It pushes some kind of AGIC configuration to the cluster, but no AGIC is installed in Azure.

It’s really killing me that transferring the steps from https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-install-new does not produce a working configuration.  My last attempts all end in “bad gateway”.  I am assuming that it is something

[2020-02-28 11:46] landro commented on #725
I see no reason for closing this ticket. The issue still remains - for workloads that require true HA, using app gw ingress controller is not adequate. Please keep this issue open until the underlying issue of config change propagation times is fixed, @mscatyao

[2020-02-28 12:45] bpinter opened #749 "Reverse proxy to an external service"
I would like to configure the application gateway with the ingress controller to do two jobs:
- drive the traffic into my AKS cluster (this works as expected)
- adding a /proxy/* path based reverse proxy rule which should drive the traffic to another application gateway.

I have currently two ingresses in my helm chart. Both of them uses the same hostname. So ingress controller configured the appl

[2020-02-28 15:22] bpinter commented on #678
Hi. This solution would be a must for our company as well. Like an Application Gateway which can drive traffic to the AKS, plus it can handle additional reverse proxies (outside AKS, path-based rule) with self-signed certificate endpoints.

[2020-02-28 15:58] evmimagina commented on #462
Hi all,

I Agree, it would be great! actually, would be necessary :) or at least, while a more granular feature comes, would it be posible if routing rules don't get overwritten while routing rules don't require an update? (w.a. after deployment, attach the rewrite rule to the desired routing rule, new annotation?).

E.g. A new app get's registered using AGIC. with new release of the app there's a

[2020-02-28 19:26] Danlewis3 commented on #733
We would like this too as we use custom 502 pages from App gateway

[2020-02-28 20:05] akshaysngupta commented on #535
This is now fixed.
Please give this document a try to setup a AGIC with windows nodes:
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-new-windows-cluster.md

[2020-02-28 20:05] #535 closed

[2020-03-03 17:50] DazzaDroid commented on #363
@akshaysngupta Is there a fix for this? I'm also getting the same error even when running from CLI. It worked well first time but now the greenfield deployment no longer works. Seems as though this can only be run once and the template is not idempotent with regard to the RoleAssignments. Even when all resources that were created are deleted, the deployment will fail with
{
    "error": {

[2020-03-03 18:58] snapfisher commented on #363
I managed to do a non-RBAC deployment through Azure DevOps.  The arm template is brittle.  Just do not modify it.  The greenfield deployment steps do work.

[2020-03-04 09:19] DazzaDroid commented on #363
@snapfisher have you managed to complete the steps multiple times?

[2020-03-04 10:50] snapfisher commented on #363
Yes

On Mar 4, 2020 4:19 AM, DazzaDroid <notifications@github.com> wrote:

@snapfisher<https://github.com/snapfisher> have you managed to complete the steps multiple times?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/Azure/application-gateway-kubernetes-ingress/issues/363?email_source=notifications&email_token=AK36DPP27Q7

[2020-03-04 16:24] flyer299 opened #752 "External-DNS Causes Ingress Controller to Crash (GovCloud AKS)"
**Describe the bug**
Note, we are hosted in the VA Gov Cloud.  Not sure if this issue is related or not, just wanted to make sure those who can help are aware.

We have installed the AKS Cluster using the Greenfield Deploy and successfully setup the AGIC using help from GitHub Issues to get a version that can support the Gov Cloud.

Then we moved on to follow this: https://github.com/kubernetes-si

[2020-03-04 16:58] flyer299 commented on #752
Additional log from the External-DNS pod right after start with the error message.  Just in case there is something useful in the start of the log:
[code]

[2020-03-04 17:24] flyer299 commented on #752
Also note:  I opened an issue with the External-DNS Team:  https://github.com/kubernetes-sigs/external-dns/issues/1457

My leading thought is that the external-dns project needs to have a config option to enable using the Gov Cloud URL Scheme.

[2020-03-04 21:16] joelharkes commented on #426
having this problem in v1?

[2020-03-04 21:41] joelharkes commented on #426
somehow sub.domain.com worked.
but than when i had a second not sub domain: domain.com it would always take ssl certificate of sub.domain.com.

adding a second host to domain.com ingress definition fixed it though.

[2020-03-05 03:48] sandy-wang commented on #678
The lack of ability to set custom ca for http settings by agic is really annoying. Everytime when agic updates, the ca for all http settings go back to wellknown ca, which resulted error 502 for each single site the application gateway servers.
We would like to see this become an annotation to k8s ingress object, like , and we only need to define it in ingress rule, then agic would pick it up and

[2020-03-05 16:31] sergiomcalzada commented on #728
Same problem here, restarting the pod solves the problem

[2020-03-06 06:00] dereksonthejob opened #757 "Parameters.json file is missing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Ingress Controller details**
* Output of `kubectl describe pod <ingress controller`> . The <ingress controller> pod name can be obtained by running `helm list`.
* Output of `kubectl logs <ingress controller>.
* Any Azure support tickets associated with this issue.

[2020-03-06 19:01] flyer299 opened #758 "Comprehensive Reference/Documentation"
Is there a place that I am not seeing that will give me comprehensive documentation & reference for the different types of Ingress Options that are available with AGIC in the Ingress Yaml file?   There are several use cases I want to start exploring, but I feel like a dummy for not even knowing where to start.

They include:

- Having multiple websites running.  Example:  sampleapp-a.mydomain.com

[2020-03-07 14:53] vishnujanardhanan opened #760 "App-gateway is truncating the rest api response"
**Describe the bug**
App-gateway is truncating the rest api response.

**To Reproduce**
App-gateway is truncating the rest api response. Tried calling the rest api via kubectl port-forward, cluster ip and the private ip of the pod within the vnet and response is not truncated

**Ingress Controller details**
Have attached all the logs to support ticket - 120022623000827

[2020-03-07 20:47] pratham98k opened #761 "Backend health status Unhealthy when consuming secrets from azure keyvault flex volume."
**Describe the bug**
A clear and concise description of what the bug is.
when we are consuming secrets from azure keyvault flex volume Backend health status Unhealthy because of that we unable to access service from http or https.

pod, deployment,  status running

I have check readiness probe and  liveness probe both are passing.
**To Reproduce**
Steps to reproduce the behavior:

I have used same

[2020-03-07 21:54] pratham98k commented on #761
pratham@MDPINFRADEPLOY:~$ kubectl describe ing testmdp-api-ingress
Name:             testmdp-api-ingress
Namespace:        default
Address:          XX.XX.XX.XX
Default backend:  default-http-backend:80 (<none>)
TLS:
  mdptesttls terminates testmdp.zeiss.com
Rules:
  Host               Path  Backends
  ----               ----  --------
  testmdp.zeiss.com
                     /Clarusbff/*       md

[2020-03-09 14:43] DenisBiondic opened #763 "Redirect rule / Cert-manager TLS secret race condition"
**Describe the bug**
A sporadic error occurs in which the redirect rule will not be create in app gw.

Issue is essentialy that the 443 redirect rule is not created because the secret could not be found (but the secret is there, created via cert-manager without any issues):

...
I0309 07:34:45.683350       1 event.go:258] Event(v1.ObjectReference{Kind:"Ingress", Namespace:"traffic-health-endpoint"

[2020-03-09 14:43] DenisBiondic commented on #763
Similar to this: https://github.com/Azure/application-gateway-kubernetes-ingress/issues/728 but I am unsure if it's the same issue.

[2020-03-09 23:37] mscatyao commented on #745
Hey @joelharkes - v0.9.0 is the last version of AGIC to support AppGW v1 [(release notes)](https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.9.0). AppGW v2 is tentatively set to be in Germany West Central by 3/15. We will let you know if that date gets pushed back.

[2020-03-10 06:30] akshaysngupta commented on #758
@flyer299 You need to make a minor change to your ingress:
[code]

Please remove the dash before http. A dash means a new item in the list. So the host and http in your are considered two separate rules instead of one.

[2020-03-10 06:36] akshaysngupta commented on #758
Thanks for pointing. Here is an example how you can do path-based routing.
[code]

[2020-03-10 06:39] akshaysngupta commented on #757
@dereksonthejob Please refer the greenfield document to see how the parameter file is generated.
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-new.md#create-an-identity

[2020-03-10 06:39] #757 closed

[2020-03-10 16:16] shinji commented on #87
@jasonchester
@draychev

We are temporarily implementing the following workaround using a TCP Proxy, it is a bad practice, but it can help with the tests and understand what we want with the use case:

[code]

[2020-03-10 19:30] jasonchester commented on #87
@shinji glad to see some activity on this request...

The lack of any progress on this issue from the @azure team which hasn't even removed the **needs-clarity** tag has caused me to lose confidence in app-gateway as a serious solution for our ingress needs. We're using the nginx ingress behind a internal azure LoadBalancer service and other than the same namespace service limitations (which to be

[2020-03-10 19:31] flyer299 commented on #758
That helped me move forward a bit... But now I am having a problem once I've added LetsEncrypt to the mix.

[code]

The AGIC Pod now gives this error:
[code]

I saw this issue: https://github.com/Azure/application-gateway-kubernetes-ingress/issues/721
which is the same error I am getting.  But the resolution to that issue has already been applied in my examples.

What is causing the SSL to not wor

[2020-03-10 21:29] #745 closed

[2020-03-11 18:31] flyer299 commented on #763
@DenisBiondic , What version of the AGIC are you running?   We are running on kubernetes-ingress:1.0.1-rc2 and are having a very similar if not the exact same issue.

[2020-03-11 18:46] flyer299 commented on #763
I tried upgrading to 1.0.1-rc3  (not that I expected it result in anything different because the PR doesn't have anything specific for this).   And it didn't fix it.  But now I am running on RC3 for a while.

I am stuck on RC2 or RC3 because I am running in the Gov Cloud.

[2020-03-12 00:33] 3quanfeng commented on #761
Hey @pratham98k, does your AGIC watch multiple namespaces? or what do you use for watchNamespace in helm config

[2020-03-12 15:21] DenisBiondic commented on #763
We are running

helmchart: "application-gateway-kubernetes-ingress/ingress-azure"
version: "1.0.0"

[2020-03-12 17:46] 3quanfeng commented on #761
In addition, AGIC currently doesn't talk to key vault in any way, so there is no need to do assign any keyvault permission to agic identity

[2020-03-12 21:14] DenisBiondic commented on #725
It seems that the AGIC does not respect the readiness probes of the pods when issuing health probes? Can this be true? We observe downtime when using AGIC on every deployment, although the pods have readiness checks.

[2020-03-13 09:53] dewanymca opened #764 "Using multi Applicaiton gateway ingress controller for single cluster"
Hi All

We have been using App Gateway as ingress controller and everything is working as expected. We want to have 3 different ingress controller connected to same cluster. reason of having different controller is to allow different team not to get into overriding each other route in Application Gateway and breaking stuff. Is this possible? Please provide some recommendation.

Thanks

[2020-03-13 22:57] akshaysngupta commented on #764
Yes, you can run multiple AGICs targeting different app gateways. You can use the https://github.com/Azure/application-gateway-kubernetes-ingress/blob/8e33f25befbcecb56e038fd3212c62453236b1de/helm/ingress-azure/values.yaml#L20
to provide different namespaces for each ingress controller to watch.

[2020-03-13 22:57] #764 closed

[2020-03-16 20:32] SaundersB commented on #653
I ran into this same issue. I'm working on it now and will report my findings here.

[2020-03-17 12:19] luismanuel001 commented on #103
Any updates? @mscatyao

[2020-03-17 18:45] akshaysngupta commented on #103
Here is the PR towards addressing this: https://github.com/Azure/application-gateway-kubernetes-ingress/pull/765

[2020-03-19 01:40] Danlewis3 opened #766 "Ingress Controller not applying WAF Policy"
**Describe the bug**
Following documentation here: https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#azure-waf-policy-for-path

Trying to Add a policy to an ingress

**To Reproduce**
Ingress controller below, everything else works as it should can access the UI but policy never gets applied and can't see any logs
apiVersion: extensions/v1beta1
kind: In

[2020-03-19 02:16] Danlewis3 commented on #766
@akshaysngupta your best prob as you did the coding for it

[2020-03-19 12:51] mindstormz opened #767 "Please update repository for K8s v1.16x"
Hi there,

I'm afraid this is neither an issue nor a feature request, but I noticed the Charts available in the [official Repository](https://appgwingress.blob.core.windows.net/ingress-azure-helm-package/) are not compatible for use with Kubernetes Versions v1.16.x.

This is because the Deployment.yaml on the blob is still using API v1beta2 - which was deprecated with the introduction of K8s v1.16

[2020-03-19 13:01] krishnadce commented on #540
The annotation is not working for me. I added  `appgw.ingress.kubernetes.io/ssl-redirect: true` and the service changed https to http. On the APP GW side, the rules changed from rr-443 to rr-80.

When I attempt the url with https, no response and it is timed out.
When I attempt the url on http, response is 502 Bad gateway

[2020-03-19 14:18] sebader commented on #767
I'm having the same issue - just with K8s 1.17.0 :(

[2020-03-19 14:20] sebader commented on #731
@joelharkes nope, it does not :( see here https://github.com/Azure/application-gateway-kubernetes-ingress/issues/767

[2020-03-19 14:47] sebader commented on #767
Looks like this was already fixed here: https://github.com/Azure/application-gateway-kubernetes-ingress/pull/713

@akshaysngupta when will there be a new release with this PR included? thanks!

[2020-03-20 21:30] erjosito commented on #767
Yepp, I have verified that cloning this repo and deploying from the local chart (instead of deploying from the helm repo) works just fine on a 1.16 cluster. Using helm3 BTW.

[2020-03-22 05:35] dewanymca opened #770 "504 error using Application gatewat ingress controller"
Hi Team

We have been using Application Gateway ingress controller and we are seeing different behavior. If we try to load test, then all request starts failing with 504.
 Below is message flow:

AGIC->POD->(dotnet core).

checking logs on Application gateway this is what is see:

httpStatus_d | 504
  | httpVersion_s | HTTP/1.1
  | receivedBytes_d | 5264
  | sentBytes_d | 376
  | timeTaken_d | 30.

[2020-03-23 14:55] qzhou-hmcts commented on #683
Hello,  I'm having the same problem after re-create my storage accounts, how can I fix caching issues?

[2020-03-24 04:53] dewanymca opened #771 "502 error in AGIC"
Hi Team

We are using AGIC to route the traffic to POD(in backend), we are experiencing 502 error under load and traffic is going to default route not to the API path define in the AG. Not sure why under load something is going into default route. below are logs from AG for success and fail scenario

502 error:

listenerName_s | fl-80
  | ruleName_s | rr-80
  | backendPoolName_s | defaultaddresspo

[2020-03-24 07:00] vishnujanardhanan commented on #770
@dewanymca  504 indicates a timeout.  If your backend takes time then the request timeout can be set via this annotation

appgw.ingress.kubernetes.io/request-timeout: "60"

[2020-03-24 12:15] dewanymca commented on #770
I am seeing 504 even for request finishing in 30 sec.

On Tuesday, March 24, 2020, Vishnu Janardhanan <notifications@github.com>
wrote:

[2020-03-24 14:49] ipetrov117 opened #772 "Enhance annotation list of AGIC"
## Is your feature request related to a problem? Please describe
Greetings! I am not sure whether this is a feature request, but I decided to post this here.

I think that it would be beneficial to support the override of the *Affinity cookie name* property in Application Gateway, as there are some applications which would not use the default affinity cookie name and would require a custom one.

I

[2020-03-24 15:33] jmapro opened #773 "Allow to configure a predefined sslPolicy"
**Is your feature request related to a problem? Please describe.**
I need to disallow TLSv1_0 and TLSv1_1 by using the predefined policy **AppGwSslPolicy20170401S**. But each time I push this configuration on the application gateway, it's erased by the Ingress Controller.

**Describe the solution you'd like**
Ssl policy is global to the application gateway, so having an annotation like **appgw.ing

[2020-03-24 16:50] rdtechie commented on #767
Having the same issue. Just downloading the chart and modifying deployment.yaml to use the correct API version works for me also. But best is to get the repo up to date. Checking the pipeline, I see that there's a new release going running, but still need to be approved. Hope that this will happen soon!

[2020-03-25 14:27] vishnujanardhanan commented on #770
@dewanymca can you increase the timeout to 35 secs and validate pls? timetaken seems to be 30 secs, which is almost the time appgw closes the connection

[2020-03-25 20:00] akshaysngupta commented on #766
@Danlewis3
TLDR;
To resolve this, Add following in your helm config:
[code]
This will assign the WAF policy at the listener level instead of path level.

**Issue:**
When an ingress has a simple rule with path: `/`, then a basic routing rule is created on Application Gateway. In a basic routing rule, when waf-policy annotation is used, WAF policy is supposed to be assigned at the listener.
In curre

[2020-03-26 11:20] Danlewis3 commented on #766
When adding the line above to Helm-config the pod fails to get become online as the readiness health check doesn't work

[2020-03-26 11:21] Danlewis3 commented on #766
Readiness probe failed: Get http://10.189.8.9:8123/health/ready: dial tcp 10.189.8.9:8123: connect: connection refused
appgw:
    waf_listener: true
    subscriptionId: c2d12071-erdf-4947-8022-678f59ac26d9
    resourceGroup: WAF
    name: AKS
    usePrivateIP: false

[2020-03-26 15:39] samrobillard commented on #720
Any updates on this issue? More people at my work are getting this exact error. Helm 3 doesn't support the crd-install hook. Were their recommendations applied to AGIC?
https://v3.helm.sh/docs/topics/charts_hooks/

[2020-03-26 18:09] samrobillard commented on #720
I'll open a new issue with the new error.

[2020-03-26 18:09] #720 closed

[2020-03-26 18:57] akshaysngupta commented on #771
@dewanymca Once you start seeing 502s, Can you check the following:
1) if there are any errors in the AGIC Pod logs
2) if the routing rules are as expected on the app gateway
3) if scaling up your application pods helps with the 502s.

[2020-03-26 18:58] akshaysngupta commented on #766
@Danlewis3 If AGIC pod is failing to come up, can you check the AGIC pod logs for any visible errors?

[2020-03-26 22:48] niteenkole opened #777 "deploy AGIC pod to a tainted node using toleration property"
**Describe the Question**
We setting up AGWIC ,is there option to run this only on nodepool which say labelled as edge and taint dedicated=edge:NoSchedule

We want to run all network and critical components on nodepool where applications will not be schedule.

We don't want any buggy or any apps to take down our ingress down.

**To Reproduce**
Steps to reproduce the behavior:

**Ingress Controller

[2020-03-26 23:10] akshaysngupta commented on #777
Try using `.Values.nodeSelector`
[code]

[2020-03-26 23:47] niteenkole commented on #777
Thanks,Not sure what wrong i am doing here.

Node-Selectors:  dedicated=edge
Tolerations:     node.kubernetes.io/not-ready:NoExecute for 300s
                 node.kubernetes.io/unreachable:NoExecute for 300s
Events:
  Type     Reason            Age                From               Message
  ----     ------            ----               ----               -------
  Warning  FailedScheduling  26s

[2020-03-26 23:54] akshaysngupta commented on #777
Can you check the AGIC pod and look if the node selector looks as expected ?

[2020-03-26 23:55] dereksonthejob commented on #757
Thanks

[2020-03-27 00:02] niteenkole commented on #777
kubectl get po
NAME                                                           READY   STATUS    RESTARTS   AGE
cglaksnp01-ingress-controller-ingress-azure-7b45fb7957-8g6cv   0/1     Pending   0          13m

kubectl describe po cglaksnp01-ingress-controller-ingress-azure-7b45fb7957-8g6cv
.....
.....
Node-Selectors:  dedicated=edge
Tolerations:     node.kubernetes.io/not-ready:NoExecute for 300s

[2020-03-27 00:10] niteenkole commented on #777
same with.
helm install xxxxnp01-ingress-controller -f helm-config-sp-02.yaml application-gateway-kubernetes-ingress/ingress-azure --set nodeSelector.dedicated=edge

[2020-03-27 00:45] akshaysngupta commented on #777
@niteenkole https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
Looking at this, seems like pod instead needs a toleration property.

Can you try modifying the AGIC deployment definition appropriately ?

AGIC helm package doesn't take toleration property.

[2020-03-27 01:13] niteenkole commented on #777
yup works. in deployment

      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      - effect: NoSchedule
        key: dedicated
        operator: Equal
        value: edge
      - effect: NoExecute
        key: dedicated
        operator: Equal
        value: edge

 kubectl get po
NAME                                                           READY   STATUS

[2020-03-27 02:03] #777 closed

[2020-03-27 02:45] dewanymca commented on #771
Please see responses below:
#1. I don't see error in AGIC pod logs. As per my understanding, this pod is being used to monitor API server and make those changes for ingress in Application Gateway. I can see route along with backend ip in AG.

#2. Yes routing rules are expected.

#3. Once it's stops working it doesn't work at all.

Below are steps to reproduce:

1) Deployment using Helm.
2) test ap

[2020-03-27 04:05] billandr opened #778 "rules : host not being added to AGW listener host"
**Describe the bug**
Using latest helm and latest 1.0.0 AGIC
Setting host seems to have no impact, the AGW will respond to all requests.

This makes it impossible for me to have a production  / staging service in the same cluster; where site.com is the production and staging.site.com is the staging.

**To Reproduce**
Create a config.yaml that has "host" listed under rules and then create

**Ingres

[2020-03-27 21:18] Buchatech commented on #697
Hello,

FYi... the documentation is still not updated. https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-install-new

[2020-03-28 08:32] billandr commented on #778
Updating to latest rc2 seems to allow me to-do this with the hostname-extension.

[2020-03-28 08:32] #778 closed

[2020-03-28 08:47] billandr opened #779 "runtime error: invalid memory address or nil pointer dereference : status CrashLoopbackOff"
**Describe the bug**
I get the following error constantly; not sure exactly when; feels random but I see it more often when I deploy a new image via kubectl set image; but not sure it's related.

What's odd is that I think everything is working fine; the proper routes and rules do get added to the AGW. (but I notice it takes about 3 minutes - after pods have been updated - for the new PODs ip addr

[2020-03-28 18:18] niteenkole opened #780 "Question: client source IP preservation"
**Describe the bug**
Multiple setup we need "client source IP preservation" due to audit or other logic like in finance app allow only this attempt and if more block.

Normal ingress if we create we have option "add --set controller.service.externalTrafficPolicy=Local to the Helm install command" is this valid here ?

https://docs.microsoft.com/en-us/azure/aks/ingress-basic
**To Reproduce**
Steps

[2020-03-28 23:19] MarcelT-NL commented on #733
I can confirm this behavior. Breaks our custom error pages....

[2020-03-30 05:32] ajomathew opened #781 "AgentPoolK8sVersionNotSupported - 1.15.5"
**Describe the bug**
kubernetesVersion : 1.15.5 is no longer supported in westus2 regions due to which deployment is failing.
This template  **https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/deploy/azuredeploy.json** requires update

**To Reproduce**
Following deployment guideline at https://azure.github.io/application-gateway-kubernetes-ingress/setup/install-new/
az cl

[2020-03-30 05:59] ajomathew commented on #781
Result of az aks get-versions --location westus2

`{
  "id": "/subscriptions/f015d3ce-35b5-4ff2-87ec-0b9af0fd798a/providers/Microsoft.ContainerService/locations/westus2/orchestrators",
  "name": "default",
  "orchestrators": [
    {
      "default": null,
      "isPreview": null,
      "orchestratorType": "Kubernetes",
      "orchestratorVersion": "1.14.7",
      "upgrades": [
        {

[2020-03-30 06:03] ajomathew commented on #781
Accidentally closed the issue

[2020-03-30 16:29] kylefender commented on #767
If you do clone the repo locally, make sure to switch to the 1.0.0 tag before updating the deployment.yaml file because there are some configuration changes (ex. AZURE_CONTEXT_LOCATION renamed to AZURE_CLOUD_PROVIDER_LOCATION) that aren't in the image yet.

[2020-03-31 22:09] MarcelT-NL commented on #427
@akshaysngupta Are you saying client certificates will be supported on Appplication Gateway? That would be really great...?

[2020-04-02 10:21] SychevIgor commented on #767
https://github.com/Azure/application-gateway-kubernetes-ingress/issues/781

[2020-04-02 10:39] sebader commented on #781
I'd suggest to change the referenced ARM template to 15.7 for the time being until the updated version with support for >=1.16 is released

[2020-04-02 10:41] Danlewis3 commented on #766
Readiness probe failed: Get http://10.189.9.152:8123/health/ready: dial tcp 10.189.9.152:8123: connect: connection refused

This is what we get on the pod with the line specified

[2020-04-02 10:55] Flodu31 commented on #491
Hi,
I'm experiencing the same issue, did you find a solution?
Thanks.
Florent

[2020-04-02 11:12] SychevIgor opened #788 "Publish helm chart 1.1.0 to your repository"
**Describe the bug**
Theoretically, was released 1.1.0 version in February 2020. https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/1.1.0 , or at least somebody created a git tag 1.1.0, but didn't upload this 1.1.0 version to helm repo  https://appgwingress.blob.core.windows.net/ingress-azure-helm-package/

The newest non-RC version according to this file is 1.0.0 https:/

[2020-04-02 12:48] robinmanuelthiel commented on #788
#767

[2020-04-02 12:56] SychevIgor commented on #788
@robinmanuelthiel agree, there are mane issues based on the same root problem- project released recently, but already not up-to-date to latest azure/kubernetes features.

[2020-04-02 18:05] iftachsc opened #789 "Health probe's Scheme is overriden by Ingress backend protocol annotation"
**Describe the bug**
Looking at the code we confirm that now, even if readinessProbe HTTPGet scheme is HTTP, if the **appgw.ingress.kubernetes.io/backend-protocol** annotation is set to HTTPS, the probe scheme is also set to it despite the readinessProbe scheme is set to HTTP. this in effect disable the decoupling of schemes of the traffic and the readiness probe. this is  blocking us from having

[2020-04-03 06:49] manojpramesh commented on #733
Same here. I though I could get away with a [application gateway level error pages](https://docs.microsoft.com/en-sg/powershell/module/az.network/add-azapplicationgatewaycustomerror?view=azps-3.7.0&viewFallbackFrom=azps-1.2.0), but it still returns default pages.

[2020-04-03 11:39] vishal8k opened #791 "Authentication Issue - Using Service Principal"
**Describe the bug**
I deployed AGIC in my cluster and it was working fine for quite a while. Suddenly the pod crashed and killing the pod was not helpful as the new pods also failed to start. On seeing the logs I could see there has been an authentication problem.  Below are the error logs:

[code]
I deployed using the below command:

`helm install appgateway -f app-gateway-helmvalues.yaml applic

[2020-04-04 00:08] akshaysngupta commented on #788
Thanks for asking! We are going to make a release shortly.

[2020-04-04 00:28] akshaysngupta commented on #781
Issues related to 1.16 should be addressed in the next pre-release. https://github.com/Azure/application-gateway-kubernetes-ingress/issues/788#issuecomment-608869568

[2020-04-04 00:42] akshaysngupta commented on #767
Closing in favour of #788

[2020-04-04 00:42] #767 closed

[2020-04-04 00:42] akshaysngupta commented on #781
Closing in favour of #788

[2020-04-04 00:42] #781 closed

[2020-04-04 00:51] akshaysngupta commented on #761
Closing this due to inactivity. Feel free to open it again in case issue persists.

[2020-04-04 00:51] #761 closed

[2020-04-04 00:52] akshaysngupta commented on #760
Closing this due to inactivity. Feel free to open it again in case issue persists.

[2020-04-04 00:52] #760 closed

[2020-04-04 00:55] akshaysngupta commented on #758
@flyer299 Were you able to get past this issue ?
Did you check if the secret exists ?

[2020-04-04 01:09] akshaysngupta commented on #752
To configure AGIC correctly in US Gov cloud,  please add following to your AGIC helm config:
[code]

Regarding External DNS issue with ingress class, here is a proposal https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/proposals/multiple-gateways-single-cluster.md

cc: @garvinmsft

[2020-04-04 01:32] #789 closed

[2020-04-04 09:13] akshaysngupta commented on #773
@jmapro AGIC should not overwrite SSL policy. I tried on my test setup and the policy is retained on updates. Can you check if there is no other component/CI/CD reverting the gateway ?

[2020-04-04 09:15] akshaysngupta commented on #791
@vishal8k can you make sure that output for `az ad sp create-for-rbac --name $spname --role $rolename --scopes $spaccessscope --sdk-auth | base64 -w0` is valid ?

[2020-04-04 09:18] dewanymca commented on #771
THanks Akshay for help. This is resolved.

[2020-04-04 09:18] #771 closed

[2020-04-04 09:18] #770 closed

[2020-04-04 11:53] robinmanuelthiel commented on #788
Wait, what? According to this repository, [1.1.0](https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/1.1.0) is already released, @akshaysngupta. It just hasn't been added to the Helm repository feed. That's all we are asking for.

Nothing will break by just adding a new version to the Helm repo, as long as people don't deploy the new version to their clusters. But again,

[2020-04-05 09:38] vishal8k commented on #791
@akshaysngupta Valid in the sense? IT has been working fine these many days and even worked right now. After reporting this issue I deleted the existing ingress and deployed a new one with the same command and it went well. No issue this time and it has been days.

[2020-04-06 05:10] akshaysngupta commented on #791
@vishal8k I am suspecting if this could be an issue with mounting the secret.

[2020-04-06 07:51] Baklap4 commented on #788
Seems the release is deleted now...

[2020-04-06 08:03] SychevIgor commented on #788
tag was deleted. Looks like tag 1.1.0 was created by mistake, because source code marked by this tag- was not reflect 1.1.0 versions for example.

BTW- release of helm charts to address latest aks versions - is really important. Currently, looks like Microsoft don't invest enough to be as fast as AKS and K8s.

[2020-04-06 09:01] jmapro commented on #773
Hello @akshaysngupta , Thanks for your answer. I've done more tests and my issue seems coming from Terraform and not AGIC.

But having a solution to configure such parameter from Kubernetes would be great :)

[2020-04-06 13:44] robinmanuelthiel opened #795 "Use the built-in Kubernetes Azure Cloud Provider for ARM authentication by default"
When running a Kubernetes cluster in Azure, it should already have a Service Principal and an understanding of how to communicate and authenticate against ARM in its [Cloud Provider Config](https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/docs/cloud-provider-config.md).

Currently, the two ways to authenticate AGIC against ARM are an addition Service Principal or AAD Pod Identit

[2020-04-06 13:51] flyer299 commented on #758
I was never able to get Let’s Encrypt working with Application Gateway.  I had to revert back to an NGIX Ingress Controller.    I am going to wait a month or two and check back on Application Gateway.  I really want App Gateway for our solution when we go to production, but I want to give the teams behind it more time to make the integration with Government cloud more robust and straight forward b

[2020-04-06 15:17] Baklap4 opened #796 "Probes are not configured using the healthcheck settings"
**Describe the bug**

We use healthchecks to check if an application is ready and live.
For a specific component we've set the delay to 750 seconds
[code]

However once we check the settings applied in application gateway the below settings apply.
This could lead to potentional 'bad gateways' since the pod within the backend pool doesn't have the status 'ready' since it'll be probed after 750 by k

[2020-04-06 16:10] akshaysngupta commented on #788
Hi all, yesterday, I created release [1.2.0-rc1](https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/1.2.0-rc1). This has the fix to `deployment` api-version which is needed for k8s version `1.16`. Because of the change in the api version, if you upgrade from an existing helm release, you will see a conflict when applying the deployment object. For now, you may have to cre

[2020-04-06 16:32] akshaysngupta commented on #795
@robinmanuelthiel Thanks for asking. If you want to use AGIC with credentials from Cloud Provider Config, you can use it right now. All you need to do is omit `armAuth` section from the helm config.

**Beware: This is not recommended** for dev/production workload. Here are few reasons for that:
1. Cloud Provider Config contains the cluster service principal which has too much permission over the c

[2020-04-06 21:29] akshaysngupta commented on #796
@Baklap4 App Gateway doesn't support setting an initial delay in the health check right now. You may try making the health check more aggressive by adjusting the interval(period).

[2020-04-07 07:56] robinmanuelthiel commented on #795
Thanks for clarifying. I didn't know, that I can use the Cloud Provider Config by just omitting the `armAuth` section. I couldn't find that information in the docs.

Fair point, that AKS will move to MSI soon, but there might be non-AKS Kubernetes Cluster in Azure that still use the "old" setup, so please keep that as an option.

[2020-04-07 10:00] zhiweiv commented on #316
Does https://github.com/Azure/application-gateway-kubernetes-ingress/pull/765 fix this?

[2020-04-07 16:27] akshaysngupta commented on #795
Closing this issue.

[2020-04-07 16:27] #795 closed

[2020-04-07 16:27] #788 closed

[2020-04-07 17:18] akshaysngupta commented on #316
@zhiweiv Yes, these two PRs fixes this ask.

[2020-04-07 18:57] quantumew opened #798 "Release Helm Chart"
I am running into #116 which appears to be fixed on master but was never released to the helm repo outlined in the instructions. Can we get a new release cut for this helm chart?

[2020-04-07 19:56] akshaysngupta commented on #798
@quantumew This is an issue with your cluster not having `AAD Pod Identity` installed.
To install AAD Pod Identity to your cluster:

   - *RBAC enabled* AKS cluster

[code]

   - *RBAC disabled* AKS cluster

[code]

[2020-04-07 19:56] #798 closed

[2020-04-07 20:03] quantumew commented on #798
Nice, I was able to install that release candidate. `helm search` was only showing helm chart version 1.0.0, which is missing this change https://github.com/Azure/application-gateway-kubernetes-ingress/issues/116#issuecomment-591103138, which was causing it to fail for me. Thanks!

[2020-04-08 01:11] #316 closed

[2020-04-08 08:13] vishal8k commented on #791
@akshaysngupta So that means there is nothing wrong or troubleshooting from user's side right? Since mounting secrets all are done by the `helm install` command. I also have one more doubt. Now instead of using the command `az ad create-for-rbac` (which creates a new SP) Can I use the secret of an existing SP here? I will do it in the below way

`helm install appgateway -f app-gateway-helmvalues.y

[2020-04-08 16:09] ElderMael opened #802 "Error Applying ARM Template"
**Describe the bug**
While deploying the ARM template, an error appears. Deleted the Resource Group and tried multiple times with the same created Service Principal for RBAC to no use.

This is the error logs:
[code]
**To Reproduce**
Apply the arm template.

**Ingress Controller details**
N/A
* Output of `kubectl logs <ingress controller>.
N/A

[2020-04-09 17:19] jakedenyer commented on #706
Anyone looking at this?

[2020-04-09 19:35] 3quanfeng commented on #706
Regarding the ssl certificate, there is a new annotation called appgw-ssl-certificate which you could use to refer the ssl certificate pre-installed in appgw.

[2020-04-10 03:49] billandr commented on #779
@3quanfeng still exists in 1.2.0-rc1

[2020-04-10 12:14] joelharkes commented on #731
@sebader i got it working on our AKS. Small helm issue but that was all.

[2020-04-10 12:20] sumitkute opened #804 "Ingress rules in different namespaces"
**Describe the bug**
I have followed the instruction [here](https://azure.github.io/application-gateway-kubernetes-ingress/setup/install-new/) to install AGIC in my Azure cluster.  When creating two ingress rules in different namespaces, its not redirecting correctly in the web which is not in default namespace.

kubectl get ingress --all-namespaces
[code]
**To Reproduce**
Create two ingress rules

[2020-04-10 16:37] #731 closed

[2020-04-11 07:40] thangchung opened #805 "AGIC with Linkerd service mesh"
Currently, I'm working on the project that uses `nginx-ingress` in the `AKS cluster` - in-cluster ingress, and I read through some of the articles and news that with the `Azure Cloud platform` we can use `AGIC` to improve the performance of the application - [Application Gateway vs In-cluster Ingress](https://azure.microsoft.com/en-us/blog/application-gateway-ingress-controller-for-azure-kubernete

[2020-04-12 22:47] akshaysngupta commented on #709
Closing the issue. Please re-open if issue still exists.

[2020-04-12 22:47] #709 closed

[2020-04-12 22:49] akshaysngupta commented on #683
@qzhou-hmcts Would you be able to open a support case on AKS ?

[2020-04-12 22:49] akshaysngupta commented on #683
Closing issue here. Underlying issue is related to caching problem in AKS.

[2020-04-12 22:49] #683 closed

[2020-04-13 00:56] srinisachanta opened #806 "Ingress controller pod is not starting successfully"
**Describe the bug**
Ingress Controller Pod is not starting. I am using AKS Cluster Provisioned using managed identity (currently in preview)

**To Reproduce**
Steps to reproduce the behavior: Followed brownfield deployment guide.

**Ingress Controller details**
**k describe pod appgw-ingress-azure**
Type     Reason     Age                   From                                         Message
  -

[2020-04-13 03:35] akshaysngupta commented on #463
Closing due to inactivity.

[2020-04-13 03:35] #463 closed

[2020-04-13 03:37] #472 closed

[2020-04-13 03:39] akshaysngupta commented on #470
Custom port is now supported.

[2020-04-13 03:39] #470 closed

[2020-04-13 03:39] akshaysngupta commented on #300
Closing due to inactivity.

[2020-04-13 03:39] #300 closed

[2020-04-13 03:41] akshaysngupta commented on #678
This is now supported through `appgw.ingress.kubernetes.io/appgw-trusted-root-certificate` annotation.

[2020-04-13 03:41] #678 closed

[2020-04-13 03:45] akshaysngupta commented on #528
@Baklap4 You can use the new annotation [`appgw-ssl-certificate`](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#appgw-ssl-certificate) to store the certificate on Application Gateway directly and referencing it in the ingress.

[2020-04-13 03:45] #528 closed

[2020-04-13 03:49] akshaysngupta commented on #806
@srinisachanta Can you check the logs for AAD Pod identity ? Look for nmi and mic pod logs for clue on why AGIC pod is not able to get a token.

[2020-04-13 03:55] akshaysngupta commented on #802
@ElderMael `RoleAssignmentUpdateNotPermitted` means that the role assignment exists already. Which step in the template is failing here ?

[2020-04-13 03:57] akshaysngupta commented on #804
@sumitkute Try changing `/emoji/*` to `/emoji*`

[2020-04-13 22:56] sandy-wang commented on #678
@akshaysngupta could you advise which commit(s) or PR has been involved in this ticket? I cannot see the information here.

[2020-04-13 22:57] akshaysngupta commented on #678
You can try this feature out using version `1.2.0-rc1`.
Here are instructions: https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#appgw-trusted-root-certificate

[2020-04-13 23:01] sandy-wang commented on #678
Thanks for the quick reply, I was looking through recent commits.

[2020-04-14 03:20] srinisachanta commented on #806
@akshaysngupta, you are spot on. MSI related to agent pool was missing write permission on VMSS. Not sure why, I manually gave access and redeployed and errors went away and ingress deployment was successful. Just now I removed role assignments I granted and redeployed  but things are still working so not quite sure whats happening and don't see any errors. Anyways if I find any issues I will log

[2020-04-14 04:04] #806 closed

[2020-04-14 17:46] 3quanfeng commented on #736
Hi @adhodgson1 , please checkout the new annotation[appgw-ssl-certificate](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#appgw-ssl-certificate), you can now configure the ssl certificate to appgw and use it from agic

[2020-04-14 19:33] erikschlegel opened #807 "K8 App GW Ingress Controller is removing SSL Certificate in Azure"
**Describe the bug**
App Gateway Keyvault-backed SSL certificate is removed after ingress controller pod is bootstrapped on the cluster

I'm trying to use the `appgw.ingress.kubernetes.io/appgw-ssl-certificate: ssl_cert` annotation to reference the KV backed cert.

**To Reproduce**
- Associate a keyvault certificate to an application gateway instance
- deploy the app-gw-controller helm chart
- Val

[2020-04-14 19:41] 3quanfeng commented on #807
Hi @erikschlegel, May I aks which version of agic are you using?

[2020-04-14 19:46] erikschlegel commented on #807
I'm using the latest helm chart in master at `https://github.com/Azure/application-gateway-kubernetes-ingress/helm/ingress-azure`

[2020-04-14 20:14] 3quanfeng commented on #807
Hi @erikschlegel, thanks!
Could you please help bootstrap agic first and then configure the key-vault ssl-certificate to appgw to use the new annotation?
I am guessing if the issue is caused by the reconciler.

[2020-04-14 20:31] erikschlegel commented on #807
I ran into issues as my Terraform deployment(which generates the KV SSL cert) overwrites the K8-specific app-gw routes.

[2020-04-14 20:36] 3quanfeng commented on #807
Hi @erikschlegel , btw, make sure you use "--version 1.2.0-rc1" when installing with the helm, helm install by default installs only the latest release version

[2020-04-15 01:48] erikschlegel commented on #807
Thanks for the feedback. Confirmed this issue is resolved when pointing my helm version to `1.2.0-rc1` thanks for the help @3quanfeng

[2020-04-15 01:48] #807 closed

[2020-04-15 07:36] whihathac commented on #103
@akshaysngupta, since the PR is merged, is the issue resolved?

[2020-04-15 13:14] bgvladedivac commented on #772
guys, any idea at what stage is this feature ?

[2020-04-15 15:56] akshaysngupta commented on #103
Yes, this issue is resolved. Please try version `1.2.0-rc1`.
Here are the instructions to use the [appgw-ssl-certificate annotation ](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/features/appgw-ssl-certificate.md)

[2020-04-15 15:56] #103 closed

[2020-04-15 21:30] 3quanfeng commented on #779
Hi @billandr , Thank you so much to report the issue, could you help send me the agic log from the version 1.2.0-rc1, and before you start the pod, would you mind help set the log verbosity to 5:
"--set verbosityLevel=5"

[2020-04-16 22:51] 3quanfeng commented on #772
Hi @ipetrov117, Thanks for sharing your idea, it's great!
If I understood correctly regarding "appgw.ingress.kubernetes.io/overwrite-http-header: "example.com"", you would like to override the host name appgw sends to the backend, in this case, you may try one of the existing annotation which is[ backend-hostname](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/ann

[2020-04-17 13:29] Yiyito11 commented on #116
If I create a new helm chart using HELM from official documentation I can create the ingress controller, but If I want to update it with following command:  `helm upgrade -f helm-demo-eastus.yml tan-ladybug application-gateway-kubernetes-ingress/ingress-azure  --recreate-pods`

I´m getting the issue is mentioned in the post. How can I fix this?

[2020-04-18 19:33] 3quanfeng commented on #780
Hi @niteenkole, Thanks for the question.
In terms of "client IP preservation", Azure Application Gateway[ automatically injects "X-FORWARDED-FOR"](https://docs.microsoft.com/en-us/azure/application-gateway/how-application-gateway-works) when it relays the request from client to the backend.
AGIC install doesn't have that configuration now.

[2020-04-19 18:28] juanluelguerre commented on #491
Hi,
Same issue for me. Any solution or workarround?
Thanks too much in advance
Juanlu

[2020-04-20 03:08] awakecoding commented on #491
I did manage to figure it out, there is an HTTP request timeout setting which is set to 30 seconds by default. You can increase it by a lot to let's say 3 minutes and it should be good, but this will affect regular HTTP requests as well, not just WebSockets, unfortunately

[2020-04-20 20:15] geoarchitect opened #811 "Pre-Release Helm Repo"
Is there a helm repo with the pre-release versions deployed?

We can see that a number of fixes have been pushed in the release candidate builds but don't see them in the main repo.

Can we have instructions to install them?

[2020-04-20 22:24] akshaysngupta commented on #811
@geoarchitect With the exception of `1.0.1-rc3`, you should be able to find all the release candidates in the main helm repo.
Release `1.2.0-rc1` should have all the code related changes that we have made so far!

[2020-04-20 22:24] #811 closed

[2020-04-21 01:02] sandy-wang commented on #771
Can you let me know what is the fix? Thanks.

[2020-04-21 09:08] MCKLMT commented on #159
Any news on this issue? My customer requests the same and this issue is opened since one year. Thanks

[2020-04-21 09:26] sandy-wang opened #812 "Getting 502 Bad Gateway when backend health is healthy with 200 status code"
**Describe the bug**
In order to use annotation to set up customer root ca for our application gateway, we upgraded the ingress-azure to the RC 1.2.0-rc1. Then I updated ingress to use the new annotations. Everything on portal is looking good, the backend health shows healthy, but when I browsed my website, I got 502 error, I looked through accesslog, the rows of 502 didn't have much difference fr

[2020-04-21 12:07] nandha2143 commented on #798
@quantumew I am not familiar with helm. Can you include the steps to run the helm install from release candidate 1.2.0 application-gateway-kubernetes-ingress?

[2020-04-21 12:21] nandha2143 opened #813 "helm installed failed for appgw-ingress-azure azure aks 1.16.7"
**Describe the bug**

helm upgrade --install appgw-ingress-azure -f helm-config.yaml application-gateway-kubernetes-ingress/ingress-azure
Release "appgw-ingress-azure" does not exist. Installing it now.
Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "Deployment" in version "apps/v1beta2"

**To Reproduce**
run above mentioned command wit

[2020-04-21 12:46] geoarchitect commented on #811
Thanks @akshaysngupta

We got 1.2.0-rc1 deployed yesterday and its working well.

For others and future reference, we couldn't see the release due to missing the -devel flag when searching the repo's.

Searching Example

[code]

Deploymnt

[code]

Also there is a staging repo but its not needed now: application-gateway-kubernetes-ingress-staging

Thanks for the help!

[2020-04-21 13:18] andres-de-castro commented on #763
I was able to work around this by changing the name of the secret in the defined ingress.

[2020-04-21 18:45] juanluelguerre commented on #491
Good, I've done that and it works for my particular case.
Thanks a lot

[2020-04-21 21:54] akshaysngupta commented on #813
@nandha2143 This has been addressed in version `1.2.0-rc1`.
You can try that by using helm install with `--version 1.2.0-rc1`.

[2020-04-21 21:54] #813 closed

[2020-04-22 06:12] sandy-wang commented on #812
I also raised a MS support ticket, and got the root cause located.  Turned out this version of AGIC requires the host name override to be the custom domain name for http setting. And the hostname has to be set and have been set through Ingress rule in AKS.
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#backend-hostname

Azure Networking engineer is

[2020-04-22 06:13] #812 closed

[2020-04-22 08:34] askew commented on #706
This does work nicely and solves the main issue of getting certs from KeyVault and not putting them in K8s secrets. However there are still some orgs that want to manage the routing separately as well. A similar annotation that references the back-end pool would be great.

[2020-04-22 11:55] tkubica12 opened #815 "Helm install - decouple appgw.shared Deployment/CRD config from deploying default AzureIngressProhibitedTarget"
**Is your feature request related to a problem? Please describe.**
During IaaC deployment with shared App Gw 3 things happen:
- CRD AzureIngressProhibitedTarget is deployed
- ENV flag is set on Deployment
- Default deny all AzureIngressProhibitedTarget is configured

This makes declarative deployment of cluster scale more complex as deleting objects is imperative and need to modify Helm charts is

[2020-04-22 19:53] draychev commented on #805
Hi @thangchung, AGIC’s [Greenfield Deployment](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-new.md) will work with the vanilla [Linkerd demo app](https://linkerd.io/2/getting-started/) out of the box. App Gateway will be configured by AGIC and will send HTTP traffic to Linkerd2 injected proxies.

I did not have to use `l5d-override-dst` header to g

[2020-04-23 15:02] bgvladedivac opened #817 "AGIC HTTPS listener does not work as expected"
**Describe the bug**

It's not exactly a bug, it could be just me not having a clear understanding, but do not hurry up to close it please :)

In our K8s cluster we have ArgoCD and it only accepts HTTPs connections. The SSL Certificate that the pod exposes is issued by a CA.

In the cluster there's a pre-created TLS secret that encapsulates the TLS certificate + private key.

My understanding is t

[2020-04-23 17:06] 3quanfeng commented on #817
Hi @bgvladedivac, If I understand right, you are trying to set up[ E2E SSL encryption,](https://docs.microsoft.com/en-us/azure/application-gateway/ssl-overview) did you set up your trusted root certificate in your HttoSettings?

[2020-04-23 22:24] timcrall opened #819 "Pod fails to start - unable to mount volume"
**Describe the bug**
As far as I can tell, I followed all the steps in the brownfield guide exactly.  When I run the helm chart, the pod gets stuck in ContainerCreating, complaining that a volume could not be mounted.  What is it trying to mount, exactly, and what could be causing this error?

**Ingress Controller details**

Name:           ingresss-azure-ingress-azure-678dd4447b-xtt9g
Namespace:

[2020-04-24 04:48] 3quanfeng commented on #706
Hi @askew, if I understand correctly, what you would like to see is AGIC could only handle backend event for IP change?

[2020-04-24 04:54] 3quanfeng commented on #819
Hi @timcrall, you have a extra space in your pod spec:
volumes.hostPath.path: "/etc/kube rnetes/azure.json"

[2020-04-24 15:59] timcrall commented on #819
Nice catch!  Okay, I can manually change that, I guess - but since I'm using helm - that error doesn't appear to be in any file I've created, right?  I don't see it anywhere in the config yaml file that I'm feeding into the helm command, which is the only file I've touched - is this a typo somewhere in the code?

[2020-04-24 17:07] akshaysngupta commented on #819
I think this is just pasting/rendering issue.

@timcrall is this happening on an AKS cluster ?

[2020-04-24 18:19] timcrall commented on #819
yes

[2020-04-24 18:32] timcrall commented on #819
Yeah, the hostpath in the pod's yaml looks correct, I think @akshaysngupta was correct about it being a pasting error

[2020-04-24 18:35] timcrall commented on #819
oo, I have a thought, am going to try something

[2020-04-24 18:58] #819 closed

[2020-04-24 19:46] akshaysngupta commented on #819
@timcrall yes, was about to point that the node is Windows.
`Node: akswin000001/170.2.153.194`

[2020-04-26 04:29] g0pinath commented on #668
@akshaysngupta Can you please confirm if 1.0.1-rc1 is the current. I am using helm and I dont see this.
helm search repo application-gateway-kubernetes-ingress -l
  CHART VERSION   APP VERSION     DESCRIPTION
application-gateway-kubernetes-ingress/ingress-...      1.0.0           1.0.0           Use Azure Application Gateway as the ingress fo...
application-gateway-kubernetes-ingress/ingress-...

[2020-04-26 06:01] akshaysngupta commented on #668
Use helm repo update and try installing 1.2.0-rc1

[2020-04-26 06:58] g0pinath commented on #668
cool, that worked. Any idea why this version isnt showing up on search " helm search repo application-gateway-kubernetes-ingress -l"

Can you also please update the document to use this version?

Thanks
Gopinath T

[2020-04-26 11:12] g0pinath commented on #668
Akshay

I am getting the below error on NMI pod
E0426 11:01:05.884078       1 client.go:185] pod list empty
W0426 11:01:05.884106       1 client.go:208] List pod error: pod list empty. Retrying, attempt number: 1
E0426 11:01:06.184319       1 client.go:185] pod list empty
W0426 11:01:06.184354       1 client.go:208] List pod error: pod list empty. Retrying, attempt number: 2
E0426 11:01:06.484518

[2020-04-26 11:41] g0pinath commented on #668
if I point demo pod to use the aadidentity and its binding created during the release ie ingress-azure, the demo pod also fails. 0.18 is ingress pod and 0.19 is demo pod
E0426 11:33:49.942556       1 server.go:366] failed to get matching identities for pod: default/ingress-azure-db7567987-6f7h9, error: context canceled
I0426 11:33:49.942583       1 server.go:190] Status (404) took 58153218024 ns f

[2020-04-26 13:21] orsharon7 opened #822 "Helm - Version Failure"
Hi, when deploying AGIC using helm, there is version incompatibility which needs to be updated:

[code]

[2020-04-27 00:34] phealy opened #823 "AGIC helm install incompatible with newly-released aad-pod-identity 1.6.0"
**Describe the bug**
aad-pod-identity released version 1.6.0 on Friday the 24th, which now enforces case sensitivity with CRD resources. The helm chart for AGIC does not use the proper capitalization and thus if you install AGIC after installing aad-pod-identity 1.6.0 it doesn't work. This is happening with 1.2.0-rc1. MIC logs show the following:
[code]

https://github.com/Azure/aad-pod-identity#v

[2020-04-27 08:21] nfinkel opened #824 "AGIC not update backends when deployment replica chnage"
Hi All,

My AGIC is not detect any change on endpoint list of my service and ingress.

i'm using AGIC helm install version 1.0.0 with aad-pod-identity version 1.5.5
when i update the replica count of my deployment i don't see any change on the AGIC log or configuration.
if i delete and recreate my ingress, the new/deleted PODs are added to the endpoint list.

**Deployemnt**

[code]

**Service**
[c

[2020-04-27 08:48] bgvladedivac commented on #817
Hi @3quanfeng thanks for the reply.

The merged certificate ( merging root + intermediate ) is provided in the kubernetes secret. However, I am getting this error. Assuming it happens, because it's not just the intermediate certificate, if I upload just intermediate there's no error. It makes sence, since based on kubectl docs they support just intermediate certificates.

`E0427 08:24:05.488894

[2020-04-27 12:09] bgvladedivac commented on #817
Ok, I saw that you can't upload a trusted root certificate using the Portal.

Also I saw that you have updated some of the annotations, but they are updated only in your github README, while they are missing on the first reliable source https://azure.github.io/application-gateway-kubernetes-ingress/annotations/.

I have found the precioues annotation:
`appgw.ingress.kubernetes.io/appgw-trusted-roo

[2020-04-27 17:34] 3quanfeng commented on #822
Hi @orsharon7, please use "--version 1.2.0-rc1" to helm install

[2020-04-27 19:10] shelbystevenson commented on #823
I can confirm this effects version 1.0.0 as well.

[2020-04-27 19:16] akshaysngupta commented on #823
Thanks a lot for reporting. I have started working on PR.

Also, in the meanwhile, deployment yamls from version 1.5.5 should work.

**Non-RBAC clusters:**
[code]

**RBAC clusters:**
[code]

[2020-04-27 19:38] #823 closed

[2020-04-27 21:53] 3quanfeng commented on #824
Hi @nfinkel , Thanks for reporting the issue, we are evaluating the issue, instead, could you please use the alternative in your ingress configure?
`spec:
  rules:
  - http:
      paths:
      - backend:
          serviceName: nginx
          servicePort: 80`

[2020-04-27 22:54] egorchabala commented on #780
Do you have plans to release this functionality for AGIC?

[2020-04-28 05:59] nfinkel commented on #824
Hi @3quanfeng

The workaround work without any problem.
please find the updated ingress configuration.

[code]

[2020-04-28 10:15] joelharkes commented on #462
yes also missing: `Strict-Transport-Security: `

i can set it manually in azure gateway, but it is reverted on every change.

[2020-04-28 15:31] niteenkole opened #827 "Question AGW should be in same VNET as AKS ?"
**Describe the bug**
Question AGW should be in same VNET as AKS ?

**To Reproduce**
We in situation like we have subscription where we will have AKS dev and running in separate vnet.

We cannot have AGW in same subscription as we want this AGW to be behind our firewall which is in separate subscription.

We have peered APGW vnet and aks vnet.

Question is such setup supported ,can AGW be in separa

[2020-04-28 15:35] niteenkole commented on #827
raised this because

https://azure.github.io/application-gateway-kubernetes-ingress/troubleshooting/

Get the list of pods with Cloud Shell: kubectl get pods -o wide. We expect for a pod named 'test-agic-app-pod' to have been created. It will have an IP address. **This address must be within the VNET of the App Gateway**, which is used with AKS.

[2020-04-28 17:20] evmimagina opened #828 "Affected by change on AAD-POD-Identity"
Hi guys,

Since last aad-pod-identity release, 1.6.0, it is not posible to deploy AGIC following the default instructions.

Deploy AAD POD Identity with RBAC
`kubectl create -f https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml`

Deploy AAD POD Identity without RBAC
`kubectl create -f https://raw.githubusercontent.com/Azure/aad-pod-identity/master/dep

[2020-04-28 17:57] evmimagina commented on #828
I've just realised you already got it on … https://github.com/Azure/application-gateway-kubernetes-ingress/pull/825

and that the fix will be included on 1.2.0-rc2 … but, when it will it be released? a quick fix is needed ASAP!

Many thanks,

[2020-04-28 17:59] evmimagina commented on #828
Hi @akshayj-MSFT ,

As you have merged it to the master branch, would you mind to merge it to the 1.2.0-rc1 as well?

Thanks in advance!

[2020-04-28 18:55] mnns commented on #822
Same here.

[2020-04-28 20:11] mnns opened #829 "Unexpected ARM status code on GET existing App Gateway config: 403"
Hi all,

Installed everything hopefully according to the manual, my ingress-azure pod is getting some errors.

*Pod log*
[code]

**This is the describe on the controller:**
[code]

**I did try fixing the suggested 2/3:**
* 'identityResourceID' and/or 'identityClientID' are incorrect in the Helm config;
* AGIC Identity requires 'Contributor' access on Application Gateway and 'Reader' access on Appl

[2020-04-28 22:32] 3quanfeng commented on #829
Hi @mnns, regarding "AKS Service Principal requires 'Managed Identity Operator' access on Controller Identity;"
it means to assign AKS principal a "Managed Identity Operator" role on your user-assigned managed identity(agic identity in your case):
az role assignment create --role "Managed Identity Operator" --assignee <aks sp id> --scope <full id of the managed identity>

[2020-04-29 04:25] akshaysngupta commented on #828
@evmimagina here is a work around.
https://github.com/Azure/application-gateway-kubernetes-ingress/issues/823#issuecomment-620180220

[2020-04-29 08:47] bgvladedivac commented on #817
Hi again :)

@akshaysngupta I saw that you are self-assigned so just wanted to share my progress.

I am following your docs under [https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#appgw-trusted-root-certificate](url) and to be more precise the section of

`
mv test.crt test.cer
`
`
az network application-gateway root-cert create --cert-file test.cer

[2020-04-29 14:39] arunssasidhar opened #831 "Multiple application Gateways in one k8s cluster"
**Describe the bug**
In our non-prod environment, we have one AKS cluster with multiple namespaces for each non-prod environment like DEV, INT, TEST. ACC etc. We would like to deploy a dedicated "application gateway Ingress" per namespace. That means, DEV has one dedicated application Gateways as ingress, INT has another, and so on.

I have used this guide to deploy the Ingress - https://docs.micr

[2020-04-29 15:04] BarnumD commented on #831
I was just wondering the same thing.  I'm not sure if I want a single application gateway for my entire a aks cluster.  At least, the way I'm reading it is that the agic can only take a single app gateway as an argument.  So it's a one to one mapping.

So if I have multiple applications in my cluster and I want them each to have separate application gateways, (Perhaps I want them separate for conf

[2020-04-29 16:47] 3quanfeng commented on #831
Hi @arunssasidhar , do you happen to use same [NAME] to install both, i.e. helm install [NAME] ...?

[2020-04-29 17:43] bgvladedivac commented on #817
Hi one more and sorry I am being a little bit too persistent in my self - answers :)

The only way to import the certificate is by using this guide and Microsoft Tools https://docs.microsoft.com/en-us/azure/application-gateway/certificates-for-backend-authentication.

Now I am having this seems like a final brick statement = >  the 'root certificate of the server certificate used by the backend, d

[2020-04-29 17:51] arunssasidhar commented on #831
I am using Terraform for installing this using Helm. Here is the detailed installation steps.

**Step 1** -  Install AAD Pod Identity on the default namespace (**_one time in a cluster_**)
`kubectl apply -f https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml`

**Step 2** -  Install "application gateway Kubernetes ingress" **_per namespace in the cluste

[2020-04-29 18:20] arunssasidhar commented on #831
AWS alb ingress controller have the opposite problem. https://github.com/kubernetes-sigs/aws-alb-ingress-controller/issues/329
It creates dedicated ALB for each Ingress, that is I need in my case :)

I have created a diagram for my requirement. I hope it will make easy to understand my requirement.
![image](https://user-images.githubusercontent.com/4438811/80631869-07356280-8a74-11ea-8904-cccf051f

[2020-04-29 19:23] 3quanfeng commented on #831
Hi @arunssasidhar , can you try with different name other than "name = "application-gateway-kubernetes-ingress"" for your second install? or you could also include the namespace in your naming to make it unique

[2020-04-30 00:54] sandy-wang commented on #420
We are needing the rewrite functionality too, like the nginx ingress controller implementation
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  annotations:
    **nginx.ingress.kubernetes.io/rewrite-target: /$2**
  name: rewrite
  namespace: default
spec:
  rules:
  - host: rewrite.bar.com
    http:
      paths:
      - backend:
          serviceName: http-svc
          servicePort:

[2020-04-30 08:12] arunssasidhar commented on #831
Thank you @3quanfeng changing the name fixed the issue!

Now I have another issue :(

I am using Application GW "Standard v1" without public IP. And I set "usePrivateIP: true" in the config. But when I look at the pod log, I get the error "**A Public IP must be present in the Application Gateway FrontendIPConfiguration (APPG012)**"

See the full log below

`$ kubectl --namespace nonprod-int logs -

[2020-04-30 09:30] vishal8k commented on #791
@akshaysngupta Any updates on this issue? I just now encountered this issue yet again. Is AGIC even trustable for production?

[2020-04-30 12:04] sbkg0002 commented on #829
Or in tf:
[code]

[2020-04-30 14:58] akshaysngupta commented on #828
This has been fixed in the repo and will be in upcoming `1.2.0-rc2` of AGIC.

A workaround for the above mentioned issue is to use an older AAD Pod identity deployment yaml.
**Non-RBAC clusters:**
[code]

**RBAC clusters:**
[code]

[2020-04-30 15:01] akshaysngupta commented on #829
@mnns Looking at the error message in MIC pod log:

`failed to get matching identities for pod: default/ingress-azure-HIDDEN-ldbhj, error: getting assigned identities for pod default/ingress-azure-HIDDEN-ldbhj in CREATED state failed after 16 attempts, retry duration [5]s. Error: <nil>`

This is exactly as mentioned in https://github.com/Azure/application-gateway-kubernetes-ingress/issues/828

Her

[2020-04-30 15:48] akshaysngupta commented on #827
@niteenkole You can have Application Gateway and AKS in separate VNETs.
The two VNETs must be peered for traffic to flow from App Gateway to VNET. Also, if you are using AKS with Kubenet CNI (basic networking), then please associate the route table of the AKS node found in the AKS node resource group (the one that starts with MC_ and is created automatically in the subscription) to the Application

[2020-04-30 16:15] akshaysngupta commented on #817
@bgvladedivac In order for SSL handshake to complete successfully, backend Pod must send the entire except the root certificate as root certificate is already configured on the client (in this case Application Gateway).

Also, you should make sure that Application Gateway is using the right host name when talking to the backend. This can be configured through [backend-hostname](https://github.com/

[2020-04-30 16:40] akshaysngupta commented on #791
@vishal8k From the error you mentioned,
`
Refresh request failed. Status Code = '401'. Responsebody: {'error':'invalid_client','error_description':'AADSTS7000215: Invalid client secret is provided
`
Does this problem continue to happen ever after you restart the pod ?

This error is happening when the pod starts and tries to get the Application Gateway. It uses the credentials provided in the secr

[2020-04-30 16:44] vishal8k commented on #791
@akshaysngupta  Yes the problem continued even after I restarted the pod (Deleted the pod and a new one got deployed automatically). Hence I deleted the entire setup using helm delete and then re-provisioned. This time everything went well.

[2020-04-30 17:08] akshaysngupta commented on #791
Ok. If this happens again, can you help validate the following:
1. The secret that is created as part of `helm install` is having a value for `armAuth.json`
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/73257c2983cebfcc2120f45ba9a7ffb6c0e83dc7/helm/ingress-azure/templates/secrets.yaml#L9
1. If you bash into the pod, do you see the armAuth.json and it has the expected base64

[2020-04-30 17:29] #822 closed

[2020-04-30 17:38] 3quanfeng commented on #831
Hi @arunssasidhar , [0.9.0](https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.9.0) is the last release version we support v1.
May I ask is there any specific reason for you to stick to V1?

[2020-04-30 18:02] sbkg0002 opened #835 "Cannot use private IP address as it is either allocated to a resource or being cleaned up."
**Describe the bug**
Whenever we define a second ingress, or remove all of the ingresses and try to create a new ingress, we get the following error:

Log:

**To Reproduce**
Steps to reproduce the behavior:
1. Install controller
2. Create a AGW
3. Create the following ingress (this will result in a nice ingress):
[code]
4. Repeat step #3. The ingress will look normal, but the error (`ApplicationGa

[2020-04-30 20:40] porrascarlos802018 opened #836 "remove section that corrupts the lab."
**Describe the bug**
These instructions are causing the lab to fail
"# To install from AAD Pod identity master branch, use the following
kubectl create -f https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment.yaml"

[2020-04-30 23:18] niteenkole commented on #827
Awesome thank you,We using Azure CNI.

[2020-05-01 02:30] vishal8k commented on #791
@akshaysngupta  Okay I can check when it occurs next time but I can't afford this to happen in my production. If I use managed identity will be able to avoid this error? Also is AGIC trustable for production environments?

[2020-05-01 02:50] vishal8k commented on #791
@akshaysngupta Below is the json of the secret for ingress that is currently running and working perfectly. I don't see the field you have mentioned above but the ingress is working.

[code]

[2020-05-01 04:08] akshaysngupta commented on #791
Yes, it is trustable in production. This is the first time I am seeing this issue. I would need your help to diagnose the problem.

The name of the secret in the file linked above is `networking-appgw-k8s-azure-service-principal`. This secret will be present in the same namespace where you deployed AGIC.
Also, if you see that the secret looks correct. Can you jump into the pod and check at the loc

[2020-05-01 04:40] vishal8k commented on #791
@akshaysngupta In the current ingress that is working fine, both the secret and the armAuth.json inside the pod looks good. I'll paste the contents below. Since I don't know why the error occurs I'm unable to reproduce it and check.

[code]

[2020-05-01 06:40] arunssasidhar commented on #831
Hi @3quanfeng,

I choose app gw v1 is mainly due to cost. We are setting up this ingress for our development environments so we don't need any HA.
But I understand the limited support of v1 app gw, we decided to use app gw v2.

I deployed V2 app gateways in our non-prod AKS and it is working as expected.

Thanks for your support
Arun Sasidharan

[2020-05-01 06:40] #831 closed

[2020-05-01 18:31] niteenkole commented on #827
Hi Akshay,

Subscription “Kubernetes Dev” is where we have AKS living.  It is peered to the Transit VNet in the middle and the Ingress controller (AppGW). We have AKS successfully controlling the App GW when it spins up/down a service(s), but it seems that the traffic for the health probes from the AppGW is not getting correctly returned to the AppGW, therefore the service never becomes “Healthy”

[2020-05-01 18:41] #836 closed

[2020-05-04 09:46] flmarins commented on #835
Hello,
I'm also facing the exact same error.

[2020-05-04 13:04] howardjones opened #838 "Following greenfield tutorial - ingress-azure pod in CrashLoopBackOff"
I'm following the greenfield tutorial: https://azure.github.io/application-gateway-kubernetes-ingress/tutorial/

All components are deployed: kubernetes-ingress:1.0.0, mic:1.6.0, nmi:1.6.0
plus the aspnetapp, all from helm or supplied manifests.

No configuration ever occurs at the app gateway. The ingress-azure pod is in CrashLoopBackOff state.

[code]

The logs for the pod itself show an error a

[2020-05-04 14:03] sbkg0002 commented on #835
What is your AGW config @flmarins ?

[2020-05-04 19:01] mscatyao commented on #838
We've fixed this issue but it's pending the next rc2 release. In the meantime, please use AAD pod identity version 1.5.5 as per our greenfield deployment instructions: https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-new.md#install-aad-pod-identity

[2020-05-04 19:01] #838 closed

[2020-05-04 19:02] #829 closed

[2020-05-05 09:56] flmarins commented on #835
This is the template deployed for the AGW, WAF_V2
`{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {},
    "variables": {
        "appGwID": "[resourceId('Microsoft.Network/applicationGateways', 'egp-u-aks-agw')]"
    },
    "resources": [
        {
            "type": "Microsoft.Network/applicat

[2020-05-05 21:43] erikschlegel opened #842 "Permission issue using AGIC with an MSI enabled cluster"
**Describe the bug**
Now that AKS MSI is GA, I'm trying to configure AGIC with an MSI enabled AKS cluster, and running into the below behavior. I'm using the AGIC chart 1.2.0-rc1.

**Error**
[code]

The AGIC identity resides within the AKS node resource group containing the below role permissions.
Reader scoped to AppGW resource group
Contributor scoped to App GW resource

Are there additional rol

[2020-05-06 13:34] amimof commented on #835
Having the same problem. I noticed today that I get this error when creating a private frontend ip using the Azure Portal. So might now be a AGIC specific issue.

[2020-05-06 18:20] tslavik commented on #842
I have exatly the same issue.

[2020-05-07 16:05] akshaysngupta commented on #842
erikschlegel As @tslavik mentioned, this might be related to #820
To check if you are affected, check whether image used MIC or NMI pod is version v1.6. If yes, then please use the workaround mentioned in #828.
https://github.com/Azure/application-gateway-kubernetes-ingress/issues/828#issuecomment-621908256

[2020-05-07 23:54] tiwood commented on #835
I'm also having this issue with a newly deployed AppGW, AKS Cluster & AGIC.

[code]

Frontend config:
[code]

[2020-05-08 00:56] mscatyao commented on #835
Hey all - this is a fix outside of AGIC that we've completed and are testing right now. We expect to roll out the fix within the next couple weeks, please check back on this thread for more updates. I'll close this thread when the fix is fully rolled out.

[2020-05-08 23:05] niteenkole commented on #827
I think it works for us.Only now we struggling to make ssl end to end setup work :). It was our NSG.we had subnet and looks like it doesn't like when we add destination VirtualNetwork looks good.

[2020-05-08 23:27] niteenkole opened #843 "AGIC with Neuvector"
**Describe the bug**
We not able to make AGIC expose Neuvector portal or API. SSL end to end.Not sure what we doing wrong.

**To Reproduce**
Steps to reproduce the behaviour:

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: neuvector-ingress-portal-webui
  namespace: neuvector
  annotations:
    kubernetes.io/ingress.class: azure/application-gateway
    appgw.ingress.kubernetes.io/b

[2020-05-09 18:07] 3quanfeng commented on #843
Hi @niteenkole , was anything going wrong with your AGIC pod? could you please help send the logs(verbosity 5 helps better)? Thanks!

[2020-05-09 19:00] niteenkole commented on #843
[agic-log.txt](https://github.com/Azure/application-gateway-kubernetes-ingress/files/4604318/agic-log.txt)

any easy way to switch log level from 3 to 5 ?

[2020-05-09 23:42] niteenkole commented on #843
[Health probe shows we good.docx](https://github.com/Azure/application-gateway-kubernetes-ingress/files/4604899/Health.probe.shows.we.good.docx)

I think I had some key and cert mismatch,recreated and now we see.
The root certificate of the server certificate used by the backend does not match

1.Under health prove shows we good.
2.Under backend health shows "root certificate of the server certifi

[2020-05-10 19:37] niteenkole opened #845 "AKS v1.16.7 no matches for kind "Deployment" in version "apps/v1beta2""
**Describe the bug**
Helm install on AKS 1.16.7 says

Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "Deployment" in version "apps/v1beta2"

**To Reproduce**
Steps to reproduce the behavior:
 helm install xxxxxp01-ingress-controller -f helm-config-sp-05.yaml application-gateway-kubernetes-ingress/ingress-azure
Error: unable to build kub

[2020-05-10 20:13] niteenkole commented on #845
Works fine on v1.15.10

helm install cglaksnp01-ingress-controller -f helm-config-sp-05.yaml application-gateway-kubernetes-ingress/ingress-azure
NAME: cglaksnp01-ingress-controller
LAST DEPLOYED: Sun May 10 16:12:08 2020
NAMESPACE: default

 kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15becaa390438d8", GitTreeState:

[2020-05-10 21:18] niteenkole opened #846 "Question: under what condition AGIC for new ingress will pick backend pool as defaultaddresspool ?"
Question: under what condition AGIC will pick backend pool as defaultaddresspool ?

**To Reproduce**
Steps to reproduce the behavior:
If you see below its picking up "backend pool defaultaddresspool"

I0510 21:10:36.171082       1 health_probes.go:55] Created default HTTP probe defaultprobe-Http
I0510 21:10:36.171088       1 health_probes.go:56] Created default HTTPS probe defaultprobe-Http
I0510

[2020-05-11 11:08] prabdeb opened #848 "Multiple Ingress with Path based rule is not working without specifying backend-path-prefix"
**Describe the bug**
Multiple Ingress with Path based rule is not working while using IP address, however after specifying `backend-path-prefix` in annotation they started working.

Not sure if this is a bug or this is how it should work. If this is how it should work then it should be documented.

The current document of [bacend-path-prefix](https://github.com/Azure/application-gateway-kubernetes

[2020-05-11 11:50] MXClyde commented on #733
Anybody found a reasonable workaround for getting custom error pages in place for AGIC-controlled listeners?

[2020-05-11 12:04] Danlewis3 commented on #733
Do it on the waf level not listener level

[2020-05-11 12:06] MXClyde commented on #733
manojpramesh's comment (3 Apr) suggests that won't work. I'll be giving it a try soon...

[2020-05-11 13:22] joelharkes commented on #773
I'm using only AGIC but also my SSL Policy i setup is gone, (how) is that possible?

don't use anything else than basic AGIC setup + Cert manager.

[2020-05-11 14:48] howardjones opened #849 "Docs: "Azure identity in resource group"?"
Reading the Brownfield deployment guide to help create an ARM template+script to deploy AGIC in a consistent manner.

In [that document](https://azure.github.io/application-gateway-kubernetes-ingress/setup/install-existing/) it says

However, in an ARM template, there is [no option to specify an associated Resource Group](https://docs.microsoft.com/en-us/azure/templates/microsoft.managedidentity/2

[2020-05-11 16:10] akshaysngupta commented on #845
@niteenkole Please try version 1.2.0-rc1 which has the fix for this.
https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/1.2.0-rc1

k8s 1.16 has deprecated deployment/v1beta2.

[2020-05-11 16:10] #845 closed

[2020-05-11 16:18] akshaysngupta commented on #848
@prabdeb Without `backend-path-prefix`, the request forwarded by Application Gateway would contain `/backend-a` in the path. If your backend doesn't recognise this path, then it would return 404. Same would apply to the health probe also essentially marking the backend as unhealthy.

When you use `backend-path-prefix`, request is overwritten from `/backend-a` to `/`. Same goes for the backend whic

[2020-05-11 20:23] niteenkole commented on #846
I think when backend service is not available or listening to correct port ,it picks up default,may be warning or alert should be generated.

example. I had "app: pgadmin-prod" in my svc but my actual selector is k8s-app: pgadmin-prod

changing to k8s-app: pgadmin-prod fixed it.

apiVersion: v1
kind: Service
metadata:
  name: pgadmin-svc
  namespace: pgadmin
spec:
  ports:
  - port: 443
    target

[2020-05-11 21:06] akshaysngupta commented on #846
If you using kubernetes version < 1.16, you should see an event created on the ingress object.

https://github.com/Azure/application-gateway-kubernetes-ingress/blob/0bf5fa3c1bdd5f4af38d19c260200a5d35733a2e/pkg/appgw/backendaddresspools.go#L104

[2020-05-11 21:10] akshaysngupta commented on #843
@niteenkole Can you make sure that hostname used by app gateway matches the subject of the certificate ?

You can use the `backend-hostname` annotation to match the subject name of the certificate. This is needed for the ssl handshake to succeed.
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#backend-hostname

[2020-05-11 21:10] akshaysngupta commented on #842
@erikschlegel did the above suggestion fix the issue ?

[2020-05-12 09:22] adamcarter81 opened #851 "AGIC with HTTPS Not Fully Creating"
I am using AGIC with Istio which is fine over HTTP, but now I want to implement HTTPS to run alongside HTTP.
I have configured TLS passthrough in my Istio service with relevant wildcard certificate, I can test locally by forwarding a port and modifying my hosts file to point the domain to localhost - this works fine with no cert errors.
The issue is when I deploy Agic with what I think is a correc

[2020-05-12 10:04] adamcarter81 commented on #851
If I manually attempt to create a front end listener, I can select the certificate

The rr-80 rule has the correct backend target and http setting - both confusingly referencing the 443/https objects - I would have expected a new rule (say rr-443) to use the relevant objects?

[2020-05-12 13:53] niteenkole commented on #817
Hi Akshay,

Any help appreciated we in situation where we cannot proceed.

We in same situation as above and not sure what we doing wrong.

1.We have entrust signed certificate and applying to our backend.
2.Our backend has full chain of certificates.
3.we applied root certificate to AGIC and use appgw.ingress.kubernetes.io/appgw-trusted-root-certificate: "nv-xxxxxx-root-cert1"
4.We using right ho

[2020-05-12 14:22] niteenkole commented on #817
No worries I have it working.

Few things,when we export root through windows it has some special characters used dos2unix
have to use full chain of certificates for ingress and backend

[2020-05-12 14:41] adamcarter81 commented on #851
After adding the root certificate on the application gateway, this is the error I now receive:

`error: network.ApplicationGatewaysClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="ApplicationGatewayProbeProtocolMustMatchBackendHttpSettinsProtocol" Message="Probe /subscriptions/d3af426f-de5c-48ea-a5e8-f645a6ac85e9/resourceGroups/rg-aks-lab/providers/Microsoft.

[2020-05-12 15:51] akshaysngupta commented on #851
@adamcarter81 Can you upgrade the version to `1.2.0-rc1` and see if you still get the error ?
https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/1.2.0-rc1

[2020-05-12 16:30] adamcarter81 commented on #851
Ah yes - sorry forgot to add the version - I was using 1.0.0, I upgraded to 1.1.0-rc1, then the latest 1.2.0-rc1 - problem still appears
Status of the pod is CrashLoopBackOff, logs below:
`I0512 16:28:47.567483       1 environment.go:210] KUBERNETES_WATCHNAMESPACE is not set. Watching all available namespaces.
I0512 16:28:47.587555       1 main.go:124] App Gateway Details: Subscription: d3af426f-d

[2020-05-12 16:31] adamcarter81 commented on #851
ahhh I just noticed the other error - 403 - Unable to associate Application Gateway subnet, will investigate

[2020-05-12 18:05] adamcarter81 commented on #851
The error regarding RBAC has now changed to:
`I0512 18:02:00.903000       1 client.go:191] Error getting route table '/subscriptions/d3af426f-de5c-48ea-a5e8-f645a6ac85e9/resourceGroups/MC_rg-aks-lab_aks-cluster1_westeurope/providers/Microsoft.Network/routeTables/aks-agentpool-35064155-routetable' (this is relevant for AKS clusters using 'Kubenet' network plugin): network.RouteTablesClient#Get: Fai

[2020-05-12 20:09] niteenkole commented on #843
Yes We do have backend-hostname exactly same as CN= in certificate

[2020-05-12 20:15] niteenkole commented on #845
Looks like I landed up in know issue.
 helm upgrade cglaksnp01-ingress-controller application-gateway-kubernetes-ingress/ingress-azure --version 1.2.0-rc1
Error: UPGRADE FAILED: rendered manifests contain a new resource that already exists. Unable to continue with update: existing resource conflict: namespace: default, name: cglaksnp01-ingress-controller-ingress-azure, existing_kind: apps/v1, Kind

[2020-05-12 20:49] MarcoDuran13 commented on #733
I have the same trouble. I tried the same as manojpramesh, but It still not working.

[2020-05-12 20:53] MXClyde commented on #733
I actually got it working by just configuring it on the AG global level, with a PowerShell like:

$resourceGroup = “rg”
$AppGWName = "blablabla-ag"
$customError502Url = "https://blablabla.blob.core.windows.net/errpage/maintenance.html"
$AppGw = Get-AzApplicationGateway -Name $AppGWName -ResourceGroupName $resourceGroup
$updatedGW = Add-AzApplicationGatewayCustomError -ApplicationGateway $AppGw -St

[2020-05-12 22:16] MarcelT-NL commented on #733
Yes, but that reverts as soon as AGIC updates the gateway right?

[2020-05-12 23:03] MarcoDuran13 commented on #733
Yes MarcelT-NL. I tried it, and after the ag was update, the changes reverts. I think that is something about identity who is owner of appgw. Changes must be made with this identity.

[2020-05-13 02:33] 3quanfeng commented on #851
Hi @adamcarter81, it's an identified bug, the fix has been committed to master, will be available in 1.2.0-rc2

[2020-05-13 09:29] adamcarter81 commented on #851
Thanks - is there any ETA for rc2?

[2020-05-13 11:51] joelharkes commented on #773
I tried disabling tls1.1 and 1.2:

[code]

and a day later:

[code]

ssl Policy seems gone.

`DisabledSslProtocols` is absolutely a must for security perspective

[2020-05-13 16:02] niteenkole commented on #845
I have uninstall and reinstall again :(.

[2020-05-13 16:49] akshaysngupta commented on #845
@niteenkole yes, This is an open issue in helm: https://github.com/helm/helm/issues/7219

[2020-05-13 23:10] fstugren commented on #828
Hi folks - is there an ETA for a fix so that installing the latest master works again?

kubectl apply -f https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml

I set up a new cluster today and it the identity still failed to apply.

[2020-05-14 07:52] #817 closed

[2020-05-14 14:14] MXClyde commented on #733
Nope, it seems to stick in my environment...

[2020-05-14 15:09] MarcelT-NL commented on #733
Would that be different from:

`az network application-gateway update --resource-group blah-rg --name blah-appgateway --custom-error-pages HttpStatus403=http://blah/error403.html HttpStatus502=http://blah/error502.html`

This is overridden from time to time by AGIC

[2020-05-14 15:49] MarcelT-NL commented on #733
Trying your solution now. Any idea how to test the 502 quickly? My custom WAF seems to allow almost anything...

[2020-05-14 16:01] MXClyde commented on #733
Scaling one of your deployments to zero pods...

[2020-05-14 17:39] torangel opened #855 "Integration with AAD for user authentication"
According to this guide:
https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli

this command can be used to connect a RBAC enabled cluster to Azure Active Directory for outsourcing user authentication/management.
[code]

When using the following command to create AKS/APPGW deployment using the deployment template in this repo
[code]
The AKS cluster is RBAC enabled, and the supplied s

[2020-05-14 20:07] MarcelT-NL commented on #733
The PS command seems to work, while the AZ command reverts. I will wait a couple of days to see if it sticks!

[2020-05-15 00:23] #851 closed

[2020-05-15 05:45] ushabapat opened #856 "AGIC with VMSS"
Hi, We have configured the AGIC with VMSS. The setup is done and by default the POD IPs are configured as backendpool in application gateway WAF_V2. Since we are using VMSS, we have updated the app gateway backendpool to point to vmss instead pod IPs.  The backend health is failing with error "unable to connect to the server". The NSGs are configured and app gateway and AKS both are in the same VN

[2020-05-15 19:51] anhlqn commented on #835
Is there any workaround at this time or do we have to use the public IP for any new sites published through the AppGW?

[2020-05-15 19:55] flmarins commented on #835
I’m able to create multiple entries for the same private ip using different hostname, however if you delete all configurations using the private ip you will need to provision a new private ip in the AppGw to use again

[2020-05-17 23:20] chrisvugrinec opened #858 "fix permissions on build.sh"
**Describe the bug**
When executing the build instructions on step "cmake --build ." the build fails as the build.sh file has no executable permissions.

**To Reproduce**
- mkdir build && cd build
- cmake ..
- cmake --build .

**Ingress Controller details**
chmod 750 ../scripts/build.sh

[2020-05-18 02:32] rohitsrmuniv opened #859 "Image mcr.microsoft.com/azure-application-gateway/kubernetes-ingress:1.0.0 is more vulnerable"
**Describe the bug**
The image "mcr.microsoft.com/azure-application-gateway/kubernetes-ingress:1.0.0" builds from ubuntu 16.04 base image which has the below packages which are more venerable and raises security concerns:

glibc
apparmor
bash
shadow
util-linux
zlib
pcre3
cryptsetup
ncurses
dpkg

[2020-05-18 13:59] erikschlegel opened #860 "Auth Proxy Support"
**Is your feature request related to a problem? Please describe.**
The customer I'm working with requires JWT auth token validation for all ingress activity. We're unclear with available aproaches for setting up an authentication proxy for our frontend AGIC route. Our identity provider is AAD.

Nginx supports this today via
[code]
Are there any alternative approaches that would support this use-ca

[2020-05-18 14:36] anshupitlia commented on #683
How are you solving the caching issue? By restarting the node?

[2020-05-18 16:41] Yiyito11 opened #861 "Readiness probe failed: Get http://10.28.130.144:8123/health/ready: net/http: request canceled (Client.Timeout exceeded while awaiting headers)"
**Describe the bug**
First time having this issue in AGIC. Ingress controller started with 0/1 pods.
kubectl describe pod <ingresss pod> shows:

[code]

**To Reproduce**
Installed ingress controller as indicated here. https://azure.github.io/application-gateway-kubernetes-ingress/setup/install-existing/.
We already follow steps for deploying like 8 clusters already so far with no issue. Now we are

[2020-05-18 19:02] Yiyito11 commented on #861
I solved the issue changing binding and AzureIdentity to lowercase as specified over here: https://github.com/Azure/aad-pod-identity.
when I started the AGIC and created the nmi and mic pods I used default yml: `kubectl create -f https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml` which uses new version v1.6.0

[2020-05-18 22:18] sudheer-reddy-koppula commented on #828
Hi, any ETA on fix ?

Applying https://raw.githubusercontent.com/Azure/aad-pod-identity/v1.5.5/deploy/infra/deployment-rbac.yaml works.

[2020-05-19 02:48] akshaysngupta commented on #861
@Yiyito11 This is known issue which we will address in 1.2.0-rc2 of AGIC.
I have updated the documentation to use AAD Pod Identity 1.5.5 as a workaround.

Closing this as this is a duplicate of https://github.com/Azure/application-gateway-kubernetes-ingress/issues/828

[2020-05-19 02:48] #861 closed

[2020-05-19 05:40] 3quanfeng commented on #855
Hi @torangel , AGIC supports to use[ AAD pod identity](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-new.md#install-aad-pod-identity) to access Azure resources based on AAD, to use AGIC with AAD pod identity, you will need a user-assigned managed identity, please follow the greenfield deployment of AGIC.

[2020-05-19 08:03] srodenhuis commented on #779
Any updates on this issue? Also running into the same issue:

I0519 07:58:18.069131       1 mutate_app_gateway.go:203] END AppGateway deployment
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x8 pc=0x12b6b77]

goroutine 110 [running]:
github.com/Azure/application-gateway-kubernetes-ingress/pkg/k8scontext.(*Context).isS

[2020-05-19 13:38] vaishali-prophecy commented on #668
Why is it that helm repo update doesn't show any new packages like 1.2.0-rc1?

[2020-05-19 15:25] pbalexlear opened #865 "Helm package for this repo has not been updated at repo"
This helm package appears to have not been pushed to https://appgwingress.blob.core.windows.net/ingress-azure-helm-package/ as when I tried to use this to apply AGIC to my cluster it didn't work, having looked into this it appears to be because there was changes made to AAD Pod Identity to make it case sensitive and the AzureIdentity and AzureIdentityBinding Templates in the version published are

[2020-05-19 15:26] anhlqn commented on #835
Thanks. That is better than recreating the AppGW.

[2020-05-19 16:36] akshaysngupta commented on #865
Thanks for reporting.

We have just released `1.2.0-rc2` which addresses this issue.

Duplicate https://github.com/Azure/application-gateway-kubernetes-ingress/issues/828

[2020-05-19 16:36] #865 closed

[2020-05-19 16:37] akshaysngupta commented on #828
We have created the `1.2.0-rc2` release that addresses this issue.
Please try it out and let us know if you run into any issues.

[2020-05-19 16:43] Yiyito11 commented on #668
Check your AzureIdentity and AzureIdentityBinding. There has been a change on lattest version of aad-pod-identity. check it out [here](https://github.com/Azure/aad-pod-identity).

[2020-05-19 17:11] akshaysngupta commented on #779
@srodenhuis We have addresses this issue in the `1.2.0-rc2`. Please upgrade your AGIC installation and see if you still encounter any issues.

[2020-05-19 17:14] akshaysngupta commented on #668
@vaishali-prophecy @Yiyito11 We have released `1.2.0-rc2` to address the issue related to AAD Pod Identity breaking change.

@vaishali-prophecy
To list all available versions using helm 3:
[code]

[2020-05-19 17:45] besteban1989 opened #866 "Configuration is lost after re-deploying ARM template"
1. I have installed app gateway, AKS with ARM Template
2. I have installed the AGIC Helm Chart
3. I have installed a test app and ingress
4. Https listeners, backend pools, probes have been created.
5. I did a change in the ARM template and now all rules that AGIC push to the app gateway are lost

Is there a way to tell App Gateway or ARM to avoid reconfigure the app gateway?

[2020-05-19 17:54] Greg15153 commented on #462
Any updates on this?

We're looking to roll our AKS cluster into our application gateway but without rewrite headers we lose a core portion of the Gateway. We currently use Nginx as our gateway and would rather not have to run both just to get headers working as we share the gateway with other apps and want to share the header responsibility also.

[2020-05-19 18:30] billandr commented on #779
@akshaysngupta must have missed that commit; will review.

[2020-05-19 18:34] 3quanfeng commented on #855
Hi @torangel , to support AKS to authenticate with AAD in tempate, you might try:
1. use [aadProfile](https://github.com/Azure/azure-rest-api-specs/blob/7eeef3ce97572bf15bbf3865fdfd17e78b1e760b/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-03-01/managedClusters.json#L1992) instead of

in azuredeploy.json
2. set the [required fields](https://github.com/Azure

[2020-05-19 18:49] akshaysngupta commented on #866
@besteban1989 This is expected as the template does a PUT on the Application Gateway resource.
To address these cases, we have solution which can make AGIC reconcile the Application Gateway rules. To enable this feature, you need to update the helm template and provide a reconcile timeout. Here is the documentation.
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/f

[2020-05-19 18:49] #866 closed

[2020-05-19 21:21] torangel commented on #855
Thank you for your reply!
Please confirm if this is how I should undertand your comment:

Instead of using the _servicePrincipalProfile_ which is defined in the template here:
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/deploy/azuredeploy.json#L609

I should instead edit the template to use aadProfile and complete my editing with defining values for the required fie

[2020-05-19 21:35] 3quanfeng commented on #855
Correct, we haven't tried it out in the template, please share here if you have any news :)

[2020-05-19 22:33] #732 closed

[2020-05-19 22:47] akshaysngupta commented on #116
@Yiyito11 This was happening due to a breaking change in the AAD Pod Identity project.
We have addressed the issue in 1.2.0-rc2. Please let us know if you see the issue after upgrading.

[2020-05-19 22:51] #116 closed

[2020-05-19 22:52] akshaysngupta commented on #95
This is already addressed.

[2020-05-19 22:52] #95 closed

[2020-05-19 22:57] akshaysngupta commented on #284
@StianOvrevage You can now use:
1) [appgw.ingress.kubernetes.io/backend-hostname](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#backend-hostname) to modify the hostname used while talking to the backend.
2) [appgw.ingress.kubernetes.io/appgw-trusted-root-certificate](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/a

[2020-05-19 22:57] #284 closed

[2020-05-19 23:00] akshaysngupta commented on #513
Please reopen this issue you need further help.

[2020-05-19 23:00] #513 closed

[2020-05-19 23:14] akshaysngupta commented on #524
Please reopen this issue if you need further help.

[2020-05-19 23:14] #524 closed

[2020-05-19 23:27] akshaysngupta commented on #791
@vishal8k Please reopen this issue if you encounter this problem again.

[2020-05-19 23:33] akshaysngupta commented on #843
@niteenkole is your setup working now ?

[2020-05-20 06:19] vishal8k commented on #791
@akshaysngupta  Yes I have encountered this same problem multiple times after this. I'll give you one heads up. Is there any possibility for this issue to be related to start/stop of the underlying scalesets of the AKS or the stop/start of the application gateway used for the ingress?

[2020-05-20 07:10] akshaysngupta commented on #791
@vishal8k When you use `az ad app show -o yaml --query "passwordCredentials" --id <spClientID>`, what do you see as startDate and endDate ?

[2020-05-20 08:56] thomas-riccardi commented on #763
We are running helm chart 1.2.0-rc2 and got the same issue:
- cert-manager with let's encrypt
- first deployment of Ingress
- cert-manager took 6min to issue the certificate (i.e. create the k8s tls secret with it)
- it's as if AGIC stopped trying in loop to update the Application Gateway after 5min

Last logs:
[code]
Then nothing for a whole night.
(Before that we got 3 or 4 tries, without the `A

[2020-05-20 15:03] niteenkole commented on #843
No w.r.t Neuvector.

Looks like back-end application not sending back intermediate and root even when we add all chain of certificates,Working with Neuvector to see why.

Attach test.

[ssl-cert-test.txt](https://github.com/Azure/application-gateway-kubernetes-ingress/files/4657619/ssl-cert-test.txt)

and for other test application basically we get end to end ssl but looks like cookie effinity iss

[2020-05-20 16:33] niteenkole opened #869 "Question: health check says "GET / HTTP/1.1" 302 237 "-" "-""
Question

health check says  "GET / HTTP/1.1" 302 237 "-" "-"

is this normal ?

**To Reproduce**
Steps to reproduce the behavior:

**Ingress Controller details**
* Output of `kubectl describe pod <ingress controller`> . The <ingress controller> pod name can be obtained by running `helm list`.
* Output of `kubectl logs <ingress controller>.
* Any Azure support tickets associated with this issue.

[2020-05-20 16:36] akshaysngupta commented on #869
@niteenkole I assume this log is from the backend. Backend health, if status code is not specified, considers 200-399 as a healthy status code.

[2020-05-20 16:45] niteenkole commented on #869
ok thanks

From backend health check it says "Success. Received 302 status code"

[2020-05-20 17:11] #869 closed

[2020-05-21 08:15] srodenhuis commented on #779
using 1.2.0-rc2 resulted in the issue. Removed all ingresses and then deployed new ones. That solved it.

[2020-05-21 15:49] jrudley opened #872 "using key vault with appgateway and selected networks does not work"
**Describe the bug**
If your keyvault is not allowing access from all networks, it will get an access denied.
**To Reproduce**
`root@dLaptop:~#     az network application-gateway ssl-cert create -n ats --gateway-name $appgwName --resource-group jrwinaks2 --key-vault-secret-id $unversionedSecretId

Argument '--key-vault-secret-id' is in preview. It may be changed/removed in a future release.
Item '

[2020-05-21 18:10] jrudley commented on #872
known issue

[2020-05-21 18:10] #872 closed

[2020-05-21 18:41] #779 closed

[2020-05-21 20:03] adamcarter81 opened #875 "TLS End to End Issue with Backend Health - Unhealthy, Resulting in 502 Errors"
**Describe the bug**
I am trying to configure TLS E2E.
The frontend listener, backend pool, health probes all create successfully.
When trying to access the URL I receive a 502 from the AppGW
The HTTPS health probe if I edit it and click Test - is successful
If I go to Backend Health, it shows - Cannot connect to server. Check whether any NSG/UDR/Firewall is blocking access to server.
Connection T

[2020-05-21 21:35] #828 closed

[2020-05-21 21:35] #855 closed

[2020-05-22 04:43] mhsh64 commented on #827
Please can you refer to any documents required for configuring AKS and APG in different vNETs.

[2020-05-22 12:52] adamcarter81 commented on #875
A little more information - my backend is the Istio ingress gateway, and I have AGIC working fine with HTTP to Istio ingress, but I now want to add HTTPS.

I have configured TLS pass through in istio gateway - and if I forward a local port, or hit the istio gateway on the external pod it works fine - I see my test site, indicating that TLS pass through and certificates are configured correctly. Th

[2020-05-22 17:27] mscatyao commented on #835
Wanted to update this thread to let everyone know that the fix for this has been rolled out; all new AppGWs should not encounter this issue and only a subset of existing AppGWs which were in a specific state previously would run into this issue. Please test your private IP scenarios; if you're still experiencing issues with using the private IP, try changing to a different private IP address. If t

[2020-05-22 17:27] #835 closed

[2020-05-22 18:32] niteenkole commented on #827
@mhsh64  when you say backend unhealthy http or https ?

Confirm your backend are working like example. From inside cluster those backend are reachable ?
example: we test using alpine image then exec to it and tested.

Also if you can fire ubuntu or windows in same vnet as your cluster to make sure your backend are working.

[2020-05-22 18:50] 3quanfeng commented on #875
Hi @adamcarter81 , it looks like your issue happens when appgw talks to istio gateway via TLS.
with the version of AGIC you are using(1.0.0), AGIC only support `https` when Pods are using certificate signed by a well-known CA.
AGIC 1.2.0-rc2 supports to configure with your own root certificate with a [new annotation](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/

[2020-05-22 19:30] adamcarter81 commented on #875
Ah, I thought I was on 1.2.0-rc2, I remember downgrading before collecting the last logs. 1.2.0-rc2 gives me an error of wrong protocol when creating the probe:

[code]

I thought this was addressed in [851](https://github.com/Azure/application-gateway-kubernetes-ingress/issues/851) but I never got to testing it properly until now

I have the root cert specified with the secret - I can see in the

[2020-05-22 21:48] 3quanfeng commented on #875
Hi @adamcarter81 , could you please help describe the pod? thanks!

[2020-05-22 22:30] mhsh64 commented on #827
Hi
Backend is reachable and healthy now from APG perspective.
Now the issue is, if the ApG vNet peered with an ER vNet, and if as per MSFT support, we may need to disable propagation on UDR, how the traffic from on-prem will reach to ApG?
Have you ever configured ApG on a Vnet peered with ER vNet?

[2020-05-23 09:44] adamcarter81 commented on #875
Hi @3quanfeng here it is:
`PS C:\repos\aks-lab-001> kubectl describe pod  ingress-azure-1590078545-5f44f5b644-6mkh4
Name:           ingress-azure-1590078545-5f44f5b644-6mkh4
Namespace:      default
Priority:       0
Node:           aks-linux-35064155-vmss000000/15.0.0.4
Start Time:     Fri, 22 May 2020 20:13:30 +0100
Labels:         aadpodidbinding=ingress-azure-1590078545
                app=ingr

[2020-05-24 22:01] 3quanfeng commented on #875
Thanks a lot @adamabmsft , did you specify scheme in your container readiness probe definition? would you mind to share your template.spec.containers in your k8s deployment?

[2020-05-25 08:02] vishal8k opened #878 "Reopen Issue 791"
**Describe the bug**
This is a request to re-open the issue #791 . I have encountered the issue multiple times after that. Kindly find the root cause for this. I've added more new details over there.

[2020-05-25 17:50] amjadaljunaidi opened #879 "add annotation that change the health probe path without change the main path in the ingress rule"
we need to add annotation that allow to use it in health probe without change the main path in ingress

as example appgw.ingress.kubernetes.io/health_probe: "/custom/health/probe"

[2020-05-25 20:04] akshaysngupta commented on #879
@amjadaljunaidi You can modify the health probe path by using a readiness probe in your deployment.
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/features/probes.md#with-readinessprobe-or-livenessprobe

[2020-05-25 20:06] akshaysngupta commented on #878
I am closing this issue and reopening the other one.

[2020-05-25 20:06] #878 closed

[2020-05-25 20:09] akshaysngupta commented on #791
@vishal8k I don't think this is related to underlying scale set or application gateway.
AGIC pod is trying to communicate to Azure Active Directory directly. Error has to do something with the identity credentials used while communicating to AAD.

[2020-05-26 05:14] akshetty9 opened #880 "Question : Applications moved under default backend pool with no IP address"
On what circumstances application gateway ingress controller moves the services under default backend pool? If I have two pods running two different applications, I am expecting them to create separate backend pool mapping to IP address of the PODS. But sometimes, it associates both of these pods as rules under the default backend pool with an empty IP address.

As you can see in the screenshot be

[2020-05-26 07:58] vishal8k commented on #791
@akshaysngupta Consider this high priority cause now I'm seeing this issue daily once with different AKS and application gateways. It is occurring so frequently now,

[2020-05-26 08:48] arthurmauvezin commented on #879
@akshaysngupta Thank you for your answer but it seems that it does not work as intended. Here is our readiness and liveness probe in our deployment file:
[code]

But even this these settings, here is the configuration that app gateway keeps configuring in Azure Portal

![image](https://user-images.githubusercontent.com/10439516/82879760-b5caa700-9f3d-11ea-8f99-a9901bb72868.png)

As you see, this c

[2020-05-26 12:40] martin77s commented on #802
I have the same issue. The status is "Conflict" and it fails for both RoleAssignmentDeploymentForUserAssignedIdentity and RoleAssignmentDeploymentForKubenetesSp

[2020-05-26 13:56] adamcarter81 commented on #875
@3quanfeng Good point, I haven't specified any readiness probe, so it will just use the default. Interesting that 1.0.0 builds this OK, but 1.2.0-rc2 doesn't, so some behaviour has changed there. It is probably best I explicitly configure the probe anyway - I'll give that a try

[2020-05-26 14:06] niteenkole opened #881 "PGADMIN4 end to end SSL behind AGIC is working"
**Describe **
PGADMIN4 end to end SSL behind AGIC is working
This might help anyone else.
We have pgadmin4 running inside AKS and behind AGIC with end to end SSL.

Things to take care.
1.You need to add all chain of certificate in cert file.
   add all server,root and intermediate.
2. used below.
      annotations:
    kubernetes.io/ingress.class: azure/application-gateway
    appgw.ingress.kubern

[2020-05-26 15:18] kevinmarx commented on #462
Upvoting this feature as a priority ask for us. We are using rewrites to re-format the X-FORWARDED-FOR headers to be in the format that doesn't include the port as the final entry. We ensure that the rewrite rules are set after every one of our deploys, however, it seems that some update from the ingress controller will eventually disassociate them.

[2020-05-26 17:10] niteenkole commented on #881
create detail document

https://github.com/niteenkole/pgadmin4

[2020-05-26 18:54] torangel commented on #855
I have now tried adjusting the template.
Changes to be found here:

https://github.com/torangel/application-gateway-kubernetes-ingress/commit/958a5d75b2c9aff51f6e8c0af0211cb2bc9f9acf

I am following the tutorial here:
https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli

Only swapping this
[code]

With the script below - which results in an error....

[code]

This makes be wonder if

[2020-05-26 21:53] 3quanfeng commented on #881
Thanks @niteenkole , would you mind to help contribute your writings to agic[ how-tos](https://github.com/Azure/application-gateway-kubernetes-ingress/tree/master/docs/how-tos)?

[2020-05-26 22:35] niteenkole commented on #881
Sure

[2020-05-26 22:38] niteenkole commented on #843
Hi,

Neuvector confirmed passing full chain of certificates presently not supported and they working on it.

I will update once they support.

[2020-05-27 03:17] akshaysngupta commented on #881
Thanks @niteenkole .Closing the issue.

[2020-05-27 03:17] #881 closed

[2020-05-27 03:24] akshaysngupta commented on #879
@arthurmauvezin Is the readiness/liveness probe defined on a separate container (sidecar) than the Application Container ?

[2020-05-27 03:31] akshaysngupta commented on #843
@niteenkole if this is an issue on the Neuvector backend pods, then we will go ahead with closing the issue on the AGIC repo. Please reopen if you need help.

[2020-05-27 03:31] #843 closed

[2020-05-27 09:12] arthurmauvezin commented on #879
Yes, we do not use sidecar yet.

[2020-05-27 10:19] VincentSurelle opened #884 "Define path priority"
Hi,

I'm trying to deploy a big application with Azure AGIC but I'm facing an issue I can't resolve for now.

- /api/*
- /api/other-service-a/*
- /api/other-service-b/*

As you can see, I have multiple services on the same path prefix.

But `/api/*` is taking over the others resulting in 404s. Is this possible to specify an order in ingress ?

When specifying in AppGateway, it works for like 10s b