[2021-12-23 21:49] lbargery commented on #1299
Also massively hitting this issue!

[2021-12-25 20:13] shubhammicrosoft1 commented on #1262
Hi @akshaysngupta ,  Was able to complete this with helm but are we looking to support this anytime soon or do we have any plans on similar lines

[2021-12-27 09:15] smd134 commented on #462
Wondering when 1.5.0 release as well.

[2021-12-30 18:37] artisticcheese opened #1316 "Is AGIC supported in Azure Gov cloud?"
Can not see any official documentation and so far it failed (last time I tried was about a year ago). Can documentation etc updated to note if it's possible to use AGIC in Azure Gov and how.

[2022-01-03 04:50] Archanadorepalli commented on #462
when will 1.5.0 will be released ? Please do update on this, we are stuck due to this

[2022-01-03 16:36] arodriguezdlc commented on #1299
We have a similar problem too. This 100 limit for most of application gateway configuration (backend pools, listeners, etc) is so low if you want to offer a multitenant service using AKS and the Application gateway. And if you want to use WAF is worse, because the limit is reduced to 40.

One thing we use to mitigate (only a little bit) the problem is the undocumented (https://github.com/Azure/app

[2022-01-03 18:59] curious-toast commented on #1316
I can confirm it works on Azure Gov via Portal and the CLI. I use it daily.

[2022-01-04 04:33] williamalvvc commented on #940
Hey guys, i have the exact same problem.

According to the docs, if there are a previously deployed AGIC, using a custom prohibited policy, should be enough.

But as soon as I made a k8s deployment the manually created AG objects are deleted. Do you have any ideas? Could you solve the issue?

[2022-01-04 07:22] gitflo1 commented on #1299
We have the same issue. We already talked with Microsoft for a possible solution here. They kindly asked us to create Microsoft Support tickets in the Azure portal to create visibility and transparency. Other than this I did not really find a solution other than scaling the App Gateway instances and the AGIC charts per cluster.
Maybe you could host a dedicated ingress controller in each applicatio

[2022-01-04 10:53] sunmsieben commented on #1292
Any update on this? I've updated our Pre-Prod clusters to 1.22 and had adjust AGIC to use 1.5.0rc1 to make this work.
But for now we're waiting to roll out the new version until this is solved.

[2022-01-04 16:26] #1316 closed

[2022-01-05 12:32] arodriguezdlc opened #1317 "ETA for 1.5.0 (k8s 1.22 already released by AKS)"
Hello, k8s 1.22 is already officially released, so is mandatory to have the 1.5.0 of AGIC to work with ingress v1 API. Is there any ETA to have this release? Thank you.

[2022-01-05 12:47] arodriguezdlc opened #1318 "AGIC 1.5.0 doesn't resolve port names correctly"
**Describe the bug**
AGIC isn't resolving ports correctly when are identified by name. The error is the following:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Use AKS 1.22 and AGIC 1.5.0-rc1
Create an ingress like this
[code]

**Ingress Controller details**
* Output of `kubectl describe pod <ingress controller`> . The <ingress controller> pod name can be obtained by running `helm lis

[2022-01-05 15:23] LiorHaim commented on #462
It's 2022 and still no official release update about this issue. Unbelievable.

[2022-01-08 00:36] mhabegger commented on #733
Any news on this topic ?

[2022-01-10 09:51] ferronsw commented on #1317
I submitted a support request for this problem in November. Microsoft said AGIC 1.5.0 would be released prior to 1.22 GA. That's not what happened, so I just send a mail to the person in question again.

[2022-01-11 08:16] mscatyao commented on #926
All things related to faster updates have now finished rolling out - update times on average have been reduced by over 50% compared to in Q3CY21.

If folks are still having issues with update times from AGIC to their AppGW (i.e., it taking too long), please create a new issue and we'll investigate. Closing out this issue to mark this feature as complete.

[2022-01-11 08:16] #926 closed

[2022-01-11 10:29] maelvls commented on #1071
Does AGIC support the field `ingressClassName`? The PR #1076 did not make any mention to that field. @akshaysngupta

[2022-01-14 03:21] dwenpark commented on #1302
And Please update helm chart, too.
(Latest chart version : 1.4.0)

![스크린샷 2022-01-14 오후 12 19 31](https://user-images.githubusercontent.com/80210205/149445910-787f8ace-f3c3-404b-9025-f6acc78b157a.png)

[2022-01-14 14:18] frbosch commented on #773
Experiencing this also. SSL policy is removed by AGIC. That's absolutely CRITICAL, there is no way to disable TLS 1.0 and 1.1 when AGIC is used. Or do i miss something?

[2022-01-14 14:51] frbosch commented on #773
@martwana Thanks, for your feedback. I was using SSL Profiles, and they seem to be removed by AGIC. Setting the SSL policy under Listeners beforehand works.

[2022-01-17 06:40] giotab commented on #780
@3quanfeng any feedback about this?

[2022-01-17 17:03] rkoplinger opened #1326 "If secret is not found then service is accessible via http"
**Describe the bug**
If you create an ingress resource with spec.tls defined and secret which is referenced in spec.tls[].secretName does not exist yet, then AGIC will create a rule on http listener. After some time when the secret is created, the rule is moved to https listener. During this time window, the service is accessible via http. The desired behavior is that AGIC waits until the secret i

[2022-01-19 09:44] langecode commented on #954
I was also looking for the controller to support mTSL. I am pretty sure the e2e tutorial is only covering TLS between the Application Gateway and the workload inside of Kubernetes - not mTLS scenarios connecting to the gateway (could be nice if uploading the backend cert to the Application Gateway has been automated also in the e2e, though).

[2022-01-19 09:55] m-matharu opened #1327 "AGIC-1.5.0 rc1 - Rewrite rules still being removed even after annotations for rewrite rules are in place"
Hi Team,

Rewrite rules should work now with the required annotations as per the below link -
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#rewrite-rule-set

After upgrading AGIC to 1.5.0 rc1 and latest version of AKS, the rewrite rules are still getting disabled when a pod crashes / deployment is scaled etc.

Some application need to have port inf

[2022-01-19 12:30] yshehab commented on #1188
@akshaysngupta I believe this is because the AGIC is classed as a "non-critical" addon. Is this likely to change?

[2022-01-19 14:34] bondido opened #1328 "AGIC is able to modify Application Gateway name"
**Describe the bug**
Application gateway ingress controller is able to modify connected application gateway name (name of it's actual resource in Azure)

**To Reproduce**
Steps to reproduce the behavior:
- Provision Application Gateway in Azure named e.g. 'APPGW'
- Deploy AGIC with application gateway name (appgw.name helm parameter) value 'appgw' (as above, but with some or all characters' case c

[2022-01-19 16:53] cmendible commented on #1317
Hi Team,

any news on this one? k8s 1.22 is already in the wild and we need the 1.5.0 released.

Thank in advance.

[2022-01-19 20:12] Cpcrook commented on #462
Does this cover the glaring deficiency noted [here](https://docs.microsoft.com/en-us/azure/application-gateway/rewrite-http-headers-url#limitations) where re-writing something like cookie headers will obliterate other headers with the same key?  This is a problem with chunking cookie managers in .NET6, for example, which produce multiple cookies that must be set.

How hard is it to iterate through

[2022-01-19 23:56] mscatyao commented on #462
Hey all - we really appreciate your patience. We're working on a 1.5.0 release which will include this PR: https://github.com/Azure/application-gateway-kubernetes-ingress/pull/1287. We're planning to release 1.5.0 within the next month. The release after 1.5.0 will include a more comprehensive solution which we've been working on.

[2022-01-20 10:47] hieumoscow commented on #948
Do you ETA on preview @mscatyao?

[2022-01-20 13:14] davidkarlsen commented on #1317
What is the link between 1.22 and the 1.5.0 controller? Is it a must or a nice-to-have?

[2022-01-20 13:16] ferronsw commented on #1317
Must have. You can't upgrade to 1.22 without.

[2022-01-20 15:18] cwiederspan commented on #1317
There is a 1.5.0-rc1 that you can use, but that's definitely not ideal. This is what AKS uses if you use the AGIC add-on when creating a cluster of 1.22+.

[2022-01-20 15:23] chreichert commented on #1317
@cwiederspan This does not help, if you are not using the add-on, but installed AGIC via Helm. It is simply not understandable, why nothing happens to this project anymore. AKS 1.22 is released and depends on AGIC release, but AGIC release is still pending.

[2022-01-20 15:40] chreichert commented on #1317
I am not willing to use a RC version in Production,  especially when it has known bugs: #1318 for example.

[2022-01-20 15:49] cwiederspan commented on #1317
I'm in total agreement - I'm a consumer of AGIC and stuck in the same limbo as you. Would love to hear from the AGIC team what's going on with the new release train.

[2022-01-20 16:02] arodriguezdlc commented on #1317
The unbelievable thing is that a GA release of AKS is using a release candidate (but officially supported) addon. What kind of guarantee is that? If you have problems in production they will say that AGIC is not ready for production use? In its GA service?

[2022-01-25 12:50] o-otte commented on #1043
@akshaysngupta We are also very interested in leader election support, is there any ETA on this?

We are planning on using the AGIC and AppGW in a Istio Multicluster Service Mesh in the future and want to deploy the AGIC in every cluster of the mesh to improve resilience in case of cluster breakdown or redeployment. Would it also be possible for the leader election have some sort of istio mode in

[2022-01-25 16:51] m-matharu commented on #1327
Strange enough, here's MS support response for the issue -
_"I reached out to our engineering group to get clarification on the rewrite ruleset annotation feature. Apparently, it was not incorporated into AGIC release 1.5.0rc1 as documented, but will be in a later release. At this point, I don't have a timeline on when that will happen. ."_

[2022-01-26 09:10] sunnvsp commented on #1318
Hi, I think you have to change the configuration a little bit.

from

[code]

to

[code]

[2022-01-26 10:08] arodriguezdlc commented on #1318
Why? I would like to use the pathType Prefix, and it should work. If it doesn't, is an AGIC bug.

[2022-01-26 12:21] sgerace commented on #1327
This is a high-priority issue for us as well. We are in the process of migrating from our current Azure infrastructure to one  based on AKS, and the rewrite rules are a part of the security profile.

[2022-01-31 12:11] MattHodge opened #1331 "AGIC strips "globalConfiguration" setting from the App Gateway when generating configuration"
**Describe the bug**
The AGIC will strip off the [globalConfiguration](https://docs.microsoft.com/en-us/azure/templates/microsoft.network/applicationgateways?tabs=json#applicationgatewayglobalconfiguration) settings of the Application Gateway when generates a configuration and applies it to the application gateway.

**To Reproduce**
* Create an Application Gateway with `globalConfiguration` option

[2022-01-31 21:32] jruckert commented on #1015
Any update on this @mscatyao?

[2022-02-01 19:15] craigforr commented on #1202
@akshaysngupta: This is still an issue, and mislead us for significant amount of time when attempting to troubleshoot an AGIC issue.  Is there anyway it can be removed from the code if it is no longer necessary and/or "safely ignored"?

[2022-02-02 03:56] chefcook commented on #888
I can only confirm that this problem still exists.
Could reproduce it with different helm charts

`--set nodeSelector. "kubernetes\.io/os"=linux `

is simply ingorated.

[2022-02-02 04:33] mscatyao commented on #1317
1.5.0 has now been released: https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/1.5.0 which should resolve issues with k8s 1.22+. Closing thread as the release is now out.

[2022-02-02 04:33] #1317 closed

[2022-02-02 11:22] BunkerHarb opened #1333 "Pod crashes when we deploy 1.5.0"
**Describe the bug**
when we deploy 1.5.0 with ingressclass disbaled we get following error:

[code]

**Ingress Controller details**
[code]

[2022-02-02 17:55] akshaysngupta commented on #1333
can you also share your k8s version ?

[2022-02-03 00:52] shurth commented on #1295
Did you get any resolution on your ticket @bweitjensES ? Just upgraded our cluster and have the same issue.

[2022-02-03 06:32] karyatech-github opened #1334 "AGIC doesnt work if ingress is already there"
**Describe the bug**
I have a AKS cluster with Kubernets Ingress resources already deployed. When I enable Application Gateway in the portal, it doesnt read the existing ingress rules and the application gateway is empty without any listeners, etc. It refreshes only when I re-add the ingress.

**To Reproduce**
Steps to reproduce the behavior:
(1) Create a new AKS and apply this YAML - https://raw.

[2022-02-03 06:36] karyatech-github opened #1335 "AGIC doesn't support path prefix based wildcard routing."
**Describe the bug**
We are porting a NGINX ingress definition to APPGW and found the wildcard routing not supported that even with the path prefix annotation.

**To Reproduce**
Steps to reproduce the behavior:
(1) This below is the yaml.
(2) when I deploy, both prefix - v1.sample.net/backend and v1.sample.net/index.html gives 502. this perfectly works in NGINX
(application gateway specific YAML)

[2022-02-03 07:37] BunkerHarb commented on #1333
we are stuck on: 1.18.8

and yes, i did disable the ingress class

[2022-02-03 15:15] anouarchattouna commented on #1122
Hi @mscatyao, it seems that **v1.5.0** didn't include a fix for this issue! Do you confirm?

[2022-02-05 22:32] davidkarlsen opened #1336 "1.22 clusters uses the 1.5.0-rc1 version instead of the final 1.5.0"
**Describe the bug**
It seems strange to run RCs instead of final versions.

**To Reproduce**
Steps to reproduce the behavior:
Install a v 1.21.7 cluster, then upgrade to 1.22.4
Observe that the ingress controller is upgraded from 1.4 to 1.5.0-rc1

**Ingress Controller details**
* Output of `kubectl describe pod <ingress controller`> . The <ingress controller> pod name can be obtained by running `

[2022-02-07 13:56] MayurDhande-GSLab commented on #1173
@RagingRudolf Can you try if this works ?
[code]

[2022-02-07 22:59] wshamroukh opened #1338 "When deploying an ingress to an AKS with multiple AGIC, it is configured on all AGICs"
**Describe the bug**
I have installed two AGIC each linked to a separate App Gateway. When deploying the an app with ingress while specifying the AGIC name using `ingressClassName`, the app is configured on both App Gateways.

**To Reproduce**
Steps to reproduce the behavior:
1. deploy two AGIC using helm [configuration ](https://raw.githubusercontent.com/Azure/application-gateway-kubernetes-ingre

[2022-02-08 01:12] rogerm-chen opened #1340 "AKS Kubenet cluster doesn't link routetable to App gateway subnet"
**Describe the bug**
As per https://github.com/Azure/application-gateway-kubernetes-ingress/pull/723
when creating AGIC for kubenet AKS, the routetable for AKS should be automatically linked to app gateway subnet.
but it's not
My App gateway is created first, it's on the same vnet as AKS, but they are on 2 different subnets

**To Reproduce**
az aks enable-addons -n myCluster -g myResourceGroup -a

[2022-02-08 08:18] danivisma opened #1341 "AGIC AKS Addon v1.5.0 Update"
Hello,

I'm using AKS AGIC in the company I'm working for and we were waiting for the appgw.ingress.kubernetes.io/rewrite-rule-set annotation feature that was recently released in the version 1.5.0.

We are using the AKS AGIC addon and we were hoping to have the 1.5.0 version already updated in our AKS "but" we still have the version 1.4.0:

Image:          mcr.microsoft.com/azure-application-gate

[2022-02-09 00:49] curious-toast commented on #1338
Have you tried installing your apps in different namespaces and then just have each AGIC watch a different namespace?

[2022-02-09 01:10] curious-toast commented on #997
@akshaysngupta Any updates or progress on this?

[2022-02-09 01:43] Lord-RedShirt commented on #1292
Hi @akshaysngupta. Has this this issue been resolved or targeted to a release?

[2022-02-09 17:28] davidkarlsen commented on #1336
yes, it works. we have the appgw in another vnet than the cluster, so it only works when running azure-cni, not with kubenet. But that's not related to the version.

[2022-02-09 21:36] mxrss2 commented on #1118
so we hit the same thing trying to do a RegEx pattern its fine if that will never be supported by AGIC but 1 bad annotation should not choke the controller. Ideally it should be able to at least issue requests for VALID annotations.

[2022-02-10 10:42] sec commented on #1122
Any update on this? Just tried AKS 1.24, enabled AGIC (got 1.5.0-rc1 - #1336) - creating ingress with `spec.ingressClassName = azure-application-gateway` (becuase using old annotation is not supported in this k8s version) doesn't work - ingress is deployed, external IP is not assigned and traffic is not forwarded.
Can't find any official info on how to use this - all examples are still using old d

[2022-02-11 09:58] Shuanglu opened #1342 "AGIC silently bypassed the networking failure during the pod initialization"
**Describe the bug**
A clear and concise description of what the bug is.
In v1.22 cluster, when the pod v1.5.0-rc starts to discover server version, if there is networking issue like failed to connect to the apiserver, AGIC silently bypass it instead of raising exception. This may result the cache sync failed because the pod keeps looking for 'v1beta1.Ingress'
eg. https://github.com/Azure/applicat

[2022-02-11 21:34] akshaysngupta commented on #1342
@Shuanglu thanks for raising the issue. Will take this issue in the next minor release of AGIC.
If you are comfortable, you are welcome to help with a fix!

[2022-02-15 08:49] #1342 closed

[2022-02-16 00:55] akshaysngupta commented on #1335
Try using `/*` instead of `/(*)`.

Application Gateway only supports simple wildcard paths.

[2022-02-16 00:55] #1335 closed

[2022-02-16 04:36] angelbulas commented on #1122
Is there any update on this?

[2022-02-16 17:50] angelbulas commented on #835
Hi, I just update to AGIC to version 1.5.0 today and encounter the issue again:
Unable to reserve private IP as it is already in use. Please select a different private IP.

[2022-02-16 20:34] #1279 closed

[2022-02-17 03:03] #1333 closed

[2022-02-17 07:14] brechtvhb commented on #725
Also (too) slow here:
I0216 23:18:32.849854       1 controller.go:151] Completed last event loop run in: 2m49.866471825s

[2022-02-18 13:27] ashwinpagarkhed commented on #948
Thanks @JackStromberg. Just wanted to add a +1 to this feature request.

[2022-02-19 14:58] bassempro commented on #300
Could you please share the solution to the issue or maybe give me access to slack ? I m facing the same issue nd could not find any solution .Thx

[2022-02-22 07:29] pnavk commented on #437
**I was able to configure AGIC to include the proper CORS headers this in the following way:**

1.  Create a Rewrite Set in Azure within the application gateway
2. In the Rewrite set, check the origin in the request header and if it matches an allowed origin, update the response header to include that origin - note you can use a template string to refer to the origin header in the request
3. Add t

[2022-02-22 12:34] benc-uk commented on #1341
We hit issues using the add-on way to install AGIC, as it deploys an older (and buggier) version, and you have no control over it.

The only answer is to self install using Helm

[2022-02-22 19:46] renancnetto commented on #733
Any news??

[2022-02-23 09:36] Gordonby commented on #1341
This is related, from the AKS repo.
https://github.com/Azure/AKS/issues/2801

[2022-02-25 10:57] lukaszchwastyk commented on #884
I know that this is old but someone else might face similar issue, to solve it you just have to change name in ingress, so if you want to have order like:

/api/other-service-a/*
/api/other-service-b/*
/api/*

then in Ingress:
[code]

[code]

[code]

[2022-02-28 19:55] ScratZa commented on #860
What is the recommended pattern  regarding exposing endpoints requiring oauth in AKS ? Is api manager the way to go ? My worry is the overhead associated with managing api manager and cost ?

[2022-03-04 12:45] lhiqvia opened #1354 "AGIC E2E SSL with Letsencrypt"
Hi everybody,

From the documentation I couldn't find a way to accomplish E2E with Let's Encrypt, only SSL/TLS termination for AKS cluster.

My question here is:
- Is that possible and if yes can you point me to some documentation that I could follow.

Thank you,
L

[2022-03-04 14:44] ferronsw opened #1355 "Update second AGIC with helm on same cluster"
**Describe the bug**
I want to upgrade AGIC from 1.4.0 to 1.5.1.
I did this with the fist of two AGIC deployments on the cluster.
Now I want to upgrade the second one, but I get this error:

[code]

**To Reproduce**
Use this helm config for the first AGIC:

[code]

Update with:

[code]

Use this helm config for the second AGIC:

[code]

Trying to update with:

[code]

Results in:

[code]

As you c

[2022-03-07 03:05] akshaysngupta commented on #1355
@ferronsw thanks for sharing. Seems like IngressClass resource is having issues with installation. Will work on a fix.

[2022-03-08 09:42] kurpaw commented on #954
Application Gateway mutual authentication became GA on 22nd of February (https://azure.microsoft.com/en-gb/updates/general-availability-application-gateway-mutual-authentication). Is there any plan to add support to AGIC?

Seems like SSL Profiles can be created but it disappears or in other words, is being overridden by AGIC. Update would be hugely appreciated.

[2022-03-09 16:38] colin-barlow-swi commented on #1015
HI @mscatyao is there an update of the gRPC ETA?

[2022-03-10 19:28] jan-delaet commented on #1336
Is this issue getting any attention?

Upgraded a cluster and facing the exact same issue described by avbanks. Manually changing the image from 1.5.0-rc to 1.5.1 now results in the same 'forbidden' error for the appgw service account. Editing the cluster role to include get/list/watch for ingressclasses under the api group networking.k8s.io fixes the issue entirely and restores the health of the b

[2022-03-11 12:42] peterzeller opened #1358 "All ingress rules deleted from Gateway if one ingress rule is not configured correctly"
In our Kubernetes cluster, we deleted some pods/deployments without deleting the corresponding service and ingress resources.

As a result the ingress controller deleted all our ingress rules, resulting in Gateway errors even for the services that were still running.

Expected behavior would be that the Gateway configuration still contains the rules for the healthy services.

After deleting the br

[2022-03-12 20:23] ashwinpagarkhed commented on #1354
Hi @lhiqvia we are facing the same issue.

[2022-03-13 06:35] chenlonglab198 commented on #758
Facing the same issue here. May I know anyone got a resolution already? or it's still the same, like a bug?

[2022-03-14 13:52] mkemmerz commented on #1355
so we figured out this not so nice workaround to fix this temporarely and to be able to upgrade to 1.5.1 (and then to Kubernetes 1.22):

1. Delete the current IngressClass "azure-application-gateway"

2. Add the watchNamespaces (if not already used) to every AGIC (this is important to make it work later)

3. Every AGIC receives (and creates) its own IngressClass. `instance_count` is just a counter

[2022-03-14 20:03] katydidknot commented on #888
We're still having this issue, did anyone get this sorted?

[2022-03-14 21:52] djam7 commented on #1355
My team is preparing for an AKS upgrade and are currently testing our application functionality on a newly installed (not upgraded) kubernetes cluster at version 1.22.6 with terraform/helm deployed agics using helm chart version 1.5.1. No issues were discovered until we deployed our second namespace which errors out...

`Error: rendered manifests contain a resource that already exists. Unable to c

[2022-03-15 02:54] rwsegura commented on #997
In the same vein as @Marchelune I was able to get this working in my terraform code with the following role assignments:
[code]

[2022-03-15 16:36] omBratteng opened #1364 "Planned support for Azure AD Workload Identity?"
Is there planned support for [Azure AD Workload Identity](https://github.com/Azure/azure-workload-identity), seeing as AAD Pod Identity will be replaced by [Azure AD Workload Identity](https://github.com/Azure/azure-workload-identity).

[2022-03-16 10:01] rbitanga-manticore opened #1365 "WAF listener policies get dropped (Listener configs erroneously overwritten when multiple ingresses are present for the same host)"
**Describe the bug**
If multiple ingress objects with differing annotations exist for the same host, the configuration from the last encountered ingress object will overwrite the configuration from the previous ingresses instead of merging them.

As an example, WAF policies that are supposed to be applied to a listener do not get applied if a subsequent ingress with a name that causes it to be sor

[2022-03-19 23:46] brwilkinson commented on #1248
+1 on this. also commenting on https://github.com/Azure/AKS/issues/2245

[2022-03-21 00:39] smsilva commented on #1122
I think the AGIC is almost there.

I created an example using AGIC 1.5.1 with cert-manager 1.7.1.

The first ingress was:

[code]

Then, the Ingress was correctly configured in AGIC:

[code]

Note that the solver was created with Deprecated Annotation instead of new ingressClassName:

[code]

[2022-03-21 05:59] Archanadorepalli commented on #462
Is it still no official release update about 1.5.0 release @akshaysngupta, @mscatyao?

[2022-03-21 10:06] smsilva commented on #1122
[cert-manager issue #4966](https://github.com/cert-manager/cert-manager/issues/4966)

[2022-03-21 21:02] larryclaman opened #1366 "Documentation: Github pages website not tracking this repo?"
**Describe the bug**
I was following the greenfield install example at https://azure.github.io/application-gateway-kubernetes-ingress/setup/install-new/, and it failed at the line which installs pod identity.  This line shows as:
[code]

However, when I checked this source repo, I found a different version of the example:
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/8242b56

[2022-03-21 21:05] larryclaman opened #1367 "Need to update kubernetesversion in deploy/azuredeploy.json"
**Describe the bug**
version 1.20.9 is unfortunately obsolete and can't be deployed, so when trying to deploy this template, it fails.

https://github.com/Azure/application-gateway-kubernetes-ingress/blob/8242b5613caa1e8232f1df69a968ec31f359f3b5/deploy/azuredeploy.json#L284

**To Reproduce**
Steps to reproduce the behavior:

**Ingress Controller details**
* Output of `kubectl describe pod <ingress

[2022-03-22 12:49] langecode commented on #678
@nerijusk did you find an automated way of uploading the certificate to appgw?

[2022-03-22 16:02] nerijusk commented on #678
No, I upload it using azure cli like this:

[code]

On 2022-03-22 14:49, Thor Anker Kvisgård Lange wrote:

--
Nerijus K.

[2022-03-22 18:23] langecode commented on #678
Yeah, that is also what I have found but could have been nice to bae able
to propagate it from the cluster since it is available there anyway.

tir. 22. mar. 2022 kl. 17.04 skrev Nerijus ***@***.***>:

[2022-03-23 07:52] LudoNieuwenhuizen commented on #462
check here, 1.5.0 is already released for some time: https://github.com/Azure/application-gateway-kubernetes-ingress/releases

[2022-03-23 12:07] fadamsen commented on #937
Same issue here, this prevents us from using Azure Application Gateway.

[2022-03-23 12:50] mazgi opened #1368 "E2E Nightly is failing after Mar 5. Please update the token."
**Describe the bug**

The CI `E2E Nightly` is failing after Mar 5.
<img width="1920" alt="image" src="https://user-images.githubusercontent.com/194222/159702195-d1fc41f7-eebd-4790-abbc-e4035254bb50.png">

The reason seems expired token.
https://dev.azure.com/azure/application-gateway-kubernetes-ingress/_build/results?buildId=37969&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=5caf77c8-9b10-50

[2022-03-23 12:58] mazgi commented on #1368
@akshaysngupta I found your amazing activities in recent pull requests.
Would you happen to know how to update the token?
Or could you update it?

[2022-03-24 01:53] jmp601 commented on #1354
@lhiqvia Could you provide a sample of your ingress and the HTTP spec of your application? This annotations page is extremely handy for this: https://azure.github.io/application-gateway-kubernetes-ingress/annotations/

[2022-03-24 19:14] gpowers01 commented on #1108
@StephanNel  - did you ever determine the root cause and steps to resolve this issue?  We are experiencing a similar issue with an intermittent 502 Bad Gateway error, but no indications of why or exactly where between the App Gateway -> APIC -> backend API server the unhealthy condition is coming from to cause the 502.

[2022-03-25 08:25] ferronsw commented on #1355
@akshaysngupta Can you share an update on the timeline please?

[2022-03-25 15:13] smsilva commented on #1122
Now it worked after I followed [this](https://github.com/cert-manager/cert-manager/issues/4966#issuecomment-1079044690).

[2022-03-25 16:31] ahoeing commented on #860
@alchemistake : Have you found a solution for this?

[2022-03-26 14:59] lhiqvia commented on #1354
@jmp601 Thank you for your reply.
Unfortunately I moved away for Let's Encrypt E2E setup and I implemented E2E with custom CA, thinking that that can't be achieved for the moment with LE E2E. Therefore I don't have any sample to provide.

But I'm still interested to know how this could be achieved with LE E2E AGIC/AGW.
If you or anybody else have documentation/samples/ideas how we could implement

[2022-03-26 19:36] fractiunate commented on #1015
+1

[2022-03-28 20:15] larryclaman commented on #1366
Checked again and saw that the github pages website is now showing 1.8.6, so it looks like the latest content has been pushed.  closing issue.

[2022-03-28 20:15] #1366 closed

[2022-03-29 03:51] sehgalnamit commented on #1341
Do we have any update on the fix?

Thanks

[2022-03-29 13:15] danivisma commented on #1341
Hello,

The AGIC pod is already updated in the AKS clusters. It is using the container image: mcr.microsoft.com/azure-application-gateway/kubernetes-ingress:1.5.1.

Thanks,

[2022-03-29 13:15] #1341 closed

[2022-03-30 07:27] rsun-thoughtworks commented on #1145
You can try this:
[code]

This should work for you.

Also remember that you must have readinessProbe and livenessProbe configured in your deployments.

[2022-03-31 16:11] zalegrala commented on #1015
If working with AKS, the nginx ingress can be modified to receive gRPC traffic in Azure.

[2022-04-01 02:05] davemcdonnell commented on #931
Im not using firewall but this feature would be helpful for me to fix some asymmetric routing issues I have with AKS/AGIC and ExpressRoute.

[2022-04-01 09:40] VincentVerweij commented on #1290
Hi @Srkvmv

It is good to see that you did resolve the issue.
Any chance of sharing what you did to resolve this issue?
Currently I am getting the same error message as the warning you posted at the bottom of your issue (ErrorServiceResolvedToInvalidPort).
Google pointed me to this issue 😄
So if you have any information on how this can be resolved, would be great!

Thanks in advance!

[2022-04-01 20:54] KR411-prog opened #1373 "New vulnerabilities in 1.5.1 version"
[1mScan results for: image mcr.microsoft.com/azure-application-gateway/kubernetes-ingress:1.5.1 sha256:8b4b04566ada0aa144a0e670905a5aa3c5f515d747edceecba5c814fcc65206c[0m
[1mVulnerabilities[0m
+----------------+----------+------+------------+----------------------------+-------------------------------------+------------+------------+----------------------------------------------------+
| [1m

[2022-04-04 19:29] akshaysngupta commented on #1368
fixed!

[2022-04-04 19:29] #1368 closed

[2022-04-04 23:50] akshaysngupta commented on #1373
@KR411-prog I have re-built the images for AGIC 1.5.1. Feel free to re-run the scan.

[2022-04-05 12:19] rbickel opened #1374 "AGIC not preserving path based routing order"
When using AGIC 1.5.1 with the ingress below, AGIC doesn't not preserve the path order when updating Application Gateway. This may resulting with the less granular `app` route above in the ARM template, breaking the routing definition as no requests will ever be routed to the `api`:

[code]

While the quickfix could be to use distinct path, we are trying to serve a legacy application that doesn't

[2022-04-05 15:10] rlaveycal commented on #1285
You need to set the `containerPort` on your pod - see #987
[code]

[2022-04-05 15:27] rbickel commented on #1374
It would be good to preserve the route order according to the ingress definition. For now the workaround is to use different ingresses, and to use the alphabetical ordering of the ingresses to order  the routes correctly.
e.g.:

[code]

[code]

With that approach order is forced as AGIC is ordering ingresses by name before generating the ARM template to update Application Gateway

[2022-04-06 08:28] iliev91 opened #1375 "APPGW Ingress does not add additional host name into hosts field of listener for the same backend (multi-site)"
**Describe the bug**
It seems that the Ingress object does not add the rules for different hosts with same backend as multi-site one listener with multiple hosts, but it creates separate listeners.

**To Reproduce**
Steps to reproduce the behavior:
AKS bound with APPGW via azure ingress integration.

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    appgw.ingress.kubernet

[2022-04-06 09:21] alxy opened #1376 "Run AGIC with `readOnlyRootFilesystem`"
**Is your feature request related to a problem?**
Following Azure Defender recommendations, all containers should run with [`readOnlyRootFilesystem`](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container). This is currently not possible for AGIC deployed via Helm, as the chart doesn't expose the required options.

**Describe the solutio

[2022-04-07 07:12] rbickel commented on #884
@lukaszchwastyk Can you let me know which version of AGIC you are using ? I've tried with 1.5.1 but the alphabetical ordering was not preserve neither. Thanks !

[2022-04-07 07:12] rbickel commented on #1374
Duplicate with #884

[2022-04-07 07:39] lukaszchwastyk commented on #884
@rbickel I'm also using version 1.5.1
![image](https://user-images.githubusercontent.com/75968380/162146007-09ba6f13-6477-4aca-b71d-91b4c7ab7e91.png)
![image](https://user-images.githubusercontent.com/75968380/162145564-a40c4051-168c-478f-8f32-cbd8e5444e5c.png)
I removed some parts from the yaml (not relevant)
[code]

[2022-04-11 09:13] fristedt commented on #995
This would be a great feature and would make the tweaks described in this document less important: https://azure.github.io/application-gateway-kubernetes-ingress/how-tos/minimize-downtime-during-deployments/

[2022-04-11 21:59] mikevo13 opened #1378 "Unable to create 2 AGIC on the same cluster"
**Describe the bug**
Got below error message when trying to create 2 AGICs in the same cluster targeting 2 Application gateways:

Error: rendered manifests contain a resource that already exists. Unable to continue with install: Secret "networking-appgw-k8s-azure-service-principal" in namespace "kube-addon" exists and cannot be imported into the current release: invalid ownership metadata; annotat

[2022-04-13 06:13] #1376 closed

[2022-04-13 08:14] ramazankilimci commented on #780
@3quanfeng we really need this feature. Any update on this?

[2022-04-13 10:09] PastorPL commented on #909
@matlion

Is there any example of how this can look like? Do we have to create a WAF policy per ingress? Or one to configure them all?

[2022-04-14 07:46] mirgil commented on #1015
Any update on supporting gRPC?
Is there a change it will be in CY22?

[2022-04-14 11:13] ferronsw commented on #1378
Same issue as I reported only difference I need an upgrade path #1355

[2022-04-15 12:52] nagidocs commented on #903
For me the it's giving the same error even if I have the right type of tls secret
Error-:
`I0415 12:34:49.570196       1 event.go:282] Event(v1.ObjectReference{Kind:"Ingress", Namespace:"staging-ns", Name:"ingress-agic-testimnos", UID:"0XXxXXXxXXc267c972", APIVersion:"networking.k8s.io/v1", ResourceVersion:"XXXX", FieldPath:""}): type: 'Warning' reason: 'SecretNotFound' Unable to find the secret a

[2022-04-15 13:02] nagidocs opened #1379 "'SecretNotFound' Unable to find the secret associated to secretId"
**Describe the bug**
'SecretNotFound' Unable to find the secret associated to secretId: [staging-ns/tistaging-imnos-tls]

**To Reproduce**
Setup AGIC to auto configure https listener on AppGw form Aks cluster deployed website

**Ingress Controller details**
* Output of `kubectl describe pod <ingress controller`> . The <ingress controller> pod name can be obtained by running `helm list`.
[code]

*

[2022-04-15 16:12] antonsmelyanskiy commented on #903
@nagidocs I have found that it is better to reference from this config a secret loaded separately into app gateway

[https://azure.github.io/application-gateway-kubernetes-ingress/annotations/#appgw-ssl-certificate](https://azure.github.io/application-gateway-kubernetes-ingress/annotations/#appgw-ssl-certificate)

[2022-04-16 02:43] akshaysngupta commented on #1373
This is resolved now.

[2022-04-16 02:43] akshaysngupta commented on #1373
This is resolved now.

[2022-04-16 02:43] #1373 closed

[2022-04-16 17:11] spr0ut commented on #1124
Just to add to this discussion - I think it's pretty telling that ~~none~~ only one of Microsoft's AKS baseline architectures use AGIC:

- Basic - Traefik
- Multi region - Traefik
- PCI DSS - Nginx
- Multi tenant - AGIC

After much failed testing with AGIC we are now using Nginx ingress with AppGw as the WAF component only.

[2022-04-18 07:24] neilkuantm commented on #1216
any update about this??
I meet the same issue.
use [`caddy server`](https://github.com/caddyserver/caddy) in the backend pool.

- `caddy deployment`
[code]

- `ingress-config`
[code]

But `AGIC` help me to created the health probes use `HTTPS` protocol, it will let backend health check fail...
![image](https://user-images.githubusercontent.com/98370258/163771719-634bf011-5804-4341-95bc-6430061f3d7

[2022-04-20 20:23] techgeek03 commented on #1015
Any updates on this @mscatyao ? We have been using gRPC for over two years now and been forced to use both AGW and Azure Firewall. HTTP3 is just around the corner and we still don't have HTTP2 in any of the current Azure products.

[2022-04-22 21:20] santiagobando commented on #1047
This is exactly my current requirement. Is it possible to accomplish the stated question?

[2022-04-25 07:51] rifaterdemsahin commented on #1122
@smsilva is this the only part that needs to be updated to complete the upgrade?
![image](https://user-images.githubusercontent.com/5270036/165044407-21035b7c-0dc9-4e1c-adde-33f60e849feb.png)

[2022-04-25 11:41] smsilva commented on #1122
Yes @rifaterdemsahin , you're right.

[2022-04-25 12:47] JiayangZhou commented on #1378
You can achieve two AGIC deployments in the same cluster by using ingressClass as you already did, do you have them in two separate namespaces?

[2022-04-25 13:20] JiayangZhou opened #1381 "The AGIC pod become not running"
**Describe the bug**
I have two AGIC pods deployed in a cluster and one of them is running fine (updating the appgw normally), but the other one is not in READY state (not updating the appgw), see the logs below and any ideas?

The AGIC is installed via helm, the specific version is application-gateway-kubernetes-ingress-staging/ingress-azure build number 32189.

**To Reproduce**
Steps to reproduc

[2022-04-25 13:23] JiayangZhou commented on #1381
The issue is resolved though by deleting the Not Ready AGIC pod, it became ready but how could I look into the cause to prevent it from happening in the future.

[2022-04-25 16:11] ptemmer opened #1382 "Question: Can I have different AKS instances target a single Application Gateway?"
I read this in the documentation:

`For deployments that require more than one AGIC per cluster or multiple AGICs targeting one Application Gateway, please continue to use AGIC deployed through Helm.`

However, it is not clear to me whether this means the multiple AGIC instances can be spread over AKS clusters, or whether they have to run on the same cluster.

I have a couple of clusters for which

[2022-04-25 16:26] ptemmer commented on #1382
It seems this is possible:
https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-install-existing#multi-cluster--shared-application-gateway

However, not very manageable if you ask me. You need to explicitly set which hostnames NOT to consider. Wouldn't it make more sense to have to specify which hostname I DO want AGIC to handle? I'm unable to know at all times which ingre

[2022-04-26 12:32] abarqawi opened #1383 "Error: rendered manifests in helm install AGIC ,and Multiple Namespace Support for Application Gateway Ingress"
**Describe the bug**

We have configured our Cluster with Application Gateway as Ingress via the Plugin. Now we want to enable Multiple Namespace Support to let AppGW watch all Namespaces. Helm-Config:
# This file contains the essential configs for the ingress controller helm chart

    # Verbosity level of the App Gateway Ingress Controller
    verbosityLevel: 3

    #############################

[2022-04-26 13:58] JiayangZhou commented on #1383
Your config file is a bit off, it should be kubernetes.watchNamespace, you commented out the kubernetes

[2022-04-26 14:10] abarqawi commented on #1383
@JiayangZhou  sorry its copy/paste issue but i uncomment it and same issue , also i tried with helm install with parameters and same problem , i suspect there is some left overs affected by the agic add-on

[2022-04-26 16:09] kamellemann commented on #1383
We also got the error with manual commandline deployment:
helm install ingress-azure application-gateway-kubernetes-ingress/ingress-azure --namespace default --set appgw.name=appgw-eu2-prod-002 --set appgw.resourceGroup=rg-aks01-prod-appgw --set appgw.subscriptionId=<subid> --set appgw.usePrivateIP=false --set appgw.shared=false --set armAuth.type=aadPodIdentity --set armAuth.identityResourceID=<m

[2022-04-27 07:25] kamellemann commented on #1383
@JiayangZhou, @abarqawi
perhaps this is our problem? Is it safe to delete this CRD without damaging the cluster? This CRD is still there even if no ingress is configured (neither agic nor nginx)

![image003 19](https://user-images.githubusercontent.com/24431844/165464085-1324eb79-a5f7-4ef3-8ceb-297c4e9ded71.png)

https://beta.pkg.go.dev/github.com/Azure/application-gateway-kubernetes-ingress/pkg/c

[2022-04-27 07:47] kamellemann commented on #1383
Cleanup this CRD did not help. No resource left in all namespaces that seems to be related to an AppGW.

[2022-04-27 09:03] khuga94 opened #1384 "Unable to connect to backend pool after sharing appgw"
Hello.

We're having troubles sharing one APPGW for our two AKS clusters.

We have created the AzureIngressProhibitedTarget object in both clusters as stated and it seems to work fine, we have both listeners, backend pools, rules and everything else coexisting in our APPGW, but the backend for one of them is unhealthy.

The situation is the next:

VNET A:
- AKS Cluster A
- APPGW

VNET B:
- AKS Clu

[2022-04-27 11:49] kamellemann commented on #1383
This did the trick:
kubectl delete ingressclass azure-application-gateway

Then both deployments works fine:
- addon is working as expected
- helm is working as expected

Info: even the addon is watching all namespaces by default. This should be updated in MS Doku. So multiple Namespace Support activation is only required for helm release.

[2022-04-27 15:06] abarqawi commented on #1383
Thank @kamellemann  Thanks for update i will close

[2022-04-27 15:06] #1383 closed

[2022-04-27 21:49] timmyreilly commented on #1364
I'm guessing we're waiting for this? https://github.com/Azure/go-autorest/pull/680/files ?

[2022-04-27 22:01] omBratteng commented on #1364
@timmyreilly yeah, looks like it. Looking forward to it getting merged and implemented in this, hopefully not too far into the future.

[2022-04-28 01:45] severity1 commented on #1381
I am experiencing a variation of this issue.
[code]

[2022-04-28 03:38] severity1 opened #1385 "ingress pod failing readiness probe on AKS k8s v1.23.3 when using helm chart v1.5.1"
**Describe the bug**
Ingress pod runs but fails readiness probe.

**To Reproduce**
Install ingress-azure using helm-chart version 1.5.1 on aks using kubernetes version 1.23.3 and it will fail readiness probe.

**Ingress Controller details**
* Output of `kubectl describe pod <ingress controller`> . The <ingress controller> pod name can be obtained by running `helm list`.

[code]
* Output of `kubect

[2022-04-28 03:58] severity1 commented on #1385
curious as to why it fails when trying to list the beta ingress version when this should still work if beta version is missing. not sure if it will help to say that this is a new cluster so beta ingress api version does not exist on this cluster. See my api versions below.

[code]

[2022-04-28 23:58] severity1 commented on #1385
This is fixed, apparently we were using the 1.4.0 image.

[2022-04-28 23:58] #1385 closed

[2022-04-29 19:04] ArunSuryaPrakash opened #1386 "AKS create with App gateway ingress control fails with IngressAppGwAddonConfigInvalidSubnetCIDRNotContainedWithinVirtualNetwork error"
When i try to create aks using azure cli using the following command :

"az aks create -n myCluster -g myResourceGroup --network-plugin azure --enable-managed-identity -a ingress-appgw --appgw-name myApplicationGateway --appgw-subnet-cidr "10.2.0.0/16" --generate-ssh-keys"

I get the below error.

"(IngressAppGwAddonConfigInvalidSubnetCIDRNotContainedWithinVirtualNetwork) Subnet Prefix '10.2.0.0/1

[2022-05-02 20:23] iusergii commented on #908
@akshaysngupta is it still not supported?

[2022-05-03 04:06] iusergii opened #1387 "Separate Host header from CN for End to end TLS with self-signer certificate"
Reopening #908

We have a multi-tenant application that is really on the Host Header and we cannot override it with the specific one in the Ingress rule / Backend HTTP Setting

[2022-05-03 17:51] ohadschn opened #1388 "Critical errors are not retried/terminating (especially in ApplicationGatewaysClient#CreateOrUpdate)"
**Describe the bug**
Looking at the worker code, it seems that errors are never retried, just logged:
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/b01f82a6acdd75e8b42e3b974bbd0489167f8468/pkg/worker/worker.go#L62

The problem is that some of these errors might be critical, specifically errors encountered in `ApplicationGatewaysClient#CreateOrUpdate` which basically mean the

[2022-05-04 03:08] jmp601 commented on #1295
I am having a similar issue as well!

[2022-05-04 08:09] #1375 closed

[2022-05-04 10:17] adamcarter81 commented on #940
Hi all - I have just run into this as well - I have AGIC deployed (1.5.0), but now needed to add a custom hostname not handled by AKS. Easy I thought, I remember AGIC could ignore certain hostnames, and the documentation states for an existing AGIC installation we just need to create a CRD for the hostname. I did in the default namespace (as per AGIC), but sure enough - on the next refresh it just

[2022-05-04 10:56] kortatu opened #1389 "FailedApplyingAppGwConfig: Either all or no rule should have the priority specified."
**Describe the bug**
AGIC stop updating AppGateway after a while and complains with error "Either all or no rule should have the priority specified."

**To Reproduce**
I created a bunch of ingress with several hosts (all of them pointing to the same frontend-ip in the AppGateway). When starting from an empty set of rules, they work. Every listener, rule, backend pool, etc.. is created successfully

[2022-05-04 10:58] adamcarter81 commented on #940
I think I have solved this - I still needed to set the shared=true in the helm values - once I did this and deleted the prohibitall CRD it kept my custom domain. The documentation should be updated for the section Enable for an existing AGIC installation - that still the shared setting needs to be updated

[2022-05-04 12:22] kortatu commented on #1389
The problem seems to be that tries to create a rule without priority when there is already a rule with priority (created by AGIC itself in a previous iteration):

`-- App Gwy config --        "requestRoutingRules": [
-- App Gwy config --            {
-- App Gwy config --                "id": "/subscriptions/e52b5355-dadc-4fd8-b16c-b711e651d7a7/resourceGroups/olympia/providers/Microsoft.Network/app

[2022-05-04 15:16] juldw commented on #1294
Any updates on this on ? I ran into the same issue and didn't find any way to move forward.

[2022-05-04 23:08] brwilkinson commented on #954
+1 Also looking for mTLS support on the ingress controller.

[2022-05-05 05:40] normander commented on #954
+1 me too. It will be really useful to configure all from the ingress settings.

[2022-05-05 05:54] pbloigu commented on #1389
I just ran into this exact same issue. I have not observed this happening before.

[2022-05-05 06:03] pbloigu commented on #1389
@kortatu Are you running a manually installed AGIC or are you using the one that can be enabled from the Azure portal for the cluster?

[2022-05-05 06:05] kortatu commented on #1389
Manually installed.
We are also using the "shared" feature and adding a manual path based rule. We believe is related with that and with heaving several listeners.

[2022-05-05 06:12] pbloigu commented on #1389
A couple of words about my setup. I have a total of 3 clusters behind the same app gw, multiple hostnames in each cluster.  This setup has worked flawlessly for well over a year now. One of the clusters sees deployments / ingress restarts on a daily basis. And now this.

I suspect there might have been some change at the app gw side that's causing this.

[2022-05-05 08:11] lsl-msft commented on #1386
Just met same error.

[2022-05-05 09:49] marlowp commented on #1389
As @pbloigu suggests this does look to be an issue with the underlying agw service as it's happening with standard CLI commands. I've raised https://github.com/Azure/azure-cli/issues/22279 for investigation.

[2022-05-05 10:19] ArunSuryaPrakash commented on #1386
In AKS [release notes](https://github.com/Azure/AKS/releases/tag/2022-02-24) the default VNET address for managed VNETs changed from 10.0.0/8 to 10.224.0.0/12. The Azure documentation is outdated and causing the above error.

please use --appgw-subnet-cidr "**10.225.0.0/16**"  instead of "**10.2.0.0/16**". This should fix the issue.

[2022-05-05 10:19] #1386 closed

[2022-05-05 14:49] marxxxx commented on #1277
Thanks for finding this out. So this also means, all websocket connections are reset when we scale pods? So this makes this setup unusable for dynamic scaling?

I created a stackoverflow question describing my repro [here](https://stackoverflow.com/questions/72123750/how-to-scale-websocket-connections-with-azure-application-gateway-and-aks)

[2022-05-05 18:16] AndreasLudviksen commented on #1389
We observe the same in our dev environment. Pretty scary thing when this hits our production-environment. Getting ready to manually update AGW if the backend-target scales down/up.

[2022-05-05 19:31] akshaysngupta commented on #1389
Is this happening when using AGIC with "shared" (prohibited targets) feature ?

[2022-05-05 20:04] AndreasLudviksen commented on #1389
Yes.

[2022-05-05 22:43] mscatyao commented on #1389
@kortatu Thanks for raising this issue, we've identified the problem and are prioritizing a fix and should be rolling out the fix soon. We'll keep this thread updated as things progress.

[2022-05-06 03:23] brwilkinson commented on #954
Also is there any combination of using App gateway with OSM that would support this (mTLS) ?
- I currently only see OSM ingress support for mTLS via other ingress controllers, than AGIC, however I did see some integrations between AGIC and OSM ?

[2022-05-06 03:31] mscatyao commented on #1389
Update: The current mitigation for folks whose AppGWs aren't updating is to:
1. Avoid making changes or updates to the gateway via Portal
2. Remove the priorities assigned to the rules that are referenced in the ProhibitedTargets CRD through PS/CLI/ARM template
3. Once the priorities have been removed from the rules that ProhibitedTargets references, apply the configuration to the AppGW through PS

[2022-05-06 04:58] pbloigu commented on #1389
@mscatyao Any ETA for the fix?

[2022-05-06 07:04] kortatu commented on #1389
@akshaysngupta in my case, it is using shared.

[2022-05-06 07:14] pbloigu commented on #1389
@mscatyao Also, one clarification about the incoming fix: will it be to AGIC or Application Gateway itself? If it is only to AGIC, then it would require updating AGIC, right? And in any case it wouldn't help those experiencing this problem with the CLI client.

[2022-05-06 09:05] akshaysngupta commented on #1389
Released `1.5.2` which has a fix to generate priority for rules that don't have a priority assigned. This will allow AGIC PUTs to succeed and not fail with `ApplicationGatewayRequestRoutingRulePartialPriorityDefined`.

Please upgrade AGIC to `1.5.2` and see if this addresses the issue on the AGIC side.

[2022-05-06 11:30] AndreasLudviksen commented on #1389
Tested 1.5.2, and it works fine for us.
Thanks a lot for the quick resolution!

[2022-05-06 20:30] mscatyao commented on #1389
Closing the thread now - for any folks seeing this issue, please follow @akshaysngupta's instructions and upgrade your AGIC deployment to v1.5.2.

[2022-05-06 20:30] #1389 closed

[2022-05-08 12:21] ghostika opened #1392 "After update prohibit-all-target entry was recreated"
**Describe the bug**
I was updated the kubernetes version of my nodepool and during the update, the APGW was not properly updated. I got a 400 error in the logs with the text: `ApplicationGatewayRequestRoutingRulePartialPriorityDefined Message="Either all or no rule should have the priority specified."`
As the AGIC was an older version, I updated it to the newest 1.5.0 version, and the error was g

[2022-05-09 06:55] ghostika commented on #1392
I've found the error, but I would keep the Issue open. With `helm update` it created a "prohibit-all-target" entry and blacklisted everything on the cluster. After removing the rule, the update worked.
I've tried to find out, why it created this rule, because on the other cluster this was not the case.

[2022-05-09 12:52] smitasulikal22 commented on #824
Hello Team,

I have tested this  ....after scaling in and scaling out the deployments replicas,the endpoint IPs of pods are getting reflected in the appGW backed pools section as expected.

aks cluster version : 1.22.6 with Azure CNI network plugin

[2022-05-10 11:04] Shawn71 opened #1393 "agic pod is not ready after upgraded aks cluster to 1.22"
**Describe the bug**
we just run the below command to enable the upgrade of AKS cluster to a stable version automatically.
Actually when aks cluster version upgrades to 1.22 .then the agic pod status is not ready

E0505 10:47:21.279139       1 reflector.go:178] [pkg/mod/k8s.io/client-go@v0.0.0-20200326020446-6240434e1ad6/tools/cache/reflector.go:125](mailto:pkg/mod/k8s.io/client-go@v0.0.0-20200326

[2022-05-13 13:30] scav commented on #805
With OSM not being recommended together with AGIC, it is safe to assume the same can be said about using AGIC together with Linkerd? If not, is there a possibility for an update on this? Even if it's just a recommendation for using something else that will also be fine.

[2022-05-16 10:14] kamekazemaster commented on #948
Is there any progress on this one other than the item beeing on the roadmap (it took ~15 months after reporting this issue to land there). Now ~7 months later the only information is that we get future updates anytime this year. Will it be done this year? Will we be able to use AGIC for private and public listeners on the same port? It is just a huge amount of work to work around this problem and

[2022-05-16 12:04] gitakp commented on #805
Can we get a detailed approach/tutorial to integrate Linkerd Service Mesh with Application Gateway. We got success with Linkerd Service Mesh via NGINX Ingress but our Architecture demands Application Gateway in place with WAF policy enabled. Also, kindly suggest us the way to integrate Azure Front Door with NGINX Ingress and Linkerd.

[2022-05-17 14:25] JackStromberg commented on #948
Hey @kamekazemaster, appreciate you reaching out.

We hear the community loud and agree with the value on bringing this feature to light. I know it has been a long journey and while I cannot bring an exact ETA yet, there has been movement on this internally.  I won't have an update for another 1-2months, but we will provide more details on the status of this thereafter.

I apologize I cannot provi

[2022-05-17 15:55] thisispaulsmith opened #1394 "SSL Redirect not applied when appgw.ingress.kubernetes.io/ssl-redirect: 'true'"
**Describe the bug**
When adding ingress with appgw.ingress.kubernetes.io/ssl-redirect: 'true' a redirect is not created. Instead ingress rules for https and http are created with no redirect. I've seen other issues that are similar but nothing with a resolution. We are using the latest version of AGWIC. The defined secret does exist. The logs refer to a `redirectConfigurations` that doesn't exist

[2022-05-20 08:48] smd134 commented on #1389
How can I update to 1.5.2 for AGIC made with add-on?
If it's not possible, please let me know when the default AGIC add-on version will be 1.5.2.
Thanks.

[2022-05-23 18:19] Digindataflow opened #1396 "Annotation "rewrite-rule-set" is not working"
**Describe the bug**
application gateway has one path based routing rule with two paths.
Annotation "rewrite-rule-set" is set to existing rewrite rule set.
However, after each deployment, the rewrite rule set is not checked for both paths.

**To Reproduce**
[code]

[2022-05-23 21:11] williamalvvc opened #1397 "AGIC started failing after Application Gateway rule priority is mandatory"
Hi everyone.

Today, we started experiencing an issue, related to the the configuration of an AGIC Controller with a shared deployment option (VM + AKS Services)

We were unable to deploy any new ingress controller, when cheking the logs, we figured out, that the issue might be related to a new mandatory configuration on Application Gateway Routing Rules related to rule priority as you can see fro

[2022-05-23 21:51] akshaysngupta commented on #1397
@williamalvvc This issue was resolved via an update on AGIC. Please update AGIC to `1.5.2` which has a fix for this issue.

Reference from duplicate issue:
https://github.com/Azure/application-gateway-kubernetes-ingress/issues/1389#issuecomment-1119408580

[2022-05-23 21:53] akshaysngupta commented on #1396
@Digindataflow Can you please check the version of AGIC? This is supported in `1.5`.

[2022-05-23 21:57] akshaysngupta commented on #1394
@thisispaulsmith can you also add `host` in the rules as well. Example:
[code]

[2022-05-23 21:57] akshaysngupta commented on #1393
@ShawnBian Can you please share the AGIC logs ?

[2022-05-24 04:06] n3wt0n commented on #948
+1 for having the possibility to use the same port on private and public listeners.
We are in the middle of a huge deployment and we stumbled on this.
For the time being we will use AppGateway only for public endpoints, but this limitation is quite strong for us and we'd really need to solve this quickly... otherwise we'll have to fall back to competitor services

[2022-05-24 07:52] Digindataflow commented on #1396
Hi, could you show me how to find that? Thank you.

[2022-05-24 08:05] thisispaulsmith commented on #1394
@akshaysngupta Sorry that was my mistake in the original post. The host is there, I just missed it from the sample.

[code]

[2022-05-25 06:10] karloefd95 opened #1398 "AGIC Wildcard Hostnames - subdomain doesn't start with *"
**DESCRIBE A PROBLEM**

While reading Azure Application Gateway [documentation](https://docs.microsoft.com/en-us/azure/application-gateway/multiple-site-overview#conditions-for-using-wildcard-characters-and-multiple-host-names-in-a-listener) I got to conclusion that Azure Application Gateway supports wildcards in subdomains. As stated:

When I tried to created ingress using AGIC with following wil

[2022-05-30 14:53] periapsistech commented on #1015
@jovicde any updates on supporting HTTP2 or gRPC in the AGIC?

[2022-05-30 15:01] jovicde commented on #1015
Not that I am aware of. We switched to SignalR due to lack of gRPC support in Azure. Also, SignalR supports true bi-di communication, while in gRPC we had to deal with infinite function calls to eventually fire server-sent events. Felt a bit like the forever frame in the good old days.

[2022-05-31 10:27] galiacheng opened #1400 "AGIC crashed at Applcation Gateway doesn't have a public IP"
**Describe the bug**
AGIC 1.5.1 crashed when working with internal Application Gateway, error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create internal Application Gateway:
 Ffollow [Configure an application gateway with an internal load balancer (ILB) endpoint](https://docs.microsoft.com/en-us/azure/application-gateway/configure-application-gateway-with-private-fronte

[2022-05-31 12:53] itd-fsc opened #1401 "HTTPS listener gets deleted after agic restart"
**Describe the bug**
An existing HTTPS setup gets deleted, when the agic gets restarted with a short downtime.
The ingress definition was valid and working before.
After the restart, the HTTPS Listener configuration is removed from the AppGW.
A delete + redeploy of the ingress object then creates the full setup including HTTPS again.
This bug occured with v1.5.2 after a kubernetes upgrade to v1.23

[2022-05-31 21:12] severity1 commented on #835
Still experiencing this issue. will create a new issue.

[2022-06-01 09:52] itd-fsc commented on #1401
Removing the `appgw.ingress.kubernetes.io/ssl-redirect: "true"` annotation seems to have reduced the likelihood of this error significantly.
After removing it, I was only able to trigger this issue once by killing the agic and that might have been an artifact of the recent change.

[2022-06-03 05:45] manikanta1994 commented on #940
Hi Team,

I had velero in my aks cluster, When the AKS cluster is at 1.21.9 version everything worked fine, We had upgraded to  1.22.4 -->1.23.5. Present cluster version is 1.23.5. Once after upgrade my backups are failing due to below error, Could some one please look into this and help me on this ?
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/33510091/171794310-53

[2022-06-06 15:53] swapnildangorechc opened #1403 "Listener , backend pool not getting registered after deployment"
**Describe the bug**
Hi,

We can't see ingress load-balancer getting registered with AGIC after deployment to kubernetes cluster. Backend pool also did not get registered, No rules, backend settings created for our deployment with app gateway.

**To Reproduce**
1. Deploy your application with helm chart. It contains templates like Deployment, Service, Ingress etc.
2. Can't see listerner,backend po

[2022-06-07 13:51] javadevops-dev commented on #1403
How can we debug the issue ? we have been running into issue with every deployment so any expedite help would be much appreciated.

[2022-06-08 14:16] mracfa commented on #1401
It seems the culprit is having the spec:  ingressClassName: azure-application-gateway

If i use the annotation kubernetes.io/ingress.class: azure/application-gateway I can't reproduce the behavior.

[2022-06-08 16:08] swapnildangorechc commented on #1403
Well we have that annotation in use alread.

If we remove appgw.ingress.kubernetes.io/ssl-redirect: "true" , will communication from app gateway to backend pod still be encrypted

[2022-06-09 09:33] wasfree commented on #860
@mscatyao Any update on this ? Is there any ETA when this feature is supported on AppGW ?

[2022-06-13 19:19] WitoldSlawko commented on #1302
Hello.

As @rjminchuk & @dwenpark said, this is still and issue... Here I tried with terraform `helm_release` resource, yet same outcome
![image](https://user-images.githubusercontent.com/20817587/173428454-42a2bfb9-1900-4b9d-a88b-a754292abe61.png)

can you please corect this in release `1.5.0` ?

[2022-06-14 17:33] S-AA-RON opened #1404 "ssl-redirect and override-frontend-port are incompatible annotations."
**Describe the bug**
If a custom port is defined with < appgw.ingress.kubernetes.io/override-frontend-port: "8060" >. Agic will not create an HTTPs listner and redirect the custom port to the HTTPs 443 port

**To Reproduce**
Create namespace with custom HTTP port with <appgw.ingress.kubernetes.io/override-frontend-port: "8060"> annotation
Attempt http -> https redirect with < appgw.ingress.kuberne

[2022-06-17 06:39] dano0b commented on #1364
It is merged, would be great if that could move forward.

[2022-06-21 11:39] jeicob22 commented on #824
Hello team!! Any news regarding this?

[2022-06-21 16:12] adamgsmithmatillion commented on #734
I have raised this as an idea on the Azure feedback portal. Please vote for it if you would like this implemented:
[Application Gateway Cookie-based Affinity stickiness timeout](https://feedback.azure.com/d365community/idea/14c5f0e3-6ef1-ec11-a81b-0022484ee92d)

[2022-06-21 22:06] akshaysngupta commented on #1401
I was able to repro this issue by following the above steps. It is happening when using `ingressClassName` and not when using the annotation.
I think that the bug is related to how AGIC filters `Ingress` resource using the `IngressClass` resource. When controller starts, it warms up the informer `Caches` - i.e. waits for receiving ingress, ingress class, secrets, etc. When an ingress is received,

[2022-06-24 05:25] akshaysngupta commented on #1398
@karloefd95 This is an issue with the ingress API as it doesn't allow wildcard in the middle.

To workaround, AGIC supports [appgw.ingress.kubernetes.io/hostname-extension](https://azure.github.io/application-gateway-kubernetes-ingress/annotations/#hostname-extension) which can use to provide the hostname as well.

[2022-06-24 05:25] #1398 closed

[2022-06-24 06:03] #462 closed

[2022-06-25 11:06] kamilzzz commented on #931
I'm facing the same issue with AGIC and kubenet as I would like to control cluster's egress traffic using Azure Firewall.

[2022-06-27 10:12] janodutoit commented on #697
So it seems the document is still outdated @akshaysngupta?

[2022-06-29 02:36] galiacheng opened #1407 "ApplicationGatewayILBDeploymentFailureDueToPrivateIPInUse"
**Describe the bug**
AGIC reported `ApplicationGatewayILBDeploymentFailureDueToPrivateIPInUse` error intermittently when enabling private IP. The application gateway v2 was deployed with public and private frontend IP. The frontend IP is in the same subnet of  application gateway.

**To Reproduce**

**This is an intermittent issue, not 100% reproduced.**

Steps to reproduce the behavior:
1. Deploy

[2022-06-29 06:42] nvenkatapavan commented on #1268
This feature is very much required, We are facing issues when we use wild cards in ingress. AGIC randomly assigns priority causing all issues. Any ETA on this issue please ?

[2022-06-29 18:39] avalanchis opened #1408 "Helm Upgrade from 1.4.0 to 1.5.2 Fails with IngressClass Error"
Attempting to upgrade from 1.4.0 to 1.5.2 with Helm fails with the following error:

**Error: UPGRADE FAILED: unable to recognize "": no matches for kind "IngressClass" in version "networking.k8s.io/v1"**

Also tried uninstalling 1.4.0 and installing 1.5.2 with Helm and received the same error.  Reinstall of 1.4.0 succeeded.

Kubernetes version:  1.18.14
Helm version:  3.8.2

See attached files fo

[2022-06-30 11:36] apozgaj commented on #1364
Any plans when this could be released?

[2022-06-30 18:20] akanieski commented on #978
It appears --sdk-auth  is "Deprecated"? Is that the case? Is AGIC prepped to use the oidc based alternative?

[2022-07-01 16:55] sudo-vaibhav commented on #903
Well, you won't believe what ultimately worked for me. So hear me out.

Even though I set everything correctly in the YML spec and tried like a hundred times, it did not work.

Then I decided to describe the ingress instead of the certificate or secret. And I found the same secret not found error as a lot of other people in this thread.

![image](https://user-images.githubusercontent.com/53619134/

[2022-07-04 14:02] karol-pieciukiewicz opened #1409 "AKS with AGIC - firewall egress configuration issue"
**Describe the bug**
Pods for AAD pod identity and AGIC cannot start.

**To Reproduce**
Create AKS cluster with:
* AGIC from standalone instance Application Gateway
* UDR for redirect egress traffic to Azure Firewall
* AAD Pod Identity
* Own vnet and subnet

**Ingress Controller details**
Issues from PODS:
Trace[1106410694]: [10.031957691s] [10.031957691s] END
W0704 09:48:30.515131 1 reflector.go:

[2022-07-05 15:23] TeamDman commented on #875
Still a problem 2022-07-05.
Gateway doesn't respect hostname in the health probe leading the ingress to serve the self signed cert

[2022-07-12 14:32] jayendranarumugam opened #1411 "AGIC Reverting to defaulthttp probe suddenly"
**Describe the bug**

_New to AGIC and Kubernetes :)_

AGIC reverting the `backend setting` of the ingress to defulthttp healthprobe automatically

The ingress will create the custom healthprobe correctly. It also assign the backendsetting to correct custom healthprobe but suddenly it is reverting to defaulthttp probe

Azure Support Raised : 2207070030001005

**Ingress Controller details**
[code]

[2022-07-12 20:10] Rovinovic commented on #903
AKS 1.21
Cert-Manager 1.8

Did what @sudo-vaibhav mentioned above and it worked. Looks like a bug.

[2022-07-13 09:46] nagidocs commented on #1389
@akshaysngupta How can we upgrade to 1.5.2 when it's helmchart is still point to 1.5.1 as latest, Please confirm
![image](https://user-images.githubusercontent.com/84770338/178704295-73f2a434-fba5-4c3b-bc1f-e57f7f3c14ed.png)

[2022-07-13 14:13] MohamedBenighil opened #1413 "Error: LinkedAuthorizationFailed on configurating AppGW"
**Describe the bug**
We received the following error on deploying our AppGW :
[code]

**To Reproduce**
Follow [these steps](https://github.com/MohamedBenighil/aks-infrastructure)

**Ingress Controller details**
* Output of `kubectl describe pod -n kube-system  ingress-appgw-deployment-76768b7d9d-bvmz9`.
[code]

PS: this issue is similar to [this](https://github.com/Azure/application-gateway-kubern

[2022-07-13 18:45] eduardodfmex opened #1415 "AGIC deployment in an existing AKS with custom routing tables can't be done using HELM."
**Describe the bug**

As AKS is configured to use KUBENET as network provider and due to the custom routing table (so the AKS can connect to private Networking), AGIC could not be deployed using HELM.
HELM requires Manage Identity that does not work with custom routing table.
In such scenario, we needed to use the AKS Add-On deployment.

**To Reproduce**
Steps to reproduce the behavior:

Sample er

[2022-07-13 20:08] eduardodfmex opened #1416 "Path annotation that allows multiple paths."
**Is your feature request related to a problem? Please describe.**

AGIC limitation required we create one ingress for each API paths available in our Microservices.

- Language: Java 11.0.2 with Spring Boot 2.5.6

- Application Gateway Ingress Controller: version 1.0

- Helm: version 2

- AKS with Kubenet network

- Custom IP routing table

Path annotation don't work with multiple path's [link](h

[2022-07-15 06:03] jayendranarumugam commented on #1172
@akshaysngupta , Could you explain a bit about what do you mean by sorting the execution of ingress? Is there any config we need to do for achieving it ?

[2022-07-15 09:48] Vivacio commented on #1364
+1 for this, is there any update on when this will be available? We've got a fully AZWI enabled cluster now and are trying to keep away from any pod identity

[2022-07-15 17:49] nilsatomada opened #1417 "ApplicationGatewayWafConfigurationCannotBeChangedWithWafPolicy - When updating an AppGW in 'East US'"
We're getting the following error messages when updating an Application Gateway which is associated with a WAF Policy since today. We haven't done any configuration changes. This is happening totally out of the blue. The other Application Gateways which are also controlled by other AGIC controllers are not affected by this. All Application Gateways are assigned to the same WAF Policy and all AGIC

[2022-07-15 18:03] #1417 closed

[2022-07-15 18:05] nilsatomada commented on #1417
@akshaysngupta - interesting answer - can you explain me why it has worked for two years and starts to fail now? So what I'm hearing is that you want to me talk to the Application Gateway Team?

[2022-07-15 18:18] akshaysngupta commented on #1416
@eduardodfmex AGIC/App Gateway doesn't support regex-based path matching as of yet.

For the above, do you need to use backend-path-prefix annotation to override the path?

[2022-07-15 18:23] nilsatomada commented on #1417
just for the people who experience this - this is what fixed it for us

$appGwconfig = Get-AzApplicationGateway -Name <appgwname> -ResourceGroupName <appgwrg>
$appGwconfig.WebApplicationFirewallConfiguration
Set-AzApplicationGateway -ApplicationGateway $appGwconfig

[2022-07-16 00:58] jpflick commented on #1416
@eduardodfmex I agree. AGIC/App Gateway needs to support multiple paths in the Ingress yaml file, while supporting the Prefix pathType. I do think paths can be overridden with the available annotation: appgw.ingress.kubernetes.io/backend-path-prefix: "/". This is a major missing feature in my opinion - unless I am missing something obvious. I am using AKS, so almost everything is configured using

[2022-07-18 17:23] zioproto commented on #906
Hello @darrenk13

I think this annotation solves your issue:

https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#health-probe-path

Can you please confirm ?

thanks

[2022-07-18 18:45] avalanchis commented on #1408
This was due to 1.5.2 not being compatible with Kubernetes version 1.18.14.  Upgrade succeeds with Kubernetes 1.21.9.

[2022-07-18 18:45] #1408 closed

[2022-07-19 02:35] shansted commented on #940
I went down this path today, and tracked this down to a configmap setting the helm chart must set.

https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/helm/ingress-azure/templates/configmap.yaml

APPGW_ENABLE_SHARED_APPGW: 'true'

After setting this, check for the following entries in the AGIC pod logs.

[brownfield] Existing Blacklisted Rules AGIC will retain:
[brownfield

[2022-07-19 16:57] eduardodfmex commented on #1416
@akshaysngupta In our case we create one ingress for each path, the "pathType: Prefix" in this case is more an example, works for all paths. https://kubernetes.io/docs/concepts/services-networking/ingress/#examples

[2022-07-20 01:18] galiacheng commented on #1407
Support number: 2207190030000238

[2022-07-21 08:13] jawad846 opened #1419 "AGIC: Update WAF Policy Custome rules"
AGIC had limitations to update WAF policy custom rules.

Once the Application gateway is attached to AKS, we have only to attach the WAF policies to AGIC, there is no option to update the WAF policy custom rules from AKS.

As per Microsoft support, we shouldn't touch the application gateway or WAF policy after attaching it to the AKS.

[2022-07-21 09:53] xsoheilalizadeh commented on #1015
We are adapting our services to use HTTP/2 it would be necessary for us to have this feature.

[2022-07-21 10:32] tbertenshaw opened #1420 "After 1.5.0-rc1 unable to install more than one AGIC per namespace using helm"
**Describe the bug**
Upgrading multiple AGIC Helm Deployments to the same namespace fails when upgrading from 1.5.0-rc1 to  1.5.0 or above.

**To Reproduce**
After upgrading one helm deployment in the same namespace, then try the second and you recieve an error as below

`Error: UPGRADE FAILED: rendered manifests contain a resource that already exists. Unable to continue with update: IngressClass

[2022-07-21 15:56] akshaysngupta commented on #1420
@tbertenshaw This is happening as both AGICs are using the same ingress class.
You can provide a different value for ingress class name by using providing `kubernetes.ingressClassResource.name` parameter in the Helm values.
Remember to use the same name in the `Ingress` resource as well.

[2022-07-22 12:45] bbreijer opened #1421 "AGIC generated backend pool members for OOMKilled pods of which IP is reused by valid pod"
**Describe the bug**
AGIC generated backend pool members for OOMKilled pods of which IP is reused by valid pod.
The bug surfaced on two separate clusters on the same day.

**To Reproduce**
Steps to reproduce the behavior:
- Make sure you have some OOMKilled pods with an (backend)IP address assigned on domain A in namespace A
- Create new deployments on domain B in namespace B up until the point th

[2022-07-22 17:18] akshaysngupta commented on #1378
This is happening as both AGICs are using the same ingress class resource name which will lead to conflict.
You can provide a different value for ingress class name by using providing `kubernetes.ingressClassResource.name` parameter in the Helm values.
Remember to use the same name in the `Ingress` resource as well.

[2022-07-22 17:18] akshaysngupta commented on #1355
This is happening as both AGICs are using the same ingress class resource name which will lead to conflict.
You can provide a different value for ingress class name by using providing `kubernetes.ingressClassResource.name` parameter in the Helm values.
Remember to use the same name in the `Ingress` resource as well.

[2022-07-24 20:25] aidapsibr commented on #773
Am I right in interpreting that there is currently no way to set a default policy and AGIC removes listener policies, so in effect, forces you to use insecure protocols?

[2022-07-25 00:14] aidapsibr commented on #773
Since the new preview ssl policies call out that it will upgrade the entire gateway and you can't mix v1 and v2 policies, maybe that is a work around?

[2022-07-25 10:05] melzayet opened #1422 "Two AGICs watching same namespace ignoring ingressClassName"
**Describe the bug**
I have two application gateways controlled by two AGICs 1.5.2 deployed through Helm. Two ingress classes are created successfully. Yet when creating two ingress objects in same namespace and configuring each with its corresponding ingressClassName, both Application Gateways configure all rules in all ingresses

Ideally, ingressClassName should limit ingress to be handled by on

[2022-07-25 16:43] eduardodfmex opened #1423 "Application Gateway Private - Private (100% Private AG) deployment for AGIC."
**Is your feature request related to a problem? Please describe.**

To use Application gateway Ingress controller AGIC on AKS, you need an application gateway.
Application Gateway has two deployment modes related to endpoints' IPs, which are Private & Public or Public &Public IP configurations.
For users that require a 100% private AGIC with two private IP´s (instead of having one public IP and on

[2022-07-25 17:09] eduardodfmex opened #1424 "Enable additional HELM Features on AKS add-on or enable deployment through HELM when using custom routing tables"
**Is your feature request related to a problem? Please describe.**

By being restricted to deploy AGIC using AKS add-on only, we also could not use full features available on helm configuration. To mention one example:

- Deploy only one Application Gateway, as mentioned in the AKS Add-on: “Customers can only deploy one AGIC add-on per AKS cluster, and each AGIC add-on currently can only target on

[2022-07-25 17:49] eduardodfmex opened #1425 "Improve AGIC Ingress deployment performance during creation or update to under 5 min"
**Is your feature request related to a problem? Please describe.**

Currently in our scenario, it may take between 5 to 10 min. to create the ingress, every time we create a new ingress or update it (like updating paths).
That delay adds more time to the CI/CD, like time consumption for test and release process.
Pipelines triggered using Azure DevOps with helm tasks complete, but you need to wait

[2022-07-25 18:22] akshaysngupta commented on #1425
@eduardodfmex Is your Application Gateway up and running or is it being created as part of this? If it is only update, then it seems to be an Application Gateway issue. Can you please create a support ticket via Azure Portal?

[2022-07-25 18:26] akshaysngupta commented on #1424
Currently, this is by design. We will consider this as a feature request and prioritize based on our backlog.

[2022-07-25 18:26] #1424 closed

[2022-07-25 18:30] akshaysngupta commented on #1423
"Private IP only" Application Gateway is slated for public preview early next year. AGIC should follow after that.

[2022-07-25 18:30] #1423 closed

[2022-07-25 18:34] eduardodfmex commented on #1425
Is up and running.

[2022-07-25 18:36] akshaysngupta commented on #1422
@melzayet Thanks for pointing out. This looks like a bug in AGIC in the following line:
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/b875ca5514f335930650db5099a4f8c74fc8cfaa/pkg/k8scontext/context.go#L944

We will fix this at our earliest.

[2022-07-25 18:45] akshaysngupta commented on #1421
@bbreijer Thanks for reporting this issue. We will investigate what can be done to avoid this issue.

[2022-07-25 18:47] #1420 closed

[2022-07-25 18:49] akshaysngupta commented on #1419
@jawad846 You can update the WAF policy via Azure Portal for custom rules.

Customizing WAF rules via AGIC/AKS is not on the horizon.

[2022-07-25 18:49] #1419 closed

[2022-07-25 18:56] akshaysngupta commented on #1415
@eduardodfmex This is not related to AGIC. Please contact AKS support via a support ticket on AKS.

[2022-07-25 18:56] #1415 closed

[2022-07-25 18:59] akshaysngupta commented on #1413
@MohamedBenighil This is a bug on AGIC. We will try to address this soon.

[2022-07-26 17:24] ohadschn opened #1427 "[Feature Request] Support simplified routing mode that uses the k8s service ClusterIP (rather than pod IP)"
**Is your feature request related to a problem? Please describe.**
The AGIC design choice of routing directly to pod IPs (rather than service ClusterIP) can cause a discrepancy between a pod's k8s state and its app gateway state, specifically following pod evictions and container recycling (due to deployment or any other reason such as resource starvation). This can result in 502 responses where A

[2022-07-27 07:03] Uvindu96 opened #1429 "Azure security policy violation for having host path mounted in agic setup"
**Describe the bug**
Hi, we have deployed application gateway ingress controller in our AKS cluster and one of the azure polices have detected security policy violation for agic component. This policy is `Usage of pod HostPath volume mounts should be restricted to a known list to restrict node access from compromised containers` Can I know the requirement for having the host path mounted ? Then we

[2022-07-29 18:28] trevonmckay opened #1434 "AGIC is not updating with new Ingress port 443"
**Describe the bug**
The application gateway is not provisioning an HTTPS listener although the Ingress definition has TLS defined and the Azure portal shows HTTPS on 443 for the ingress. The logs seem to suggest that the 443 is not even picked up by AGIC as all "Derived listener port from ingress" entries are for port 80.

![image](https://user-images.githubusercontent.com/18320804/181821819-a4b2

[2022-07-29 20:51] trevonmckay commented on #1434
I was able to finally resolve. I found that AGIC could not find the secret for certificate and the secret could not be created because cert-manager uses **kubernetes.io/ingress.class** instead of **ingressClassName** which prevented AGIC from picking up the challenge path to verify the request and issue the certificate from Let's Encrypt when the className was set to azure-application-gateway. Aft

[2022-07-29 20:51] #1434 closed

[2022-08-01 06:39] guyta-essence commented on #948
i am in the process of migrating to AGIC, this is a showstopper any updates or time estimates.

[2022-08-02 06:24] Aprilllllll opened #1436 "AGIC will give 1-2 minutes of downtime on backend application access when AGIC pod got restarted"
When the AGIC pod has to be recreated for some reasons, like node reimage, the access to backend pods will be impacted. The new AGIC pod would take 1-2 minutes to sync the configuration, and backend application is unreachable during this 1-2 minutes.
Is there anyway to improve the availability of AGIC deployment?
Thank you!

[2022-08-02 10:28] gchappel commented on #906
Hi @zioproto
I'm also a subscriber to this issue - neither Darren nor I work for the company where we saw this issue anymore, so unfortunately Darren probably won't be able to confirm whether this fixes the specific problem we were having. I would say it looks like it should _if_ my memory of the problem is accurate.

Thanks!

[2022-08-02 19:23] guyta-essence commented on #948
update i installed nginx ingress controller using it for the internal traffic, continuing testing agic for external traffic.

[2022-08-03 08:08] jkroepke opened #1437 "New release?"
I would like to know when a new release is planned?

I'm mainly looking forward for the ssl profile annotation and rewrite CR.

In case a release is performed, how long does it take that AGIC add-on takes the new version?

[2022-08-06 10:24] borkke commented on #725
I was thinking of trying AGIC for our multi tenant cluster and some on-prem workloads but after reading (by now, a bit old thread) I’m having second thoughts.

Big thanks to everyone who shared their experience!

Where there any actions from Azure side to mitigate mentioned problems with the service?

[2022-08-09 10:18] Baklap4 commented on #725
Not as far as we know. The reason for closing this issue was:

But we never got a response back from @mscatyao how and/or if this problem was resolved.

As @landro said, the actual problem (true zero downtime: AKA no 502's or timeouts) is still there but can be _minimized_ as described in the docs https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/how-tos/minimize-dow

[2022-08-09 13:35] ohadschn commented on #725
Note that while the above would minimize the issue during _deployment_, there are other cases where it won't help at all. Specifically, in cases where `preStop` isn't invoked (such as container crash for whatever reason, e.g OOM). I've opened a ticket with a possible compromise mitigation, feel free to upvote: https://github.com/Azure/application-gateway-kubernetes-ingress/issues/1427/.

[2022-08-09 15:23] obesser opened #1442 "Shared Application Gateway with the ingress controller add-on"
According to https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-overview#difference-between-helm-deployment-and-aks-add-on
multiple AGICs targeting one Application Gateway is not a supported scenario, but it doesn't state why, is it planned for future versions of the add-on?

[2022-08-11 12:22] krajeshrao commented on #1294
anyone faced the same issue.... after updating AGIC to 1.5.2 ?

[2022-08-11 23:21] markrzasa commented on #1393
We were able to workaround this problem by deploying version 1.5.2 of the helm chart and setting the image tag to 1.5.2 (--set image.tag=1.5.2).

Should the following line default the image tag default to 1.5.2, at least for the 1.5.2 chart?
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/6983c6bc68322a85e055f499b0180bfe3535c484/helm/ingress-azure/values.yaml#L14

[2022-08-12 05:42] wyp84 commented on #1276
When is this feature planned to be implemented?

[2022-08-12 14:35] jbpaux commented on #1364
+1 for this, any info to share ?

[2022-08-16 02:11] paokrab commented on #1364
+1 Any update on it?

[2022-08-17 22:31] williamalvvc opened #1443 "AGIC controller unable to update configs at Application gateway when custom policies are Associated"
**Describe the bug**

Application Gateway Ingress Controller fails to update configuration when a Custom WAF Policy is associated with Application Gateway WAF

**To Reproduce**

Steps to reproduce the behavior:

- Must have a valid AGIC Integration with AKS
- AG must be WAFv2 Tier.
- AG must have a custom WAF Policy associated with it.
- Perform a new ingress update or perform a restart of any act

[2022-08-18 21:01] williamalvvc commented on #1442
Shared AGIC is only supported via Helm right now.

Not sure if it is planned, i've been using AGIC for a while and theres no sign this will be supported by the add-on.

[2022-08-19 01:07] diepes commented on #1202
Also just got tripped up by this, glad to read, i can ignore the Error.
`
I0819 00:54:51.071754       1 azure.go:87] Code="ErrorMissingResourceGroup" Message="infrastructure resource group name: dev-aks-k8s-nodes is expected to be of format MC_ResourceGroup_ResourceName_Location"
I0819 00:54:51.071779       1 configbuilder.go:257] Error while parsing cluster resource ID for tagging:
...
...
`

[2022-08-22 08:20] kamilzzz commented on #1124
Agree with everything but the last part regarding other ingress controllers using service definitions.
For example, community driven ingress-nginx does **not** use service by default. It routes traffic directly to the pods.
From my understanding, one reason is that with Service as a target, ingress controllers won't be able to offer some of theirs basic features - like different load balancing met

[2022-08-22 14:49] ohadschn commented on #1124
These features would be limited to the first service in the chain anyway. Any further service to service communication inside the cluster would presumably work via k8s service load balancing. At any rate, I think it would be beneficial to at least allow AGIC consumers to choose the simpler k8s load balancing approach if they don't need said features (or at least don't find them important enough to

[2022-08-22 16:20] kamilzzz commented on #1124
Sure. Ingress controller would ingress to the first service via endpoints and what happens next is completely different story and there are other options to handle next services in the chain (service meshes or maybe kube-proxy with IPVS).
I just wanted to point out that it's not extraordinary that Application Gateway Ingress Controller chosen to use endpoints directly instead of services. However,

[2022-08-22 16:27] kamilzzz commented on #1427
I like the idea, however I am wondering whether it is possible to achieve with Application Gateway.

CluserIPs are non-routable outside of cluster by definition. Maybe route table attached to AppGw subnet would help but right now, I'm not exactlyy sure how it should be configured so it routes to multiple nodes.

[2022-08-23 08:10] ohadschn commented on #1427
I guess they could always have something like an appgw DaemonSet that simply proxies calls to the service's ClusterIP...

[2022-08-24 06:28] NiklasArbin commented on #1124
Another option if latency of the internal load balancer is an issue is to use headless kubernetes services. and directly access the pods.

[2022-08-24 08:20] ohadschn commented on #1124
I don't follow, the issue is the latency of AGIC recognizing changes in the k8s `Endpoint` API. We actually do want the k8s load balancer to be used (instead of the AGIC one) so that it's less sensitive to these changes (as service cluster IPs are stable).

[2022-08-24 21:31] jmp601 commented on #1442
Would love to know the answer to this as well. I can't tell you how many extra app gateways I have in order to support our multiple AKS clusters. And now, I don't want to use Helm.

[2022-08-26 05:53] NiklasArbin commented on #1124
You're right, headless would require AGIC to be able to do DNS discovery load balancing.

[2022-08-27 20:03] kxs-jnadeau commented on #1443
Hey @williamalvvc,  I'm just another user but thought you might want to know about this ongoing issue with app gateway API that we can't update an attribute (really any) of an existing app gateway (via TF in my case) if it has both an "inline" WAF configuration and a WAF policy associated with it.  Leading to the same error as you mention above.

The workaround is to drop the inline WAF configurat

[2022-08-30 14:34] bhagirathp opened #1445 "Return 404s - path based routing"
Is it possible to return a 404 when using path based routing and no route matches.

[2022-08-30 20:18] 03eltond opened #1446 "Please add reconcilePeriodSeconds as an option for cluster add-on"
Currently, there is an issue where redeploying bicep (probably ARM too?) templates for AG removes the backend configuration set by AGIC (even if nothing has changed):
https://github.com/Azure/bicep/issues/2316

As a workaround, `reconcilePeriodSeconds` can be used to force AGIC to sync to AG:
https://azure.github.io/application-gateway-kubernetes-ingress/features/agic-reconcile/

While this workar

[2022-08-31 13:19] jayendranarumugam commented on #1411
Looks like this is already an open Bug https://github.com/Azure/application-gateway-kubernetes-ingress/issues/1172
I'll provide all my steps/workarounds on that issue

[2022-08-31 13:19] #1411 closed

[2022-08-31 20:16] AlBlanc commented on #1249
I am facing exactly the same issue (with same manifest but without the `-` mistake)

[2022-09-01 23:17] Hoang-Minh commented on #300
Sam here. Been struggling with this issue for few days, and could not find a solution online at all.

[2022-09-06 10:50] dymitr-soltysiak-wttech commented on #733
Any updates on that opened PR? Any plans on releasing it?

[2022-09-06 17:57] AnastasiaBlack opened #1447 "AGIC deployed with helm (shared:true) with customized prohibited targets deletes the manually added https listener, rules, pool etc."
**Describe the bug**
We have a cluster with AGIC that was installed by helm. We made sure to set shared: true to helm configs and to delete the default prohibited-target-all and introduce the custom prohibited target to blacklist by specific host in order to avoid the deletion of the listener, rules, backend pool, settings that are configured manually on the Application Gateway. Nevertheless, with

[2022-09-06 18:25] Zman94 opened #1448 "Health Probe Interval pulls from Readiness Probe, not Liveness Prove"
**Describe the bug**
In the documentation, it says that AGIC will pull the settings from the Liveness Probe https://azure.github.io/application-gateway-kubernetes-ingress/annotations/#health-probe-interval

In the code, it pulls from a readiness probe:
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/66403512db795c275c52dfe29d4a5d324dd15b1a/pkg/appgw/health_probes.go#L261

**To

[2022-09-06 18:43] #1401 closed

[2022-09-08 08:06] bbreijer commented on #1421
Today I heard back from the SR that my issue is the result of a k8s issue: https://github.com/kubernetes/kubernetes/issues/109414 and the fix: https://github.com/kubernetes/kubernetes/pull/110255 .

The issue is fixed in v1.25, which is not yet available for AKS.

[2022-09-08 08:24] shingotoda commented on #954
It looks this feature has been already merged to master. When will this be released?

[2022-09-08 09:52] rmacian commented on #954
this new annotation will solve to use mtls within the whole appgw, but what if I want mtls only on certain apps? I 've configured successfully multiple listeners and I created a new subdomain for these apis requiring mtls trough the azure portal but I can't imagine how this could be achieved only with annotations

[2022-09-08 17:39] bitsofinfo opened #1454 "Is kubenet supported or not?"
Last I looked at the docs here: https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-install-existing

it states under pre-reqs: that azure CNI is required....

yet I see on this site, that kubenet is supported?

Where should I be looking for install instructions?

[2022-09-08 17:54] bitsofinfo opened #1455 "Will AGIC work with the DNS solver for lets-encrypt/cert-manger challenges?"
Will AGIC work with DNS based lets-encrypt/cert-manger challenges?

[2022-09-09 14:55] jayendranarumugam commented on #1172
Whooo after a huge struggle with ms support team by going back and forth with the product team. I finally got the update

As a workaround, you can modify the ingress to have path “/” in the ingress pointing to the service that was used in the “defaultBackend” and omit the default backend.

e.g

From
[code]

To:
[code]

I don't know what they meant by coming months :) . Hope this helps someone and

[2022-09-09 15:37] bborovan commented on #1015
Is there any update on gRPC support?

[2022-09-14 05:53] bbreijer commented on #1421
According to the AKS release calendar, v1.25 is planned (GA) for november 2022: https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions?tabs=azure-cli#aks-kubernetes-release-calendar

[2022-09-15 08:22] e96wic commented on #1015
Microsoft just told me

[2022-09-15 15:36] bborovan commented on #1015
Thanks for passing this on @e96wic and good to know, though seems to confirm this is not their priority and no point holding breath on it. No ETA = don't count on it any time soon, if i read between the lines.

[2022-09-16 09:25] Sven-at-Skyline commented on #1277
As this was still an ongoing issue that gives us big problems for our websocket stability, we had to completely step away from AGIC.
So now we have put the whole AppGw in a bicep and route to our LoadBalancer services in the AKS cluster.

So in conclusion, if you use websockets at all, do not use AGIC as it will eventually give you stability problems.
Every time HPA triggers or a new container is

[2022-09-16 12:33] a-kulik commented on #534
@delqn Hi, any updates?

[2022-09-20 13:08] jkroepke commented on #914
Hi @akshaysngupta

we hitting this issue and just updating the ingress object (for example, add a randon not agic releated label) resolve this issue for us.

From my point of view, this issue is not resolved. It seems like an race-condition that AGIC is not going to create an SSL configuration and tries to use and existing one. After updating the ingress object, AGIC is going to create redirection

[2022-09-21 01:14] kittisuw opened #1458 "AGIC 1.5.2 can't apply Azure Application gateway when using kubernetes-kubedashboard https with cert-manager"
Version:
Kubernetes v1.24.0
Kubernetes-dashboard v.2.6.1(https://raw.githubusercontent.com/kubernetes/dashboard/v2.6.1/aio/deploy/recommended.yaml)
cert-manager	cert-manager  v1.9.0
mcr.microsoft.com/azure-application-gateway/kubernetes-ingress:1.5.2

Currently, I'm using cert-manager v1.9.0 with Kubernetes v. 1.24 with Azure application gateway ingress controller(AGIC). But I got error "azure/app

[2022-09-22 22:14] ejschoen opened #1459 "AGIC /ready endpoint hangs forever, possibly due to inability to get AppGW configuration"
**Describe the bug**
/health/ready endpoint hangs
This is similar to #1393, but we have tried running with version 1.5.2 and 1.6.0-rc1.  The cluster is running Kubernetes v1.22.6.

**To Reproduce**
* Follow the instructions as closely as possible in: https://learn.microsoft.com/en-us/azure/developer/terraform/create-k8s-cluster-with-aks-applicationgateway-ingress.  Peering between AKS vnet and app

[2022-09-23 00:59] ejschoen commented on #1459
After upping the verbosityLevel to 20, I see this after 10 minutes:
[code]

[2022-09-28 14:22] oliver-kindred commented on #1364
+1 for this. AAD Pod Identity is being deprecated and service principal will expire and likely cause service outages, so neither of the current options are viable for production environments.

[2022-09-29 18:12] montyplattner commented on #948
@JackStromberg, have there been any developments on this since May?

[2022-09-29 18:44] JackStromberg commented on #948
Hey Team,

Apologies for the delay an a much overdue update.  We have made some more progress internally, but unfortunately don't have a release announcement to make quite yet.  I can absolutely confirm this is on our radar and are actively working to unblock this.  I will update this once we have more news to share -- please continue to hold us accountable and feel free to keep on "@ing" me.

Tha

[2022-10-01 06:28] bondido commented on #1421
Hi,
I'm facing kind of simmilar issue on my AKS (kubernetes version 1.23.8). Deployments are configured with horizontalpodautoscalers and it seems that after scaling down one deployment's replicas count freed pod's IP can be assigned to newly created pod of another scaled up replica set without AGIC being notified and as a result not updating backend pool on Application gateway.
It seems like a se

[2022-10-03 07:44] bbreijer commented on #1421
No workaround was offered. We already had logging in place on the KubeEvents, therefore we are notified on OOMKilled pod. At this moment we delete a pod as quickly as possible after storing diagnostic data. Since we continuously optimise the pod settings, OOM's occur not that often. Nevertheless, i think this is a tricky issue which might lead to downtime, from my point of view, out AKS clusters d

[2022-10-03 09:59] bbreijer commented on #1421
We actively observed the issue when pods are OOMKilled and stay (inactive) in the system with that state (i think due to the new one being created on another node, but i'am not sure), the IP is still assigned and the AGIC treats this as a routable IP while k8s reuses the same IP. Result: two entrypoint being routed to the same IP.
We don't have horizontalpodautoscalers at this moment.

[2022-10-05 07:09] mkemmerz commented on #1436
Ours takes up to 15 minutes if it is restarted. Every Kubernetes upgrade is a gamble for us. I would also be interested in any tricks to speed up the reboot.

[2022-10-08 07:41] mikementzmaersk commented on #1303
closing.
no response from microsoft.
have removed agic

[2022-10-08 07:41] #1303 closed

[2022-10-11 12:55] VincentVerweij opened #1463 "Question: extra permissions on subnet for AGIC managed identity"
We are using an AGIC-addon and I do see that it has created (or has been created by some of the people who set up AKS) a user managed identity.
Now I did receive an email with the following content:
<img width="429" alt="image" src="https://user-images.githubusercontent.com/41574930/195094763-80895c5b-afda-4ff8-b0fb-ab9197131838.png">

The managed identity mentioned above has the following permiss

[2022-10-11 13:45] TheBumpaster commented on #1021
Follow up this guide:
https://azure.github.io/application-gateway-kubernetes-ingress/annotations/#health-probe-status-codes

[2022-10-11 16:38] sintetico82 commented on #860
Hello,

At this point, what are the alternatives to JWT token validation if the AGIC is still not ready to do this job?

[2022-10-11 17:13] IvanJosipovic commented on #860
I have been exploring this lately. The paid ingress controller options are not cheap...

Paid Ingress Controllers:
Traefik
Nginx Plus
etc

Open Source:
Isto Service Mesh
Ingress Nginx + [OAuth2-Proxy](https://github.com/oauth2-proxy/oauth2-proxy)
Ingress Nginx + [ingress-nginx-validate-jwt](https://github.com/IvanJosipovic/ingress-nginx-validate-jwt) (one instance can validate multiple Ingress obj

[2022-10-11 17:14] philippn commented on #860
We have deployed https://github.com/oauth2-proxy/oauth2-proxy in front of some our workloads, works fine in combination with AGIC 👍 (not sure what problem @alchemistake encountered, maybe it was fixed in the meantime)

[2022-10-13 10:18] philippn commented on #860
Sure, we have installed it via the Helm chart though, seperately to the upstream-service. However, it should be possible to adapt this setup to a sidecar and configure your own Ingress to point to the sidecar instead.

Here is what we do:
`helm install release-name oauth2-proxy/oauth2-proxy --version 6.2.2 -f values.yaml`

The redacted version of our values file can be found [here](https://gist.gi

[2022-10-17 07:15] KlemenDanfoss commented on #733
How to push this forward? We also need this functionality...

[2022-10-19 06:25] audunsolemdal commented on #860
Followed this guide with some modifications for Azure AD via odic provider, works well thanks.  However I believe this setup would still require a oauth2-proxy pod for each unique ingress one would like to set up?

[2022-10-20 12:15] #1258 closed

[2022-10-25 04:58] chienvnguyen commented on #1355
@akshaysngupta Can you please give more information about the workaround?

[2022-10-25 05:03] chienvnguyen commented on #1355
Can you please explain more about `Remember to use the same name in the Ingress resource as well.`?
I'm still facing this issue after providing `kubernetes.ingressClassResource.name` parameter.

[2022-10-25 05:12] chienvnguyen commented on #1355
@mkemmerz Can you please share details on how did you do this? :)

[2022-10-25 15:08] mkemmerz commented on #1355
This is a very good question 😥 Unfortunately I don't really remember as I have written this already more than half a year ago. In the worst case just completely replace your currently running AGIC with a new one. I don't think there is any resource created but I am not 100% sure. Maybe just a miss wording from my side. If you find out more and notice that I am wrong please correct me!

[2022-10-28 16:22] sintetico82 commented on #427
Hello, still working in progress?

[2022-10-31 02:54] guilhermeneis opened #1465 "Priorizar Rule APPGW"
Eu necessitava efetuar a priorização de RULE a fins de utilizar um DOMINIO especifico. Example:
www.contoso.com.br
*.contoso.com.br
Mesmo utilizando a ANNOTATION: appgw.ingress.kubernetes.io/rule-priorityappgw.ingress.kubernetes.io/rule-priority : "100"
o mesmo não respeita a prioridade definida

Example yaml:

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.

[2022-10-31 13:05] audunsolemdal commented on #1119
Second this.

I was trying to create multiple oauth2 proxies from a central namespace by creating an ExternalName service

Together with deploying this in a for_each loop for every tenant namespace in need.:
https://github.com/Azure/application-gateway-kubernetes-ingress/issues/860#issuecomment-1277377728

I keep stumbling into this limitation though `EndpointsEmpty - Code="ErrorFetchingEndpoints"

[2022-11-01 13:24] oberdeha opened #1466 "Each time "name": "defaulthttpsetting" recreating in GW."
Hello,

First of all please excuse if there was such question, I didn’t find it.

Each time, when ingress send updates to Azure GW it is recreating list of default settings and use protocol HTTP in the configuration even when I have next annotations in my ingress:

`appgw.ingress.kubernetes.io/backend-protocol: https
  kubernetes.io/ingress.allow-http: false`

One of them are not allowed by local

[2022-11-01 18:41] sintetico82 commented on #860
I need two things to protect my API endpoints:

-- JWT token verification (through the use of jwks_uri inside the .well-know URL of OpenID Connect (OIDC) standard)
-- HTTP Basic authentication

I understand I can use APIM (Azure API Management) for both...is it right?

@hovermind can you kindly give me some link/document/resource where I can understand more about configuring this "workaround"?

[2022-11-01 20:02] TeamDman commented on #835
Experiencing this today, probably because I deleted an AKS instance and created it again with the same name a few minutes later :P

Terraform timed out during the deletion step, so it's possible I created it before the deletion was truly finished

[2022-11-02 21:11] Zman94 opened #1467 "Can't Filter on Dynamic HTTP Settings Name"
**Describe the bug**
In the [Scale Applications Using APGW Metrics](https://azure.github.io/application-gateway-kubernetes-ingress/how-tos/scale-applications-using-appgw-metrics/) doc, there is a line describing how to filter based on a dimension:

The yaml example displays this

[code]
However, when looking at the output of a `backend-http-setting` in AGIC, I see a dynamically generated name:

`b

[2022-11-06 09:15] isaacdan commented on #1025
If i create additional agic in the different name space it throws an error
Error: rendered manifests contain a resource that already exists. Unable to continue with install: IngressClass "azure-application-gateway" in namespace "" exists and cannot be imported into the current release.

[2022-11-07 07:46] jafreitas90 commented on #802
I have the same issue

[2022-11-08 15:18] sintetico82 opened #1469 "Routing rule rr-e1903c8aa3446b7b3207aec6d6ecba8a will not be created; listener {FrontendPort:80 HostNames:[ ] UsePrivateIP:false} does not exist"
Hi, i have en error setting use of public IP for AGIC add-on.

I don't understand why it want always assign the private ID of Application Gateway. I try to remove it but I don't understand how.

**Describe the bug**
[If use ](requestroutingrules.go:84] Routing rule rr-e1903c8aa3446b7b3207aec6d6ecba8a will not be created; listener {FrontendPort:80 HostNames:[    ] UsePrivateIP:false} does not exist

[2022-11-16 18:30] NicholasMcGrath commented on #733
Unfortunately in ps but sets a custom url at the gateway level.

$resourceGroup = "your rg"
$AppGWName = "your gw"
$customError502Url = "your url"
$customError403Url = "your url"
$AppGw = Get-AzApplicationGateway -Name $AppGWName -ResourceGroupName $resourceGroup
$updatedGW = Add-AzApplicationGatewayCustomError -ApplicationGateway $AppGw -StatusCode HttpStatus502 -CustomErrorPageUrl $customError50

[2022-11-17 10:18] rlaveycal opened #1471 "ApplicationGatewayBackendAddressPoolLimitReached error when more than 100 Ingresses"
**Describe the bug**
App Gateway has a limit of 100 backend pools. AGIC creates a pool per ingress which causes failure when the limit is exceeded
`
Error processing event.network.ApplicationGatewaysClient#CreateOrUpdate: Failure sending request: StatusCode=0 -- Original Error: Code="ApplicationGatewayBackendAddressPoolLimitReached" Message="The number of BackendAddressPools exceeds the maximum al

[2022-11-18 20:51] alemag1986 commented on #1379
did you ever find an answer for this? I'm currently having the same issue...

[2022-11-21 13:06] raypettersen opened #1472 "Healthprobe misconfiguration."
**Describe the bug**
Identical sites, and around half of them fall back on defaultprobe-Http instead of their own health probes.

**To Reproduce**
Create multiple sites with similar annotations:
[code]
**Ingress Controller details**
[code]

Log showing that sites are falling back on the default http probe:
<img width="589" alt="image" src="https://user-images.githubusercontent.com/7197374/20306216

[2022-11-22 07:41] nagidocs commented on #1379
Not yet, actually I'm not working on AGIC these days, if I'll find something will post it soon here.

[2022-11-22 21:49] arctech7 commented on #1447
I have a very similar issue but I am trying to share two clusters with one APPGW. I also setup AzureIngressPorhibited targets but when I add Ingress to one cluster then it gets overwritten by the second cluster if I apply Ingress to it.  If applying the default prohibited-target-all then it won't overwrite the ingress but it won't add one either. I do not want to add it manually but since you are

[2022-11-22 23:23] arctech7 commented on #1442
+1

I have this problem too. Been trying to setup two clusters with a shared APPGW using HELM. The ingress will just overwrite the other clusters Ingress. Even tried using AzureIngressProhibitedTargets but it does not help.

[2022-11-23 09:46] LeartBeqiraj commented on #1268
TEMPORARY WORKAROUND: I am using this bash script to update rule's priority every 5 seconds. I am increasing the value number of priority that is attached with the rule (*.contoso.com) so this will be always processed last:

[code]

[2022-11-23 18:03] raypettersen commented on #1472
No-one has experienced something similar? Currently about half our sites are not using their custom probe, while the rest are. Sites are configured by code, so they are 100% identical except for hostname and a few env parameters which should be irrelevant in this case. Refreshing the probe list shows sporadic movements between the custom probe and defaultprobe-Http. This is making the kubernetes i

[2022-11-23 19:13] raypettersen commented on #1172
@jayendranarumugam thank you so much for this! Had the exact thing happen to me, ref #1472. Spent 2 days knocking my head against the wall.

Question now is, what happened to "coming months"? 😠

[2022-11-24 10:31] Felichita commented on #1471
I try to explain how i was able to solve this issue. If you have more than 100 ingress is a typical case, and my cluster have too more 100 ingresses. First better way will be add one ingress like as kube-addons (installation from azure). In my case I know exactly that I have a lot of static namespaces  (dev, qa ,bi, ci, elk, release, another-env ...). Command for installation:

`az aks enable-addo

[2022-11-24 12:20] dimag99 opened #1474 "AGIC crashes (pods restarting) on missing namespace when watching multiple namespaces"
**Is your feature request related to a problem? Please describe.**
Currently AGIC crashes and pods are restarting when using watchNamespace on multiple namespaces (comma separated), and one of them is missing.

Example:
We had an AGIC in the cluster, listening/watching on 2 namespaces and one of the namespaces was deleted by mistake.
This caused AGIC to crash with "missing namespace" error, taking

[2022-11-25 11:01] gangefors commented on #1229
This seems very similar to the issue I encountered. The difference is that for me this issue happens directly after deploying my application with helm, i.e. the first time the addon tries to configure the app gateway.

What I can see from the logs the template that is generated is missing the backend pool that is referenced in the routing rule.

[code]
The following requestRoutingRules reference `

[2022-11-28 12:38] jkroepke commented on #1394
could lets encrypt an issue here? because the secret for TLS will be created delayed, we have the same issue right now.

[2022-11-29 20:37] jeremye416 opened #1476 ""forcing resync" for 30+ minutes"
**Describe the bug**
AGIC seems to be stuck in a forcing resync for 30+ minutes. This seems to create an issue because the application gateway can take 20+ minutes to update new ip addresses when new pods are deployed into the cluster.

**Ingress Controller details**
* Output of `kubectl describe pod <ingress controller`> . The <ingress controller> pod name can be obtained by running `helm list`.