[2018-09-20 05:27] asridharan opened #27 "Travis-CI failing for PRs from forks of this repository."
**Describe the bug**
Travis-CI doesn't allow encrypted environment variables to be set for PRs from forks of this repository. We need to re-factor the PR so that we don't use encrypted environment variables only for PRs originating from this repository.

[2018-09-20 06:38] asridharan commented on #27
PR #28 fixes this.

[2018-09-20 06:39] asridharan commented on #27
PR #28 fixes this.

[2018-09-20 06:39] #27 closed

[2018-09-20 23:43] asridharan opened #29 "Add a Go Linter target to the build system."
**Is your feature request related to a problem? Please describe.**
We currently don't run any linters, so we might not be conformant with Go standards.

**Describe the solution you'd like**
Add a linter target to our `appgw-ingress` target.

[2018-09-20 23:47] asridharan opened #30 "Add unit-tests for `unorderedsets` package."
**Is your feature request related to a problem? Please describe.**
Need to add unit-tests to the `unorderedsets` package.

**Describe the solution you'd like**
Need to introduce the ginkgo test framework to add unit-tests for unorderesets.

[2018-09-20 23:50] asridharan opened #31 "Support AKS RBAC enabled clusters"
**Is your feature request related to a problem? Please describe.**
We should be able to run the ingress controller on RBAC enabled AKS clusters.

**Describe the solution you'd like**
We need to add templates to the Helm chart to setup a service principal and give the service principal the right permissions to get access to the resources.
https://github.com/Azure/aad-pod-identity/blob/master/deploy

[2018-09-20 23:53] asridharan opened #32 "Use sync.map insteadof `ThreadsafeMultiMap`"
**Is your feature request related to a problem? Please describe.**
Since we are using Golang 10.3 we should be using the built in sync.map instead of using the `ThreadsafeMultiMap` package that we introduced. This would help simplify our code.

[2018-09-21 00:13] asridharan opened #33 "Add Azure templates for deploying new AKS and Application Gateway V2"
**Is your feature request related to a problem? Please describe.**
We need a simpler way for users to bring up AKS and Application Gateway that conforms to the requirements of the ingress controller.

**Describe the solution you'd like**
Azure templates allow us to pre-define a lot of the properties that we require of an AKS cluster to support the ingress controller.

[2018-09-21 00:26] asridharan opened #34 "Add kubernetes e2e test framework to mock Kubernetes API server."
**Is your feature request related to a problem? Please describe.**
We need to figure out a way to perform e2e tests against a kubernetes API server.

**Describe the solution you'd like**
The kubernetes e2e framework allows us to mock the kubernetes API server and allows us to run tests for controllers against this API server.
https://github.com/kubernetes/community/blob/master/contributors/devel/e

[2018-09-23 22:57] asridharan commented on #29
PR #35 should fix this.

[2018-09-23 22:59] asridharan opened #38 "Commit the `vendor` to the repo."
**Is your feature request related to a problem? Please describe.**
This is more of a build optimization. Because we have not committed the vendor to the repo we end up running `glide` everytime we perform a new build. This is time consuming. If we commit the `vendor` the builds can speed up.

**Describe the solution you'd like**
* Commit the vendor to the repo.
* Make vendoring a separate target i

[2018-09-23 23:04] asridharan opened #39 "Remove shell scripts from CMake"
**Is your feature request related to a problem? Please describe.**
This is again an optimization. We shouldn't be needing to invoke shell scripts to run the `go`, `golint` and `test` commands.  This adds another level of abstraction and makes target management harder.

**Describe the solution you'd like**
* Invoke the `go` commands directly instead of invoking it from a shell script.

[2018-09-24 22:59] kkmsft opened #41 "Add as Acs-engine plugin"
**Is your feature request related to a problem? Please describe.**
Add as plugin for  acs-engine.

**Describe the solution you'd like**
acs-engine is used by many customers to create clusters on Azure. Add app gw k8s ingress as a plugin to the acs-engine so that customers can get this by default with just a config value set.

[2018-09-24 23:04] kkmsft opened #42 "Raised events in addition to logs and point docs to events"
**Is your feature request related to a problem? Please describe.**
Raised events in addition to logs and point docs to events

**Describe the solution you'd like**
Kubernetes events will provide an easy way for customers to debug and track what is going on with the app gw. The docs currently talk about looking at logs. Once this is added we should point it to the events for more streamlined monito

[2018-09-28 05:09] #29 closed

[2018-09-28 05:10] #38 closed

[2018-09-28 19:00] asridharan opened #45 "Occasionally Ingress Controller introduces significant delays in process ingress events"
**Describe the bug**
Occasionally, when we modify the Ingress resource it takes to the order tens of minutes to update the Application Gateway configuration through ARM.

**To Reproduce**
Start a Kubernetes service. Expose it through the Application Gateway by creating an Ingress resource. Scale the service up or down, or remove the Ingress resource completely and observe the time it takes to appl

[2018-09-28 19:00] asridharan commented on #45
This issue could be related to:
https://github.com/Azure/AKS/issues/522

[2018-09-28 21:05] asridharan commented on #30
PR #37 fixes this.

[2018-09-28 21:05] #30 closed

[2018-09-29 04:31] njzhangyifei commented on #45
This is somewhat related to the resync period. It happens when the informer misses events.

[2018-09-29 07:33] asridharan commented on #45
@njzhangyifei why would the informer miss events?

[2018-09-30 06:55] asridharan opened #46 "Add mock tests for `pkg/appgw`"
**Is your feature request related to a problem? Please describe.**
Given that we have already been able to mock the `pkg/k8scontext` it should be straightforward to mock the config builder as well.

**Describe the solution you'd like**
We can use the `fake` k8s go-client to create mocks for the `k8scontext` and be able to emulate most of the inputs to the `configbuilder` and write unit-tests for t

[2018-10-01 10:25] LirazRom opened #47 "cannot route when using path based"
I have followed all your instructions , and i wanted to test the path base routing
this is my yaml filr

`apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: guestbook
  annotations:
    kubernetes.io/ingress.class: azure/application-gateway
spec:
  rules:
  - http:
      paths:
      - path: /guest
        backend:
          serviceName: frontend
          servicePort: 80
      - backe

[2018-10-01 17:27] asridharan commented on #47
A few things to look at.

I am assuming you are running the `guestbook` app.

Please verify the following:
* In your Kubernetes dashboard can you make sure that you are running the guestbook app. You can look at the `services` tab or the deployment tab to make sure the `frontend` is actually up and running.

* Also, can you make sure that the backends that are part of the backend pool are being re

[2018-10-01 18:04] LirazRom commented on #47
All is working fine when I don’t use path base routing- regular rule
Only when I try to add another service , it don’t route to the new service
In this case I used the same frontend

On Mon, 1 Oct 2018 at 20:27 Avinash Sridharan <notifications@github.com>
wrote:

[2018-10-01 20:52] njzhangyifei commented on #47
@LirazRom @asridharan Application gateway will not rewrite URL of the request at the moment. I guess the problem here is that the backend service does not respond to a request on `/guest`.

[2018-10-01 21:07] asridharan commented on #47
@njzhangyifei thanks !! Good catch. @LirazRom as @njzhangyifei pointed out we don't support re-write. We need to figure out how to support re-write using ingress annotations. Will open a support feature request for this. Currently the application gateway v2 itself doesn't support URL re-writes so we will have to wait for that support to land (sometime early next year).

[2018-10-01 21:40] asridharan opened #49 "Support re-write URLs capability in Ingress Resources"
**Is your feature request related to a problem? Please describe.**
In order to support multiple services in the same domain it becomes a requirement to support URL re-write in ingress, especially if its not feasible to change the service pods running on AKS.

**Describe the solution you'd like**
The nginx ingress controller already supports re-writes using annotations. We probably need to support

[2018-10-01 21:41] asridharan commented on #49
Currently, Application Gateway v2 doesn't support URL re-writes, so we will need to wait for Application Gateway v2 to add this support before we can introduce this in ingress controller.

[2018-10-01 21:42] asridharan commented on #47
@LirazRom have opened a feature request #49 . Can we close this out in favor of #49 ?

Thanks!!

[2018-10-02 02:44] LirazRom commented on #47
So it means that my service needs to listen on the path?

On Tue, 2 Oct 2018 at 0:42 Avinash Sridharan <notifications@github.com>
wrote:

[2018-10-02 11:50] ducas opened #50 "Support mergeable ingress types"
**Is your feature request related to a problem? Please describe.**
As a developer I want to control routing rules in each of my applications' repositories so that I don't have to manage many applications from a central ingress.

**Describe the solution you'd like**
NGINX Ingress supports this - https://github.com/nginxinc/kubernetes-ingress/tree/master/examples/mergeable-ingress-types

[2018-10-02 12:38] asridharan commented on #50
An interesting feature. Thanks for suggesting this @ducas

[2018-10-03 12:49] asridharan commented on #47
Closing this out since we captured the feature request in #49 .

[2018-10-03 12:49] #47 closed

[2018-10-16 02:09] #33 closed

[2018-10-16 07:11] asridharan commented on #46
This should be completed by #53

[2018-10-16 07:11] #46 closed

[2018-10-16 07:13] asridharan commented on #45
Looks like the work around mentioned in this issue should resolve this problem till it fixed in AKS itself:
https://github.com/Azure/AKS/issues/676

[2018-10-16 07:15] asridharan commented on #45
@akshaysngupta could you take this on? This can be an extension of your helm work for enabling RBAC.

[2018-10-20 00:48] akshaysngupta commented on #49
Rephrase: Application Gateway v2 supports URL re-write. Ingress controller needs to updated with a rewrite syntax.

[2018-10-22 12:23] pnieuwenhuis opened #58 "Removing service from Kubernetes doesn't remove HTTP settings from Application Gateway"
**Describe the bug**
When removing (in this case) a service from the Kubernetes that has an Application Gateway ingress controller doesn't remove the rule on the Gateway. Instead, it errors in the log of the ingress controller:

[code]

**To Reproduce**
Steps to reproduce the behavior:
- Create a service in the Kubernetes Dashboard or via kubectl.
- A HTTP Setting is created at the Azure Applicati

[2018-10-22 13:42] asridharan commented on #58
@pnieuwenhuis thanks for reporting this problem. Could you attach the ingress resource definition for completeness? Want to make sure if it is happening with HTTPs only or with both HTTP/HTTPS.

[2018-10-22 13:43] asridharan commented on #58
@akshaysngupta could you take a look.

[2018-10-22 21:46] akshaysngupta commented on #58
Looking

[2018-10-23 20:52] akshaysngupta commented on #58
Update: Ingress controller is doing a lookup for endpoints in the service through Ingress and failing when the service doesn't exist. Will work on the fix.

[2018-10-24 07:01] pnieuwenhuis commented on #58
Ok thx! Looking forward to it

[2018-10-24 21:08] vramakrishnan commented on #31
Support added in https://github.com/Azure/application-gateway-kubernetes-ingress/pull/57

[2018-10-24 21:08] #31 closed

[2018-10-30 01:42] monubamb opened #61 "The link for Installation is broken - showing a 404 page."
When I try to go to this link to install. https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/tutorial.md

**Prerequisites**
Installed ingress-azure helm chart. Please refer to **_installation_** instructions to install the Azure Application Gateway Ingress controller on your AKS cluster. If you want to use HTTPS on this application, you will need a x509 certificate an

[2018-10-30 17:40] asridharan commented on #61
@monubamb this should be fixed by #62

Thanks for reporting this problem.

[2018-10-30 17:40] #61 closed

[2018-10-30 22:34] akshaysngupta commented on #58
Will update the ingress image and then close.

[2018-11-01 08:14] pnieuwenhuis commented on #58
Thank you. I will test it when the image is available

[2018-11-01 19:58] LirazRom opened #67 "Routing to different namespace"
i have created the ingress controller in the default namespace and i have a service in other namespace
when i try to route to the service - i cannot access the service

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: occm
  namespace: scaleredis
  annotations:
    kubernetes.io/ingress.class: azure/application-gateway
spec:
  rules:
  - http:
      paths:
      - backend:

[2018-11-01 21:38] akshaysngupta commented on #67
Did you specify watchNamespace in helm config ?
[code]

[2018-11-01 22:30] asridharan commented on #67
@akshaysngupta nice catch !! We probably need to introduce the ability to watch multiple namespaces.

@LirazRom as @akshaysngupta mentioned by default we only listen to the `default` namespace.

[2018-11-01 22:31] asridharan commented on #58
@pnieuwenhuis @akshaysngupta has updated the helm charts with the correct images. Could you update your helm installation and give it a try.

[2018-11-02 14:46] asridharan commented on #67
@LirazRom yes. Just reinstall the controller using Helm, with the right `watchNamespace`.

[2018-11-02 14:46] asridharan commented on #58
Awesome !! Closing this out for now. Please re-open if you see more issues.

[2018-11-02 14:46] #58 closed

[2018-11-03 05:57] #45 closed

[2018-11-03 21:11] AresiusXP opened #68 "can't evaluate field apiServerAddress in type interface {}"
I've created an AKS, followed the instructions for creating a Managed Identity and deploying AAD Identity Pod. When I try to run the helm install, it shows the following error:

`Error: render error in "ingress-azure/templates/deployment.yaml": template: ingress-azure/templates/deployment.yaml:35:93: executing "ingress-azure/templates/deployment.yaml" at <.Values.aksClusterCo...>: can't evaluate f

[2018-11-04 03:28] akshaysngupta commented on #68
@AresiusXP
Please add following property to your ingress controller helm config:
[code]
You can find `<aks-api-server-address>` in proeprties of your AKS cluster.
ex: `prefix.hcp.location.azmk8s.io`

I will push the fix to print a proper error message.

[2018-11-05 09:22] AresiusXP commented on #68
I see in the installation guide that the helm yaml file has changed with the last 2 versions. My bad.

Thank you!

[2018-11-05 09:22] #68 closed

[2018-11-05 16:18] AndreasM009 commented on #67
I had the same problem. Supporting multiple namespaces would be great.

[2018-11-05 16:42] AndreasM009 commented on #67
I tried your suggestion @asridharan but now I get the following error:
[code]

[2018-11-05 17:37] asridharan commented on #67
@AndreasM009 could you elaborate a bit more: You reinstalled with the `watchNamepsace` to `mynamespace` and the controller failed to listen to that namespace?

[2018-11-06 10:29] AndreasM009 commented on #67
Exactly, I reinstalled with ```watchNamespace``` to ```mynamespace```. It is an RBAC enabled cluster.

[2018-11-12 14:22] wesselkranenborg opened #70 "HttpListener is created for http when http is disabled"
Currently there is always a httpListener created for both http and https even if http is disabled in the ingress

The solution i'd like is to skip the generation of the httpListener creation if http is disabled.

See also this TODO in the code https://github.com/Azure/application-gateway-kubernetes-ingress/blob/6a9ce466bd37133d569417905eca6ae912df55b5/pkg/appgw/httpListeners.go#L96

[2018-11-12 14:28] wesselkranenborg opened #71 "Use health checks from kubernetes deployment"
**Is your feature request related to a problem? Please describe.**
We deploy our services to kubernetes with a custom health check endpoint (e.g. /private/ping). Kubernetes correctly uses this endpoint but the application gateway is using the default health probes which are described here: https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-probe-overview. No custom heal

[2018-11-16 09:47] mtuppad opened #72 "Application Gateway with AKS fails with muliple backend pods app with Azure AAD authentication"
I am using Application Gateway as ingress controller on my AKS cluster https://github.com/Azure/application-gateway-kubernetes-ingress.
1.	Developed a ASP.net Core application with Azure AAD application.
2.	Deployed to AKS cluster
3.	Created Application Gateway ingress controller to access this application via App Gateway URL
4.	All works fine when there is only one pod of application running in A

[2018-11-16 09:49] mtuppad commented on #72
I am using Application Gateway as ingress controller on my AKS cluster https://github.com/Azure/application-gateway-kubernetes-ingress.

1. Developed a ASP.net Core application with Azure AAD application.
2. Deployed to AKS cluster
3. Created Application Gateway ingress controller to access this application via App Gateway URL
4. All works fine when there is only one pod of application running in

[2018-11-19 13:55] piizei commented on #67
I'm hitting this same problem with rbac enabled 1.11.3. Without RBAC watching the another namespace works fine.
When I provision the cluster as RBAC etc and set helm configuration to rbac=true, I can see cluster role created for the deployment with 'All namespaces' but still it gives the same error 'Forbidded ... cannot get namespace in namespaces'.

[2018-11-19 13:58] asridharan commented on #67
@piizei @AndreasM009 @LirazRom apologize on the delay in looking into this. A bunch of us are out on vaccation and there is some holiday readiness going on our end because of which the response here is slow. Please bear with us as we try to get to it in the next week or so.

[2018-11-19 18:57] asridharan commented on #72
@mtuppad why do you thing this is problem with the load-balancer? The exception being thrown seem to be coming from the application pod. It seems to work when only a single instance of the pod is running but seems to fail when the traffic is spread across multiple pods. Also, it would work when you are accessing it from the public IP because the traffic again hits only a single pod.

Could you des

[2018-11-19 19:01] asridharan commented on #71
@wesselkranenborg if I understand correctly you want the ingress controller to learn the custom health check endpoint for a given service and configure custom health probes on the application gateway?
If my assumption is correct, could you give an example of the custom helath check endpoint here.

Thanks,
aVinash

[2018-11-19 19:03] asridharan commented on #70
@wesselkranenborg make sense. Just to clarify, you want the HTTP listener to be disabled if we specify only HTTPS in the ingress right?

[2018-11-20 00:31] asridharan commented on #72
Based on offline discussion looks like this is resolved.

[2018-11-20 00:31] #72 closed

[2018-11-20 03:06] mtuppad commented on #72
@asridharan thanks for closing. Just to clarify, it did work with public ip address (load balancer) when there are more than 2 pods. Its used to fail only when accessed via app gateway.

I am posting solution for others benefit.

Turns out to be dotnet core new api issues. The authentication flow uses data protection API for encryption and decryption of some data (not sure which).  I wasn’t using

[2018-11-20 08:46] asridharan commented on #67
@piizei @AndreasM009 @LirazRom
Could you update your helm charts to the latest and give this a try?

@akshaysngupta just committed a fix #74

[2018-11-20 09:34] piizei commented on #67
I can confirm that now it works 🥇

[2018-11-20 19:31] asridharan commented on #67
Awesome !! Thanks @akshaysngupta for fixing this !!

[2018-11-20 19:31] #67 closed

[2018-11-20 20:36] wesselkranenborg commented on #70
That is indeed what we want.

[2018-11-20 20:41] wesselkranenborg commented on #71
That is indeed correct. We for example use a /private/ping endpoint on all our services which are only exposed internally within the cluster (and thus available by the applicatoin gateway).

This service is configured as health check endpoint in the deployment of kubernetes and returns a 200 OK if it is healthy, otherwise an other statuscode. This endpoint is checking if the service is correctly r

[2018-11-21 01:38] ilooner commented on #71
+1 For this feature I am running into the same issue now.

I tried to work around this by manually configuring the custom health check endpoint within the http-settings that are automatically added to the application gateway by the ingress controller. This manual configuration works until your pods are redeployed. When that happens the ingress controller rewrites the http-settings and consequently

[2018-11-26 14:38] emilverwoerd opened #75 "Need to support rolling update in the ingress controller."
**Describe the bug**
When performing an rolling update of any kind of service you want the site or service to stay online. But during an update a 502 is given with the exception bad gateway. The problem occurs due the fact that Application Gateway is using the internal IP-addres of the nodes in the backend-pool instead of the Cluster IP of the specified service.

So what happens is that kubernetes

[2018-11-26 15:22] asridharan commented on #75
@emilverwoerd are you using the latest ingress controller helm chart? There was a bug in AKS because of which ingress controller would stop receiving pod update events to the order of minutes resulting in delay in updating the backend pools in the application gateway.

To comment on your solution, using the cluster IP instead of the pod IP for the backend IP address is a very bad idea. The cluster

[2018-11-26 15:23] asridharan commented on #75
This is a classic case of supporting blue-green deployments. We should try and support this if it is not already working.

[2018-11-26 15:41] emilverwoerd commented on #75
We are currently using version 0.1.4 so that should be the latest. What we are experiencing is that the site is temporarily unavailable due the fact that the pods are terminated and the new pods are running but it takes some time for Application Gateway to update the backend-pools so what happens is that for a brief amount of time Application Gateway is configured with IP-addresses from the old co

[2018-11-26 15:46] emilverwoerd commented on #75
It looks like we didn't use the latesst helm chart since  that one is quite new I will try tomorrow to update in with the latest helm chart

[2018-11-26 23:01] asridharan commented on #75
@emilverwoerd just checked the commits and the fix for the AKS event subscription was already present in the ingress controller helm chart 0.1.4, so you should have already had that fix:
https://github.com/Azure/application-gateway-kubernetes-ingress/pull/66

So I think the issue will still persist for you even after upgrading to 0.1.5. Could you kindly share your deployment spec here (the relevan

[2018-11-27 09:00] emilverwoerd commented on #75
Okay I will update my update spec here but I don't understand how you should specify a rolling update if AG isn't completed before the pods are recreated. That was also the reason I tought it would be better to use the Cluster IP of the service since it isn't chaning and the ip of the pods are. But I also understand that AG isn't part of the kubernetes platform so that it is not possible to do so.

[2018-11-27 13:30] asridharan commented on #75
@emilverwoerd the AG would be updated only after the new pods are created, since Kubernetes will update the `Endpionts` object for a service only after the new pods have been created. The problem here is not that we are not updating the AG with the new pods, the problem here is that there seems to be a delay between the point when we update the backendpool in the AG with the new pods and the time

[2018-11-28 18:17] vramakrishnan commented on #75
@emilverwoerd Can you please share your findings with this config in deployement Spec.

lifecycle:
  preStop:
    exec:
      command: ["sleep", "40"]

This article also has good insights.
https://freecontent.manning.com/handling-client-requests-properly-with-kubernetes/

[2018-11-29 00:51] phillipgibson commented on #47
Do we have an updated yaml that will show how to handle multiple services on the same port but using a different path. I'm unable to get this to work. I have deployed the guestbook app and testing a Nginx service using a /nginx path and it reaches the Nginx site, but the path /nginx is not present and Nginx sends back an error. I even tried using service port 8080 with the path /nginx and it still

[2018-11-29 08:01] asridharan commented on #47
@phillipgibson as mentioned in the comments above, currently AG (application gateway) does not support URL re-writes. Due to this constraint to make different services work on the same the port using path based routing, the backends for the services need to explicitly support the paths that you are exporting the service on.

In your case, e.g., the backend application needs to accept a `/nginx` pa

[2018-11-29 09:11] emilverwoerd commented on #75
I tried to add the command sleep but when performing that it gives issues with the readinessprobe and it terminates the pod. Also the time it takes to update the backend-pool really takes some time so it has no different effect than without the sleep command.

We use the following spec for our rollingUpdate
rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0

[2018-11-30 12:03] asridharan commented on #75
@emilverwoerd  could you provide your subscription ID, want to make sure you are using Application Gateway v2 and not v1. Did you create the AKS cluster and application gateway through the templates?

We will try reproducing this problem at our end as well, but without the readiness probe kubernetes wouldn't know when to update the endpoints object with the new pods, so the whole rolling update pr

[2018-12-03 08:32] emilverwoerd commented on #75
@asridharan we are on the following subscription '282d71e4-f66b-4e8f-8e49-4faea8667362' but we are using Gateway v2. And we created the cluster through our ARM templates so I could send you those templates if you want.

thx in advance for checking it out

[2018-12-04 15:49] knom opened #76 "AppGW Ingress Demo not working"
Hi
I've setup everything (AKS, AAD Pod ID)
After that I'm running the Demo you provided (guestbook + modified ingress file).

When I try to open the URL on the AppGW, I am getting 504 - after a long while..

The GW seems to be configured, I see the Route setup in the AZ Portal..

Hitting the SVC directly or through Node's IP:80 it works..

Looking at the logs of the AppGW Ingress pod, there's no e

[2018-12-04 19:09] asridharan commented on #76
@knom did you use the templates provided in the repo to create AKS and Application Gateway v2? Also, are you using Application Gateway v2 or v1? We support only Application Gateway v2 for the ingress controller.

504 error generally means that the Application Gateway is not able to reach the backends (k8s pods). In case of Application Gateway v2 it is imperative that the Application Gateway v2 is

[2018-12-04 21:02] knom commented on #76
I've not used the Templates..
But I am using AppGateway v2 in the same vnet.
No routes / NSGs or anything else though..

[2018-12-04 21:38] asridharan commented on #76
Is the ingress controller updating the backendpool HTTP setting in AG v2 correctly to the pod's IP address and port (note not the Node's IP address)? Also, please do make sure that pod IP address space and AG address space are independent. Basically just test that you are able to read the pod subnet space from the AG subnet space.

[2018-12-05 07:55] knom commented on #76
@asridharan: I checked the network route and it seems the POD IP isn't reachable from AppGW.
Also the ROUTE TABLE isn't enabled on the AG subnet..

I'm trying to associate it with the subnet, but getting the following error:

[2018-12-05 12:21] knom commented on #76
Update: the POD wasn't reachable because I was using basic networking.
Recreation with advanced networking did the trick!

[2018-12-05 12:21] #76 closed

[2018-12-05 15:55] knom commented on #49
How about the "Override Backend Path" feature?
![image](https://user-images.githubusercontent.com/3861846/49525628-75d9b500-f8ae-11e8-833c-19113bdc628c.png)

Is that supported, @asridharan ?

[2018-12-05 17:56] asridharan commented on #76
Great !!
Thanks @knom for following up on this.

[2018-12-05 19:02] knom commented on #49
Thanks @asridharan!
WITHOUT rewrite or override..

Assuming you have two rules:
* /foo/ --> Backend 1
* /bar/ --> Backend 2

Am I correct that backend 1 would have to host the site under "/foo/" and backend 2 under "/bar/" as well (unless we have the rewriting?)

This seems broken, as it means you're tying the actual backend to the config of the gateway :-(

[2018-12-05 22:09] asridharan commented on #49
@knom I agree the current functionality is a bit restrictive and we want to fix it before we mark the ingress controller stable. Hence, we probably should support `override` sooner rather than later since it brings it in parity with AG.

[2018-12-06 07:48] wesselkranenborg opened #77 "Add custom hostname & https support to default listener"
The ingress controller, by default, creates an default http listener (see the picture below). Is it possible to change this default listener so that we:
 *can add a custom hostname binding to it
* can also add https support on this default binding with a secret available in the platform

![afbeelding](https://user-images.githubusercontent.com/4964604/49569079-36a17780-f933-11e8-966d-2608d3847b84.p

[2018-12-06 08:39] wesselkranenborg commented on #77
That would be really nice, we are currently at workarounds for this because it is blocking us right now.

[2018-12-07 14:51] florianrusch opened #78 "Deployment: Agent Disk Size"
**Describe the bug**
The `aksAgentOsDiskSizeGB.metadata.description` in https://github.com/Azure/application-gateway-kubernetes-ingress/blob/1997096de11119f6ac8a29602d53ad1fe5e3ce7d/deploy/azuredeploy.json#L57 says that 0 would set the disk size to the default size of the agentVMSize. But the minimum size is 30 GB.

[2018-12-10 12:14] AndreasM009 commented on #67
@asridharan sorry for the delay. I can confirm that it works now, if you specify the namespace to listen on in the configuration. Thx. Is it possible to specify multiple namespaces?

[2018-12-10 18:23] akshaysngupta commented on #78
@florianrusch yes, the AKS cluster doesn't support VM size under 30 GB. I will update aksAgentOsDiskSizeGB minimum to reflect that. Thanks.

[2018-12-10 18:54] asridharan commented on #67
@AndreasM009 thanks. We currently don't support multiple namespaces, but lets create an enhancement issue for this and we can take it up. As you can see we are backed up a little on the issues, but we should be able to get traction on the enhancements after the holidays.

[2018-12-11 19:34] tonyschollum commented on #41
Hi @kkmsft,

Is there any progress on this one?

Cheers

[2018-12-11 22:54] tonyschollum opened #79 "Add node selector to deployment"
**Is your feature request related to a problem? Please describe.**
When deploying to a hybrid cluster the deployment often tries to schedule pods on windows nodes

**Describe the solution you'd like**
Add a nodeselector to the deployments template and values

[2018-12-11 22:57] asridharan commented on #79
@tonyschollum is the requirement for adding a nodeselector in the Helm chart template and exposing it as a Helm Variable?

[2018-12-11 23:12] tonyschollum commented on #79
@asridharan in theory the node selector could be hard coded to linux

[2018-12-13 06:57] ddysher commented on #76
Hi @asridharan

We are at early stage of investigating azure (aks, to be specific) integration with our infra. It is not strictly required but I'm wondering if it's possible to support application gateway in basic networking?

AFAICT, [aws ingress controller](https://github.com/kubernetes-sigs/aws-alb-ingress-controller/) supports two modes: instance mode and IP mode, where the former leverages no

[2018-12-13 08:52] asridharan commented on #76
@ddysher the short answer would be that we need advanced networking with AKS to work with the application gateway ingress controller at this point.

The long answer is below:
@ddysher, currently ingress controller only programmes the pods IP address in the Application Gateway and not the node ports IP address. So we need the pods to be routeable directly from the application gateway at this point.

[2018-12-20 13:51] richardcatania opened #83 "Private IP frontend support"
We are in need of creating an end point which is accessibly only internally.

If we move the associated listeners it automatically creates to the Private IP Address, it momentarily works as expected until kubernetes automatically re-applies the config to the public IP.

[2018-12-20 23:18] asridharan commented on #83
@richardcatania were do you mean to say that initially the Application Gateway v2 had a public IP, and when you move it to a private IP the ingress controller overrode that config with the public IP?

[2018-12-20 23:23] asridharan commented on #76
@ddysher no plans at the moment to support basic networking with AKS and Application Gateway v2. This limitation exists in Application Gateway v2.  This limitation might be removed from AG v2 in the near future but there is nothing allocated on the roadmap yet.

[2018-12-21 09:48] richardcatania commented on #83
What I meant was that if we configure the Associated Listeners to the Private from the Azure Portal, Kubernetes will move them back to Public. Please have a look at the screen shot below so you can see a clearer picture of what I am trying to explain:

https://pasteboard.co/HSJKHZh.png

[2019-01-09 08:52] placydo opened #85 "Autoscaled WAF_v2 support"
**Describe the bug**
Application Gateway Ingress Controller does not work with Application Gateway WAF_v2 while autoscaling is on.

**To Reproduce**
Create Application Gateway WAF_v2 with Autoscale enabled. Configure Application Gateway Ingress Controller on Kubernetes.

**Ingress Controller details**
* Output of kubectl logs <ingress controller>.
[code]

* appgw-ingress help output:
[code]

* ing

[2019-01-09 08:55] placydo commented on #85
Found pull request which relates to that issue: https://github.com/Azure/application-gateway-kubernetes-ingress/pull/82

[2019-01-09 18:51] asridharan commented on #85
Thanks @placydo . Will merge @doodlemania2 PR to unblock this. But we should be able to consume auto-scale configuration for WAFv2 gateways. Will keep this open as a bug at the moment.

[2019-01-14 18:40] jasonchester opened #87 "Support services of type ExternalName"
Add support for App Gateway proxying of ExternalName services.

https://kubernetes.io/docs/concepts/services-networking/service/#externalname
https://github.com/kubernetes/ingress-nginx/pull/629#issue-116679227

**Describe the solution you'd like**
External name services defined in k8s should be exposed through app gateway when configured with app gateway ingress annotations.

[2019-01-15 04:18] kernelv5 commented on #75
Our environment tier with Azure by VPN. My nginx-ingress external IP is similar to my local network. When I hit nginx-ingress I can easily access my application but through Application Gateway getting 502. I test Application Gateway to nginx-ingress ip by NetworkTroubleshoot from Azure, that's also working fine. Just curious to know In order to route traffic from Azure Application Gateway to ingre

[2019-01-17 12:07] Jawshua opened #88 "Add support for configuring backend HTTP settings"
**Is your feature request related to a problem? Please describe.**
There are a few settings that we currently have to manually configure after the backend settings have been created by the ingress. Primarily we need to enable connection draining and increase the request timeout, but I imagine the ability to configure the rest of the settings would come in handy for others.

**Describe the solution

[2019-01-21 07:58] PandaXass opened #89 "Can't run more than 2 ingress-azure pods"
**Describe the bug**
As long as specifying replicaCount equals or greater than `3` in helm value file, only 2 `ingress-azure` pods will work correctly.

**To Reproduce**
Specify any value bigger than `2` for `replicaCount` in value.yaml during helm installation. And then check logs for each pod.

**Ingress Controller details**
* Output of `kubectl describe pod <ingress controller`> . The <ingress

[2019-01-25 18:46] asridharan commented on #89
Currently the ingress controller is not meant to run as a cluster. If you run multiple replicas of the ingress controller, all the replicas would try writing to the AG at the same time with the ingress resources that were learnt. While the operations would be serialized and they shouldn't technically be overwriting each others config, there would failures in writes that won't be handled.

What are

[2019-01-31 12:52] PandaXass commented on #89
Hi @asridharan, thank you for your comments.
What I want to achieve is HA of AG ingress controller, since if the controller is failing, then the datapath forwarding configurations will not be propagated to AG. Then the pod becomes the single point of failure.

[2019-02-01 21:18] jamesrcounts opened #90 "Resources (backend pools/http listeners/rules) not created by ingress controller are removed when ingress controller updates the app gateway"
**Describe the bug**
Resources (backend pools/http listeners/rules) not created by ingress controller are removed when ingress controller updates the app gateway.

**To Reproduce**
Steps to reproduce the behavior:
* Setup an Azure web site with the default hello world deployment
* Setup cluster with app gateway as the ingress
* Deploy a service and expose it on the ingress (nginx-helloworld for ex

[2019-02-05 14:08] dan-jackson-github commented on #89
@asridharan, based on your explanation, if I have understood correctly, this ingress controller is simply responsible for configuring application gateway to route request/load balance between pods. The ingress controller itself doesn't need to be Highly available because it is only ever needed to upload configuration? Is this correct?

[2019-02-06 13:54] dan-jackson-github opened #91 "Ingress-azure container won't start - AZURE_AUTH_LOCATION error"
**Describe the bug**
When I create the helm templates with the service principal option (not aad-pod-identity) when the container starts up it reports the following error:

I0206 12:30:59.179672       1 main.go:63] Creating authorizer from file referenced by AZURE_AUTH_LOCATION
F0206 12:30:59.179815       1 main.go:68] Error creating Azure client from config: invalid character 'c' looking for begi

[2019-02-07 00:40] asridharan commented on #91
@dan-jackson-github the reason we don't have documentation for using service principal directly, with using the AAD-POD-IDENTITY integration for using MSI, was that the support service principal was introduced primarily to support development activities. Is there a specific reason you need to use the service princiapl and not an MSI to access the AG?

[2019-02-07 01:11] asridharan commented on #89
@dan-jackson-github yes your understanding is correct. The ingress controller itself doesn't need to be highly available since its stateless and is used only as a tranformation gateway to translate ingress resources into AG config. Thus making it highly available doesn't serve much purpose because the model is inherently eventually consistent.

[2019-02-07 01:11] #89 closed

[2019-02-07 01:13] asridharan commented on #88
Thanks for the feature ask @Jawshua

[2019-02-07 01:30] asridharan commented on #87
@jasonchester  could you elaborate a bit more on the ask here. The links linked to ingress-nginx are extremely cryptic and look very hacky. Would like to see a proposal in the AG context here rather than copying whatever nginx does.

[2019-02-07 08:45] dan-jackson-github commented on #91
hi @asridharan thanks for the response. The reason is I would like to keep the k8s configuration as minimal as possible, introducing aad-pod-identity introduces more complexity and another point of failure, it seems the only thing that is going to use it in my AKS implementation is this ingress controller. I prefer to use service principal approach because that keeps my configuration consistent. I

[2019-02-08 11:57] #91 closed

[2019-02-08 12:02] dan-jackson-github commented on #70
@asridharan can you indicate when the annotation support for disabling HTTP access will be available? Creating an HTTP endpoint by default really isn't ideal and means more manual work to do remember after deployment

[2019-02-09 00:55] robertprather commented on #70
I support all previous comments on this thread and would like to see this implemented ASAP.

Using the application gateway to enable the HTTPS listener and perform SSL offload to the K8S cluster is working great, but leaving the HTTP listener enabled is causing us grief with our security team. We want the ingress controller to update the gateway and set the desired state without manual updates.

A

[2019-02-11 11:40] dan-jackson-github opened #93 "Add Release.Namespace to chart templates"
I am deploying this chart using helm template and kubectl apply (we do not use Tiller). I'd like to be able to deploy this controller into a namespace other than default. But without the {{ Release.Namespace }} in the helm charts I cannot see a way of doing this cleanly. Therefore, would it be possible to add this functionality into the template, then running Helm template --namespace <namespace_n

[2019-02-11 13:39] PandaXass commented on #89
Hi @asridharan,

Well, yes, in the end it might be eventually consistent.
But when the ingress controller is in a bad state or unavailable, at the same time, anything happens to the pod causing IP changes will not be reflected in application gateway will cause downtime until someone or somehow realize there is an issue in ingress controller, which is too optimistic in production environment.

[2019-02-11 16:57] jasonchester commented on #87
We have an multitenant (100's of tenant specific hostnames) application that we are in the process of modernizing. The application consists of a an ASP.NET forms monolith and new services we are developing in dotnet core that will run in Kubernetes.

- The aspnet forms application running on IaaS Windows Virtual Machines and will listen to the be the default route.
-- https://<tenanturl>.company.c

[2019-02-12 09:28] pnieuwenhuis opened #95 "Temporary scaling down deployments to zero stalls updates on Application Gateway"
**Describe the bug**
When the deployment is (temporary) downscaled to zero (from 1 or more) pods, it results in errors  in the ingress controller:

[code]

Besides giving these errors, it also stops the processing loop of events, so changes after this event won't be processed until the deployment is set back to 1 or more pod.

**To Reproduce**
Steps to reproduce the behavior:
1. Start 1 new deploy

[2019-02-12 10:37] dan-jackson-github commented on #67
@asridharan I can't see an enhancement for watching multiple namespaces, this would be really useful functionality, did this ever get created?

[2019-02-13 11:16] dan-jackson-github opened #96 "Let's Encrypt Ingtegration"
Hi, is there any plans to provide let's encrypt integration with this ingress controller? I.e. when you setup the ingress, rather than storing the certificate details as a manual step, the ingress integrates with the let's encrypt service for certificate creation and renewal. I think there is already a cert manager pod that does that the nginx ingress controller works well with

[2019-02-13 16:56] swoop-alex opened #97 "Any plan when the project will be GA?"
I searched and did not find any roadmap or plan when this project will be GA. The last release was in Oct 2018.

Could any of the maintainers share any info on this?

Thank you!

[2019-02-14 11:31] wesselkranenborg commented on #97
We are also interested in this.

[2019-02-16 21:45] asridharan commented on #96
Thanks @dan-jackson-github will take a look.

[2019-02-18 06:01] asridharan opened #100 "Fix default CIDR for Azure templates"
**Describe the bug**
The deployment templates currently choose CIDR from 15.x.x.x. Technically while this works, we should be choosing default values from 10.x.x.x  in accordance with RFC.

**To Reproduce**
Launch a green deployment template and should see this issue.

[2019-02-18 06:04] asridharan opened #101 "Azure template deployment due to unsupported kubernetes version"
**Describe the bug**
The templates used in green field deployment choose the default value of Kubernetes to be `1.11.5`. This is currently unsupported by AKS. We should  move the AKS engine to 1.12.5

**To Reproduce**
Try using the template for green field deployments with the default values. You will see the failure scenarios.

[2019-02-18 06:12] asridharan commented on #93
@dan-jackson-github do you want to create a PR against this repo? Would be helpful.

[2019-02-18 06:23] asridharan opened #102 "Templates should allow choosing the SKU type for Application Gateway"
**Is your feature request related to a problem? Please describe.**
With the current templates, its not possible to change the SKUType when used from the portal. One of the options provided in the template should be the SKU type and autoscale configuration of the template.

**Describe the solution you'd like**
Add default value for SkutType and capacity for Application Gateway in the template. Allo

[2019-02-19 09:35] timja opened #103 "Pull TLS certificates from KeyVault"
**Is your feature request related to a problem? Please describe.**
You currently need to pull secrets from Azure Key Vault manually, transform them and then create a Kubernetes secret. Ideally this would be tightly integrated with Key Vault and certificates, with rotating in keyvault updating the certificate on the application gateway.

**Describe the solution you'd like**
Either:
- Direct integra

[2019-02-19 21:14] timja opened #104 "WAF_v2 and Standard_v2 changes not being applied"
**Describe the bug**
I've deployed the ingress controller to a cluster with an application gateway using the WAF_v2 tier and no changes at all get applied to it (the default rule, listener etc are all still there), the deployment logs occur but nothing changes on the app gateway

This worked fine for the GA AG of type WAF

**To Reproduce**
Steps to reproduce the behavior:
Create vnet and subnet
Cr

[2019-02-19 22:57] asridharan commented on #104
@timja can you give some more details to this issue? Are you seeing this with WAF_v2 and Standard_v2?

Could you also run the following command?
[code]
This tells you the application gateway that the ingress controller is talking to.

What is the error you are seeing on the application gateway side. You don't see any of the ingress resources being updated on AG v2?

[2019-02-20 01:14] softwarengineer2 opened #105 "Socket.IO Clients disconnect and reconnect repeatedly"
**Describe the bug**
I moved my Socket.IO server from kops on AWS to Azure Kubernetes Service. Everything was working on AWS with zalando's kube-ingress-aws-controller. I had same structure on AWS except i have Kubernetes Service and application-gateway-kubernetes-ingress (which has required components as you  outlined) on Azure Side. My problem is simply My Clients could connect without any probl

[2019-02-20 06:52] timja commented on #104
[code]

Correct, none of them get updated, I tested on WAF_v2 and Standard_v2, it worked for me on regular WAF though, I'm not seeing any errors just no updates (although deployments are being logged in the ingress transformer pod)

![image](https://user-images.githubusercontent.com/21194782/53072084-fedeb080-34db-11e9-99d8-370db2c87a10.png)

[2019-02-20 10:38] timja commented on #104
I was able to make this work using the quick start template,
But not using my own setup =/

Is there any more logs that would be useful? I had a look at the code and couldn't see a lot of logging

[2019-02-21 05:26] dtsato commented on #71
+1 for this feature. The default nginx ingress controller supports this feature using a custom annotation: https://github.com/nginxinc/kubernetes-ingress/tree/master/examples/health-checks

[2019-02-21 16:27] dan-jackson-github commented on #93
hi @asridharan will take a look at submitting something, I can't fully test though as I am not using Tiller which is reason for forking.

[2019-02-22 04:21] #105 closed

[2019-02-25 14:59] askew opened #107 "Named backend ports not supported"
**Describe the bug**
The ingress controller fails to find the backend port settings when the service references a container port by name.

**To Reproduce**
Deploy this YAML file

[code]

You can verify that the service is working via the proxy
[code]

Then view

http://localhost:8001/api/v1/namespaces/default/services/http:webapp-svc:endpoint/proxy/

**Ingress Controller details**
* Output of `kub

[2019-02-27 18:25] rnarayana opened #108 "http to https redirection"
It would be great to have http to https redirection configurable via an annotation, similar to ingress.kubernetes.io/ssl-redirect in nginx ingress (https://docs.microsoft.com/en-us/azure/aks/ingress-basic#create-an-ingress-route)

Currently, even if the rule is manually created in AppGateway, it will get overwritten by the ingress.

[2019-02-28 10:14] dan-jackson-github commented on #108
Hi @rnarayana a number of keen to see this, its causing real headaches, as you say, what approach you use to put in place redirects, the ingress control plane reverts it. Issue referenced here, not sure whether its planned for implementation #70

[2019-02-28 16:55] sowsan opened #110 "Recommendation of different options for AKS?"
We have a great recommendation of different network considerations here https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-network#secure-traffic-with-a-web-application-firewall-waf,

Look like now App Gateway Ingress is another option introduced, what would the recommendation for picking this one compared to regular Ingress Controllers or Application Gateway?

[2019-03-01 18:29] asridharan commented on #108
@dan-jackson-github agreed, it is a bug in ingress controller that ends up overwriting the app gateway configuration not installed by ingress controller. We are going to work on fixing this soon. Unfortunately due to resource constraints we haven't been able to get to this sooner. Apologize for the inconvenience and thank you for your patience. I am hoping we can make some progress on this in the

[2019-03-01 18:31] asridharan commented on #103
This needs a little bit of thought. AG v2 already supports keyvault integration, we need to think through how we will be exposing that integration here.

[2019-03-01 18:51] asridharan commented on #110
@sowsan thanks for bringing up this question. We should probably have a page highlighting the performance benefits of AG ingress controller vs nginx ingress controller. Going to list a few benefits here:
a) Having AG as the ingress frees up compute on the AKS cluster for ingress and SSL off-loading. This removes the burden of the operator from planning for compute on the AKS cluster. **NOTE** data

[2019-03-01 18:54] sowsan commented on #110
Great. Thank you so much for the details @asridharan

[2019-03-01 19:35] timja commented on #104
will close, its possible to make this work, not sure why it was broken here

[2019-03-01 19:35] #104 closed

[2019-03-01 21:15] lastcoolnameleft commented on #110
@asridharan Thanks for the info.  I assumed that advanced networking would be a hard requirement for this given that with Basic Networking, the Pods are not exposed as 1st class citizens to the Vnet.  Without giving too much away, how will that limitation be removed?

[2019-03-01 21:31] asridharan commented on #110
no magic here. Basically with basic networking we would need the UDR (User Defined Route) created by AKS for the pod subnet to be associated with the AG subnet.  The limitation, currently in doing this is that AG v2 doesn't allow any UDR to be associated with AG subnet. There are some technical reasons for this limitation which we should be able to remove sooner rather than later, but due to this

[2019-03-01 21:58] lastcoolnameleft commented on #110
Thanks for the explanation @asridharan!  And thanks for your work on this.

[2019-03-03 21:03] asridharan commented on #110
Looks like the question has been addressed so closing this out for the time being. Feel free to open it in case there are any other questions.

[2019-03-03 21:03] #110 closed

[2019-03-04 21:33] asridharan commented on #49
@knom #111 should fix this. Could you upgrade your helm to try this?

You will need to use the backen prefix annotation to use use the backend override in AG:
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#backend-path-prefix

[2019-03-04 22:24] asridharan commented on #100
#99 fixes this.

[2019-03-04 22:24] #100 closed

[2019-03-05 18:09] asridharan opened #112 "Allow users to define an AG ingress prefix per AKS cluster."
Currently the ingress controller uses a default prefix when adding sub-resources to the AG config.  The ingress controller will use this prefix to keep track of the sub-resources it added in order to not modify resources it had not added.

However, the use of a default prefix allows an AG to be associated with only one AKS cluster. If we allow users to set a prefix per-cluster and automate the sel

[2019-03-05 18:16] asridharan commented on #101
This is fixed as part of #99

[2019-03-05 18:16] #101 closed

[2019-03-07 11:54] dkulig commented on #49
@asridharan - I've just bounced my deployment to use newest version of `kubernetes-ingress` (0.2.0) but it doesn't seem to solve issue here.

My spec:

1 backend service (svc-a) with 2 endpoints:
* /ping
* /status

Ingress spec:

[code]

I got 404 when calling both:

* http://my-app-gw-uri/a/ping
* http://my-app-gw-uri/a/_status

Did I misunderstood purpose of #111 ?

[2019-03-07 14:43] AresiusXP opened #113 "Multiple namespaces support"
We're planning on provisioning an AKS for several users supporting multiple namespaces, one per project. Our idea is to deploy one ingress controller with one Application Gateway.

As I understand, this deployment only support one namespace that will be watched. Is there any plan on watching multiple namespaces for triggering the rules creation in the AppGw?

[2019-03-07 15:21] asridharan commented on #49
@dkulig  guess need to document this a bit better.

The annotation:
[code]
Will just override your path rule in that ingress resource with the value of the annoation. So in your case, I guess "/" will get overriden by "/a/" and that's probably why you are getting a 404.

Question:
Are you able to hit the endpoints with just:
`http://my-app-gw-uri/ping` and `http://my-app-gw-uri/_status`

since the

[2019-03-07 18:14] dkulig commented on #49
@asridharan neither endpoint mentioned by you works. No matter what I try to hit I get 404.
I'd be grateful to get some explanation what should I expect with the setup I used.

[2019-03-07 18:30] asridharan commented on #49
@dkulig let me restate:
`http://my-app-gw-uri/ping` and `http://my-app-gw-uri/_status`
should work without the backend prefix annotation to your resource. With the backend prefix annotation you have added:
`appgw.ingress.kubernetes.io/backend-path-prefix: "/a/"`
`http://my-app-gw-uri/ping` I think would be sent to the backend as `http://my-app-gw-uri/a/ping` which would fail. Also, `http://my-app-

[2019-03-07 18:41] dkulig commented on #49
@asridharan
Yeah this is correct.
To clarify on my end, what I wanted to achieve is to prefix my services because I'll be running multiple backend services in cluster where every single service has mounted _status and ping endpoint on root ie.

* /_status
* /ping

therefore I'll be able to hit:
* http://my-app-gw-uri/service-a/_status
* http://my-app-gw-uri/service-a/_status
* http://my-app-gw-uri

[2019-03-07 19:05] asridharan commented on #49
I see. I think this ingress definition should work:
[code]
Basically AG will override the URI `http://my-app-gw-uri/service-a/` and `http://my-app-gw-uri/service-b/` with `http://my-app-gw-uri/` before forwarding it to the backend.

I think this ^^ is what you are looking for?

[2019-03-07 19:17] dkulig commented on #49
Awesome! To made it working I had to add `*`after service name ie.

[code]

Thank you for clarification @asridharan

[2019-03-07 19:22] asridharan commented on #49
That's a bit odd. Thought the ingress path should be doing a simple prefix match. Great to see that the backend-prefix annotation is able to solve this case.

[2019-03-07 19:23] asridharan commented on #49
@dkulig would you mind augmenting the doc:
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#backend-path-prefix

With an example. A PR would be super helpful here.

If not no worries, will do it some time later this week.

[2019-03-07 19:24] dkulig commented on #49
No worries, I'll do that later in the day

[2019-03-07 23:52] asridharan commented on #113
Hi @AresiusXP yes we do plan to support multiple name spaces, though its slightly further down the list of priorities at this point.

[2019-03-08 15:50] AresiusXP commented on #113
Well, it's a shame it's not higher in priority, since a multitenant cluster with several namespaces is something we're deploying really soon.

Do you have an estimate on when it may be a work in progress? Like Q4, or 2020? And is there any way to move it up the prio list? I don't want to be pushy nor annoying, sorry if i come across like that.

Thank you for the info.

[2019-03-08 21:15] asridharan commented on #49
Closing this out.

[2019-03-08 21:15] #49 closed

[2019-03-11 18:12] asridharan commented on #85
Re-opening this issue since we don't have a new helm chart with the latest changes that introduce the new go SDK. Will close it out once we release a new helm chart.

[2019-03-15 19:25] rhollins commented on #113
We are currently testing app GW as ingress and so far looks good but no support for multiple namespaces is a blocker, would be great to have some estimate on that.

[2019-03-15 19:31] asridharan commented on #113
I am hoping we will have some resources to work on this and be able to add this support by June'19. Will update if we are not able to make it.

[2019-03-18 18:24] rnkhouse opened #116 "Validation error: unable to recognize "": no matches for kind "AzureIdentity" in version "aadpodidentity.k8s.io/v1""
**Describe the bug**
I am following brownfield deployment guide to setup application gateway. Using the helm-config.yaml template and getting below error:

**To Reproduce**
Use existing kubernetes cluster, add application gateway in a different resource group and follow the brownfield deployment guide.

[2019-03-18 20:30] rnkhouse opened #117 "Unable to get specified ApplicationGateway"
Running Brownfield Deployment on existing Kubernetes cluster.

Getting below error in ingress pod:

I0318 20:27:15.463055       1 main.go:86] Retrying in 10s

**helm-config.yaml**

    appgw:
        subscriptionId: xxxx-xxxx-xxxx-xxxx
        resourceGroup: aks-dev-gateway
        name: aks-dev-gateway

    armAuth:
        type: aadPodIdentity
        identityResourceID: "/subscriptions/xxxx-xxx

[2019-03-18 22:57] akshaysngupta commented on #117
Looking at the error, you missed the step to create the identity in the `MC_aks-dev_mts-aks-dev_canadacentral` resource group. Can you check this resource group to make sure the identity exists ?

[2019-03-19 14:15] rnkhouse commented on #117
@akshaysngupta Yes. Identity exists.

[2019-03-19 21:37] akshaysngupta commented on #117
Also, check your `identityClientID`. Make sure that it matches the `Client ID` of  `userAssignedIdentities/aks-dev-identity` on portal or use `az identity show -g MC_aks-dev_aks-dev_canadacentral -n aks-dev-identity`

[2019-03-19 21:45] rnkhouse commented on #117
@akshaysngupta It's exactly the same. Again, it looks like the error is with app-gateway and not the identity.

[2019-03-20 13:16] MarkDNL commented on #117
@akshaysngupta At one of our customers we are experiencing the same issue.

[2019-03-25 13:41] MarkDNL commented on #108
Hi @rnarayana, we have a couple of customers asking for this functionality. Is there any update on the planning of this issue?

[2019-03-26 06:34] rnarayana commented on #108
@MarkDNL  I'm also waiting for this 🤣

[2019-03-26 06:54] timja commented on #108
I would also like this, the http to https part.
I don't really mind that it overwrites other config...

I would classify it as an enhancement

[2019-03-26 08:25] MarkDNL commented on #108
My bad, I meant to mention @asridharan :blush

[2019-03-26 19:13] asridharan commented on #70
@wesselkranenborg @robertprather have a partial fix for this problem in
https://github.com/Azure/application-gateway-kubernetes-ingress/pull/120

Its partial since even after this PR we won't have support for SSL-redirect on HTTP listeners. Will work on that after this PR. Wanted to check if it would help resolve this issue?

[2019-03-26 19:17] asridharan commented on #108
@rnarayana @dan-jackson-github have a PR out:
https://github.com/Azure/application-gateway-kubernetes-ingress/pull/120
that would partially fix #70 . Would this be enough to help your use case over here.

I am calling that PR a partial fix since we still haven't introduced annotations for `ssl-redirect` in this PR. Should be introduced in a follow up PR, but it would disable HTTP access to any ing

[2019-03-27 13:23] MarkDNL opened #121 "Application Gateway stops working when using a long domain name"
**Describe the bug**
The application gateway stops working when a long domain name is used for an application. We have encountered the issue when using a domain name of 51 characters. Another domainname of 43 characters of the same deployment works fine. The exact minimum number of characters  that breaks the Application Gateway has not been determined.

When the Application Gateway breaks, a pspi

[2019-03-27 13:58] MarkDNL commented on #121
After doing some more research, this is not an issue with `application-gateway-kubernetes-ingress`. I entered the same configuration via the Azure Portal, which also resulted in the Application Gateway becoming unavailable.

[2019-03-27 13:59] #121 closed

[2019-03-27 14:08] pnieuwenhuis commented on #121
Yes, this is a bug in the Application Gateway (v2?) We have also encountered the bug,
which is related to the length of the rule name. Already working with Microsoft Support to solve this.

[2019-03-27 14:14] MarkDNL commented on #121
Ok, I have a support case open on this as well. Please let me know if you have any updates.

[2019-03-27 22:19] #102 closed

[2019-03-27 22:29] akshaysngupta commented on #121
This is a fix in AppGW v2. It is already committed and should be released next month.

[2019-03-28 21:10] vramakrishnan commented on #78
Fixed as part of #86

[2019-03-28 21:12] #78 closed

[2019-03-31 00:24] asridharan commented on #70
@wesselkranenborg @dan-jackson-github @robertprather can you try helm chart 0.3.0 which has the fix for this issue?

Thanks,
Avinash

[2019-03-31 00:24] #70 closed

[2019-03-31 00:24] asridharan commented on #70
Fixed by #120

[2019-03-31 00:25] asridharan commented on #108
@MarkDNL @rnarayana could you try helm chart release 0.3.0. #120 partially fixes this issue and is part of the latest release.

[2019-03-31 00:44] asridharan commented on #85
Closing out this issue since the Helm chart 0.3.0 now allows the ingress controller to leverage #114

[2019-03-31 00:44] #85 closed

[2019-03-31 00:45] asridharan commented on #32
Closing this out due to inactivity.

[2019-03-31 00:45] #32 closed

[2019-03-31 23:46] asridharan commented on #117
@rnkhouse does the identity have contributor rights to the application gateway resource group?

[2019-04-01 11:06] dan-jackson-github commented on #108
@asridharan  just tried it this morning, works a treat. Looking forward to an http redirect next :). One question, if I manually create a redirect listener on HTTP in Application Gateway, will the ingress controller still remove it, the next time there is a config change on the ingress that it applies ?

[2019-04-01 14:57] rnkhouse commented on #117
@asridharan It worked after I added contributor rights to Identity. I think it's good if it's part of helm config.

[2019-04-01 23:13] robertprather commented on #70
I've tried helm chart 0.3.0 and it works as expected - no http listener created. Rob

[2019-04-02 17:25] asridharan commented on #117
@rnkhouse not sure what it means to add this to the helm config? This is an ARM configuration.

[2019-04-03 11:47] MarkDNL commented on #108
@asridharan It works like a charm, thank you. I am as well looking forward to be able to redirect http to https.

[2019-04-03 17:43] asridharan commented on #108
@dan-jackson-github unfortunately it would. Currently the ingress controller takes over all the listeners, HTTP settings, URL pathmaps in an AG and doesn't work well with another entity configuring certain portions of the AG. We need to incorporate this into the ingress controller to make it play nice with other  entities.

[2019-04-03 17:52] asridharan commented on #117
Closing this out, since the issue seem to be resolved and for brown field deployments we can't modify the identity from the helm config.

[2019-04-03 17:52] #117 closed

[2019-04-05 05:24] tiholm commented on #113
We are planning to build a single AKS cluster with namespace per environment (test, dev, QA/prod). One application gateway would serve all these environments. Ingress controller would provide gateway configuration for all namespaces. Is this possible with single ingress controller?

Or do we need application gateway per environment or / and ingress controller per environment? What is recommend tes

[2019-04-08 16:02] cwoolum opened #125 "Cannot create new ingress due to invalid length"
**Describe the bug**
When trying to create a new ingress, I receive the following error.

`Resource name k8s-ag-ingress-api-turnouttuserapi-80-bp-80-turnoutt-services-ingress-dev-1520020d is invalid. The name can be up to 80 characters long. It must begin with a word character, and it must end with a word character or with '_'. The name may contain word characters or '.', '-', '_'.`

Is there any

[2019-04-09 08:19] pallxk commented on #93
What about

[code]

[2019-04-09 08:32] dan-jackson-github commented on #93
Thanks @pallxk I hadn't thought about doing it that way!

[2019-04-10 07:16] wesselkranenborg commented on #71
We received this notification in our Azure Service Health. This makes this feature even more important to implement.

behavior are documented here - https://docs.microsoft.com/en-us/azure/application-gateway/application-gatewayprobe-overview.

[2019-04-10 09:37] psachs commented on #125
I can confirm this issue. I installed cert-manager to maintain letsencryp certificates from acme into my cluster and setup a dns name for a http service in the namespace emqx.

The azure gateway seems to pick that up and creates a pod with the name `cm-acme-http-solver-cgx4k` in the emqx namespace.

The application gateway ingress controller automatically picks up that name as well and creates thi

[2019-04-10 17:22] asridharan commented on #125
Thanks for reporting this @psachs @cwoolum. This has been highlighted previously as well and needs to be fixed. Part of the problem comes from the prefix, and part from the way we encode the resource names. Need to come up with a more determinsitic scheme. Will take this up.

[2019-04-16 07:40] dan-jackson-github opened #127 "Authorization Repeatedly following full cluster startup"
**Describe the bug**
Our cluster stops and starts each day to save costs (7 node AKS cluster) on development and test systems. Some mornings the ingress control plane reports the following error in its logs following startup

ERROR: logging before flag.Parse: E0416 07:25:37.548159       1 main.go:83] unable to get specified ApplicationGateway [******-devtest-az-app-gateway], error=[network.Applica

[2019-04-16 12:52] jasonchester commented on #87
@asridharan is additional clarification needed or can the needs-clarity tag be removed.

thanks

[2019-04-17 16:42] ct-appcenter commented on #96
hey @asridharan,

As far as I could configure the appgw-ingress integrates with cert-manager.
But It gets an error to configure applicationn gateway rules. With that the certificate generation fails.

Application gateway logs
[code]

Is it possible to trim the value to ensure the 80 characters limit ?

[2019-04-17 16:43] marceldiass commented on #96
hey @asridharan,

As far as I could configure the appgw-ingress integrates with cert-manager.
But It gets an error to configure applicationn gateway rules. With that the certificate generation fails.

Application gateway logs
[code]

Is it possible to trim the value to ensure the 80 characters limit ?

[2019-04-18 06:31] wesselkranenborg commented on #71
This notification is now placed in the service health for region South Central US.

[2019-04-18 19:27] aleksmark commented on #113
Looking forward to this enhancement.

[2019-04-19 18:44] dfcarpenter commented on #108
Can anyone tell me what events trigger a rewrite by the ingress? I made the unfortunate decision to employ the ingress on a live site ( though a mostly internally used low traffic site ) that needed http->https redirection. I have been having to keep adding the listener and rule to support the redirection every so often but I want to know if I can listen for certain cluster/ingress events and know

[2019-04-20 00:29] g0pinath opened #129 "AzureAssignedIdentity not found"
**Describe the bug**
This worked well the first time(http and https) but after I tried to add URIs using / format using
 - host: azk8.site
    http:
      paths:
      - path: /
        backend:
          serviceName: simple-web-pod-service
          servicePort: 80
it broke, and it responds via IP but not via hostname.
 RG -- RG-TRG01-LAB01-GOPI
subscription id -- 79af804c-1b4f-4d83-975f-5ebbeaf2

[2019-04-21 23:40] #129 closed

[2019-04-21 23:45] g0pinath commented on #129
This worked on the second try, I put the IDs incorrectly. Couple of challenges while trying to deploy this from Azure Devops pipeline, helm repo isnt available in the pipeline tasks but I can work around this by putting the commands inside a cli or ps task.

This is good work by MS and I wish this is listed in the AKS documentation(https://docs.microsoft.com/en-us/azure/aks/), this option of Ingre

[2019-04-22 00:06] g0pinath opened #130 "Add egress traffic support with static public IP"
**Is your feature request related to a problem? Please describe.**
Per this article https://docs.microsoft.com/en-us/azure/aks/egress the outbound Public IP of the cluster can be defined with a static PIP and Azure load balancer. I have a cluster that is exposed via app gw and it is accessing via https endpoint. I dont have any AKS service of type load balancer and following the artice https://doc

[2019-04-22 18:52] asridharan commented on #129
@g0pinath  thanks for your comments. Currently the ingress controller is in preview and we are getting a feel of how this integration is progressing. We are working towards GA in the next few months as we add more resources to this project. Due its preview nature its not highlighted in all the AKS and AG websites.

That said have informed the product groups of this lapse and they are looking at wa

[2019-04-22 18:55] asridharan commented on #130
@g0pinath do you want all traffic egressing out of AKS, not necessarily responses going to AG, to have the same PIP as the public IP of the Application Gateway? I am not sure if that is possible. Reason being that there is a layer 4 load-balancer sitting in front of AKS and AG, and these could be different. Hence, the VIPs associated with these load-balancers would be different as well.

Could you

[2019-04-22 19:16] asridharan commented on #97
@swoop-alex  @wesselkranenborg  sorry for the delay in responding to this question. We are still looking at resource allocation to get a better estimate of the time line to GA the ingress controller. A guess would Q2 (April-June) or (June-Sep) time frame.

We want to have better integration with aks to make the installation and debugging a bit more seamless and also be able to expose all AG featur

[2019-04-22 19:22] asridharan commented on #127
@dan-jackson-github does the issue keep occuring after startup? My initial guess is there is a race condition between the aad-pod-identity and ingress-controller pods coming up.

We do have checks in our code to keep waiting for the authorizer to come up, but there could be a bug in this code:
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/cmd/appgw-ingress/main.go#L77

[2019-04-22 19:24] asridharan commented on #108
@dfcarpenter the ingress re-write would be triggered when any of the following events happen?
* ingress update.
* service update.
* pod (backend update).
* Any secret referenced by the ingress is updated.

Sorry for the pain. Working on introducing `ssl-redirect`. Hopefully will land it sooner rather than later.

[2019-04-22 19:59] g0pinath commented on #130
Hi Asridharan

Let us take 2 examples, aks-webtier that is exposed to the internet and having 50+ urls, with AppGW having 50 rules and then translating them into AKS ingress controller, I just need to define the URL mapping in the AKS service file and all the magic happens behind the scenes.  The response from this cluster to a partner can be bound to a specific PIP is my understanding as per http

[2019-04-22 20:23] asridharan commented on #75
@kernelv5 sorry for the late response, but one thing you want to check is that AG subnet is able to route to subnets that your pods are connected to? If AG is not able to connect to your pods than you might be getting a 502 error.

[2019-04-22 20:33] asridharan commented on #130
@

@g0pinath  for the first scenario (`aks-webtier`) won't all responses go through AG? In which case the PIP in the responses would the AG PIP.

For scenario 2 (`aks-midtier`) you can connect your Azure virtual network to your on-prem using Azure VPN or Azure ER. You would still front all your traffic using AG which works with Azure ER and Azure VPN.

[2019-04-26 14:19] MarkDNL commented on #121
Is this fixed when AppGW v2 goes GA?

[2019-04-29 07:15] dan-jackson-github commented on #127
Hi @asridharan, the issue is consistently occurring every morning straight after node startup

[2019-05-01 19:13] asridharan commented on #71
@wesselkranenborg just acknowledging that we are working on adding custom health probe annotation and trying learn the custom health probe through the liveness checks defined for pods.  Will update once we have PRs associated with these features.

[2019-05-03 19:36] joeizy commented on #83
Does this support ILB App Gateway deployment at all?

[2019-05-07 19:52] chriskinsman opened #159 "Is it possible to open a port other than 80/443 for listening?"
Looking to indicate a new listener port other than 80/443.

[2019-05-07 20:21] droessmj opened #160 "Deploy Without Helm"
**Describe the solution you'd like**
This looks great, but working in an enterprise environment we've been looking to avoid deploying resources via Helm (for a variety of reasons). Is there a way to package the associated resources in a manner which would allow for deployment via direct manifest application?

[2019-05-07 20:23] #160 closed

[2019-05-07 21:40] asridharan commented on #159
@chriskinsman  we will need to add a listener specific annotation for this since ingress resource itself doesn't support this.

[2019-05-09 17:59] akshaysngupta commented on #71
#158

[2019-05-10 22:40] akshaysngupta commented on #71
Please try out the release candidate and let us know if you find any issues.
[code]

[2019-05-10 23:13] jweyrich opened #167 "Duplicate rule error for 2 distinct listeners: 80 and 443"
**Describe the bug**
When I create 2 ingresses, HTTP and HTTPS, using the domains and rules shown below in `ingress.yaml`, the `application-gateway-kubernetes-ingress` container reveals many errors related to duplicate rules for a domain. Even if the rules are equal, they are intended to be attached to different listeners (80 and 443). AFAIK, via the Azure portal it's not possible to attach a sing

[2019-05-10 23:23] asridharan commented on #167
@jweyrich we are working on an `ssl-redirect` annotation that will allow you to specify and ingress resource with TLS spec and `ssl-redirect` turned on. The annotation would than tell ingress controller to setup the HTTP redirect automatically for the HTTP end point.
Here is the WIP PR: #132

[2019-05-10 23:41] jweyrich commented on #167
Could we make it leave manually created rules and listeners alone? I mean, then I could manually configure the redirect for now. Currently, a new redeploy deletes and recreates all listeners and rules.

[2019-05-10 23:45] asridharan commented on #167
@jweyrich unfortuantely its non-trivial to do this for listeners and rules. So the ingress controllers ends up overwriting any listeners and rules that was manually added. We will look into a more surgical approach at a later date.

[2019-05-10 23:48] jweyrich commented on #167
I see. I believe that would end up as a diff-merge approach. Thanks anyway!

[2019-05-11 01:07] rahulvmarathe opened #169 "Support for Web Socket"
Does the App Gateway ingress controller support Web Socket traffic?

[2019-05-11 06:27] asridharan commented on #169
I believe Application Gateway v2 does support web sockets. @akshaysngupta could you confirm?

@rahulvmarathe  however don't think we expose any specific configurations for web sockets?

[2019-05-11 17:40] rahulvmarathe commented on #169
Hi @asridharan, thanks for the update per this https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-websocket, App Gateway does support Web Sockets.

Wanted to know if there is anything specific I need to for it to work with the AKS Ingress.

[2019-05-14 05:10] draychev commented on #169
@rahulvmarathe I tested App Gateway v2 and the K8s Ingress. As expected - App Gwy has native support for websockets.  And I did not have to do anything special to expose my Golang websockets server.

Here is my Deployment:
[code]

One small caveat though: my particular [websocket server implementation](https://github.com/gorilla/websocket/blob/master/examples/chat/main.go) is fairly strict - requi

[2019-05-14 05:10] #169 closed

[2019-05-14 11:50] dan-jackson-github commented on #71
Thanks @akshaysngupta, is there any documentation on how to get this working?

[2019-05-14 16:53] akshaysngupta commented on #169
@draychev We should document this.

[2019-05-15 08:07] dan-jackson-github commented on #71
As an update @akshaysngupta  I have deployed the latest release and seen that the health probes are created based on my liveness and readiness configuration. However in my setup I am using nginx ingress controller to actually forward on requests that come in from Application Gateway (because I don't want to be locked in to using application gateway fully). Because the health probe is configured wi

[2019-05-15 18:07] asridharan commented on #71
@dan-jackson-github we working on the documentation for health porbes here:
https://github.com/Azure/application-gateway-kubernetes-ingress/pull/179

The ask you have is a bit odd since it looks like its very specific for your configuration of having AG ingress controller running with the nginx ingress controller.  If you have access to the nginx ingress controller pod spec, adding liveness checks

[2019-05-15 18:17] #125 closed

[2019-05-15 18:47] akshaysngupta commented on #71
You can provide `host` in `readinessProbe`/`livenessProbe`.

Here is the merged doc:
https://azure.github.io/application-gateway-kubernetes-ingress/docs/tutorial.html#adding-health-probes-to-your-service

[2019-05-15 18:55] asridharan commented on #71
Closing this out. #158 covers this.

[2019-05-15 18:55] #71 closed

[2019-05-17 00:16] arajbanshi opened #187 "unable to establish end to end TLS with WAF V2 and RBAC enabled AKS"
**Describe the bug**
we are trying to setup end to end TLS configuration with this ingress and application gateway and are having issues with it. We have an RBAC enabled AKS cluster and we are trying to use this ingress along with WAF V2 to establish an end to end TLS communication between the two. After finishing the steps in the following article, I've found that on the application gateway side,

[2019-05-17 16:57] draychev commented on #187
@arajbanshi Thank you for reporting this issue.  Will look into this ASAP and keep you updated.

[2019-05-22 08:34] GrigorievNick opened #200 "RBAC Support"
It will be great to have support of RBAC in ingress spec.
I have a production k8s cluster, with Enabled RBAC and few teams that independently work on it.

I expect that it will be way to specify Service Account for Ingress Controller during deployemnt.
Like in Nginx https://kubernetes.github.io/ingress-nginx/deploy/rbac/.
Or What even better is specify Service Account per Ingress Rule.

Sorry but

[2019-05-27 13:34] DeanPH commented on #113
Any progress on this?

[2019-05-27 14:09] tiholm commented on #113
Our team installed multiple ingress controllers, each watching separate namespace. That setup resolves this but support for single controller watching for multiple namespaces would be great.

[2019-05-27 14:31] draychev commented on #113
Multiple namespace support is in active development. You'll see PRs this week building out the feature. Another release is coming very soon!

[2019-05-28 06:40] asridharan commented on #108
@rnarayana @dan-jackson-github @MarkDNL @dfcarpenter release 0.5.0 is out and adds the ssl-redirect annotation fixing this issue. Please give it a try.

[2019-05-28 06:40] #108 closed

[2019-05-28 06:50] asridharan commented on #187
@draychev @akshaysngupta looks like the ingress controller is having issues with the updates due to this:
[code]
Not sure if there is a race condition in the update or there is another entity configuring the application gateway. @arajbanshi is there any other entity programming the Application Gateway, apart from the ingress controller?

[2019-05-28 09:36] dersia commented on #108
@asridharan just tested 0.5.0 and `ssl-redirect`, seems to work partially. It works for all path-based rules, but it won't be set for the default route `/` when I look into the configuration section, i can see, that it the 443-backend is still available for setting another rule.

[2019-05-28 15:37] arajbanshi commented on #187
@asridharan No, this application gateway was spun up specifically to test the end to end TLS for the ingress controller.

[2019-05-29 14:04] cristhianbicca opened #218 "Multiples ingress support"
**Describe the bug**
Hello, I'm trying to create multiple ingress features to serve various services
Ingress Examples:

NAME         HOSTS                    ADDRESS   PORTS   AGE
flask-app1   flask-app1.exemple.com             80      60m
flask-app2   flask-app2.example.com             80      54m
flask-app4   flask-app4.example.com             80      53m

My Ingress controller it's configured:

[2019-05-29 21:14] draychev commented on #108
@dersia Would you be able to share with me your Ingress YAML?  (Please remove any sensitive information – remove domains, urls, TLS certs etc.)
Also – when you look at the kubectl logs of the Ingress controller – do you see errors?  I’d love to see those as well!

[2019-05-29 23:17] akshaysngupta commented on #218
@cristhianbicca can you please share your `ingress` resource and `ingress controller` pod logs ?

[2019-05-29 23:22] phillipgibson opened #223 "Existing Application Gateway with non K8 rules are removed with integration"
**Describe the bug**
If you have an existing Application Gateway with existing rules and you want to integrate the K8 ingress controller, the Helm ingress installation deletes all existing Application Gateway rules

**To Reproduce**
Create an Application Gateway and configure rules, listener, and backend for any service not associated to an AKS cluster. Once you install the ingress via the helm in

[2019-05-30 15:19] rahulvmarathe opened #225 "Ingress for Windows nodes not working"
I have a AKS cluster with both Windows & Linux nodes, ingress setup completed successfully.

Deployed an ASPNET core application to both windows and Linux nodes.
The application gateway is getting configured correctly for both the Windows and Linux hosted applications however the health probe for the Windows hosted app shows up as unhealthy where as the one for Linux app is healthy.

Is there is a

[2019-05-30 16:58] draychev commented on #225
@rahulvmarathe There isn't anything different that you need to configure based on the operating system.  However the health probes may have to be configured differently based on the expectation of the HTTP/S service.  By default responses with status code anywhere between 200 and 399 is considered healthy.
Without much context on what the backend services are - I'd speculate that the health probe

[2019-06-03 06:08] robertprather commented on #113
Multiple watched namespaces is something our team would really benefit from and certainly aligns to a achieving cluster density through kubernetes. Good news and happy to test it out soon.

[2019-06-03 20:02] akshaysngupta commented on #88
https://github.com/Azure/application-gateway-kubernetes-ingress/pull/237

[2019-06-03 20:04] akshaysngupta commented on #88
@Jawshua It would be great if you can try out `0.6.0-rc1` and give us feedback. We will do the `0.6.0` release shortly!

[2019-06-03 20:12] akshaysngupta commented on #88
https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.6.0-rc1

[2019-06-03 20:16] akshaysngupta commented on #42
We are now logging to the Ingress Events for the customer to easily able to see the config errors.
We will add more info to the docs in coming PRs!

[2019-06-03 20:55] asridharan commented on #88
@markDNL @simonscatalyst @peterspicer-catalyst

[2019-06-04 15:09] MarkDNL commented on #88
Great, I hope I can give it a try soon!

[2019-06-04 21:55] draychev commented on #223
@phillipgibson Would you be so kind to take a look at [this proposal](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/4582ff0ffbad0b6086ef90b284537c22709db85a/proposals/config_ownership_crd.md)

Would love to get your feedback on the approach we are thinking of to solve the issue you describe.  You can leave comments either here on this thread or directly on the PR: https://gi

[2019-06-05 08:42] landro opened #245 "Documentation: app gw autoscaling requirement"
From what is written on https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/install-existing.md one can get the impression that the ingress controller does not support autoscaling application gateways. Does this apply? I have verified that several ingress controller operations work as expected, even if autoscaling is enabled.

Current doc:

```An existing Azure Applica

[2019-06-05 18:49] draychev commented on #245
@landro Thank you for verifying that Ingress Controller works with Autoscale enabled.

I dug into this as well - we added this line to the documentation https://github.com/Azure/application-gateway-kubernetes-ingress/pull/82 at a time when an older version of the underlying SDK did not yet support Autoscale-enabled Application Gateways.  As you found out - this is no longer the case.

I will updat

[2019-06-05 19:11] #245 closed

[2019-06-07 12:30] benrj commented on #83
I've got the same question.  [The docs](https://azure.github.io/application-gateway-kubernetes-ingress/docs/install-existing.html) seem to indicate that this only works with a Standard V2 application gateway.  However, V2 gateways apparently require you to have a public IP address.

Our security requirements prevent us from serving up on public IPs.  We've used Standard gateways with private IPs o

[2019-06-07 14:06] Baklap4 commented on #113
Linking #67 for temporary workaround...

[2019-06-12 02:28] fxgsell commented on #103
+1

It would be very useful to be able to use the native KeyVault support from AG V2 with something like:

[code]

With secretProveider defaulting to "kubernetes" which would be the current way of doing it.

[2019-06-12 12:04] invidian commented on #200
Wasn't it added in #57?

[2019-06-13 12:16] knoxi opened #271 "docs: add missing pre-requisites template in install-new.md"
In the [installation instructions](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/install-new.md) for a **Greenfield Deployment** a template for installing the prerequisites is mentioned, but there is no link/reference to the template itself.

Please add the prerequisites template link.

[2019-06-13 13:58] knoxi commented on #271
ok, after reading the whole document, I got it that the mentioned template is the template below in the steps in 2.

[2019-06-13 13:58] #271 closed

[2019-06-17 08:24] solacens opened #284 "Any thoughts of having a secure backend?"
I'm a new comer of Azure with some past experience of Kubernetes and EKS.

I'm just wondering if there will be a secure backend options after the ingress has done SSL termination. For example: [Annotation: Nginx ingress controller](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#backend-protocol)

I would like to get more features in this ingress controller w

[2019-06-18 01:48] fxgsell commented on #103
@asridharan shouldn't that be tagged with "AG feature parity"?

[2019-06-18 14:18] marc-mueller commented on #104
Hi there

We are currently struggling with the same issues. Is there any more information available on how to get to the root cause of the issue? Our setup is almost the same as the quickstart. We have the same problem that we do not see any configurations applied to application gateway. We are currently using a Standard_v2 Application Gateway.

Thanks
Marc

[2019-06-18 14:27] marc-mueller opened #286 "No settings applied to Standard_v2 application gateway"
**Describe the bug**
We setup the application gateway ingress controller. We do not see error in the log, but ingress is not working. We see the ingress configuration of our services, but we do not see any configuration in application gateway.

Could this be a permission error? How do we get the right details to analyse the issue?

**To Reproduce**
-

**Ingress Controller details**
[code]

[code]

[2019-06-18 19:48] techbunny commented on #79
The work around I used recently was to just taint my Windows nodes, but it would be great if this would just deploy on a linux node pool by default.

[2019-06-18 22:24] akshaysngupta commented on #286
@marc-mueller
This is the error `Unable to find the secret associated to secretId: [default/guestbook-secret-name]`.

Will are missing a glog call after:
`https://github.com/Azure/application-gateway-kubernetes-ingress/blob/d1cb31f8bb8d2eadb9816b25cc3e2d4cd6073f0e/pkg/appgw/certificates.go#L53`

[2019-06-19 05:10] marc-mueller commented on #286
Thanks for your feedback. I haven't noticed this error but this was due to a wrong deployment. I accidentally deployed the guestbook sample to default namespace instead to the dev namespace where the cert issuer is set up.

What we noticed from the logs, is that the letsencrypt-go challenges do not get finished since the endpoints are not available trough application gateway. As far as I understoo

[2019-06-19 15:33] DeanPH commented on #113
Still going to make the June timeframe @asridharan ?

[2019-06-19 15:35] timja commented on #113
seems like support for it was merged here:
https://github.com/Azure/application-gateway-kubernetes-ingress/pull/263

[2019-06-19 16:20] draychev commented on #113
@robertprather @Baklap4 @DeanPH -- @timja is right - the PR that enables multiple Namespace support was merged.  I'd like for us to test the software a bit more before we cut a new release later this week.

[2019-06-20 06:57] marc-mueller commented on #286
We figured it out. I'm sorry for creating an issue. The problem was based on our configuration. We completely missed the settings for watch namespaces.

[code]

Basically, there have no settings been applied due to the fact that the corresponding namespace did not get watched. We changed that and then it started working. We then encountered the situation, that this only works for a single namespac

[2019-06-20 06:57] #286 closed

[2019-06-20 06:59] tdihp opened #294 "Doc: clarify regarding AppGW standard (v1)"
**Is your feature request related to a problem? Please describe.**
I'm confused if application gateway standard v1 works with this ingress-controller, to what extent.
The installation doc states prerequisite to be v2, however there's no reason explicitly given on why v1 shouldn't be considered.

**Describe the solution you'd like**
Explicitly state if AppGW v1 is supported or not in doc. If not, p

[2019-06-20 07:00] tdihp commented on #294
I have don a brief test, indicating v1 can work with the tutorial, but haven't done any further testing.

[2019-06-20 16:06] draychev commented on #286
@marc-mueller Thanks for keeping us posted and sorry that this wasn't more obvious.

Watching multiple (or all) namespaces is coming very soon.  Here is the PR documenting this new feature: https://github.com/Azure/application-gateway-kubernetes-ingress/pull/293

We are also actively working on improving logging to give you multiple verbosity levels and also provide more informative log messages:

[2019-06-21 11:50] Prince269090 opened #299 "Unable to install ingress with helm chart - application-gateway-kubernetes-ingress/ingress-azure"
**Bug Details**

I am trying to configure connection between AKS and Applicaiton Gateway in azure. The error is coming while i try to install the ingress controller using helm install. I have followed all steps in this [link](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/install-existing.md)

**To Reproduce**
To reproduce please follow the steps as mentioned [her

[2019-06-21 12:43] doerig commented on #299
aksClusterConfiguration is missing in your helm-config.yaml file:

[code]

[2019-06-21 13:27] djh82uk opened #300 "Issue with Azure AD Auth"
Hi,

I followed the guide for setting up the appgw ingress with the guestbook app and that all worked fine.

I then modified it to use my own .net core webapp and that all worked fine for enforcing https (this app is only exposed on ClusterIp via port 80).

Now when I added the Azure AD Auth module from Nuget, i ran into issues.  It works fine on premise without the appgw

Now when it is in Kubern

[2019-06-21 17:01] akshaysngupta commented on #299
Sorry for the inconvenience!
`apiServerAddress` field is being deprecated in the next release.

For now, I have added the setting back into the sample helm-config.yaml with `THIS IS BEING DEPRECATED` comment.

[2019-06-21 17:01] #299 closed

[2019-06-21 17:03] akshaysngupta commented on #284
Yes, Backend HTTPS is in the pipeline.

[2019-06-21 21:08] draychev commented on #113
Release candidate v0.7.0-rc1 of AGIC is out.  This includes support for multiple namespaces.

We documented how it works and how to enable AGIC on multiple (or all) namespaces [here](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/features/multiple-namespaces.md#enable-multiple-namespace-support).

@asridharan, @akshaysngupta, and I would love go get your feedback

[2019-06-21 21:13] akshaysngupta commented on #187
@arajbanshi We are working on supporting to end-to-end TLS. Currently, Ingress controller only supports client-side SSL.

[2019-06-22 01:36] akshaysngupta commented on #300
From first look, I think your redirect url is pointing to the aks-cluster `aks14fb.westeurope.cloudapp.azure.com` master endpoint which might not route to your dotnet pod.

Can you provide the redirect url as dns label of the application gateway public ip ?
Following is an example how to set the dns label.
![image](https://user-images.githubusercontent.com/5294363/59957909-2b3b1700-9453-11e9-9ca2-

[2019-06-22 01:41] akshaysngupta commented on #200
Currently, helm deploys a `clusterrole` which gives ingress controller access to the required resources in all the namespaces.
Are you guys running 1 ingress controller per namespace ? (per team, so you want to restrict access ?)

[2019-06-22 01:43] akshaysngupta commented on #218
@cristhianbicca  were you able to resolve the issue ?

[2019-06-22 01:47] akshaysngupta commented on #127
@dan-jackson-github Is the issue still happening ?

[2019-06-22 02:23] draychev commented on #113
Most recent release candidate is [0.7.0-rc2](https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.7.0-rc2)

Here are the instructions on how to upgrade your existing installation of the Ingress Controller: https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/how-tos/helm-upgrade.md

Looking forward to your feedback!

[2019-06-22 06:21] GrigorievNick commented on #200
Yes.
Just no notes about it in documents.

ср, 12 июн. 2019 г., 15:04 Mateusz Gozdek <notifications@github.com>:

[2019-06-22 06:24] GrigorievNick commented on #200
Hi, we want use ingress controller per project. What will result like
ingress controller per multiple namespace.
Current situation with 57 is ok.

Previously i cant find in doc how to setup ingress on k8s with rbac
enabled. But after you give me link to 57 ticket, i build template from
helm.
So its ok.

сб, 22 июн. 2019 г., 4:41 Akshay Gupta <notifications@github.com>:

[2019-06-22 19:07] akshaysngupta commented on #200
Good new, multiple namespace is already in `0.7.0-rc2`. Please provide us feedback. We will release this soon!

[2019-06-22 19:07] #200 closed

[2019-06-24 06:14] Prince269090 commented on #299
Issue resolved. Thanks @doerig & @akshaysngupta for the quick help!

[2019-06-24 08:25] djh82uk commented on #300
Hi, I have changed the dns name on the appgw's public IP, appgw has updated to reflect the change, tried the url and I get the same issue.  The redirect within the url is showing the new dns name, but still missing the "s" in https

Thanks

[2019-06-24 09:39] djh82uk commented on #300
looks like I am having the same issue as this guy, is the recommendation to use nginx valid here?

[2019-06-24 23:52] TallOrderDev commented on #97
@asridharan Thanks for your response.

Do the devs still feel this is an accurate timeline. We are doing our prod release here in the next month or so, and are curious if we should abandon hope for MVP, or if waiting a couple days/weeks will allow for this.

We are all very excited and appreciative of all the hard work that's been put in and by no means want to rush anyone! Thank you all!

[2019-06-25 06:14] asridharan commented on #97
@TallOrderDev we are on-track for going GA in the Aug-Sep time frame. Our main aim is to get better test coverage and support for our code as well as ensuring feature coverage for all the major features exposed by AG.

Meanwhile, as we churn releases out on our way to a 1.0 GA release, please help us improve the project by creating Github issues for any bugs/gaps that you see as a user. Please be

[2019-06-25 06:35] akshaysngupta commented on #300
Can you try setting `appgw.ingress.kubernetes.io/ssl-redirect: "true"` on the ingress ?
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/annotations.md#ssl-redirect

[2019-06-25 08:42] djh82uk commented on #300
Hi, I tried it, and got error 404 from the app gateway after it presenting a self signed cert.

The pod is only open on port 80 and has no SSL, the plan was that SSL could be handled by the Ingress and not need to be done by app developers (plus we end up with an enforced standard for SSL)

And that all worked until we added the Azure AD auth

Thanks for your help by the way

[2019-06-25 09:01] solacens opened #310 "Logs everywhere"
**Describe the bug**

Currently I'm testing the release 0.7.0-rc2 with multiple namespaces feature, it works well and smooth.

However, the output logs are unstoppable when you got so many namespaces (~15). I'm wondering if the log level can be refined. I'm currently have `APPGW_VERBOSITY_LEVEL` = `1` but it doesn't really help.

[2019-06-25 11:24] zhiweiv commented on #223
Can we add a warning note to install-existing.md for the current logic, it deleted all existing configurations from my appgw while I was testing it!!! This caused a big mess, because entire company's testing environment became unavailable.

[2019-06-25 16:57] draychev commented on #223
@zhiweiv Sorry to hear the Ingress Controller surprised you by mutating existing config.

That use case (brownfield deployment in a hybrid environment ) is on our radar - we are actively working on a solution.

Here is what we are implementing: https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/proposals/config_ownership_crd.md

I'd love to get your feedback on the [docume

[2019-06-25 17:01] draychev commented on #310
@solacens This is great feedback - thank you for taking the time to come back here and report your experience.

Let's iterate on this - we should be able to tame logging before dropping the `-rc2` from the version.  Will update the issue here when we are ready for you to take a look again.

[2019-06-26 04:04] zhiweiv commented on #223
In my case, we have an appgw(13.76.169.111/test.southeastasia.cloudapp.azure.com), there are some urls mapped to test.southeastasia.cloudapp.azure.com by CNAME, for example: there are 3 listeners for dao.avepointlabs.com/cb.avepointlabs.com/api.avepointlabs.com, they use nginx ingress controller as backend pool.

Now I want to use AGIC to only manage api.avepointlabs.com, per config_ownership_crd.

[2019-06-26 05:31] zhiweiv opened #316 "Can we support using existing certificate in appgw for https listener?"
We have strict ssl certificate policy, ssl certificate is preconfigured to appgw by IT team, then we use it to configure new https listeners, we are unable to touch the pfx and it's password.

AGIC needs certificate from k8s secret, it is a big gap for us.

[2019-06-26 10:29] balazs-pinter opened #317 "Application gateway ingress controller with multiple hosts and ssl"
**Describe the bug**
I have an application gateway ingress controller with multiple hosts and rules and TLS. But the  ingress controller cannot push the changeset into application gateway. The error I'm getting is:

`BEGIN ApplicationGateway deployment
W0626 10:24:00.484639       1 controller.go:119] unable to send CreateOrUpdate request, error [network.ApplicationGatewaysClient#CreateOrUpdate: Fa

[2019-06-26 16:47] draychev commented on #317
@balazs-pinter  Which version of AGIC are you running?
If not the latest (`0.7.0-rc2` as of this writing) - would you be so kind to upgrade?

[2019-06-26 19:30] draychev commented on #317
@balazs-pinter I used v `0.7.0-rc2` to the Ingress definition you shared.

I [augmented your YAML](https://gist.github.com/draychev/a6d45921202fd6e0a62ec25543c7cc80) to add Services.
Also added `appgw.ingress.kubernetes.io/ssl-redirect: "true"` annotation since from the error message you shared - it seems that your intent was to enable SSL Redirect?

I also removed `service.beta.kubernetes.io/azur

[2019-06-27 00:59] draychev commented on #310
@solacens We released version `0.7.0`. This has https://github.com/Azure/application-gateway-kubernetes-ingress/pull/311, which has 3 verbosity levels for logging and defaults to the most quiet one.

Read about the [streamlined logging levels here](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/ec009ede61626e0153f14331df2a638cad6583a2/docs/troubleshooting.md#logging-levels)

[2019-06-27 01:00] #310 closed

[2019-06-27 01:01] solacens commented on #310
@draychev Thanks, I will test it later today 👍

[2019-06-27 18:34] PatricioDanos commented on #113
Hi! I can see that multiple namespaces support has been released with version [0.7.0](https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.7.0). That's great news!

Could we have some example on how to pass the needed variables to configure it? Right now, how-tos for installing Green/Brownfield scenarios still show the 1 namespace support only way.

Thank you!

[2019-06-27 18:42] draychev commented on #113
Hi @PatricioDanos
The multiple namespace support is documented [here](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/features/multiple-namespaces.md). (It sounds like we have some work to do to make easier to discover.)

Would love to get your feedback on the document as you are going through it!

[2019-06-28 13:19] Baklap4 commented on #113
if we leave out `watchNamespace` as suggested in the documentation we're getting the following response
[code]

If we set it to an empty string we're getting the following error:
[code]

If we delete the kubernetes key we're getting a working application gateway which watches the default namespace.

We're at version 0.7.0.

If we add more than one namespace to the watchNamespace keyword (comma spe

[2019-06-28 13:42] Baklap4 commented on #113
We're trying to accomplish to get applicationgateway to watch all namespaces. We tried the suggestions in the link above here are our results....
if we leave out `watchNamespace` as suggested in the documentation we're getting the following response
[code]

If we set it to an empty string we're getting the following error:
[code]

If we delete the kubernetes key we're getting a working application

[2019-06-28 16:54] draychev commented on #113
@Baklap4 It looks like we need to tweak the Helm chart so that it does not require the `watchNamespace` key.  Fix is coming!

[2019-06-28 18:45] draychev commented on #113
@Baklap4 Also - were you able to fix the issue causing this error: `F0628 13:17:57.218627       1 main.go:133] Error creating informers; Namespaces do not exist or Ingress Controller has no access to: default,namespace2,namespace3` ?

[2019-06-28 23:00] #113 closed

[2019-06-29 00:30] draychev commented on #113
@Baklap4 We released version `0.7.1` which addresses the issue you discovered with the Helm template.  Thank you for reporting it and thank you for sharing your workaround.
Please do continue to give us feedback on your experience with the Ingress Controller!

[2019-07-01 06:44] Baklap4 commented on #113
We had rbac_enabled on false while deploying thus the accounts were not reachable. This was changed by turning it to true. :)

Please do continue to give us feedback on your experience with the Ingress Controller!

We're going to try it today :) Thanks for so far!

[2019-07-01 09:23] Baklap4 commented on #113
Thanks we deployed our app and it worked right out of the box! Thanks for the quick support!

[2019-07-01 09:25] Baklap4 commented on #67
As of last weekend the gateway now also supports listening to multiple namespaces. See https://github.com/Azure/application-gateway-kubernetes-ingress/issues/113 for more details.

[2019-07-01 14:33] djh82uk commented on #300
Hi, I have tried it but with the same issue.

One thing I noticed is that even if I change the backend path on the ingress to a sub-directory.  Navigating to the root url still prompts for me to login via AAD.  And still has the same issue.  Yet if I change the redirect url in the browser from http to https then it authenticates fine, but then gets error 500.

It's almost as if the appgw is prompt

[2019-07-05 06:17] mtuppad opened #355 "bad request - path based routing"
(below configuration had worked for couple of times 3-4 months back. But right now its not. I am currently trying this in central india - worked earlier southeast asia)

I have deployed 2 simple apps into AKS
1. Guestbook - exposed as frontend service at port 80
2. An API App with path /api/values exposed as apiservice at port 80

Can access front app (guestbook) without any issue.
However when I

[2019-07-05 16:05] draychev commented on #355
Hi @mtuppad,

From the format of the logs you attached to this issue I see that you are using a relatively old version of the Ingress Controller.

Please follow [this document](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/cdeee91ee11f0c4bae0586932de0e51c54b22bdc/docs/how-tos/helm-upgrade.md#upgrading-agic-using-helm) to upgrade to the latest version of AGIC (as of this writ

[2019-07-05 23:03] DeanPH opened #359 "Support for both public and private listeners on AGIC"
Currently with the AGIC 0.7.1, is it's not possible to have an HTTPS listener (443) on public and an http listener (80) on the private IP. When enabling `usePrivateIP`, it attaches **both** the ssl listener and the port 80 listener to the private IP which leaves the public with no listeners.

This is the setup we need the AGIC to replicate:

![image](https://user-images.githubusercontent.com/39728

[2019-07-06 10:23] akshaysngupta commented on #300
@djh82uk Would you mind sharing the following so that I can take a closer look ?
[code]

Alternatively, you can open a support ticket if you are more comfortable with that.

[2019-07-06 10:25] akshaysngupta commented on #317
@balazs-pinter Was this helpful ?

[2019-07-06 18:54] DeanPH commented on #83
@richardcatania @benrj As of release v0.7.0,  appGW v2 now supports a private ip config.

[2019-07-07 04:45] mtuppad commented on #355
Thanks @draychev
I followed you suggestion.
- Upgraded AGIC to 0.7.1
- Enabled verbose logging (I feel we need update the documentation here - as it is not there in sample file)

Still got 502 error.

When I looked at health probes - it was using host name as localhost ( as I didn't mentions host name in my ingress and path to /api/*
However my api app doesn't have any response for /api/*. So it w

[2019-07-07 05:10] akshaysngupta commented on #359
Thanks for the request. This should be part of the next release.

[2019-07-08 06:13] mtuppad commented on #355
I was able to update my deployment yaml as below and use wild card path specification. Now I can access my apis.
Updated yaml files.
[code]

updated ingress controller.
[code]

Thanks again for the help.

[2019-07-08 06:13] #355 closed

[2019-07-09 18:14] hrcerqueira opened #363 "RoleAssignmentUpdateNotPermitted when installing the azure template"
**Describe the bug**
I have been trying to create a new deployment and following the Greenfield Deployment instructions.  However I get the an error when creating the custom template deployment. It is failing in the `RoleAssignmentDeploymentForUserAssignedIdentity` step with a status of bad request and the error:

[code]

Then, if I continue and setup teh ingress controller, it fails with the foll

[2019-07-10 10:59] henningploegerzeb opened #364 "Unclear Service Principal Authentication"
**Describe the bug**

I deployed the ingress controller to aks with principal authentication option. I could not determine how to set up the secrets for the service principal. So I added the Contributor-Role on the application gateway to the AKS-principal and mountet the AKS-principal's credentials into the ingress controller. But that leads to the error shown below.

Could you please clarify how

[2019-07-12 00:22] akshaysngupta commented on #363
@hrcerqueira Thanks for reaching out.
There are two role assignments happening in the nested template, which one of them is failing for you?

[2019-07-12 17:25] akshaysngupta commented on #41
Completed https://github.com/Azure/aks-engine/pull/1442

[2019-07-12 17:25] #41 closed

[2019-07-12 17:26] #42 closed

[2019-07-12 17:37] akshaysngupta commented on #83
@benrj current recommendation is attach a Network Security Group to AppGW Subnet blocking anything but management ports.

[2019-07-12 17:37] #83 closed

[2019-07-12 17:38] #88 closed

[2019-07-12 17:55] draychev commented on #317
@balazs-pinter We believe this issue is fixed with our latest release v0.7.1
Please reopen this issue if you are still observing this problem.

[2019-07-12 17:55] #317 closed

[2019-07-12 18:07] draychev commented on #300
@djh82uk We are available in the #sig-azure kubernetes channel:  https://kubernetes.slack.com/messages/C5HJXTT9Q/

Let's continue the discussion there - would love to help you in real-time with this! (`@delyan` there)

[2019-07-12 18:11] #225 closed

[2019-07-12 18:15] akshaysngupta commented on #284
We are working on this but we don't have an ETA yet.

[2019-07-12 18:16] draychev commented on #284
Similar issue: https://github.com/Azure/application-gateway-kubernetes-ingress/issues/187

[2019-07-12 18:20] draychev commented on #218
@cristhianbicca AGIC does support multiple ingress definitions and multiple host names.  Closing issue since we have not heard from you. Please reopen if you are still unable to configure multiple ingress resources.

[2019-07-12 18:20] #218 closed

[2019-07-12 18:26] draychev commented on #167
@jweyrich We have SSL Redirect annotation - this is available in the latest version 0.7.1. Here is documentation on how to enable it: https://github.com/Azure/application-gateway-kubernetes-ingress/blob/76064d31bc4beb29e574e43378591f472a347a4a/docs/annotations.md#ssl-redirect

We are also working on a feature that allows the ingress controller to leave manually created rules and listeners alone as

[2019-07-12 18:26] #167 closed

[2019-07-12 18:30] draychev commented on #112
We are not planning on working on multi-cluster support in the near future. Closing this. (We do have env var `APPGW_CONFIG_NAME_PREFIX` supporting a custom prefix)

[2019-07-12 18:30] #112 closed

[2019-07-12 18:33] draychev commented on #90
@jamesrcounts We are working on a brownfield deployment feature, which is described in this issue: https://github.com/Azure/application-gateway-kubernetes-ingress/issues/223

Will keep you posted when this feature is released!

[2019-07-12 18:33] #90 closed

[2019-07-12 18:46] #97 closed

[2019-07-12 18:48] draychev commented on #96
Ingress Controller works well with Let's Encrypt - this is [documented here](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/9e07d57746f29f1d69d9c0f0e28e5d2eca7170a7/docs/how-tos/lets-encrypt.md#certificate-issuance-with-letsencryptorg)

[2019-07-12 18:48] #96 closed

[2019-07-12 19:06] draychev commented on #77
@wesselkranenborg We are revisiting this issue.  Have you been able to find a workaround?  Do you still need a solution for this?

[2019-07-12 19:18] draychev commented on #50
@ducas We are going to close this issue as we are not planning on implementing mergable ingress. We are however looking into supporting configuration for our default App Gateway listener (see this issue https://github.com/Azure/application-gateway-kubernetes-ingress/issues/77)

[2019-07-12 19:18] #50 closed

[2019-07-12 19:19] #39 closed

[2019-07-15 09:27] kwaazaar commented on #284
Is there a comparison of the Application Gateway featureset and this Ingress Controller featureset? Like what is implemented and what not?
Because [the FAQ says](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#does-application-gateway-support-reencryption-of-traffic-to-the-backend) Application Gateway already supports this.

[2019-07-15 14:51] kwaazaar opened #372 "Pod has no access"
Straight after a brown field installation:
E0715 14:47:06.227604       1 reflector.go:125] github.com/Azure/application-gateway-kubernetes-ingress/pkg/k8scontext/context.go:296: Failed to list *v1beta1.Ingress: ingresses.extensions is forbidden: User "system:serviceaccount:default:agic-sa-ingress-azure" cannot list resource "ingresses" in API group "extensions" at the cluster scope

**To Reproduce

[2019-07-15 14:52] kwaazaar commented on #372
Is there some trouble shooting guidance somewhere?

[2019-07-15 17:04] jweyrich commented on #167
Awesome @draychev. Will give it a try. Thank you for the update!

[2019-07-15 17:08] akshaysngupta commented on #372
@kwaazaar Since, you have an RBACed cluster, you need to install the controller in the RBAC mode by adding the following to the helm config.

[code]

We will add some more instruction on the helm config and trouble shooting this.

[2019-07-16 06:39] kwaazaar commented on #372
That changes things. But the result is not much better:

robertka@OT-0038:/mnt/d/src/Infrastructure.aks/AGIC$ kubectl logs -l app=ingress-azure --tail=100 -f
I0716 06:38:06.395881       1 eventqueue.go:45] Enqueuing skip(false) item
I0716 06:38:06.395886       1 eventqueue.go:45] Enqueuing skip(false) item
I0716 06:38:06.396687       1 eventqueue.go:45] Enqueuing skip(false) item
I0716 06:38:06.39

[2019-07-16 23:01] akshaysngupta commented on #372
Few questions:
1. What is the version of Ingress controller are you using? Use
[code]
1. From logs, I see that controller is unable to resolve ports for the service. Can you check if `http-main` port is exposed on the Pod behind the service ?

[2019-07-17 00:23] akshaysngupta commented on #364
Following steps explain how to run the controller with a service principal for authentication:

1. Create the service principal, assign the required RBACs and create a k8s Secret

[code]

1. Now update the helm config's `armAuth`:

[code]

I will soon add this in the documentation.

[2019-07-17 08:31] kwaazaar commented on #372
robertka@OT-0038:~$ helm list
NAME                            REVISION        UPDATED                         STATUS          CHART                           APP VERSION     NAMESPACE
agic                            4               Tue Jul 16 08:37:46 2019        DEPLOYED        ingress-azure-0.7.1             0.7.1           default

The service and its port definitely exist:
robertka@OT-0038:~$

[2019-07-17 14:05] arunroula commented on #67
Thanks all much for all the information provided here.

Can some one suggest me please how I can deploy AGIC to different namespace instead of deploying to default namespace?

Presently deploy of AGIC is failing due to the resource quota related error "must specify limits.cpu,limits.memory,requests.cpu,requests.memory"

I have cloned the AGIC repo, updated the resources for the container, still th

[2019-07-17 15:22] henningploegerzeb commented on #364
works like a charm. thx

[2019-07-17 17:04] #364 closed

[2019-07-18 05:48] akshaysngupta commented on #372
Thanks for sharing the yamls. I was able to figure out that this is a bug on the controller.
Controller is incorrectly using the `service.port.targetPort` instead of `service.port.Name` to lookup port in the `endpoints` object.

[2019-07-19 07:00] littlenetcoder commented on #372
I am also facing same issue with Grafana which is running on port 3000. I tried to change port in Http settings but again that was also superseded !!

[2019-07-22 12:51] mcarlsen commented on #294
We attempted to use appgw v1 and basic networking with this ingress controller with some initial success. However, Microsoft support told me this:

and

[2019-07-23 04:21] Romiko opened #399 "Does the ingress controller support AKS with Kubenet (Simple Networking)?"
We have an existing AKS cluster using Kubenet (Simple Networking)

The Brownfields [https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-existing.md](tutorial) shows that you need advanced networking.

I would like to use AKS kubenet with an application-gateway-kubernetes-ingress.

Thx

[2019-07-23 11:01] vishnujanardhanan opened #400 "http 504 - gateway timeout error"
**Describe the bug**
Seeing a http 504 - gateway timeout error after 10 mins of inactivity on app-gateway. We are using 0.7.1 version of ingress controller

 support ticket raised for this issue- 119072323001821

[2019-07-23 18:10] akshaysngupta commented on #400
Looking into it.

[2019-07-23 18:29] #372 closed

[2019-07-24 09:04] SychevIgor commented on #97
Really interesting question.
Looks like before the GA we should consider ModSecurity as an option?

[2019-07-24 19:29] cwe1ss commented on #294
If AppGw v2 is the only way forward then you really have to do something about the pricing. V2 currently has a ~ 10x increase for the minimum charge, which makes it way too expensive for many dev/test scenarios.

We would really have liked to test and use this project, but the V2 pricing is a blocker for us.

[2019-07-24 23:12] akshaysngupta commented on #399
AKS with Kubenet is dependent upon AppGw v2 SKU supporting UDR on the subnet.

[2019-07-24 23:13] akshaysngupta commented on #400
@vishnujanardhanan Can you please provide an update ?

[2019-07-24 23:29] winthrop28 commented on #294
Thanks for the comment, we're aware of the ask. It's on our backlog.

[2019-07-25 12:05] vishnujanardhanan commented on #400
@akshaysngupta will come back on this

[2019-07-25 23:23] sharkymcdongles opened #420 "Can this be used on baremetal k8s within azure using kubenet?"
we use baremetal for our k8s in azure, so it'd be nice if I could use this instead of nginx ingress to use as a waf.

[2019-07-26 01:35] robertprather opened #426 "RequireServerNameIndication flag not set on multi-site listeners (hostname/TLS)"
**Describe the bug**
We are using Application Gateway (v1) Medium WAF SKU, AKS and Ingress Controller v0.7.1 deployed via helm chart.

We recently upgraded to use the multiple watched namespaces feature each namespaced deployment using k8s ingress definition according to the docs "Expose services over HTTPS" -> "With specified hostname".

When ingress controller updates the gateway, all looks OK -

[2019-07-26 14:23] PatricioDanos opened #427 "Basic authentication"
While doing our dev for our application, it's common for us to do some basic auth to protect access to it.
Nginx ingress controller has Basic Auth as part of its solution by adding an htpasswd file as a secret, and a few annotations pointing to it. Here's the README.md for that implementation:

https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples/auth/basic

Is it possible to impl

[2019-07-27 11:06] paviad commented on #116
I have this problem as well, how did you resolve this?

[2019-07-29 16:59] delqn commented on #223
@mikerobot We are aiming to cut a release candidate this week. We are in the process of testing and documenting the feature. I'd love to know if the scenarios [described here](https://github.com/Azure/application-gateway-kubernetes-ingress/pull/425/files#diff-2f39f5002e9866cfb6da6b9192031218) match the systems you are building.

To answer your questions:

  - `backend pools are empty` - the Ingres

[2019-07-29 17:29] delqn commented on #116
I'm also interested in learning more about **when** this error occurs and **how** @rnkhouse resolved it.

@paviad: We have seen this error in a few scenarios. This could be a race condition when Helm attempts to create an instance of the `AzureIdentity` CRD, before the CRD itself is ready. It could also be related to a syntax error in the helm YAML files.

@paviad To isolate the race condition - d

[2019-07-30 01:47] delqn commented on #223
@phillipgibson @zhiweiv @mikerobot @cwebbtw We have a release candidate out with this feature.

The latest version is `0.8.0-rc1`  (for `helm repo update && helm upgrade --version 0.8.0-rc1 ....`)

Here is the [documentation on how to deploy AGIC to a multi-cluster environment, where it shares an App Gateway w/ other backends](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/ma

[2019-07-30 22:51] terrificsoysauce opened #437 "Add CORS support"
We have experience CORS issues when using Application Gateway to service requests between multiple hostnames. For example, a front-end application is hosted under fe.example.com and back-end apis are hosted under api.example.com. Requests between these domains will be blocked by CORS.

This issue is very well documented by Raja at https://techcommunity.microsoft.com/t5/Azure/Application-Gateway-co

[2019-07-31 11:04] vishnujanardhanan opened #442 "Pod ip's not updated in app-gateway"
**Describe the bug**
Pod IP's are not updated in app gateway if it is deleted via kubectl delete pod

**To Reproduce**
Steps to reproduce the behavior:
Deploy the app
App-gateway ingress controller will add the ip's to backend pool
Delete the pods - kubectl delete pods
IP's are not updated in app-gateway

[2019-07-31 14:54] PatricioDanos commented on #442
Have you checked the logs of the pod running the ingress controller right after deleting the pod ?

[2019-07-31 15:13] sharkymcdongles commented on #420
So I was able to deploy the helm chart and authenticate using the service principal. It seems to work and I see the azure portal shows that it is managed by k8s now. However it then loops to create the ingress rules on the WAF and I see it try then cancel with this:

[2019-07-31 15:15] sharkymcdongles commented on #420
My ingress object:

[code]
Where am I going wrong, or is the rule application just that long that it can timeout? I find any app gateways I make take over 20 minutes just to deploy with no rules.

[2019-07-31 17:09] akshaysngupta commented on #400
@vishnujanardhanan Is this resolved ?

[2019-07-31 18:56] asridharan commented on #437
@terrificsoysauce  this looks like an ask for URL/header re-write capabilities in application gateway.  I am assuming you are getting a 403 back from WAF since WAF shouldn't block these requests but than browser/server would block these requests?

[2019-08-01 05:17] vishnujanardhanan commented on #400
@akshaysngupta - it is sorted. Thanks.

[2019-08-01 05:17] #400 closed

[2019-08-01 05:32] vishnujanardhanan commented on #442
@PatricioDanos I deleted the pods now and it seems to update the ip's the app-gateway UI in few mins. Though the logs of ingress-controller denotes the operation completed in 20 secs.

But i certainly had the issue yesterday where even after 30 mins the ip's in app-gateway seemed to be old and the health probes were failing. Hence we redeployed the ingress controller and this issue was raised.

I'

[2019-08-01 11:18] kwaazaar commented on #372
Is this fix in 0.8.0-rc1? It would be nice if you could label issues (or PR's), so this is clear.

[2019-08-01 14:00] lemaral opened #452 "Ingress IP not available"
**Describe the bug**
A clear and concise description of what the bug is.
Ingress IP is never shown, although the backend is correctly reached through the ingress

kubectl.1.13 get ingress http-svc-front-ingress
NAME                     HOSTS   ADDRESS   PORTS   AGE
http-svc-front-ingress   *                 80      3m34s

**To Reproduce**
Steps to reproduce the behavior:
Create minimal ingress:
ap

[2019-08-01 15:34] terrificsoysauce commented on #437
@asridharan I believe the error code for CORS is 401. You are right that CORS is enforced at the client browser. The URL/Header Re-write capabilities already exist in application gateway and I think we can configure the application gateway using the rewrite to address CORS.

However, when using the application gateway kubernetes ingress controller, any manual config made directly to the applicatio

[2019-08-01 17:17] delqn commented on #372
@kwaazaar Yes - the [fix](https://github.com/Azure/application-gateway-kubernetes-ingress/pull/393/files) is in 0.8.0-rc1
I see the issue here was closed automatically when we merged the PR.
Typically when we get a non Release Candidate version out (which means we have tested it extensively with large and complex AKS configurations) we go back to the GitHub issues this release fixes and post updat

[2019-08-01 17:20] delqn commented on #372
@littlenetcoder Would you be so kind to upgrade to `0.8.0-rc1` and update us on whether the big is fixed for you too?
Upgrade instructions are [here](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/879608e63f4b0d59914cfca66033d877d13ff0dc/docs/how-tos/helm-upgrade.md#L22).

[2019-08-01 18:20] akshaysngupta commented on #452
@lemaral this is happening because we are not populating the ingress status with ip address.
This is the PR that is addressing this. It should be out in the next release.
https://github.com/Azure/application-gateway-kubernetes-ingress/pull/335

[2019-08-01 21:04] akshaysngupta commented on #420
For supporting `kubenet`, Appgw v2 is working on allowing routing table on associated subnet. I don't have an ETA yet.
We don't recommend using Appgw v1 SKU with AGIC. It may work but all new features are targeted for v2 SKU as well as update/creation time is way lower.

[2019-08-02 06:41] yasikmondal opened #457 "Automation of "Setting up Application Gateway Ingress Controller on AKS""
Hi Team,

I am trying to do automation and have deployed application gateway as a ingress controller using ARM template. Now Application gateway , AKS and managed identity is creating properly but how to do this steps which are mention in "[Setting up Application Gateway Ingress Controller on AKS](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-new.md

[2019-08-05 15:54] abenck opened #458 "Wildcard in base path not working without trailing slash"
**Describe the bug**
Configuring a path with /sample/* changed in behavior:
example.com/sample/  <- works
example.com/sample  <- Doesn't work

The past few months everything worked fine without the trailing slash and we configured all our redirects to omit the trailing slash. We've been adding applications in production over the past few months and never experienced this problem before. The Azure

[2019-08-06 11:07] landro opened #462 "Support rewriting HTTP headers"
We'd like to be be able to define HTTP header rewrite rules (ref https://docs.microsoft.com/en-us/azure/application-gateway/rewrite-http-headers) using Kubernetes objects, either as Ingress annotations or as CRD.

A typical use case is the need to set certain security heades like for instance Strict-Transport-Security, Server, X-Content-Type-Options, X-Frame-Options, X-XSS-Protection. The link abo

[2019-08-06 12:57] knoxi opened #463 "DistrubutedSession error: Operation cancelled by user"
When I run my web app within an AKS with application gateway ingress controller, I'm getting an error in DistributedSession. When I run the web app within an AKS with nginx ingress controller, there is no such error in the logs.

In our service we are using Distributed SQL Server Cache and there the entry in the cache table is missing because of this exception. We use the same sql server connectio

[2019-08-06 18:08] akshaysngupta commented on #463
To be sure, Are you running an SQL cache behind AppGW. This exception happens when the web frontend makes a request to the SQL cache through AppGW ?

[2019-08-06 18:12] akshaysngupta commented on #462
Thanks for suggesting! This is definitely on our road map but we are yet to assign an ETA.

[2019-08-06 18:36] akshaysngupta commented on #457
Thanks for asking. Investigating.

[2019-08-07 07:18] knoxi commented on #463
The ASP.Net Core service has enabled distributed cache service with SQL server. The distributed cache is used to store session data for multiple instances of our service. We are not using SQL cache.

[2019-08-07 08:06] landro commented on #462
Thanks for commenting on this, @akshaysngupta ! I realise you don't have an ETA yet, but what would be your best guess? Are we talking Q4 2019 or Q1 2020? I'm asking, because we're planning several major migrations to AKS in the coming months, and it would be kinda nice to know how much effort we should put in a workaround.

[2019-08-07 10:20] yamansama commented on #159
Hi, any news on this feature ?

[2019-08-07 13:52] landro commented on #462
Probably makes sense to have a look at how the standard nginx ingress controller does this kind of thing (ConfigMap config): https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/

[2019-08-07 15:41] asridharan commented on #462
@landro instead of going the `ConfigMap` route we are probably going to define a CRD to have more strongly typed configurations.

As @akshaysngupta mentioned while this feature is on our road-map we probably won't get till Q4'19.

[2019-08-07 17:07] akshaysngupta commented on #458
Investigating.

[2019-08-07 19:48] ddevaal commented on #458
We have this exact same problem but with version 0.7.1.

[2019-08-07 20:59] abenck commented on #458
This sounds like it could be the Application Gateway, was there a recent update for that?

[2019-08-09 01:30] terrificsoysauce opened #468 "Quick Question: is application gateway kubernetes ingress controller production-ready?"

[2019-08-09 05:39] littlenetcoder opened #469 "Installation from stable Helm chart repository"
Hi Team,

Any feature plan to support installation from stable helm chart repository?

Thanks

[2019-08-09 16:17] simhams commented on #372
I am trying out a scenario which includes the following,
1. [Restrict and control cluster egress traffic (preview)](https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic)
2. AAD integrated AKS
3. App Gateway ingress controller

AKS subnet is associated to a route table which routes "0.0.0.0/0" to Azure Firewall private ip.

Azure firewall is configured with both required and optional add

[2019-08-09 17:23] akshaysngupta commented on #468
We are targeting August end for a stable release.

[2019-08-09 19:35] terrificsoysauce commented on #468
Thanks you for the update. Looking forward to this stable production-ready release at August end.

[2019-08-12 08:07] pallxk opened #470 "Auto generated health probes do not work with kubernetes sidecar pattern"
**Describe the bug**
Auto generated health probes do not work with kubernetes sidecar pattern.

Assuming we have a container exposing some service at some port, and does not have a health check endpoint. Thus we spin up another companion container, implementing custom logic, and provide a health check endpoint at another port. Since the health check port is for internal use, we do not expose it th

[2019-08-12 08:25] pallxk commented on #470
By the way, is it that unhealthy or not ready pods get automatically removed from service endpoint, thus get auto removed from Application Gateway backend pools, so we might not need to configure health probes on Application Gateway anyway?

[2019-08-12 09:29] ingenfakir opened #472 "Auto generated health probes does not match yaml livenessProbe port specification"
**Describe the bug**
We are exposing our health probes from our services on a different port than what our rest interfaces are exposed on.
We have defined the livenessProbe specifying one of the exposed ports to be used.
When I deploy my k8s template with the azure application gateway ingress it creates one health probe for each exposed port in the service even though I've explicitly set the port

[2019-08-12 17:57] #468 closed

[2019-08-12 17:59] terrificsoysauce commented on #472
My experience has been that the controller takes what's in the readiness probe.

[2019-08-12 19:55] #452 closed

[2019-08-13 16:55] akshaysngupta commented on #472
@ingenfakir AppGW doesn't support custom port on probe yet. This is due by Q4.

[2019-08-14 05:57] ingenfakir commented on #472
@akshaysngupta This is not clear in the documentation.
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/features/probes.md

    1. readinessProbe and livenessProbe are supported when configured with httpGet.
    2. Probing on a port other than the one exposed on the pod is currently not supported.
    3. HttpHeaders, InitialDelaySeconds, SuccessThreshold are not sup

[2019-08-15 01:50] robertprather commented on #426
This small bug is a frustrating blocker for us, any comments from the team @akshaysngupta ?
Will you review a PR for it as I'd be keen to see this in...

[2019-08-15 18:21] akshaysngupta commented on #469
@littlenetcoder Do you mean that we place out charts in https://github.com/helm/charts/tree/master/stable ?

[2019-08-15 18:28] akshaysngupta commented on #463
@knoxi Can you explain what's on AKS and what traffic is flowing though Application gateway ?
Are those persistent connections, what's the life cycle of those connections ? What are the components of the system and how do they interact with each other? Also, are there any timeout restrictions ?

[2019-08-15 18:45] delqn commented on #442
@vishnujanardhanan I'm closing this issue since we have not heard from you - assuming you no longer have this problem.  But I'd love to learn more about the issue you ran into.  Could you provide sanitized logs or other hints on how to reproduce this?

[2019-08-15 18:45] #442 closed

[2019-08-16 02:22] vishnujanardhanan commented on #442
@delqn I haven't seen this issue yet. I'll reopen the case with sufficient logs and steps when I see a re-occurrence.

[2019-08-19 07:21] ddevaal commented on #458
@akshaysngupta Any updates on this issue?

[2019-08-19 18:31] akshaysngupta commented on #458
@ddevaal @abenck Yes, this is a behavior change on Application Gateway. Customer notifications have been sent for this. The current/old behavior for a domain name without trailing / (for example contoso.com) was to send a redirect to one with trailing dash (for example contoso.com/). This is being changed to not sending a redirect. You will have to modify your path rules so that path rule without

[2019-08-20 14:06] krottiers commented on #426
@akshaysngupta I have a customer facing the same issue. Is there a timeline on a fix?

[2019-08-21 18:20] #458 closed

[2019-08-21 18:39] akshaysngupta commented on #420
Duplicate https://github.com/Azure/application-gateway-kubernetes-ingress/issues/399

[2019-08-21 18:39] #420 closed

[2019-08-21 18:42] akshaysngupta commented on #420
Until we are ready to ship UDR support with AppGw v2, You can choose to run your cluster with [Azure CNI](https://github.com/Azure/azure-container-networking/blob/master/docs/cni.md#install) and enable advanced networking.

[2019-08-21 18:43] akshaysngupta commented on #363
@hrcerqueira Is it still happening ?

[2019-08-21 18:44] akshaysngupta commented on #359
Here is the release 0.8.0 supporting the private ip annotation.
https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.8.0
Closing this issue.

[2019-08-21 18:45] #359 closed

[2019-08-21 18:53] delqn commented on #127
@dan-jackson-github I believe we have root cause for this issue, which as @asridharan said is most likely a delay in the AAD Pod Identity module.  We did indeed find a bug in the [retry mechanism](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/dfce74a2549f91fd911273ecf8abd64249bd63d7/cmd/appgw-ingress/main.go#L204-L242) and fixed it.

The latest version of AGIC is 0.8.0.  Ple

[2019-08-21 18:53] #127 closed

[2019-08-21 19:52] #79 closed

[2019-08-21 20:07] akshaysngupta commented on #107
@askew I deployed the above manifest with the release 0.8.0 and it is working as expected.
![image](https://user-images.githubusercontent.com/5294363/63464571-5ec6fd00-c414-11e9-828e-6f8e79b10f87.png)

You can update your ingress controller deployment using these [instructions](https://azure.github.io/application-gateway-kubernetes-ingress/how-tos/helm-upgrade/).
Please re-open the issue in case y

[2019-08-21 20:07] #107 closed

[2019-08-21 20:09] akshaysngupta commented on #223
This feature has been released as part of https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.8.0

Please let us know if you have any issues.

[2019-08-21 20:09] #223 closed

[2019-08-21 20:10] #187 closed

[2019-08-22 09:01] jkljajic opened #483 "Update Health probes matching conditions"
We using httpd (apache 2.4) pods in development with enabled BasicAuth but default status code are setups to 200.399 and on basic auth code is 401 and show unhealthy and the page does not work.
If we change status code range from default to 200-403 all start working.

Mine question is, it is possible to set up matching conditions with some annotations or some other way that we do not need every ti

[2019-08-22 17:29] delqn commented on #483
Zdravo @jkljajic

It looks like you are health checking an endpoint, which requires authentication.  Then your workaround is to allow for a 401 (error) to be accepted as an indication of a healthy backend. Is my understanding correct?

We don't currently have a way to define a range of status codes accepted. Obviously App Gateway has that config,  I don't see a way to define status code range in t

[2019-08-22 17:29] #483 closed

[2019-08-22 17:58] jkljajic commented on #483
Hi thanks for your swift response and you help a lot, those are all good solutions and I will take one of them for mine issue, only issue I can see is that in any case if some pod is down for some reason and /healtz return 200 clients will also see that problematic page or that pod. It would be nice that we have some option in Ingress that manage and setup that nice feature for matching condition

[2019-08-24 16:41] cubed-it opened #490 "Path not removed & ssl redirect for default backend"
I have set up aks etc according to the tutorial. I also have rbac active and shared to true. Version 0.8.0.

[1] I did the whole thing twice and on the second run I created the following problem: On the second run I directly specified a path, as it is called "Integrate with other services" - see below.
Now the ssl redirect only works for the path but not for the default backend.

[2] If I remove t

[2019-08-26 10:14] MarkDNL commented on #169
@draychev @akshaysngupta We have some issues in successfully implementing our websocket enabled application via AGIC and the AppGW. The websocket connection drops after 30 seconds, which is the default http timeout. When changing the timeout vault, the ws connection drops at the selected value. We submitted a ticket at Azure support, but their suggestion was the following:

But the documentation s

[2019-08-27 11:06] akshaysngupta commented on #490
@cubed-it
1. I was able to reproduce this. This is bug that we fixed in https://github.com/Azure/application-gateway-kubernetes-ingress/pull/422. We aim to release this soon
1. I wasn't able to reproduce this.

[2019-08-28 08:25] knoxi commented on #463
@akshaysngupta We are running multiple instances of our ASP.Net Core service API in AKS. The SQL database is an Azure SQL DB. The whole Api requests are going though the AppGW, and I think the SQL connection as well. The service connections aren't persistent. All timeout values aren't changed from it's default values. There are no other service affected/involved except the SQL DB.

[2019-08-28 08:49] MarkDNL opened #491 "Websocket connections drops at http timeout value"
We have some issues in successfully implementing our websocket enabled application via AGIC and the AppGW. The websocket connection drops after 30 seconds, which is the default http timeout. When changing the timeout vault, the ws connection drops at the selected value. We submitted a ticket at Azure support, but their suggestion was the following:

But the [documentation](https://github.com/Micro

[2019-08-29 01:30] arpitjain099 commented on #363
It's still happening for me.

[2019-08-29 03:44] akshaysngupta commented on #490
@cubed-it We just released 0.9.0-rc1.
https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.9.0-rc1
Please give this a shot.

[2019-08-29 07:38] MarkDNL commented on #491
I noticed in [issue 284](https://github.com/Azure/application-gateway-kubernetes-ingress/issues/284) that backend HTTPS is not supported yet, which explains the error we've encountered.

[2019-08-29 08:28] littlenetcoder commented on #469
Yes @akshaysngupta

[2019-09-01 14:43] Yiyito11 opened #504 "More than one ingress controller for namespace"
I know that application-gateway-kubernetes-ingress is now enabled for multiple namspaces. Thing is that apart from this ingress controller , we  also have an applicacion gateway that points to the AKS cluster, and some times new deployments are not showing up after they are created or they have some delay in refreshing. We have ### **namespace** dev, qa and stg. SO I think traffic through 1 app ga

[2019-09-03 08:18] DreamRivulet commented on #159
Any update on this ? Could we customize listener port ?

[2019-09-03 10:20] Apholisha opened #505 "unable to get service from store, no such service kube-system/kube-controller-manager and kube-scheduler"
Hello,
I've been working on this setup and something odd is happening.

After a brand new deployment of a cluster and AG, the pod logs are made out of the following entry being generated every 2-3 minutes:
I0903 07:14:20.068704       1 context.go:283] unable to get service from store, no such service kube-system/kube-scheduler
I0903 07:14:21.365667       1 context.go:283] unable to get service fro

[2019-09-03 10:50] ChristophRichner commented on #505
We face exactly the same issue!

[2019-09-03 10:52] ChrisRichner commented on #505
We are facing exactly the same issue.

[2019-09-03 15:08] wallenc opened #506 "Does this support AKS instances in Azure Government?"
I'm trying to deploy this in Azure Government US using the brownfield deployment and am receiving an error that my subscription could not be found. See below for details.

To reproduce the error:

**Deploy the Ingress Controller using the following command:**

helm install application-gateway-kubernetes-ingress/ingress-azure --name ingress-azure      --namespace default --debug --set appgw.name=AK

[2019-09-03 20:59] SteveCurran opened #508 "Is there an ARM Greenfield deployment that supports Windows containers with node pools?"
Seems that the ARM template being used for greenfield deployment does not support AKS node pools required for Windows containers.

[2019-09-03 23:58] delqn commented on #505
Hi @Apholisha, @ChrisRichner @MartinDoerig

Even though these log lines are innocuous, they do create a lot of noise.
Here is a PR that will alleviate this issue: https://github.com/Azure/application-gateway-kubernetes-ingress/pull/509
The PR proposes a short-term fix.  I'd like to find a better way to surface similar per-event errors, but with adjustable frequency.

What version of AGIC are you u

[2019-09-04 07:18] Apholisha commented on #505
Hi @delqn,
I followed the instructions in the guide and used the
`helm repo add application-gateway-kubernetes-ingress https://appgwingress.blob.core.windows.net/ingress-azure-helm-package/`

I'm not sure if I'm reading this right but wouldn't the entry be ignored if the pod creating the entry is a kube-system?  So if it's a default namespace pod complaining about no being able to reach a system o

[2019-09-04 09:34] DeanPH opened #510 "Error while parsing cluster resource ID for tagging"
**Describe the bug**
I've come across the following error in the log file of the Ingress Controller when verbose logging is enabled (level 5). It happens when the Ingress Controller is reconfiguring the Application Gateway.

**To Reproduce**
Deploy AGIC 0.9.0-rc1 and deploy any app that forces AGIC to reconfigure Application Gateway.

**Error Message**
```[prod1-smapps-ingress-azure-694b9fc6c9-pjk

[2019-09-04 15:54] DeanPH opened #511 "Issue using both public and private listener"
**Describe the bug**
Something has changed in the latest version of the AGIC (v0.9.0-rc1) in terms of using both public/private listeners at the same time. v0.8.0 works fine. When you have both public and private listener ingresses setup, the AGIC fails to configure the Application Gateway.

**To Reproduce**
Deploy latest AGIC 0.9.0-rc1
Deploy this sample-app.yaml

[code]

**Ingress Controller det

[2019-09-04 19:11] ChristophRichner opened #512 "Question / Sample Request -> nginx.ingress.kubernetes.io/configuration-snippet"
In our nginx  based setup we used the following rewrite rules for our vue-js Single Page Applications (SPA).

[code]

Could you please show me how to do the same thing in an azure ingress based setup?

Thanks

[2019-09-04 19:12] ChrisRichner opened #513 "Question / Sample Request -> nginx.ingress.kubernetes.io/configuration-snippet"
In our nginx  based setup we used the following rewrite rules for our vue-js Single Page Applications (SPA).

[code]

Could you please show me how to do the same thing in an azure ingress based setup?

Thanks

[2019-09-05 20:52] SteveCurran opened #524 "Ingress controller creates backend pool based on pod IP not the service IP."
**Describe the bug**
When I create the following ingress, service and deployment, the ingress controller creates a backend pool for the application gateway using the ip address of the pod and not the ip address of the service. The pod ip is not accessible, whereas the internal load balancer ip for the service is. So I have to manually go in and change the ip address on the backend pool. Logs show

[2019-09-10 18:17] delqn commented on #524
Hi @SteveCurran,

A few questions to understand the problem:
 - Is the App Gateway on the same Virtual Network as AKS
    - You can see what virtual network your App Gateway is from [Azure Portal](https://portal.azure.com/) -- `Application Gateway` -- `Overview` -- `Virtual network/subnet`
    - See what vnet AKS is in -- find one of the `aks-agentpool-...` Virtual Machines that back your AKS and

[2019-09-10 19:42] SteveCurran commented on #524
@delqn thanks for the response. I used the greenfield ARM template in the examples but made changes  to enable vm scale sets to support node pools. I checked the configuration and the app gateway and aks cluster are in the same vnet and two different subnets which is expected. Advanced networking Azure CNI is enabled. Unfortunately, when the gateway health probe tries to connect directly to the po

[2019-09-10 21:54] #511 closed

[2019-09-11 15:22] Baklap4 opened #528 "Improve speed port lookup in backendhttpsettings"
**Describe the bug**
Currently we have 34 ingresses and services defined with each ingress having 2 hosts and 2 path routes.
When we change or add a route to the config it takes over 2 minutes to get the new route live.
We've noticed lots of the same info logs (`I0911 14:12:10.048335       1 backendhttpsettings.go:159] resolving port name stats`) giving us an idea there are [way too many **nested*

[2019-09-11 17:29] delqn commented on #528
@Baklap4 This is great feedback!
I'm going to take a look at that ASAP.
You pointed me to a function within our experimental Istio controller. Are you actually using this Ingress Controller within an Istio installation?
If not - the relevant code that emits this message is here: https://github.com/Azure/application-gateway-kubernetes-ingress/blob/0.8.0/pkg/appgw/backendhttpsettings.go#L159

Would

[2019-09-11 17:39] delqn commented on #511
@DeanPH We merged a few changes, which we believe addresses the issue you describe here.
We are going to release v 0.9.0-rc2, which will contain these fixes.
The issue here is closed since we referenced it in https://github.com/Azure/application-gateway-kubernetes-ingress/pull/525
I'll update the issue here once v0.9.0-rc2 is out so you can test and give us feedback if possible!

[2019-09-12 01:14] delqn commented on #528
Hi @Baklap4
I tested a scenario similar to what you are describing. As you pointed out with version 0.8.0 creating App Gwy config is indeed slower than it could be.
We just released version [0.9.0-rc2](https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.9.0-rc2) - this utilizes memoization on functions that are often used and so I noticed significant improvement in time

[2019-09-12 01:45] delqn commented on #513
@ChrisRichner we don't yet support URL rewrites.

It looks like you want Nginx to append a trailing slash to the dashboard URLs?

What about a workaround - couldn't you add both of these URLs to the Kubernetes Ingress resource and then also tweak the backend HTTP handlers?

[code]

[2019-09-12 02:00] delqn commented on #510
@DeanPH Sorry if the error seems alarming.  It is not.  The error is emitted here: https://github.com/Azure/application-gateway-kubernetes-ingress/blob/9cfd48f80dc3d47bf7211f7449d58b1619911bd9/pkg/azure/azure.go#L45

This is a function which _attempts_ to add a User Tag to the App Gateway in question here. The user tag would have contained the Azure ID of the AKS it is associated with.

The resour

[2019-09-12 02:09] delqn commented on #506
@wallenc I suspect that the issue you are running into is related to AAD Pod Identity.
Have you followed the instructions here: https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-existing.md#set-up-aad-pod-identity

AAD Pod Identity gives the Ingress Controller permission to mutate App Gateway configuration.

I also would encourage you to try the latest

[2019-09-12 02:15] delqn commented on #508
@SteveCurran You are indeed right. The deployment template is a quick way to spin-up an environment in which one could try the Ingress Controller.  Were you able to modify it to suite your needs? Would you be able to update the repo with your changes?

Were you able to manually create an AKS cluster supporting Windows containers and install the Ingress Controller in it?

[2019-09-12 02:18] delqn commented on #505
Hi @Apholisha, @ChrisRichner @MartinDoerig  we released version [0.9.0-rc2](https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.9.0-rc2)

One of the improvements in this release is lowering the log noise (as well as ignoring events from `kube-system`)

Would you be so kind to upgrade to 0.9.0-rc2 and give ups feedback? Instructions on how to upgrade using `helm` are here

[2019-09-12 02:56] delqn commented on #504
@Yiyito11 Which version of the Ingress Controller are you using for the multiple namespaces?

With the latest version [0.9.0-rc2](https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.9.0-rc2) (released just today) we solved quite a few performance issues. You should be able to use a single App Gateway and a single Ingress Controller for your entire AKS cluster.

Would you

[2019-09-12 02:59] delqn commented on #490
@cubed-it Have you had a chance to try the latest version?  Today we released [0.9.0-rc2](https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.9.0-rc2) - please let us know if an upgrade solved the issue.

I'm closing the issue, but would love to hear from you!

[2019-09-12 02:59] #490 closed

[2019-09-12 03:04] delqn commented on #463
@knoxi It is difficult to troubleshoot this issue with limited information / logs.

My suspicion is that the SQL query executed takes longer than the default App Gateway timeout.
To test this idea - you could use [the annotation mentioned here](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/9bed6a450e0bf05467aabcd0eb187b545197ec80/docs/annotations.md#request-timeout) to incre

[2019-09-12 03:10] delqn commented on #469
Hi @littlenetcoder,

This is a great idea - we looked into it.  A dependency of ours is AAD Pod Identity. The PR to add that to the stable Helm repo is here: https://github.com/helm/charts/pull/15306
It turns out it is not trivial to do that. The chart for that Helm package was created here: https://github.com/Azure/aad-pod-identity/pull/373 -- not in Helm Stable though.
So with that - I am going

[2019-09-12 03:10] #469 closed

[2019-09-12 10:44] radekba opened #531 "Build is failing"
**Describe the bug**
I'm unable to build the latest version

[code]

[2019-09-12 11:03] radekba opened #532 "Only 502 responses for a few minutes after backend pod is changed."
**Describe the bug**
I'm not sure where the problem is but always after any change in backend ip address I have to wait at least 5 minutes to service become accessible. In that 5 minutes I see only 502 responses.

**To Reproduce**
Steps to reproduce the behavior:

**Ingress Controller details**
[code]
* Output of `kubectl logs <ingress controller>.
* Any Azure support tickets associated with this

[2019-09-12 19:07] #531 closed, assigned to nobody

[2019-09-13 07:28] DeanPH commented on #510
@delqn Thanks for the additional info. No it doesn't affect configuration of the AppGW just get worried when seeing "Error" as a message.

Looking at the snippet of code you posted it looks like my first guess may have be correct.

`	split := strings.Split(string(resourceGroup), "_")
	if len(split) != 4 || split[0] != "MC" {
		logLine := fmt.Sprintf("infrastructure resource group name: %s is expec

[2019-09-13 07:32] DeanPH commented on #511
Thank you @delqn . Release v0.9.0-rc2 works great! It resolved another ingress issue to do with listeners and routing rules that I hadn't logged yet.

I've done a bit of testing so far and things are looking good with this release 👍

[2019-09-13 09:36] Baklap4 commented on #528
Heey @delqn
We've tried out v0.9.0-rc2 and it's indeed way faster and a lot less cpu usage. We were hovering around 40-50% cpu usage and are currently with everything deployed around 0-3%.

However due to upgrading to v0.9.0-rc2 we had to update our tls configuration. We have multiple namespaces and defined one tls config in `namespaceA` while ingress in `namespaceB` was also using this tls config

[2019-09-13 11:04] Baklap4 commented on #532
probably linked to #528

[2019-09-13 11:33] Baklap4 opened #534 "Redirect ingress pathbased route to external site"
**Is your feature request related to a problem? Please describe.**
Is it possible to create a redirection rule to an external website?
For example you have an ingress controller with host: test.domain.com and a path based rule `/kibana` i'd love to redirect this to the cloud environment of elastic search, which has some weird url like `https://51584e5daa8d66s.eu-central-1.aws.cloud.es.io:9243`

**

[2019-09-13 23:06] delqn commented on #524
@SteveCurran  So it seems that there is connectivity between App Gateway and the pods.
And just to confirm - here is what I'd expect to see as far as IPs:

[code]
[code]

The Pod that I deployed `websocket-deployment-5cbc7b7c5b-6lk2w` (`10.240.0.17`) is on the same subnet as the actual Nodes (`aks-agentpool-13682822-vmss000000` --> `10.240.0.4`)

I hope you see something similar in your setup.
Do

[2019-09-15 16:38] WolterKamphuis opened #535 "Backend health always unhealthy on windows nodes"
**Describe the bug**
For a client 'm testing a hybrid Linux/Windows AKS cluster with the AGIC. It works fine for Linux containers but I can't seem to get Windows containers online with the AGW.

I'm using AGIC 0.9.0-rc2 with AKS 1.15.3. I've modified the example ARM deploy to include a Windows nodepool.

I've created a test setup with two identical containers, one Linux and one Windows container.

[2019-09-15 18:46] rajarshi-singh commented on #116
I am having the same issue on Win containers within Azure Kubernetes Service.

[2019-09-16 09:33] radekba commented on #532
Thanks! I was trying to upgrade to 0.9.0-rc2 but it looks like I have to upgrade my Application Gateway to V2 first.
I think it's a combination of both issues you mentioned. Sometimes the change in pods is being reflected quicker than 5 minutes in App Gateway change. I have to check backend health, it might be a problem here. Can you recommend what is the best value for periodSeconds, timeoutSecon

[2019-09-16 09:41] Baklap4 commented on #532
The best values are dependant on your program: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#configure-probes

[2019-09-16 09:50] radekba commented on #531
Hi @delqn it's better now but still failing. govet this time

[code]
I've just started to use this project, be prepared for some PRs in the future ;)

[2019-09-16 10:01] radekba commented on #532
Yeah, I know general rules. But any recommendations when integrating with Application Gateway?

Thanks

[2019-09-16 10:36] Baklap4 commented on #532
Application gateway reads these values and uses them to test out your probes.
If your application takes long to start and isn't able to serve traffic yet, i'd suggest to set a higher initialDelaySeconds.
As for the `periodSeconds` i'd leave them be (at 10 seconds) unless the whole ready/live-check takes longer than 10 seconds.
The application gateway will timeout after 1 second by default so your

[2019-09-16 10:43] Baklap4 commented on #427
@delqn Any idea how we can easily achieve this? Basic authentication shouldn't be a showstopper to use the application gateway imho..

[2019-09-17 23:30] #510 closed

[2019-09-18 00:31] delqn commented on #510
@DeanPH - this is fixed on master!  Thank you so much for digging into the code! We'll cut a new release and let you know so you can deploy!

Thanks for reporting this!

[2019-09-18 07:32] WolterKamphuis commented on #535
Is there anybody who's using the AGIC successfully with Windows nodes ? If so what version of AKS and the AGIC are you using ?

[2019-09-18 18:21] akshaysngupta commented on #535
Thanks for reporting! We are going to try reproduce this.

[2019-09-18 18:28] delqn commented on #534
@Baklap4 even though App Gateway supports redirect to an external URL - we don't have an annotation for the ingress controller to do that.
That'd be a great feature to add.  I'm going to tag the issue, but not sure how long it'd take us to get to this. Would you be able to take a stab at adding the annotation to this repo?

[2019-09-18 18:35] delqn commented on #532
@radekba It sounds like you are using App Gateway V1? When we are building the Ingress Controller we target specifically V2 and don't support V1, although as you can see App Gwy works for the most port.

I encourage you to upgrade to App Gateway V2!

It takes much longer to apply updates to App Gateway V1.  Most likely most of the slow update issues are going to disappear once you upgrade to App G

[2019-09-18 18:48] delqn commented on #505
@ChrisRichner @MartinDoerig  @brent-robinson  -- based on @Apholisha's report that v0.9.0-rc2 solves the log noise - I'm going to close this issue.

[2019-09-18 18:48] #505 closed

[2019-09-18 18:52] delqn commented on #491
@MarkDNS Could you elaborate on the Keep-Alive ping solution?  I understand that the WebSocket protocol itself sends ping/pong frames.  Is that what you are enabling?

[2019-09-19 06:54] radekba commented on #532
@delqn @Baklap4 Thank you for your help! With V2 system is significantly faster. Changes are applied after few seconds and not minutes. After upgrade AGIC to v0.9.0-rc2 additional small improvement in time is visible.

Thanks
radekba

[2019-09-19 06:54] #532 closed

[2019-09-20 18:12] vavane-ms commented on #535
Are there any news on this?

[2019-09-23 13:29] Uriil opened #540 "Documentation issue for HTTP->HTTPS redirect"
**Describe the bug**
In the [tutorial](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/tutorial.md#expose-services-over-https) there is statement:

And provided Ingress sample is:

    apiVersion: extensions/v1beta1
    kind: Ingress
    metadata:
      name: guestbook
      annotations:
        kubernetes.io/ingress.class: azure/application-gateway
    spec:

[2019-09-23 18:25] akshaysngupta commented on #535
@WolterKamphuis @vavane-ms Thanks for the patience.
I was also able to reproduce this. Moreover, I confirmed that AppGW is failing to create a TCP connection to Pod on the Windows VM. I am working with the AKS team and will be back with updates soon.

[2019-09-25 11:08] robertprather opened #544 "Health probe port setting causes validation failure deploying to gateway"
**Describe the bug**
Deployment to application gateway v1 WAF SKU fails validation when health probe.port is always set after upgrading to AGIC 0.9.0-rc2.

**To Reproduce**
Steps to reproduce the behavior:
- Upgrade to AGIC 0.9.0-rc2
- Configure AGIC for 'WAF' sku (v1 application gateway)
- Initiate k8s deployment using readinessProbe as described in probes documentation
- The same k8s deployment

[2019-09-26 04:57] Tzrlk opened #554 "Provide default path redirect, or custom response functionality"
**Is your feature request related to a problem? Please describe.**
While the various paths can be configured to route traffic to kubernetes pods, there appears to be no way to redirect paths that don't match those configured to another path. e.g. the [nginx ingress controller](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#rewrite) has a `nginx.ingress.kuber

[2019-09-26 09:55] zffocussss commented on #512
@ChristophRichner  can nginx.ingress.kubernetes.io/configuration-snippet work in application-gateway-kubernetes-ingress controller?

[2019-09-26 21:30] abenck opened #560 "watchNamespace only processes one namespace when multiple are specified"
**Describe the bug**
Deploying an AGIC to watch multiple namespaces only processes one namespace. Testing each namespace independently does work.

**To Reproduce**
Create WAF V2 Application Gateway with 2 replicas
Configure aaPodIdentity with Reader and Contributor roles in IAM for AG
Create an AGIC with aaPodIdentity, rbac enabled: true, and watchNamespace: test1,test2

**Ingress Controller detai

[2019-09-27 08:25] janhelge opened #565 "AGIC should support more than one TLS-cert for multi clusters/namespaces environments"
We have a setup with two AKS-clusters, one supporting a domain-name (e.g *.test-domain.tld) and the other supporting a different domain-name (e.g *.prod-domain.tld). We are able to achieve correct http-routing between those AKS-clusters, but the Application Gateway is using the same TLS-certificate for both clusters (for both *.test-domain.tld and *.prod-domain.tld) As a result, only one of the AK

[2019-09-27 10:03] DeanPH opened #566 "Missing "nodes" as a resource from AGIC RBAC ClusterRole"
**Describe the bug**
Error in the log file for the AGIC about not being able to parse the cluster resource ID for tagging because it cannot list "nodes" resources.

**To Reproduce**
Enable RBAC, deploy AGIC 0.9.0 with log level 5, watch when it reconfigures AppGW.

**Ingress Controller Logs**
[code]

**File with the issue**
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/maste

[2019-09-27 17:54] #566 closed

[2019-09-27 23:35] draychev commented on #565
@janhelge Thanks for reporting this issue.

Which version of AGIC are you using?

Is this a setup where 2 AGIC installations use the same App Gateway?

[2019-09-28 07:55] janhelge commented on #565
@draychev  - Yes. We are using two separate AGIC (from two different AKS-clusters). The setup I described was using ingress-azure-0.8.0.

On this web page ...
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/features/multiple-namespaces.md , in the paragraph "Conflicting Configurations" It says ...

Our experience was that the first AGIC instance was able to install

[2019-09-28 10:39] janhelge commented on #565
In order to try to reproduce on latest release (e.g. ingress-azure-0.9.0) I have reinstalled AGIC on the "prod-AKS-cluster".  But it seems that the 0.9.0-version is having an additional issue...
The AGIG-pod is getting errors, core-dumps. The AGIC pod is stable as long thereis no ingress, but starts to core-dump when I apply the ingress-yaml.

Here is the failing log from the AGIC-pod...
[code]

H

[2019-09-29 19:55] tesharp opened #571 "LetsEncrypt not working in 0.9"
**Describe the bug**
Aftre upgrading to 0.9 it is not able to update the AppGw correctly when redirect is enabled. Tested with downgrading to 0.8 and it works. In 0.9 it gets an error:

`cannot specify DefaultBackendAddressPool when RedirectConfiguration is specified`

**To Reproduce**
Create an ingress with annotations

[code]
Use a hostname not used before (so no certificate exists). When cert-m

[2019-09-30 17:06] looping-18 commented on #571
Same issue here :

[2019-10-01 20:34] PatrickLang commented on #535
So the problem here is that the cni.conf is being created with two different outbound NAT exception rules for the same address but different suffix lengths. The second exception isn't applied.

From what I gather, these correspond to the POD CIDR range (10.0.0.0/16) for the cluster, and the VNET range (10.0.0.0/8). All of these are routable by the Azure VNET so no outbound NAT is required from the

[2019-10-02 02:26] rbinrais opened #580 "How to configure ingress backend"
**Describe the bug**
Following this [article](https://azure.github.io/application-gateway-kubernetes-ingress/setup/install-new/) I successfully setup AKS cluster with Applciation Gateway. I can sucessfully browse the public endpoint ```http://Public-IP``` and it lands me to the sample asp.net webapp home page.

Next, I have deployed [guestbook](https://azure.github.io/application-gateway-kubernete

[2019-10-03 02:09] draychev commented on #580
Hi @rbinrais,

Yes it is supported! You can create 2 separate ingress resources.

I suspect that the Backend health for the pods under `/guestbook/` might not be good:

This is what I see on an installation of the same Ingress and apps on my cluster:

![image](https://user-images.githubusercontent.com/49918230/66094002-3966fc00-e547-11e9-9237-6c90322c16fe.png)

To fix that - I used the [backend pr

[2019-10-03 02:24] draychev commented on #580
@rbinrais I do see that we may have an issue with the exact scenario you described - two Ingresses, one with `/` and the other with `/guestbook/`. That results in the `/` being forwarded to the incorrect backend pool:

![image](https://user-images.githubusercontent.com/49918230/66094566-45ec5400-e549-11e9-852d-f06d050348f4.png)

The wrong backend pool is being allocated as the default backend pool

[2019-10-04 08:13] Benjiiim commented on #97
@asridharan, would you mind to give an update regarding the time frame for GA? Thanks a lot.

[2019-10-04 15:07] rbinrais commented on #580
Let me try to apply these updates @draychev and see how it goes. Thanks!

[2019-10-05 03:40] draychev commented on #571
@tesharp, @looping-18 thank you for reporting this issue and thanks for your patience.
As you can see from the open PRs against this issue - we found the root of the bug, and are also adding tests to cover this particular scenario.

The bug is caused by the automatic creation of a second Ingress resource by cert manager for the ACME protocol.

We will make another release of the Ingress Controller

[2019-10-05 07:28] #571 closed

[2019-10-07 15:52] ahojman commented on #580
Hello all,

I'm having the same behaviour with an AKS holding 50+ Ingresses on the same namespace (which is not default).
AGIC automation is catching OK different paths and adjusting Bakend Pools and Rules; but failing to do so, when declaring simple `/` for the main Ingress path, which is serving my home page.

[2019-10-07 23:19] sblack4 opened #594 "docs rendering is wonky"
**Describe the bug**
The yaml in bash toward the bottom of this document was being rendered incorrectly on the docs site. I changed the style to be in line with [your websockets page](https://azure.github.io/application-gateway-kubernetes-ingress/how-tos/websockets/) which renders it correctly.

![image](https://user-images.githubusercontent.com/15880760/66355820-ab1fbb00-e936-11e9-82bf-631c3bd0c9

[2019-10-09 13:45] sblack4 commented on #594
It looks like my PR solved the indentation issue but not the `yaml` formatting issue:
![image](https://user-images.githubusercontent.com/15880760/66486938-841dd200-ea79-11e9-800d-752499f00ac0.png)

[2019-10-09 17:00] akshaysngupta commented on #594
There was a whitespace before the yaml code block tag.

[2019-10-09 22:51] tesharp opened #598 "Error regarding parsing cluster resource ID for tagging"
A sort of follow up on #510. Getting lots of error in the log saying

[code]

Having set a custom resource group for nodes this obviously wont work and does not have MC or mc, casing isn't the issue. Could the error at least be downgraded to a warning? I dont see this as an error if it is not something I can or should take action on.

[2019-10-10 01:08] CameronAM opened #602 "The spec for ClusterIssues has changed - documentation requires an update"
**Describe the bug**
As of cert-manager 0.8, the spec for ClusterIssuers has changed, the howto docs need to be updated to reflect that change.

Cert-manager have changed the [format of the ACME issuer spec](https://docs.cert-manager.io/en/latest/tasks/issuers/setup-acme/index.html), deprecating the `issuer.spec.acme.http01` and `issuer.spec.acme.dns01` resources, in favour of `issuer.spec.acme.so

[2019-10-10 03:19] jocortems opened #603 "AGIC for Brownfield Deployments not Working"
**Describe the bug**
Trying to use an existing AppGW with VMs as backend pool and HTTPS listeners for exposing AKS services on both HTTP and HTTPS does not work, no changes are applied to the AppGW. The documentation used for the configuration was followed from here:

https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-existing.md

From the Ingress Contro

[2019-10-10 12:11] rnarayana commented on #462
Hi, I also want to add the headers for security purposes. Is the workaround right now to add these at the backend services level?

[2019-10-10 12:19] landro commented on #462
That's what we do, @rnarayana . Generally speaking, you could either:

- add a "reverse proxy" sidecar (apache, ngingx, haproxy etc) and rewrite headers there
- rewrite headers in the application itself

[2019-10-11 15:51] jocortems commented on #603
I updated the image for the deployment created by the helm chart to 0.10.0-rc1 as suggested, the update was successful and the pod starts properly, however as soon as I deploy the ingress resource I am seeing the same error again. Cluster is running v1.13.10

jorge@Azure:~/aks-agic$ kubectl describe pod good-zebu-ingress-azure-66d8d7549c-4xglg
Name:           good-zebu-ingress-azure-66d8d7549c-4xg

[2019-10-11 17:12] aleksmark opened #604 "Health probes provisioning misbehave when same service has different health check probes across namespaces"
**Describe the bug**

I have installed the ingress controller in the default namespace. I also have namespaces: development, staging, and integration. Each namespace has `my-service` deployed and running. Each namespace has its own ingress.yaml which exposes the service for that namespace. The deployment file looks something like this. The file it is the same on all environment.

[code]

After ing

[2019-10-11 17:40] ALSHARIFcanbany commented on #534
[نسخة نسخة حولات وسترونن makkah  Riyadh@bank.comWestronAbdullah Saudi Arabia.pdf](https://github.com/Azure/application-gateway-kubernetes-ingress/files/3718912/makkah.Riyadh%40bank.comWestronAbdullah.Saudi.Arabia.pdf)

[2019-10-11 17:41] ALSHARIFcanbany commented on #534
ALSHARIFcanbany is my new job manager and my ALSHEHRIF is my name isABDULLAH NASSER HAMID ALSHARIF is a new from Saudi Arabia in Makkah in Jamom

[2019-10-14 12:30] nboeckmann opened #606 "Lifecycle issues with with pods not being ready/terminating"
**Describe the bug**
When using a "readinessProbe" in a pod the pod is immediately taken out of the "backend pool" of the application gateway as soon as the pod becomes "not ready". The same happens with terminating pods where there might be a "preStop" script that gracefully shuts down the pod and allows for connections to be closed.

I don't think that this is the right behavior as it takes away

[2019-10-14 15:28] draychev commented on #606
@nboeckmann thank you for the report.
Would you be so kind to provide relevant log lines from the Ingress Controller pod itself?  I suspect that the readiness probe is failing for a reason, which is recorded in the pod's logs.

Something like: `kubectl logs  illocutionary-ibex-ingress-azure-86484dccb-ckng4   >   agic.logs`  would be very helpful.
I'll take a stab at reproducing the problem an my s

[2019-10-14 15:54] nboeckmann commented on #606
@draychev thank you for getting back to me so fast.
I've attached the log file (although I don't think that it contains something helpful)

I'm intentionally making the readinessProbe fail at the moment to provoke the issue. My point is that I don't think that the pod ought to be taken out of the backend pool just due to kubernetes considering it to not be ready. The application gateway is able to

[2019-10-14 22:20] draychev commented on #580
@rbinrais @ahojman  with release [0.10.0-rc2](https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.10.0-rc2] we addressed the issue here.

Would love to get your feedback and find out whether this version fixes the bug for you.

Will keep the issue open until we hear from you.

[2019-10-15 07:39] kagkarlsson commented on #606
I am also expecting this to be the behavior of the ingress-controller (we use a pre-stop hook to fail the readiness-probe 15s prior to app shutdown to drain the backend).

Similarly, I was expecting new pods to be added as a backend to AppGw as soon as they are created (but not yet ready). Benfits would be:

* Less updates to appgw
* New pods will become available as a backend sooner
  * If the ap

[2019-10-15 08:32] landro commented on #606
I would be nice to see some kind of tutorial on how to configure the Ingress, Deployment and PodDisruptionBudget in order to prevent downtime during rollouts/rescheduling. Right now, it seems like there a chances small replica sets might give you 502s from the application gateway (or reduced capacity that doesn't reflect the intentions from the PodDisruptionBudget) .

[2019-10-17 00:45] draychev commented on #606
@landro I'm going to take a stab at a tutorial like the one you describe. I agree it would be good to have!

[2019-10-17 00:46] #598 closed

[2019-10-17 00:57] #594 closed

[2019-10-17 02:08] #606 closed

[2019-10-17 05:25] nboeckmann commented on #606
@akshaysngupta thank you for the very fast turnaround. Could you advise when you're planning the next release?

[2019-10-18 17:28] akshaysngupta commented on #603
This is partially fixed by https://github.com/Azure/application-gateway-kubernetes-ingress/pull/611

[2019-10-19 15:53] vishnujanardhanan opened #614 "Load balancing algorithm used by AGIC"
**Describe the bug**
May i know what is the Load balancing algorithm used by AGIC? Could not find much details from the docs.

**To Reproduce**
Steps to reproduce the behavior:

**Ingress Controller details**
* Output of `kubectl describe pod <ingress controller`> . The <ingress controller> pod name can be obtained by running `helm list`.
* Output of `kubectl logs <ingress controller>.
* Any Azure

[2019-10-19 18:50] hkamel opened #615 "Integration with DNS Zone"
**Is your feature request related to a problem? Please describe.**
Not a problem, it's an enhancement to be considered.

Ability to creates public/private accessible DNS names for application endpoints.

**Describe the solution you'd like**
Creation of DNS Zone in the Azure subscription and watches for Kubernetes Ingress resources and creates DNS A records in the cluster-specific DNS zone.

The co

[2019-10-20 16:15] aleksmark commented on #604
I am trying to build the controller locally and to investigate the issue I am facing. I am following this guide https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/developers/build.md but I when I start the app (./scripts/start.sh), I am getting the error

`panic: No Auth Provider found for name "azure"`

I am on macOS Mojave.

Can somebody help?

[2019-10-21 12:32] CrazyTuna commented on #103
Hi any news on that feature ?

[2019-10-22 01:36] draychev commented on #604
Hi @aleksmark - Could you provide more context around the panic on macOS (line numbers, what file it happen in)?  I just built the repo on Mojave (and submitted a few tiny fixes https://github.com/Azure/application-gateway-kubernetes-ingress/pull/618 and https://github.com/Azure/application-gateway-kubernetes-ingress/pull/617)

The panic you ran into seems related to configuration.  Do you have yo

[2019-10-24 00:35] aleksmark commented on #604
HI, @draychev , sorry I just saw this comment.

Yes, I have the `HOME/.azure/azureConfig.json` file filled in with correct config values.
I copied .env.example to .env and fill in with my config as well.

when I run ./scripts/start.sh, first, I got an error ```: command not found```. I have an issue with `source .env` from start.sh. I am not sure why. I have the source installed. To bypass this I

[2019-10-24 21:17] draychev commented on #614
Hi @vishnujanardhanan - the ingress controller currently relies on App Gateway for round-robin load distribution.  That's the only option at this time.

[2019-10-24 21:17] #614 closed

[2019-10-24 21:23] draychev commented on #604
Hi @aleksmark

Version `0.10.0-rc4` is out and in our Helm repo. This includes the fix you added - THANK you so much for fixing the health probe issue!!

Here are the upgrade instructions:  https://github.com/Azure/application-gateway-kubernetes-ingress/blob/e28a1388ddc0cc0fa8efbedc595ae43ac7c91be2/docs/how-tos/helm-upgrade.md#upgrade

Keep us posted on how well 0.10.0-rc4 works with your setup!

[2019-10-24 21:30] DeanPH opened #626 "Inconsistency in values.yaml on Github vs Helm"
**Describe the bug**
In release 0.10.0-rc4 there was a fix for Helm Validations: "9995ce3 fix helm validations (#620)"

In this file from the fix [values.yaml](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/9995ce3c28160f5a8dcde8bfa1c16f22ecada2a6/helm/ingress-azure/values.yaml) , even in the master branch, there 2 new values in there for subnetID and subnetPrefix:
[code]
If

[2019-10-24 21:35] aleksmark commented on #604
@draychev great news, I will try tomorrow

[2019-10-24 23:38] #602 closed

[2019-10-24 23:41] draychev commented on #603
Hi @jocortems

Version `0.10.0-rc4` is out and in our Helm repo. This includes a fix for the nil pointer exception that you discovered - THANK you so much for helping troubleshoot and fix that!!

Here are the upgrade instructions: https://github.com/Azure/application-gateway-kubernetes-ingress/blob/e28a1388ddc0cc0fa8efbedc595ae43ac7c91be2/docs/how-tos/helm-upgrade.md#upgrade

Keep us posted on how

[2019-10-25 12:08] aleksmark commented on #604
@draychev Problems fixed. Thank you. You can close the issue.

[2019-10-25 14:15] kylegalea commented on #603
We attempted the brownfield deployment today aswell - Version 0.10.0-rc4 and are having the same issue.

panic: runtime error: invalid memory address or nil pointer dereference

[2019-10-25 15:53] sreedhar26 opened #629 "tls - invalid memory address or nil pointer dereference"
Without tls secret in AKS, if I deploy AGIC the deployment is successful and I can see Rules, Listeners, Http Settings, Backend pools created fine.   The listeners were created with HTTP.   I would like to apply ssl for listeners and created secret and updated ingress yaml with secret name, re-applied updated ingress and when I check AGIC pod I see following error....

I1025 15:31:36.413666

[2019-10-25 16:30] draychev commented on #603
@kylegalea would you be so kind to post here a sanitized version of your `AzureIngressProhibitedTarget` and your `Ingress` resources / YAML?

[2019-10-25 16:32] draychev commented on #629
@sreedhar26 thanks for the detailed description and stack trace.  Could you share your `AzureIngressProhibitedTarget` and `Ingress` resources?

[2019-10-25 16:43] sreedhar26 commented on #629
Ingress.yaml -

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: bluegreeningress
  annotations:
    kubernetes.io/ingress.class: azure/application-gateway
    appgw.ingress.kubernetes.io/ssl-redirect: "true"

spec:
  tls:
    - hosts:
      - contoso.com
      - stage.contoso.com
      secretName: prod-secret-wildcard
  rules:
  - host: contoso.com
    http:
      paths:
      - pat

[2019-10-25 18:40] #604 closed

[2019-10-25 19:13] jocortems commented on #603
Hi @draychev I am testing with Version 0.10.0-rc4, I am hitting an invalid memory address or nil pointer dereference. However, this is different from the last time, in the previous version I would encounter this error only after deploying the ingress resource, with this version I am encountering this problem right off the bat after deploying the helm chart, don't even have a chance to deploy the I

[2019-10-26 07:02] draychev commented on #629
@sreedhar26 we have a fix for the root cause of this https://github.com/Azure/application-gateway-kubernetes-ingress/pull/630
As soon as we are confident in the fix, it will be merged and will let you know of a new version so you can install it - early next week!
Thanks for helping us troubleshoot this.

[2019-10-26 07:04] draychev commented on #603
@kylegalea @jocortems  we have a fix for the root cause of this https://github.com/Azure/application-gateway-kubernetes-ingress/pull/630
As soon as we are confident in the fix (when it is fully tested), it will be merged and I will let you know of a the new release of AGIC so you can upgrade - early next week!
Thanks for helping us troubleshoot this.

[2019-10-26 17:30] evmimagina commented on #629
Hi,

I'm think I'm affected by the same bug. How can I install it once it's available?

thanks,

[2019-10-27 23:18] aleksmark commented on #534
@bakla4 How exactly nginx permanent-redirect works if multiple hostnames/paths are configured? For example, if we have an ingress

[code]

I don't see how can we set the redirection www.siteB.com/pathb1 to https://google.com with annotation described in https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#permanent-redirect

Unless the annotation will set the redi

[2019-10-29 01:45] draychev commented on #629
@evmimagina thanks for reporting this issue - it seems like something slightly different than the original issue reported.  I'll take a look at the stack trace you provided.

[2019-10-29 01:47] draychev commented on #629
@sreedhar26 We just published a new release - https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.10.0-rc5 which addresses the issue you ran into.

Would you be so kind to `helm repo update` and upgrade to `0.10.0-rc5` ?
Detailed instructions on how to upgrade are [here](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/e28a1388ddc0cc0fa8efbedc595ae43a

[2019-10-29 01:48] draychev commented on #603
@kylegalea @jocortems  We just published a new release - https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.10.0-rc5 which addresses the issue you ran into.

Would you be so kind to `helm repo update` and upgrade to `0.10.0-rc5` ?
Detailed instructions on how to upgrade are [here](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/e28a1388ddc0cc0fa8efb

[2019-10-29 01:58] draychev commented on #629
@evmimagina You have ran into an interesting edge case it seems - could you please open a new issue (so we can keep track of what you observed separately).

Would you be able to share with the following:
1) what version of the AGIC you are using (`helm list` would tell us this)
2) would you be able to provide a sanitized versions of your Ingress and Service kubernetes resources?

It looks like we

[2019-10-29 02:38] sreedhar26 commented on #629
@draychev Thank you so much for the quick turnaround.  I just installed 0.10.0-rc5 and the issue is fixed.   Please close this ticket.

Update instructions -

- helm repo update

- Detailed instructions on how to upgrade are [here](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/e28a1388ddc0cc0fa8efbedc595ae43ac7c91be2/docs/how-tos/helm-upgrade.md#upgrade)

In case if you have

[2019-10-29 05:52] DeanPH commented on #626
This is still an issue in 0.10.0-rc5.

[2019-10-29 09:19] InsOpDe opened #633 "ApplicationGatewayProbeUnhealthyThresholdIsInvalid"
**Describe the bug**
When trying to create an Ingress resource for an echo-server I am getting a `ApplicationGatewayProbeUnhealthyThresholdIsInvalid` in the `ingress-azure-controllers` logs because it wants to set the value of `unhealthyThreshold` to `30` which should be between `0` and `20`.

Where can i change that value? From where is the value retrieved?

You may wonder why I chose to put the

[2019-10-29 09:27] InsOpDe commented on #633
This is the deployment of the `istio-ingressgateway`
[code]

I understand that the values comes from
[code]
But shouldnt be there a safeguard on your end, that these numbers get clamped?

[2019-10-29 09:37] InsOpDe commented on #633
I'm almost certain that Im doing something wrong because others do not seem to have had such problems as Im experiencing.

[2019-10-29 17:31] draychev opened #635 "nil pointer dereference in isServiceReferencedByAnyIngress"
Bug report from @evmimagina (copied from https://github.com/Azure/application-gateway-kubernetes-ingress/issues/629):

-----------

Hi,

I'm think I'm affected by the same bug;

I1026 17:20:54.020027       1 process.go:171] END AppGateway deployment
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x8 pc=0x11e3897]

gorou

[2019-10-29 17:32] #629 closed

[2019-10-29 17:32] draychev commented on #635
@evmimagina You have ran into an interesting edge case it seems - could you please open a new issue (so we can keep track of what you observed separately).

Would you be able to share with the following:
1) what version of the AGIC you are using (`helm list` would tell us this)
2) would you be able to provide a sanitized versions of your Ingress and Service kubernetes resources?

It looks like we

[2019-10-29 17:34] evmimagina commented on #635
Hi Draychev,

The thing is, it's not happening anymore. I've recreated everything and it seems to be working now. I guess it was something I did wrong? anyway, we can close the issue.

thanks for looking into that.

Best regards,

[2019-10-29 17:40] akshaysngupta commented on #626
Thanks for reporting @DeanPH
https://github.com/Azure/application-gateway-kubernetes-ingress/pull/634 will fix the inconsistency with `values.yaml`.
It is generated using this [template](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/helm/ingress-azure/values-template.yaml) in the Azure Devops pipeline.

[2019-10-29 19:21] sblack4 opened #636 "Allow for `kubernetes.io/ingress.class:` specification"
**Is your feature request related to a problem? Please describe.**
I want to deploy two App Gateways, one for internal traffic and one for external traffic. Normally you would use an annotation, `kubernetes.io/ingress.class:`, to designate which ingress-controller an ingress should use - otherwise the ingress controllers will fight over the ingress.

**Describe the solution you'd like**
To be able

[2019-10-29 22:00] draychev commented on #633
Hi @InsOpDe

I'm so glad to see that you are integrating App Gateway, AGIC, and Istio on AKS.
I'd love to know what you are building and how you are approaching it.

On the issue you ran into with `unhealthyThreshold` - you already found the root cause for the failure.  The `failureThreshold` in the YAML you showed is causing this.

Would you be able to change the YAML and set the `readinessProbe.

[2019-10-29 23:01] InsOpDe commented on #633
Basically we want a multi-tenant webapp run on AKS with Istio, protected with an AppGateway, identity-management via Azure AD B2C with Istios Enduser authentication via OpenID Connect and an API Gateway and all with fully automated GitOps via Jenkins Pipelines. We first tried the latter with JenkinsX but couldnt get it to work with Azure.
Its all rather prototyping and research trying to clue the

[2019-10-29 23:56] draychev commented on #636
Hi @sblack4 I'd like to understand what you mean by `one for internal traffic and one for external traffic`.

Could you answer these questions:

- How is the internal traffic going to be different than the external?
- How are the 2 App Gateways be different?
- Are there 2 different domain names?
- Would the backend pools be different or shared between external and internal.

A few ideas we could e

[2019-10-29 23:59] jocortems commented on #603
@draychev Mi preliminary tests show this new release appears to be working fine with version 1.14.7; however, when deploying the helm chart for a cluster running preview 1.15.3 the controller pod keeps crashing and from the logs is stuck in the following error messages. Note this is before even deploying the ingress resource:

jorge@Azure:~/aks-agic$ kubectl logs bold-turkey-ingress-azure-75f4ffb9

[2019-10-30 00:59] draychev commented on #626
@DeanPH We addressed the inconsistency w/ this PR: https://github.com/Azure/application-gateway-kubernetes-ingress/pull/637

[2019-10-30 00:59] #626 closed

[2019-10-30 05:13] ahojman commented on #580
So far, so good. No more problems observed.

[2019-10-30 11:53] nboeckmann opened #641 "Pod Lifecycle Issue -> Terminating Pod is immediately removed from Backend Pool"
**Describe the bug**
In #606 I described an issue with the lifecycle where pods were removed to early from the backend pool. The #608 has improved the behavior but we're not there, yet.

When using HPA in the event of scaling down the replicas a pod is deleted which sets it into the Terminating state. As soon as a Pod is terminating it's taken out of the Endpoints (it's not in the Addresses and al

[2019-10-30 13:33] PatricioDanos commented on #427
I've ended up removing this ingress controller and using nginx with modsecurity. It would be nice to have this feature in this ingress controller though.

[2019-10-30 14:51] abenck opened #642 "ssl-redirect not redirecting for default http settings"
**Describe the bug**
ssl-redirect: "true" doesn't redirect Default HTTP settings for Path-based rule in App Gateway.

Example:
http://test.contoso.com/example1 -> redirects to https
http://test.contoso.com/ -> does not redirect to https

**To Reproduce**
See example ingress

[test_ing.txt](https://github.com/Azure/application-gateway-kubernetes-ingress/files/3789457/test_ing.txt)

Is this a bug or

[2019-10-31 02:12] draychev commented on #642
Hi @abenck
Which version of AGIC did you notice this bug with?
How did you determine that `http://test.contoso.com/ -> does not redirect to https`?

Thank you so much for attaching the ingress resource!

[2019-10-31 10:27] Baklap4 commented on #534
Hmm given the above spec it's indeed impossible to do such a thing.

I see nginx also has a rewrite option:
[code]
Which basicly rewrites `www.siteB.com` to `google.com`

The other solution would indeed to have multiple ingress.yaml files and achieve the desired behavior.

[2019-10-31 13:20] abenck commented on #642
We're using AGIC 0.8.0 + App Gateway with WAF V2

From the look of the resulting Path-based rule in the App Gateway the behavior makes sense, the rule test.contoso.com-80 lists all paths with a redirect target except for the root.

I checked with curl after noticing the redirect didn't happen on home pages at the root.
`curl -I http://test.contoso.com/
-> 200 OK`
`curl -I http://test.contoso.com/e

[2019-10-31 13:38] delqn commented on #642
@abenck would you be so kind to upgrade to the latest version - [released just this week - 0.10.0](https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.10.0)

I am certain that it will address the redirect issue you ran into.

Here are the [instructions on upgrading AGIC](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/e28a1388ddc0cc0fa8efbedc595ae43a

[2019-10-31 13:42] draychev commented on #642
@abenck would you be so kind to upgrade to the latest version - [released just this week - 0.10.0](https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/0.10.0)

I am certain that it will address the redirect issue you ran into.

Here are the [instructions on upgrading AGIC](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/e28a1388ddc0cc0fa8efbedc595ae43a

[2019-10-31 13:44] abenck commented on #642
Sure, I can put in a request to make this change in our next update. I'll report back after that to confirm it's resolved.

Thanks for the help and fast reply!

[2019-10-31 18:41] abenck commented on #642
@draychev I got the go ahead to use a testing instance and confirmed that it's fixed in 0.10.0, testing with curl now reports 301 Moved Permanently.

[2019-10-31 18:41] #642 closed

[2019-11-01 12:10] onybo opened #653 "Setting request-timeout results in 502 - Bad Gateway"
Setting the request timeout by adding an annotation to my ingress.yaml will make the gatway report 502 - Bad Gateway.

**To reproduce:**
apply a yaml file such as this:
[code]

**Application gateway ingress controller Version:**
mcr.microsoft.com/azure-application-gateway/kubernetes-ingress:0.7.1

[2019-11-01 18:34] akshaysngupta commented on #653
@onybo Thanks for reporting the issue.
I see that you are using an older version of the ingress controller. Would mind updating it to 0.10.0. Here are [instructions](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/how-tos/helm-upgrade.md).

Can you check your AppGw's backend health on portal and see if Pods are marked healthy ?

[2019-11-01 18:41] akshaysngupta commented on #635
@evmimagina closing this issue. Please feel free to reopen it if you encounter it again.

[2019-11-01 18:41] #635 closed

[2019-11-01 21:21] abenck commented on #560
**Update

I tried again with AGIC 0.10.0 and I'm still unable to get multiple namespace support working. Here's the example and test ingress resources used along with the helm config. Our use case is a staging and production namespaces with the same applications.

[example-ing.txt](https://github.com/Azure/application-gateway-kubernetes-ingress/files/3799654/example-ing.txt)
[test-ing.txt](https:/

[2019-11-02 14:32] aleksmark commented on #534
I see nginx also has a rewrite option:

Which is also not supported at the moment as @delqn said https://github.com/Azure/application-gateway-kubernetes-ingress/issues/513

Yes, but even so, permanent-redirect annotation needs to be implemented in AGIC.

@delqn What do you suggest we do here? I will be happy to contribute but I need some guidance. First of all, can we implement `configuration-snip

[2019-11-03 16:43] aleksmark commented on #641
I tried to reproduce this and indeed the pod's IP gets removed from the backend list as soon as the pod enters the Terminated state.

However, I think if timeouts are properly configured application gateway will not terminate ongoing requests.

In my test case, I enabled connection draining and set the timeout to 300. Also, set the request timeout to 300:

[code]

I have a pod with a PHP script an